<div class="wrapper">
  <div style="display: flex; justify-content: space-between;margin-right: 50px; ">
    <h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">Bookmarks</h2>
  </div>
  <div class="menu-3up">
    <%= link_to strong_points_path, class: 'column no-underline', data:{turbolinks: false} do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
        <%= render 'svg/bookmark' %>
        <h1 class="br-pill" style="background: forestgreen; color: white; margin-top: 1rem;">Strong Points</h1>
      </div>
    <% end %>
    <%= link_to points_to_improve_path, class: 'column no-underline', data:{turbolinks: false} do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
        <%= render 'svg/bookmark' %>
        <h1 class="br-pill" style="background: orangered; color: white; margin-top: 1rem;">Points to Improve</h1>
      </div>
    <% end %>
  </div>
</div>
