<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/bookmarks">Bookmarks</a> › Strong Points Bookmarks </div>
</div>

<div>
  <ul class="bookmarks-grid">
    <% @strong_points.each do |x| %>
    <% cq = ChapterQuestion.includes(chapter_assessment: :quality_assessment).find(x.record_id) %>
    <li>
      <article class="bookmark-card">
        <a href="<%= rails_blob_path(x) %>" target="_blank">
          <img loading="lazy" src="<%= rails_blob_path(x) %>" alt="" style="width: 100%; height: 140px; object-fit: contain; background-color: #A8D8F7; border-top-right-radius: 4px; border-top-left-radius: 4px;">
        </a>
        <div style="padding: 8px">
          <div class="bookmark-details"><%= cq.chapter_assessment.section_name %> <%= cq.point %></div>
          <div class="bookmark-details"><%= cq.chapter_assessment.quality_assessment.short_name %> Chapter Assessment</div>
          <br>
          <div style="display: flex; justify-content: space-between; align-items: center; font-size: 14px"><div>Assesement date</div><div><%= cq.chapter_assessment.quality_assessment.assess_date.strftime("%Y-%m-%d") %></div></div>
        </div>
      </article>
    </li>
    <% end %>
  </ul>
  <p>
    <div style="display: flex; justify-content: center;">
      <%== pagy_nav(@pagy) %>
    </div>
  </p>
</div>



<style>
  .bookmarks-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 14px;
  }

  .bookmark-card {
    background: white;
    border-radius: 4px;
    min-height: 210px;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.15)
  }

  .bookmark-details {
    font-size: 16px;
  }
</style>
