// bugtracker stylesheets ––––––––––––––––––––

.bugtracker-nav { background-color: #44A6F0; padding: 1rem; color: white; }




// assess go ios and android native stylesheets ––––––––––––––––––––––
.native-body {
  margin: auto;
  max-width: 42em;
  background-color: #F7FAFC;
  font-size: 1em;
  color: #333;
  line-height: 1;
  font-family: "Helvetica", sans-serif;
  letter-spacing: 0.04rem;
}


.native-tabbar-position {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
}


.accordion-body {
  display: none;
}
.accordion-body.open {
  display: block;
}

.native-tabbar {
  display: flex;
  background: #32A2ED;
  align-items: center;
  padding: 12px 0;
  border-top: 1px solid lightgrey;
  opacity: 1;
  box-shadow: 0 0 25px -10px #fff;
  div{
    flex: 1;
    text-align: center;
    color: #CCD2DB;
    font-size: 12px;
  }
  img{
    margin-bottom: 0.5em;
  }
}
.header-wave{position: relative}
.header {padding: 4em 1em; display: flex; align-items: flex-start; color: white; font-weight: 800;}
.header-button{position: absolute; right: 10px; bottom: 10px}

.wv-divider{display:flex; justify-content: center; align-items: center; position: relative; text-align: center; width: 100%; }
.wv-divider-text{border: 2px solid #0198F1; padding: 5px 15px; border-bottom: 5px solid #0198F1; background: white; border-radius: 5px; display: flex; justify-content: center; align-items: center; font-weight: 800; z-index: 1; }
.wv-divider-line{top: 15px; border-bottom: 1px solid #CBCBCB; margin: 0; position: absolute; width: 75%; z-index: 0; }

.main-content-wrapper{margin: 1.3em 1em 4em 1em;}

.native-label{font-size: 0.7em; margin-bottom: 1em;}
.native-input{height: 2.5em; border: 1px solid #ccc; padding: 0.5em 0.5em; outline: none !important; width: 100%; box-sizing: border-box}
.native-select {background: white; padding: 5px; height: 2.5em; width: 100%; font-size: 1em;   -moz-appearance: none;
   -webkit-appearance: none; border: 1px solid #ccc;
   appearance: none;}
.native-date {background: white; padding: 5px; height: 3em; width: 100%; font-size: 1em; border-radius: 0px; box-shadow: none;
 box-sizing: border-box;border: 1px solid #ccc;}
.native-checkbox{width: 55px !important; height:1.6em !important; outline: none !important; box-shadow: none !important}
.native-textarea{width: 100%; height: 6em; box-sizing: border-box; padding: 8px !important; }


.native-font-xs{font-size: 0.75em;}
.native-font-sm{font-size: 0.85em;}
.native-font-lg{font-size: 1.8em;}

.native-flex{display: flex}
.native-justify-between{justify-content: space-between}
.native-justify-around{justify-content: space-around}
.native-justify-end{justify-content: flex-end}
.native-justify-center{justify-content: center}
.native-items-center{align-items: center}
.native-items-start{align-items: start}
.native-flex-wrap{flex-wrap: wrap}
.native-dib{display: inline-block}
.native-hidden{display: none;}
.native-block{display: block;}

.native-lg-thumbnail{position: relative; width: 100%; height: 10em;  border: 1px solid #000; border-radius: 2px; background-size: cover;}
.native-thumbnail{position: relative; width: 5em; height: 5em;  border: 1px solid #000; border-radius: 2px; background-size: cover;}
.native-delete-thumbnail{outline: none; position: absolute; top: -10px; right: -10px; border-radius: 50%; background: white; display: flex; justify-content: center; align-items: center; height: 1.5em; width: 1.5em}

.color-free {color: currentcolor;}
.light-gray {color: dimgray;}
.bg-lightgray {background-color: lightgray;}

.native-share-content{background-color: #F4F3F3; font-weight: 800; padding: 8px; margin: 8px 0; border-radius: 5px;}
.native-content{background-color: #F4F3F3; font-weight: 800; width: 90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 8px; margin: 8px 0; border-radius: 5px;}
.native-notice{background: rgba(255, 144, 0, 0.05); border: 2px solid rgba(255, 144, 0, 1.00); border-radius: 10px; margin-bottom: 25px;}

.align-middle{vertical-align:middle}
.steps-result{background: #FCF3E5; padding: 6px 14px; margin: 0 8px; font-size: 1.5em; font-weight: 800; text-align: center; margin-bottom: 8px; border: 2px solid #ccc; border-radius: 5px;}
.border-purple{border: 2px solid #A241C8 !important}
.border-blue{border: 2px solid dodgerblue !important}
.pl {padding-left: 15px}
.mr {margin-right: 15px}
.mt {margin-top: 10px}
.mb-5 {margin-bottom: 5px}
.mb-10 {margin-bottom: 10px}
.mb {margin-bottom: 15px}
.my {margin-bottom: 20px; margin-top: 20px}
.py-10 {padding-bottom: 10px; padding-top: 10px}
.pill {padding: 5px 8px; text-align: center; border-radius: 500px}
.pa {padding: 14px}
.auto-list-item {padding: 8px 2px; border-bottom: 1px solid #000; background: white;}
.assess-left{position: absolute; top: -15px; left: 10px; background: white; padding: 7px; border-radius: 9999px; border: 1px solid #ccc; font-size: 0.8em; color: #9b111e; font-weight: bold}
.assess-right{position: absolute; top: -15px; right: 10px; background: white; padding: 7px; border-radius: 9999px; border: 1px solid #ccc; font-size: 0.8em; font-weight: bold}
.btn-primary {box-sizing: border-box; padding: 11px; border-radius: 5px; background-color: #FCF5E8; border: 1px solid #CBCBCB; font-weight: 800; color: #000; text-decoration: none; font-size: 28rpx; letter-spacing: 0.4px; line-height: initial; border-bottom: 3px solid #CBCBCB; outline: none !important;}
.btn-primary-blue {box-sizing: border-box; padding: 11px; border-radius: 5px; background-color: #0198F1; border: 1px solid #147DC7; font-weight: 800; color: #000; text-decoration: none; font-size: 28rpx; letter-spacing: 0.4px; line-height: initial; border-bottom: 3px solid #147DC7; outline: none !important;}

#native-progress, progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}


.spin{-webkit-animation: spin 2.5s infinite linear;}
@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
