<% level.toolbox_images.each_with_index do |x, i| %>
  <% album = level.toolbox_images.map{|x| rails_blob_path(x)} %>
  <div style="position: relative; display: inline-block; width: 100px; height: 100px;margin: 1em 1em 1em 0;">
    <a class="bg-blue white b" style="border-bottom: 1px solid rgba(183, 221, 247, 1.00); line-height: 1.2; position: absolute; top: -9px; right: -9px; border-radius: 50%; width: 15px; height: 15px; padding: 3px; font-size: 0.6em; text-align: center;" onclick="deleteImage(this, 'guidelines', 'toolbox_images', <%= level.id %>, <%= i %>)" >✖︎</a>
    <img src="<%= rails_blob_path(x) %>" alt="" height="100px" width="100px" style="object-fit: cover;" onclick="launchLightbox(this)" data-id="<%= level.id %>-i<%= i %>" data-album="<%= album.join(':::') %>">
  </div>
<% end %>
