<div class='wrapper'>
  <% locale = I18n.locale %>
  <% locale = :zhcn if params[:locale] == "zh-CN" %>
  <div style="margin-bottom: 1rem;"><a href="/guidelines">Guidelines</a> › <%= @guideline.section_name %>
  <!-- <h4>Fill out information about this new supplier</h4> -->

  <div class="flex">
    <a style="margin-right: 5px; font-size: 1rem;" href="?locale=en">English</a>
    <a style="margin-right: 5px; font-size: 1rem;" href="?locale=zh-CN">Chinese</a>
    <a style="margin-right: 5px; font-size: 1rem;" href="?locale=fr">French</a>
    <a style="margin-right: 5px; font-size: 1rem;" href="?locale=vi">Vietnamese</a>
    <a style="margin-right: 5px; font-size: 1rem;" href="?locale=it">Italian</a>
  </div>

  <h3>Edit Guideline</h3>
  <%= form_with model: @guideline, url: "/guidelines/#{@guideline.id}" do |f| %>
  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Title</label>
    <br>
    <%= f.text_field :"title_#{locale}", class: "w-50" %>
  </div>
  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">
      <%= @guideline.level? ? 'Tip For Level' : 'Description' %>
    </label>
    <br>
    <%= f.text_area :"content_#{locale}", class: "w-50", rows: "4"%>
  </div>
  <% if @guideline.level? %>
    <h3>Response Choices</h3>
    <% Guideline::RESPONSE_VALUES.each do |x| %>
      <div>
        <%= f.check_box :response_choices, {multiple: true, id: x}, x, nil %>
        <label for="<%= x %>"><%= x %></label>
      </div>
    <% end %>
  <% end %>
  <% if @guideline.point? %>
    <div style="margin: 10px 0;">
      <label for="input_text" style=" margin-bottom: 0.8rem;">Note Header</label>
      <br>
      <%= f.text_field :"note_header_#{locale}", class: "w-50"%>
    </div>
    <div style="margin: 10px 0;">
      <label for="input_text" style=" margin-bottom: 0.8rem;">Note Bullets</label>
      <br>
      <div id="bullet_wrapper">
        <% (@guideline.note_bullets || []).each do |bullet| %>
        <%= f.text_field :"note_bullets_#{locale}", class: "w-50", name: "guideline[note_bullets_#{locale}][]", value: bullet%>
        <% end %>
      </div>
      <br>
      <a href="#" onclick="addBullet('bullet_wrapper', 'guideline[note_bullets_<%= locale %>][]', 'input')" class="btn-xs" data-turbolinks="false">Add Bullet</a>
    </div>
    <% if @guideline.routine_questions.blank? && params[:new_routine].nil? %>
      <div style="display: inline;">
        <div><a href="?new_routine=true&locale=<%= locale %>">Add Extra Information*</a></div>
        <div>This will enable dropdowns such as "How To Check", "Quesitons To Ask", "Guidelines and Definitions", and "Documents to Check"</div>
      </div>
    <% else %>
      <hr>
      <h3>Additional Information For This Point</h3>
      <%= f.fields_for :routine_questions do |j| %>
        <% base = 'guideline[routine_questions_attributes][0]' %>
        <% %i[how_to_check questions guidance_definitions documents_to_check].each do |field| %>
          <% nam = "#{base}[#{field}_#{locale}][]" %>
          <div style="margin: 10px 0;">
            <label for="input_text" style=" margin-bottom: 0.8rem;"><%= field.to_s.titleize %></label>
            <br>
            <div id="bullet_wrapper-<%= field %>">
              <% (j.object.send(field) || []).each do |bullet| %>
              <%= j.text_area :"#{field}_#{locale}", class: "w-50", name: nam, value: bullet%>
              <% end %>
            </div>
            <br>
            <a href="#" onclick="addBullet('bullet_wrapper-<%= field %>', '<%= nam %>', 'textarea')" class="btn-xs" data-turbolinks="false">Add Another</a>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if @guideline.includes_process? %>
  <h3>Process</h3>
    <div>
        <%= f.radio_button :process, '', {id: 'process_all'} %>
        <label for="<%= 'process_all' %>">All</label>
    </div>
    <% Guideline.processes.each do |process,value| %>
      <div>
        <%= f.radio_button :process, process, {id: process} %>
        <label for="<%= process %>"><%= process.titleize %></label>
      </div>
    <% end %>

  <% end %>
  <div style="display: inline">
    <%= f.submit "Update Information", class: "btn-md w-50", style: "display: inline-block; margin-right: 15px;" %>
  </div>

  <% end %>
</div>

<script>
  function addBullet(id, name, el_type){
    var bullets = document.getElementById(id)
    var newBullet = document.createElement(el_type)
    newBullet.type = "text"
    newBullet.className = "w-50"
    newBullet.name = name
    bullets.appendChild(newBullet)
  }

</script>
