<div class='wrapper'>
  <div style="margin-bottom: 1rem"><a href="/guidelines">Guidelines</a> › <a href="/guidelines/show?grid=<%= params[:grid] %>">Guidelines for assessments</a> › Edit Assessment Frequency</div>

<div class="bordered-card" style="margin-bottom: 1em;">
  <div class="table-scroll">
    <table class="main-table" style="font-size: 0.8rem;">
      <thead>
        <tr>
          <th col="scope">Grid</th>
          <th col="scope">For Which Assess Type?</th>
          <th col="scope">When To Schedule?</th>
          <th col="scope">Which Suppliers?</th>
          <th col="scope">When To Notify?</th>
          <th col="scope">What To Notify?</th>
          <th col="scope">Which Countries?</th>
        </tr>
      </thead>
      <tbody>
        <% @index.each do |x| %>
          <tr>
            <td><%= x.grid.titleize %>
              <br> <a href="/guidelines/frequency?grid=<%= params[:grid] %>&id=<%= x.id %>">Edit</a>

              <%= link_to "Delete", "/api/v1/next_assessment_schedules/#{x.id}" ,method: :delete, data: {turbolinks: false}, remote: true %>
            </td>
            <td><%= x.assess_type %></td>
            <td><%= x.next_assessment %> <%= x.time_unit %>
              <br>(After <%= x.after_assess_type %>)
            </td>
            <td><%= x.supplier_type %></td>
            <td><%= x.notify_in.map(&:humanize).join("<br>").html_safe %></td>
            <td><%= x.notify_what.map(&:humanize).join("<br>").html_safe %></td>
            <td> <%= 'All' if x.countries["only"].blank? && x.countries["except"].blank? %>
              <%= ('Only: '+ x.countries["only"].join("<br>").html_safe) if x.countries["only"].present? %> <br>
                <%= ('Except: '+ x.countries["except"].join("<br>").html_safe) if x.countries["except"].present? %>
             </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
  <hr>
  <div class="b">Schedule Assessment Notification Frequency</div>
  <%= form_with model: @frequency, method: :post, url: "/guidelines/frequency/#{params[:id]}?grid=#{params[:grid]}" do |f| %>
    <%= f.hidden_field :grid, value: params[:grid] %>
    <div style="margin: 10px 0 20px;">
      <label for="input_text" style=" margin-bottom: 0.8rem;">Notification for which assess type?</label><br>
      <%= f.radio_button :assess_type, 'Annual', style: "box-shadow: none; width: auto;" %>Annual
      <%= f.radio_button :assess_type, 'CAP Close', style: "box-shadow: none; width: auto;" %>CAP Close
    </div>
    <div style="margin: 10px 0 20px;">
      <label for="input_text" style=" margin-bottom: 0.8rem;">Defined Assessment Frequency</label><br>
      <div style="display: inline-block; vertical-align: middle"><%= f.number_field :next_assessment, placeholder: 'Type interval...' %></div>
      <div style="display: inline-block; vertical-align: middle"><%= f.select :time_unit, ['week', 'month', 'year'] %></div>
      <!-- <div> -->
        <label for="">After </label>
        <div style="display: inline-block; vertical-align: middle"><%= f.select :after_assess_type, ['Annual', 'CAP Close'] %></div>
      <!-- </div> -->
    </div>
    <div style="margin: 10px 0 20px;">
      <label for="input_text" style=" margin-bottom: 0.8rem;">Supplier type</label><br>
      <%= f.radio_button :supplier_type, 'partner', style: "box-shadow: none; width: auto;" %>Partner
      <%= f.radio_button :supplier_type, 'kas', style: "box-shadow: none; width: auto;" %>KAS
      <%= f.radio_button :supplier_type, 'other', style: "box-shadow: none; width: auto;" %>Other
      <%= f.radio_button :supplier_type, 'all', style: "box-shadow: none; width: auto;" %>All
    </div>
    <div style="margin: 10px 0 20px;">
      <label for="input_text" style=" margin-bottom: 0.8rem;">When To Notify?</label><br>
      <%= f.check_box :notify_in, {multiple: true, style: "box-shadow: none; width: auto;"}, '3-months' %>3-months before assessment should be scheduled<br>
      <%= f.check_box :notify_in, {multiple: true, style: "box-shadow: none; width: auto;"}, '2-months' %>2-months before assessment should be scheduled<br>
      <%= f.check_box :notify_in, {multiple: true,style: "box-shadow: none; width: auto;"}, '1-month' %>1-month before assessment should be scheduled<br>
      <%= f.check_box :notify_in, {multiple: true,style: "box-shadow: none; width: auto;"}, '15-days' %>15-days before assessment should be scheduled<br>
      <%= f.check_box :notify_in, {multiple: true,style: "box-shadow: none; width: auto;"}, '10-days' %>10-days before assessment should be scheduled<br>
      <%= f.check_box :notify_in, {multiple: true, style: "box-shadow: none; width: auto;"}, 'endless-complete' %>Weekly-notification after deadline has passed
    </div>
    <div style="margin: 10px 0 20px;">
      <label for="input_text" style=" margin-bottom: 0.8rem;">What To Notify?</label><br>
      <%= f.check_box :notify_what, {style: "box-shadow: none; width: auto;", multiple: true}, 'assessment_not_scheduled' %>Assessment not scheduled yet <br>
      <%= f.check_box :notify_what, {style: "box-shadow: none; width: auto;", multiple: true}, 'assessor_not_assigned' %>Assessor not assigned yet <br>
      <%= f.check_box :notify_what, {style: "box-shadow: none; width: auto;", multiple: true}, 'prep_questions_not_finished' %>Prep Questions not finished yet<br>
      <%= f.check_box :notify_what, {style: "box-shadow: none; width: auto;", multiple: true}, 'assessment_is_approaching' %>Assessment Date Approaching<br>
    </div>

    <div style="margin: 10px 0 20px;">
      <label for="input_text" style=" margin-bottom: 0.8rem;">Countries</label>
      <br>
      Only:  <select name="next_assessment_schedule[countries][only][]" id="" multiple="true">
        <% SupplierProfile.all_countries.each do |x| %>
          <option value="<%= x[:value] %>"><%= x[:label] %></option>
        <% end %>
      </select>
      <br>
      Except:  <select name="next_assessment_schedule[countries][except][]" id="" multiple="true">
        <% SupplierProfile.all_countries.each do |x| %>
          <option value="<%= x[:value] %>"><%= x[:label] %></option>
        <% end %>
      </select>
    </div>

    <div style="margin: 10px 0 20px;">
      <label for="input_text" style=" margin-bottom: 0.8rem;">Active</label><br>
      <%= f.radio_button :active, true, style: "box-shadow: none; width: auto;" %>Active
      <%= f.radio_button :active, false, style: "box-shadow: none; width: auto;" %>Inactive
    </div>

    <!-- Here goes choices for countries  -->

      <%= f.submit "Submit", class: "btn-md no-shadow", style: "line-height: 1; margin: 1rem 0;" %>
  <% end %>

</div>
<script>
  ['only','except'].forEach(function(e){
    new Choices(`[name="next_assessment_schedule[countries][${e}][]"]`,{
      removeItemButton: true,
      classNames: {
        inputCloned: 'no-shadow',
        searchPlaceholderValue: 'Type a Country',
        PlaceholderValue: 'Type a Country',
        placeholder: true

      }
    });
  })
  var remote_links = document.querySelectorAll('a[data-remote=true]');

  remote_links.forEach(function(inputElm){
    inputElm.addEventListener('ajax:complete', function(event){
      Turbolinks.visit(window.location.path)
    });
  })
  <% if params[:id].blank? %>
  document.querySelectorAll('form').forEach(function(form){
    form.addEventListener('ajax:success', function(){
      Turbolinks.visit(window.location.path)
    });
  })
  <% end %>
</script>


