<div class='wrapper'>
  <h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">Update Guidelines</h2>
  <div class="menu-3up">
    <%= link_to guideline_path(grid: "quality_assessment", chapter: 0), class: 'column no-underline' do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
        <%= image_tag "qa_logo.jpg", width:"150px" %>
        <h1 style="color: black; margin-top: 1rem; padding: 0 14px;">QA Grid</h1>
      </div>
    <% end %>
    <%= link_to guideline_path(grid: "opex_assessment", chapter: 0), class: 'column no-underline' do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
         <%= image_tag "opex_logo.jpg", width:"150px" %>
        <h1 style="color: black; margin-top: 1rem; padding: 0 14px;">OPEX Grid</h1>
      </div>
    <% end %>
    <%= link_to guideline_path(grid: "sse_assessment", chapter: 0), class: 'column no-underline' do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
        <%= image_tag "sse_logo.jpg", width:"150px" %>
        <h1 style="color: black; margin-top: 1rem; padding: 0 14px;">SSE Grid</h1>
      </div>
    <% end %>
    <%= link_to guideline_path(grid: "hrp_assessment", chapter: 0), class: 'column no-underline' do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
         <%= image_tag "hrp_logo.jpg", width:"150px" %>
        <h1 style="color: black; margin-top: 1rem; padding: 0 14px;">HRP Grid</h1>
      </div>
    <% end %>
    <%= link_to guideline_path(grid: "scm_assessment", chapter: 0), class: 'column no-underline' do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
         <%= image_tag "scm_logo.jpg", width:"150px" %>
        <h1 style="color: black; margin-top: 1rem; padding: 0 14px;">SCM Grid</h1>
      </div>
    <% end %>
    <%= link_to guideline_path(grid: "env_assessment", chapter: 0), class: 'column no-underline' do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
         <%= image_tag "env_logo.jpg", width:"150px" %>
        <h1 style="color: black; margin-top: 1rem; padding: 0 14px;">ENV Grid</h1>
      </div>
    <% end %>

    <%= link_to guideline_path(grid: "pur_assessment", chapter: 0), class: 'column no-underline' do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
         <%= image_tag "pur_logo.jpg", width:"150px" %>
        <h1 style="color: black; margin-top: 1rem; padding: 0 14px;">PUR Grid</h1>
      </div>
    <% end %>

    <%= link_to guideline_path(grid: "hfwb_assessment", chapter: 0), class: 'column no-underline' do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
         <%= image_tag "hfwb_logo.jpg", width:"150px" %>
        <h1 style="color: black; margin-top: 1rem; padding: 0 14px;">HFWB Grid</h1>
      </div>
    <% end %>

    <%= link_to guideline_path(grid: "indus_assessment", chapter: 0), class: 'column no-underline' do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
         <%= image_tag "indus_logo.jpg", width:"150px" %>
        <h1 style="color: black; margin-top: 1rem; padding: 0 14px;">INDUS Grid</h1>
      </div>
    <% end %>

    <%#= link_to guideline_path(grid: "dpr_assessment", chapter: 0), class: 'column no-underline' do %>
      <!-- <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
         <%#= image_tag "dpr_logo.jpg", width:"150px" %>
        <h1 style="color: black; margin-top: 1rem; padding: 0 14px;">DPR Grid</h1>
      </div> -->
    <%# end %>

  </div>
</div>


<%# headers = ["Name", "Last Login"] %>
<%# body = %>
<%#= render 'table', headers: @headers, body: @body %>
