<div class='wrapper'>
  <div style="margin-bottom: 1rem"><a href="/guidelines">Guidelines</a> › <a href="/guidelines/show?grid=<%= params[:grid] %>">Guidelines for assessments</a> › Edit Prep Questions</div>
  <h1 style="margin-bottom: 1rem"><%= @form.title %></h1>

  <% @questions.group_by(&:form_section).each do |section, questions| %>
    <h5><%= section.title %></h5>

    <% questions.each do |fq| %>
      <%= form_with model: fq, url: "/api/v1/form_questions/#{fq.id}" do |f| %>
        <div style="margin: 10px 0;">
          <label for="input_text" style=" margin-bottom: 0.8rem;">Question</label>
          <br>
          <%= f.text_area :label, class: "w-50", onfinish: "autoClickForm(event.target.form);" %>
        </div>
        <div style="margin: 10px 0;">
          <label for="input_text" style=" margin-bottom: 0.8rem;">Form Type (radio, picker, input)</label>
          <br>
          <%= f.text_field :component, class: "w-50", disabled: true %>
        </div>

        <div style="margin: 10px 0;">
          <label for="input_text" style=" margin-bottom: 0.8rem;">Require Attachment?</label>
          <br>
          <%= f.check_box :require_attachment, class: "w-50",onclick:"autoClickForm(event.target.form);" %>
        </div>

        <div style="margin: 10px 0;">
          <label for="input_text" style=" margin-bottom: 0.8rem;">Critical Question?</label>
          <br>
          <%= f.check_box :required, class: "w-50",onclick:"autoClickForm(event.target.form);" %>
        </div>

        <div style="display: inline">
          <%= f.submit "Update Information", class: "btn-md w-50", style: "display: inline-block; margin-right: 15px;" %>
        </div>
      <% end %>
    <% end %>
    <hr>
  <% end %>
</div>
