<div class='wrapper' style="margin-bottom: 1rem">
  <div style="margin-bottom: 2rem;"><a href="/guidelines">Guidelines</a> › <%= @short_name %> Grid </div>

  <h3><%= @title %> Chapters</h3>
  <div style="text-align: right;">
    <a style="display: inline-block; margin-right: 10px"href="/guidelines/prep?grid=<%= params[:grid] %>">Edit Prep Questions</a>

    <a style="display: <%= @short_name == 'HRP' ? 'inline-block' : 'none' %>; margin-right: 10px"href="/guidelines/prep?grid=<%= params[:grid] %>&form=dormitory">Edit Dormitory Questions</a>
    <a style="display: inline-block; margin-right: 10px"href="/guidelines/frequency?grid=<%= params[:grid] %>">Edit Assessment Frequency</a>
    <a style="display: inline-block; "href="/guidelines/toolbox?grid=<%= params[:grid] %>">Edit Toolbox</a>
  </div>
  <div id="table-scroll" class="table-scroll" style="margin-bottom: 2rem;">
    <table id="main-table" class="main-table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Title</th>
        </tr>
      </thead>
      <tbody>
        <% @guidelines.each_with_index do |s, i| %>
        <tr>
          <th><%= link_to s[:section_name], guideline_path(grid: params[:grid], chapter: i) %> </th>
          <!-- <td style="font-size: 1.1rem"><%#= s[:updated_at].strftime("%Y-%m-%d") %></td> -->
          <td style="font-size: 1.1rem"><%= s[:updated_at] %></td>
          <td><%= s[:title] %> <%= link_to "Edit Chapter", edit_guideline_path(id: s[:id], type: "chapter"), class: 'btn-xs'  %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% @guidelines[params[:chapter].to_i][:children].sort { |a, b| a[:section_split] <=> b[:section_split] }.each_with_index do |s,i|%>
    <% s[:children].each do |t, j| %>
      <div class="bordered-card" style="width: 90%; position: relative; padding: 1.5rem 1.2rem; margin-top: 3rem;">
        <div class="br-pill b" style="border: 2px solid #32A2ED; position: absolute; top: -23px; left: 20px; display: inline-block; background: white; padding: 0.2rem 2rem"><%= s[:section_name] %> - <%= s[:title] %> <%= link_to "Edit Section", edit_guideline_path(id: s[:id], type: "section"), class: 'btn-xs'  %>
        </div>

        <dl>
          <dt class="b" style="display: inline-block;">Title:</dt>
          <dd style="display: inline-block"><%= t[:title] %> <%= link_to "Edit Level", edit_guideline_path(id: t[:id], type: "level"), class: 'btn-xs'  %></dd>

        </dl>
        <% if t[:content].present? %>
          <dl>
            <dt class="b" style="display: inline-block;">Description:</dt>
            <dd style="display: inline-block"><%= t[:content] %></dd>
          </dl>
        <% end %>

        <dl>
          <dt class="b" style="display: inline-block;">Points:</dt>
          <dd style="display: block;">
            <% t[:children].each do |u, k| %>
              <%= u[:title] %> <%= link_to "Edit Point", edit_guideline_path(id: u[:id], type: "point"), class: 'btn-xs'  %></dd>
              <br>
              <%= u[:content] %>
              <br>
              <%= u[:note_header] %>
              <% (u[:note_bullets]||[]).each do |bullet| %>
                <br>
                <span style="font-style: italic;"><%= bullet %></span>
              <% end %>
              <br>
            <% end %>
          </dd>
        </dl>
      </div>
    <% end %>
  <% end %>

</div>

