<div class='wrapper' style="margin-bottom: 1rem">
  <div style="margin-bottom: 2rem;"><a href="/guidelines">Guidelines</a> › <%= link_to "#{@short_name} Grid", guideline_path(grid: params[:grid], chapter: 0) %>  › Toolbox
  </div>
  <h3><%= @title %> Toolbox</h3>

  <% locale = I18n.locale %>
  <% locale = :zhcn if params[:locale] == "zh-CN" %>

  <div class="flex">
    <a style="margin-right: 5px; font-size: 1rem;" href="?grid=<%= params[:grid] %>&locale=en">English</a>
    <a style="margin-right: 5px; font-size: 1rem;" href="?grid=<%= params[:grid] %>&locale=zh-CN">Chinese</a>
    <a style="margin-right: 5px; font-size: 1rem;" href="?grid=<%= params[:grid] %>&locale=fr">French</a>
    <a style="margin-right: 5px; font-size: 1rem;" href="?grid=<%= params[:grid] %>&locale=vi">Vietnamese</a>
  </div>


  <% @guidelines.each_with_index do |ch, ci| %>
    <!-- chapter -->
    <% ch[:children].each_with_index do |s,i|%>
      <!-- section -->
      <% s[:children].each_with_index do |t, j| %>
        <% level = Guideline.find(t[:id]) %>
        <% level.disable_fallback %>
        <% tag = "#{ci}-#{i}-#{j}" %>

        <!-- level -->
        <div style="font-size: 16px; font-weight: bold;"><%= s[:section_name] %> - <%= s[:title].truncate(50) %> - <%= t[:title] %></div>

        <!-- EDIT TOOLBOX -->
        <div>
          <%= form_with(model: level, url: "/guidelines/#{level.id}", method: :patch, html: {name: "form#{i}"})  do |f| %>
            <%= f.collection_radio_buttons :toolbox_mode, Guideline.toolbox_modes, :first, :first, {checked: level.toolbox_mode }, {onchange:"autoClickForm(event.target.form); toggleSlides(event.target, 'slides-#{tag}')"} do |b| %>
              <!-- put each radio in wrapper div -->
              <div style="font-size: 14px;"><%= b.label { b.radio_button + b.text } %></div>
            <% end %>
            <br>

            <div id="slides-<%= tag %>" style="<%= level.slides? ? 'display: block;' : 'display: none' %>">
              <div id="slides_wrapper-<%= tag %>">
                <% (level.toolbox_slides||[]).each do |slide| %>
                <div style="display: flex; align-items: center">
                  <div style="width: 30%; margin-right: 30px">
                    <%= f.label :"toolbox_slides_#{locale}", "Please paste google slide url:", style:"font-size: 14px;" %><br>
                    <%= f.text_field :"toolbox_slides_#{locale}", name: "guideline[toolbox_slides_#{locale}][]", value: slide, style: "width: 100%"%>
                  </div>
                  <a href="/gs?slide_url=<%= CGI.escape(slide) %>" target="_blank"><img height="200" width='200' src="/gs?slide_url=<%= CGI.escape(slide) %>" alt="" style="object-position: center; object-fit: cover; border: 1px solid #ccc;"></a>
                </div>
                <br>
                <% end %>
              </div>
              <a href="#" onclick="event.preventDefault();addBullet('slides_wrapper-<%= tag %>')" class="btn-xs" data-turbolinks="false">Add Slide +</a>
              <br>
              <br>
            </div>

            <div id="attachments-<%= tag %>" style="<%= level.slides? ? 'display: none;' : 'display: block;' %>">
              <%= f.file_field :toolbox_images, multiple: true, accept: XFile::COMMON, style: "width: 30%", direct_upload: true, onchange:"autoClickForm(event.target.form);" %>
              <div id="tool-up-<%= tag %>">
                <%= render 'toolbox_uploads', level: level %>
              </div>
            </div>

            <%= f.submit "Submit", class: "btn-md", style: "display: none;" %>
          <% end %>
        </div>


        <!-- EDIT TOOLBOX -->
      <% end %>
    <% end %>
  <% end %>
</div>

<script>
  function addBullet(wrapper){

    var bullets = document.getElementById(wrapper)
    var newBullet = document.createElement('input')
    var newImg = document.createElement('img')
    var newBr = document.createElement('br')

    newImg.width = 200
    newImg.height = 200
    newBullet.type = "text"
    newBullet.className = "w-50"
    newBullet.name = "guideline[toolbox_slides_<%= locale %>][]"
    newBullet.addEventListener("change", function(event){
      newImg.src = `/gs?slide_url=${encodeURIComponent(newBullet.value)}`
      autoClickForm(event.target.form);
    })
    bullets.appendChild(newImg)
    bullets.appendChild(newBullet)
    bullets.appendChild(newBr)
  }

  function toggleSlides(event, tag){
    console.log("1:", event.value)
    var slidesPreview = document.getElementById(tag)
    this.addEventListener('change', function() {
      console.log(event.value)
      if (event.value == "slides") {

        slidesPreview.style.display = "block";
      } else {

        slidesPreview.style.display = "none";
      }
    })

  }
</script>
