<div class='wrapper'>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <h4>Account settings</h4>
  <br>
  <h5>Change password</h5>
  <div style="margin: 10px 0;">
    <%= f.label :email, class: 'w-50', style: 'margin-bottom: 0.8rem;' %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-50' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div style="margin: 10px 0;">
    <%= f.label :password, style: 'margin-bottom: 0.8rem;' %><i>(leave blank if you don't want to change it)</i><br>
    <input class="w-50" id="input_text" type="text" placeholder="Type your new password...">
    <%= f.password_field :password, autocomplete: "new-password", class: 'w-50' %>
    <% if @minimum_password_length %>
      <br>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
  <div style="margin: 10px 0;">
    <%= f.label :password_confirmation, style: 'margin-bottom: 0.8rem;' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'w-50' %>
  </div>

  <div style="margin: 10px 0;">
    <%= f.label :current_password, style: 'margin-bottom: 0.8rem;'  %> <i>(we need your current password to confirm your changes)</i><br>
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'w-50' %>
  </div>

  <div style="display: inline">
    <%= f.submit "Update", class: 'btn-md', style: 'display: inline-block; margin-right: 15px;' %>
    <!-- <a href="/" class="btn-md" style="display: inline-block; margin-right: 15px;">Update password</a> -->
  </div>
  <% end %>
  <%= link_to "Back", :back %>
</div>
