<p>Dear <%= @profile.name %>,</p>

<p>This is just a friendly checkup to see if you need any help accessing Assess Go. In case you weren’t aware, Assess Go is an application accessible by Apps and WeChat Mini App. If you would like to experience the WeChat Mini App, please visit the iTunes App Store for iOS phones, or the Google Play Store (or other any other store used in your country) for Android phones to download the free international chat application.
<br><br>
If you wish to download the android app, <a href="http://d.7short.com/dgr4">you can download here.</a><br>
If you wish to download the iOS app, <a href="http://d.7short.com/q8g9">you can download here.</a>

If you wish to use the WeChat Mini App, you can just scan the QR Code Below with your WeChat account.</p>

<img src="https://assessgo.decathlon.cn/4-portals.png" style="width: 200px; height: 200px">

<p>If you still have trouble accessing Assess Go, please send an email to both <%= AssessGoApi::PO %> & <%= AssessGoApi::IT %></p>

<p>Warmest Regards,</p>
<p>Decathlon Assess Go Team</p>
<img src="https://assessgo.decathlon.cn/4-portals.png" style="width: 200px; height: 200px">
