<p>Dear <%= @profile.name %>,</p>

<p>Thanks for joining the thousands of users modernizing their workflow through Assess Go! </p>

<p>During your first few days, how have you felt about the program? Did you find anything awkward or difficult? We always look forward to feedback which can help Assess Go continuously improve. </p>

<p>If you need any help at all, please contact the Decathlon Assess Go Team:</p>

<p>Email:  <%= AssessGoApi::PO %>, <%= AssessGoApi::IT %>
  <br>Wechat ID:   21378422</p>

<p>Warmest Regards,</p>
<p>Decathlon Assess Go Team</p>
<img src="https://assessgo.decathlon.cn/4-portals.png" style="width: 200px; height: 200px">
