<p>Dear <%= @profile.name %>,</p>

<p>Thanks for joining the thousands of users modernizing their workflow through Assess Go! </p>

<% unless @set.all?(0) %>
<p>So far you have:</p>
<ul>
  <% if @qa_count > 0 %>
    <li>Scheduled <strong><%= @qa_count %></strong> Assessments</li>
  <% end %>
  <% if @search_count > 0 %>
    <li>Searched <strong><%= @search_count %></strong> Queries</li>
  <% end %>
  <% if @follow_count > 0 %>
    <li>Followed <strong><%= @follow_count %></strong> Users</li>
  <% end %>
  <% if @comment_count > 0 %>
    <li>Written <strong><%= @comment_count %></strong> Comments</li>
  <% end %>
</ul>
<% end %>

<% case @active %>
<% when "no_qa" %>
<p>Have you tried scheduling an assessment yet? The process is as easy as searching a supplier by their code, then checking a few boxes of chapters to assess.  Currently, Assess Go supports QA’s, OPEX, SSE, and HRP assessments, with more coming soon!
So go ahead and try scheduling a Gemba assessment to practice your skills, or a schedule a formal Annual assessment if you are ready (note: Annual is only available for Decathlon users). </p>
<% when "no_search" %>
<p>Have you tried the search feature yet? It’s simple, just click on the FOR tab at the bottom, and try searching for a supplier by their name or supplier code. You can also search for assessors and other Decathlon people on Assess Go by their names!  Perhaps you can give it a shot.</p>
<% when "no_follow" %>
<p>Have you tried following other users yet? After you visit a supplier, assessor or other Decathlon person’s performance page, you can click the follow button. Once you follow someone, you can easily see what they have been up to in My Network in the Goes activity feed. And it becomes easy for you to find their page from your own performance page. </p>
<% when "no_comment" %>
<p>Have you tried the leaving comments in Goes yet? When you see what your peers have been up to, you can help them improve by leaving comments in one of their activity cards. You can also leave comments on completed assessments by visiting their report. Give it a go and let us know what you think!</p>
<% else %>
<p>We hope you've enjoyed your experience using Assess Go. If there are any features you find difficult to use, or if you have any suggestions for improvement, please send us an email. Your feedback is valuable, and can help us improve Assess Go to make your assessments as convenient and smooth as possible.</p>
<% end %>

<p>If you need any help at all, please contact the Decathlon Assess Go Team:</p>

<p>Email:  <%= AssessGoApi::PO %>, <%= AssessGoApi::IT %>
  <br>Wechat ID:   21378422</p>

<p>Warmest Regards,</p>
<p>Decathlon Assess Go Team</p>
<img src="https://assessgo.decathlon.cn/4-portals.png" style="width: 200px; height: 200px">
