<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">
      <div class="content">
        <table>
          <tr>
            <td>
              <div class="header">
                <center>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Decathlon_Logo.svg/500px-Decathlon_Logo.svg.png" style="width:10em" />
                  <p style="color: white;">Assess Goes For Performance</p>
                </center>
              </div>
              <h5>Dear <%= @user.profile.name %>,</h5>
              <div class="callout">
                <p><strong><%= @email_params["title"]  %></strong></p>
                <% not_content = ["title", "openid", "redirect", "header", "user_id", "email"] %>
                <% @email_params.reject{|k,_v| not_content.include?(k.to_s) }.each do |k,v| %>
                    <p><%= k.humanize %>: <%= v %></p>
                <% end %>
                <% unless @qr.blank? %>
                <p>Scan the QR code for more details! (This QR code is required to go through Wechat of using Assess Go Mini App, for the App user, you can just log into Assess Go for more details)</p>
                <%= image_tag(attachments['qr.png'].url, style: "width: 200px; height: 200px; margin-bottom: 15px;") %>
                <% end %>
                <p>Warmest Regards,<br>Decathlon Assess Go Team</p>
              </div>
              <br/>
              <br/>
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td></td>
  </tr>
</table>

<!-- FOOTER -->
<table class="footer-wrap">
  <tr>
    <td></td>
    <td class="container">
      <div class="content">
        <table>
          <tr>
            <td align="center">
              <p>

                Please do not reply to this e-mail address
                <br>
                For Assess Go support please contact Assess Go tech colleague Haidee Yu, <a href="#"><%= AssessGoApi::IT %></a>
              </p>
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td></td>
  </tr>
</table><!-- /FOOTER -->
