<p>Dear <%= @user.profile.name %>,</p>

<p>Thanks for using AssessGo!</p>

<p>Did you know you can receive wechat notifications of important events whenever you use assessgo?</p>

<p>You can be notified if someone sends you an invitaition, and even be notified if an assessor is unable to attend an assessment. </p>

<p>Try it out now by following this QR code!</p>

<p>Warmest Regards,</p>
<p>Decathlon Assess Go Team</p>
<img src="https://assessgo.decathlon.cn/assessgo_oa_qr.jpg" style="width: 200px; height: 200px">
