<p>Dear SPL for <%= @supplier.name %>,</p>
<p>From APO, we can see that you are the SPL for this supplier (<%= @supplier.code %> - <%= @supplier.name %>). Hope that you already know the App/Mini App and Website that we have created for Decathlon Corporate to use for managing Assessments, called Assess Go.</p>

<p style="width: 100%">
  <img src="https://assessgo.decathlon.cn/4-portals.png" style="width: 700px; height: auto;">
</p>

<p>We would be appreciate very much if you could share this request to the concerned PL/PTM and OPMs (It is good to have concerned PLQ, PLI, PLCI, PLS etc, then each type of the Assessment notifications will be sent to the right PL) so we can have the most updated supplier info on Assess Go.
</p>
<i>Note: Assess Go PTM/OPM only available on Mini App go through We chat</i>

<p style="text-decoration: underline;">How to Update</p>
<!-- image tag goes here  -->
<p style="width: 100%">
  <img src="https://assessgo.decathlon.cn/edit_supplier.png"  style="width: 700px; height: auto;">
</p>

<p>Thanks for your small effort which makes a big change on correct data management and Have a lovely day.</p>

<p>Warmest Regards,</p>
<p>Decathlon Assess Go Team</p>
