<p>Dear <%= @user.profile.name %>,</p>

<p>Thank you so much for using Assess Go!</p>

<p>Assess Go is helping to digitalize the assessment process, but more importantly, we're trying to make everything about creating and organizing assessments as convenient as possible. </p>

<p>All of this has only been possible thanks to valuable insights we get from each of our users, such as yourself! </p>

<p><strong>Please Note:</strong> The google sheet previously used to collect feedback is no longer in use! If you meet any problems or have feedback to improve Assess Go, please fill out the form below.</p>

<a href="https://assessgo.decathlon.cn/bug-reports/form?locale=en">https://assessgo.decathlon.cn/bug-reports/form?locale=en</a>

<p>Once again, we appreciate everything you have done to help Assess Go reach where it is now!</p>

<p>Sincerely, <br>
Assess Go Team</p>
<img src="https://assessgo.decathlon.cn/4-portals.png" style="width: 200px; height: 200px">
