<p>Dear <%= @supplier.name %>,</p>

<p>You are officially invited to use the Assess Go platform -- Decathlon's newest technology to streamline assessments and simplify the production control plan. As Assess Go has launched globally since Apr 1st, 2019,  we would like to extend to you free access to Assess Go in the year of 2020, to give you plenty of time to test it with real assessments.</p>

<img src="https://assessgo.decathlon.cn/4-portals.png" style="width: 200px; height: 200px">

<p>Your login credentials are below:</p>

<p>username:  <%= @supplier.contact_email %></p>
<p>password:  Decathlon</p>

<p>Should you have any questions or need help in using Assess Go, please contact the Decathlon Assess Go Team:</p>

<p>Email:  <%= AssessGoApi::PO %>, <%= AssessGoApi::IT %></p>
<p>Wechat ID:   21378422</p>

<p>Warmest Regards,</p>
<p>Decathlon Assess Go Team</p>
<img src="https://assessgo.decathlon.cn/4-portals.png" style="width: 200px; height: 200px">
