<p>Assess Go Notice:</p>

<p>We're contacting you to notify you that your password has been changed.</p>

<p>Please find your new password credentials below:</p>

<p>Password:  Decathlon</p>

<p>Thank you so much for using Assess Go!</p>

<img src="https://assessgo.decathlon.cn/4-portals.png" style="width: auto; height: 200px">
