<p>Dear {NAME},</p>

<p>The email information associated with your Assess Go account has changed.</p>

<p>Your new login credentials are below:</p>

<p>username:  {EMAIL}</p>
<p>password:  Decathlon</p>

<p>Don't worry, all your assessments and supplier info have been transferred to this new login, so you can</p>
<p>continue where you left off</p>

<p>Should you have any questions or need help in using Assess Go, please contact the Decathlon Assess Go Team:</p>

<p>Email:  kerry.kang@decathlon.com, haidee.yu@decathlon.com</p>
<p>Wechat ID:   21378422</p>

<p>Warmest Regards,</p>
<p>Decathlon Assess Go Team</p>
<img src="https://assessgo.decathlon.cn/4-portals.png" style="width: 200px; height: 200px">
