<p>Dear {NAME},</p>

<p>Thank you for creating an account and using Assess Go. We have automatically created your Gemba assessment</p>

<p>To see the assessment for yourself please visit:</p>

<p>
  <a href="https://assessgo.decathlon.cn">Assess Go on your web browser.</a>
  Or if you are using Wechat, the Assess Go Wechat Mini Program, Android or iOS.

</p>

<p>We look forward to seeing you on Assess Go</p>


<p>If you need any help at all, please contact the Decathlon Assess Go Team:</p>

<p>Email:  kerry.kang@decathlon.com, haidee.yu@decathlon.com
  <br>Wechat ID:   21378422</p>

<p>Warmest Regards,</p>
<p>Decathlon Assess Go Team</p>
<img src="https://assessgo.decathlon.cn/4-portals.png" style="width: auto; height: 200px">
