<p>Dear {NAME},</p>

<p>Thank you so much for using Assess Go!</p>

<p>Assess Go is helping to digitalize the assessment process, but more importantly, we're trying to make everything about creating and organizing assessments as convenient as possible. </p>

<p>All of this has only been possible thanks to valuable insights we get from each of our users, such as yourself! </p>

<p><strong>Please Note:</strong> For most questions or issues, please refer to the FAQ:</p>

<a href="https://docs.google.com/document/d/1UMpOeXcj1KSsYYRrRgauq7fIPGwFLhK6Xj2ItKQ4MKQ/edit">Assess Go FAQ</a>

<p>Once again, we appreciate everything you have done to help Assess Go reach where it is now!</p>

<p>Sincerely, <br>
Assess Go Team</p>
<img src="https://assessgo.decathlon.cn/4-portals.png" style="width: 200px; height: 200px">
