.btn-xs {
  display: inline-block;
  padding: 0.2rem 0.3rem;
  margin-bottom: 0.3rem;
  font: 0.8rem $font-sans;
  background: RGBA(252, 245, 232, 1.00);
  color: $color-text;
  text-decoration: none;
  border:  1px solid #CBCBCB;
  border-bottom: 3px solid #CBCBCB;
  outline: none;
  -webkit-appearance: none;
  @include border-radius(5px);
  font-weight: 800;

  &:active {
    border-bottom-color: transparent;
    background-color: #F4E9D4;
  }
}

.btn-xs-blue {
  display: inline-block;
  padding: 0.2rem 0.3rem;
  margin-bottom: 0.3rem;
  font: 1.2rem $font-sans;
  background: #329DEE;
  color: white;
  text-decoration: none;
  border:  1px solid #2F8ED6;
  border-bottom: 3px solid #2F8ED6;
  outline: none;
  -webkit-appearance: none;
  @include border-radius(5px);
  font-weight: 800;

  &:active {
    border-bottom-color: transparent;
    background-color: #005CA2;
  }
}


.btn-md {
  display: inline-block;
  padding: 0.5rem 0.6rem;
  margin-bottom: 0.3rem;
  font: 1.1rem $font-sans;
  background: RGBA(252, 245, 232, 1.00);
  color: $color-text;
  text-decoration: none;
  border:  1px solid #CBCBCB;
  border-bottom: 3px solid #CBCBCB;
  outline: none;
  -webkit-appearance: none;
  @include border-radius(5px);
  font-weight: 800;

  &:active {
    border-bottom-color: transparent;
    background-color: #F4E9D4;
  }
}

.btn-mp-blue {
  display: inline-block;
  padding: 0.5rem 0.6rem;
  margin-bottom: 0.3rem;
  font: 1.1rem $font-sans;
  background: #0198F1;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  // border:  1px solid #CBCBCB;
  border-bottom: 3px solid #147DC7;
  border-radius: 9999px;
  width: 35%;
  text-align: center;
}

.btn-mp-red {
  display: inline-block;
  padding: 0.5rem 0.6rem;
  margin-bottom: 0.3rem;
  font: 1.1rem $font-sans;
  background: rgba(246, 79, 60, 1.00);
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  // border:  1px solid #CBCBCB;
  border-bottom: 3px solid #D15845;
  border-radius: 9999px;
  width: 35%;
  text-align: center;
}

.hamburger {
  text-align: center;
  background: white;
  color: #199AEE;
  border: 3px solid #D1E7F2;
  border-radius: 3px;
  font-size: 1.4em;
  padding: 3px;
  line-height: 1;
}

.hamburger:active {
  background: #D1E7F2;
}
