.mobile-menu {
  display: none;
  .close-menu {
    position: absolute;
    right: 20px;
    top: 0px;
    color: white;
    font-size: 2.5em;
    font-weight: 800;
  }

  .mobile-direction {
    position: absolute;
    width: 75%;
    background: #199AEE;
    top: 0;
    bottom: 0;
    padding: 4.5em 0.8em;
    overflow: scroll;
    .mobile-header {
      background-color: #D1E7F2;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 0.5em 2.5em;
      text-align: center;
      font-size: 1.4em;
      font-family: $font-sans;
      font-weight: 800;
      .mobile-title {
        padding: 0.1em 0.1em;
        background-image: linear-gradient(to right, rgba(250, 209, 109, 0.7), rgba(250, 209, 109, 0.97), rgba(250, 209, 109, 0.6));
        border-top-right-radius: 18px;
        border-bottom-left-radius: 18px;
        font-style: italic;
      }
    }
    .mobile-link {
      color: white;
      font-size: 1em;
      font-family: $font-sans;
      font-weight: 800;
    }
    .mobile-link:hover {
      color: rgba(250, 220, 130, 1.00);
    }
    .fp-link {
      color: #fff;
    }
    .fp-link:hover {
      color: rgba(250, 220, 130, 1.00);
    }
  }



  @include media(small) {
    display: block;
    position: fixed;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: -100%;
    right: 100%;
    top: 0;
  }
}
