<%= link_to cp_review_path(cp_id: cp[:id]), class: 'no-underline color-free' do %>
    <article style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px" class="border-purple">
      <!-- <div class="assess-left border-purple" onclick="deleteCp(<%= cp[:id] %>)" style="z-index: 10">Delete</div> -->
      <div class="assess-right border-purple"><%= cp[:cpType][:desc] %></div>

      <div class="mb native-flex native-justify-between native-items-center">
        <div class="native-font-xs" style="background-color: <%= cp[:finished][:bgColor] %>; border-radius: 9999px; padding: 4px 8px; color: white;"><%= cp[:finished][:text] %></div>
        <div>
          <div class="native-dib native-font-sm light-gray">Supplier code</div>
          <div class="native-dib native-font-sm b"><%= cp[:supplier][:code] %></div>
        </div>
      </div>

      <div>
        <div class="native-flex native-items-start">
          <div style="width: 25%; background-color: #FCF3E5; border-radius: 4px; margin-right: 15px; text-align: center; padding-top: 10px;">
            <div class="native-font-sm" style="padding-bottom: 10px; border-bottom: 1px dashed #008EEF;"><%= cp[:review_month] %></div>
            <div style="background-color: #FCF3E5; text-align: center; font-weight: bold; padding: 10px 20px; margin-bottom: 10px;">
              <div style="background-color: white; padding: 10px 10px; border-radius:2px;"><%= cp[:review_day] %></div>
            </div>
          </div>
          <div class="native-font-sm" style="max-width: 70%;">
            <div>Supplier</div>
            <div class="native-content"><%= cp[:supplier][:name] %></div>
            <div>Product</div>
            <div class="native-content"><%= cp[:productFamily][:name] %></div>
          </div>
        </div>
      </div>
    </article>
    <% end %>
