<% unless params[:key] %>
<div style="padding: 8px 0 8px 20px; color: white; background-color: #0198F1"><span onclick="goBack()"><%= render 'svg/goback' %><span style="display: inline-block; vertical-align: middle; font-weight: 800">Go Back</span></span></div>



<script>
  function goBack() {
    window.history.back();
  }
</script>
<% end %>
