<div class="border-purple native-font-sm my" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px">
  <div class="native-flex native-justify-end mb">
    <div class="light-gray">Step No. <span class="b" style="color: #000;"><%= h[:step_number] %></span></div>
  </div>

  <div>What is controlled</div>
  <div class="native-share-content"><%= h[:control_item] %></div>
  <div class="native-flex native-justify-between native-items-center">
    <div>Changed by</div>
    <% if h[:decathlon] %>
    <!-- if decathlon employee -->
    <%= image_tag 'decathlon_sm.jpg', width: 70 %>
    <% end %>
    <!-- endif -->
  </div>
  <div class="native-share-content"><%= h[:user] || 'Unavailable' %></div>
  <% if h[:changes] %>
  <!-- if has changes -->
  <div><%= h[:event] %></div>
  <div class="native-share-content">
      <% h[:changes].each do |ch| %>
      <div class="mb-5"><%= ch[:column] %>: <span class="b"><%= ch[:diff] %></span></div>
      <% end %>
      <!-- end for -->
  </div>
  <% else %>
  <div><%= h[:event] %></div>
  <% end %>
</div>
