 <div class="border-purple" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px">
    <div class="native-font-sm mb-10">Frequency Respect Rate (YTD)</div>
    <div class="native-flex native-items-center mb-10">
      <div class="progress-bar" style="margin-right: 8px; position: relative; width: 80%; height: 1.5em; background-color: #eee; border: 1px solid #ccc; ">
        <div style="width: <%= c[:frequency_respect_rate] %>%; height: 1.5em; background-color: dodgerblue"></div>
      </div>
      <div class="native-font-sm"><%= c[:frequency_respect_rate] %>%</div>
    </div>
    <div class="native-font-sm mb-10">Non-conformity Rate (YTD)</div>
    <div class="native-flex native-items-center mb-10">
      <div class="progress-bar" style="margin-right: 8px; position: relative; width: 80%; height: 1.5em; background-color: #eee; border: 1px solid #ccc; ">
        <div style="width: <%= c[:nonconformity_rate] %>%; height: 1.5em; background-color: forestgreen"></div>
      </div>
      <div class="native-font-sm"><%= c[:nonconformity_rate] %>%</div>
    </div>
    <div class="native-font-sm mb-10">CAP close rate (YTD)</div>
    <div class="native-flex native-items-center mb-10">
      <div class="progress-bar" style="margin-right: 8px; position: relative; width: 80%; height: 1.5em; background-color: #eee; border: 1px solid #ccc; ">
        <div style="width: <%= c[:cap_close_rate] %>%; height: 1.5em; background-color: purple"></div>
      </div>
      <div class="native-font-sm"><%= c[:cap_close_rate] %>%</div>
    </div>
  </div>





