<%= link_to cp_product_path(id: c[:productFamily][:id]), class: 'no-underline color-free' do %>
<article style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px" class="border-purple" onclick="toProductEdit()">
    <% if !search %>
      <!-- <div class="assess-left border-purple" onclick="deleteProduct(<%= c[:productFamily][:id] %>)">Delete</div> -->
      <div class="assess-right border-purple">New Monitor</div>
    <% end %>
      <div class="native-flex native-justify-end mb">
        <div>
          <div class="native-dib native-font-sm light-gray">Supplier code</div>
          <div class="native-dib native-font-sm b"><%= c[:supplier][:code] %></div>
        </div>
      </div>
        <div class="native-font-sm">
          <div>Product</div>
          <div class="native-content" style="width: inherit;"><%= c[:productFamily][:name] %></div>

          <div>Supplier Name</div>
          <div class="native-content" style="width: inherit;"><%= c[:supplier][:name] %></div>

          <div class="native-flex native-items-center">
            <div style="width: 27%; margin-right: 10px;">
              <div>Next review</div>
              <div class="native-content"><%= c[:controlPlan][:next_review] %></div>
            </div>
            <div class="native-flex native-items-center mx">
              <div style="text-align: center;">
                <div class="steps-result" style="color: dimgray"><%= c[:controlPlan][:steps_available] %></div>
                <div>Steps Avaliable</div>
              </div>
              <div style="text-align: center;">
                <div class="steps-result" style="color: dodgerblue"><%= c[:controlPlan][:steps_reviewed] %></div>
                <div>Steps Reviewed</div>
              </div>
              <div style="text-align: center;">
                <div class="steps-result" style="color: darkred"><%= c[:controlPlan][:steps_pending] %></div>
                <div>Steps Pending</div>
              </div>
            </div>
          </div>
        </div>
    </article>


<% end %>
