<div class="border-purple native-font-sm my" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px">
    <%= link_to cp_new_product_path(id: @product_family.id, edit: true) do %><div class="assess-left border-purple">Edit</div><% end %>
    <div class="native-flex native-justify-end">
      <div class="light-gray">Last Updated <span class="b" style="color: #000;"><%= @product_family.updated_at.strftime("%Y-%m-%d") %></span></div>
    </div>
    <div>Product</div>
    <div class="native-content" style="width: inherit;"><%= @product_family.name %></div>
    <div class="native-flex native-justify-between native-items-center">
      <div style="width: 50%; padding-right: 5px">
        <div class="native-font-xs">Last CP Review</div>
        <div class="native-content"><%= @last_cp.blank? ? "None" : @last_cp.assess_date.strftime("%Y-%m-%d") %></div>
      </div>
      <div style="width: 50%; padding-left: 5px">
        <div class="native-font-xs">Next CP Review Needed By</div>
        <div class="native-content"><%= @next_cp.blank? ? "None" : @next_cp.assess_date.strftime("%Y-%m-%d") %></div>
      </div>
    </div>
    <div class="native-flex native-items-center">
      <div>
        <div class="native-font-sm mb-5" style="text-align: center">Current Step</div>
        <div class="steps-result" style="text-align: center"><%= @product_family.current_level || "Not Set" %></div>
      </div>
      <div class="native-font-lg mt">➜</div>
      <div>
        <div class="native-font-sm mb-5" style="text-align: center">Target Set</div>
        <div class="steps-result mr" style="text-align: center"><%= @product_family.target_level || "Not Set" %></div>
      </div>
      <!-- <div><span class="underline native-font-lg b" style="color: dodgerblue">?</span></div> -->
    </div>
  </div>
