<% tt = 'api.v1.control_plan.new_step' %>
<div class="wv-divider my">
  <div class="wv-divider-text native-font-sm"><%= t(tt+'.choose_process_flow')%></div>
  <div class="wv-divider-line"></div>
</div>

<div class="mb-10"><%= t(tt+'.product_process_cat')%></div>
<div class="mb" style="position: relative">
  <select id="process_index" name="process_index" class="native-select" onchange="updateOptions('active_process_index', this.value);">
    <option>Choose A Process Category</option>
    <% @h[:product_process_types].each do |cat| %>
    <option value="<%= cat %>"><%= cat %></option>
    <% end %>
  </select>
  <div style="position: absolute; bottom: 5px; right: 5px; pointer: none; padding: 5px; background: white;">
     <svg style="height: 15px; width: 15px; fill-color: black;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
  </div>
</div>

<!-- Start existing process flows block -->
<section id="processflow">
  <div class="mb-10"><%= t(tt+'.existing_process_flows')%> <span class="underline" style="color: dodgerblue" onclick="showEditForm()">Edit</span></div>
  <div class="mb" style="position: relative">
    <select id="active_process_index" name="active_process_index" class="native-select" onchange="updateSteps('active_step_index', this.value)">
      <option value=""></option>
    </select>
    <div style="position: absolute; bottom: 5px; right: 5px; pointer: none; padding: 5px; background: white;">
       <svg style="height: 15px; width: 15px; fill-color: black;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
    </div>
  </div>
  <div class="native-flex native-justify-center">
    <button class="btn-primary" onclick="addNewProcess()">Add new process flow →</button>
  </div>
</section>
<!-- End existsing process flow block -->

<!-- Start edit process flow form -->
<div id="edit-form" class="my" style="display: none;">
  <div class="mb-10"><%= t(tt+'.edit_process_flow')%></div>
  <input type="text" class="native-input  mb-10">
  <div class="native-flex native-items-center" style="flex-direction: column">
    <button class="btn-primary mb-10"><%= t(tt+'.update')%> →</button>
    <div id="cancel-form" class="underline" style="color: dodgerblue"><%= t(tt+'.cancel')%></div>
  </div>
</div>
<!-- End edit process flow form-->

<!-- Start add new process flow form -->
<div id="new-form" class="my" style="display: none;">
  <div class="mb-10"><%= t(tt+'.new_process_flow')%></div>
  <%= form_with model: ProductProcess.new(product_family_id: @pf.id), url: api_v1_data_create_path(name: 'product_processes'), method: :post do |f|%>
    <%= f.hidden_field :product_family_id %>
    <%= f.text_field :number, class: "native-input  mb-10" %>
    <%= f.text_field :name, class: "native-input  mb-10" %>
    <%= f.hidden_field :category, style: "display: none;", id: "new_category", value: @h[:product_process_types].first %>
    <div class="native-flex native-items-center" style="flex-direction: column">
      <%= f.submit 'Submit new process flow →', class: "btn-primary mb-10" %>
      <div id="cancel-form-2" class="underline" style="color: dodgerblue"><%= t(tt+'.cancel')%></div>
    </div>
  <% end %>
</div>
<!-- End add new process flow form-->
