<% tt = 'api.v1.control_plan.new_step' %>

<div id="step-form">

<%= form_with model: @ps, url: api_v1_data_create_path(name: 'process_steps'), method: :post, id: 'step_form', data: {base: api_v1_data_create_path(name: 'process_steps')} do |f|%>
  <%= render 'divider', txt: t(tt+'.what') %>

  <!-- Start active step block -->
  <section id="activestep">
    <div class="mb-10"><%= t(tt+'.steps')%> <span class="underline" style="color: dodgerblue" onclick="addNewStep('edit')">Edit</span></div>
    <div class="mb" style="position: relative">
      <select id="active_step_index" name="active_step_index" class="native-select" onchange="syncStep()">
        <option value=""></option>
      </select>
      <div style="position: absolute; bottom: 5px; right: 5px; pointer: none; padding: 5px; background: white;">
         <svg style="height: 15px; width: 15px; fill-color: black;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
      </div>
    </div>
    <div class="native-flex native-justify-center">
      <div class="btn-primary" onclick="addNewStep()">Add new step →</div>
    </div>
  </section>
  <!-- End active step block -->

  <!-- Start add new active step form -->
  <div id="step-new-form" class="my" style="display: none;">
    <div class="mb-10"><%= t(tt+'.step')%> #</div>
    <input type="text" name='process_step[step_number]' class="native-input  mb-10" placeholder="Step number" id='step-num'>
    <div class="mb-10"><%= t(tt+'.what_to')%></div>
    <input type="text" name='process_step[control_item]' class="native-input  mb-10" placeholder="Control Item" id='control-id'>
    <div class="native-flex native-items-center" style="flex-direction: column">
      <div id="cancel-form-4" class="underline" style="color: dodgerblue"><%= t(tt+'.cancel')%></div>
    </div>
  </div>

  <div class="native-hidden" id="stepForm">
    <!-- End add new active step form-->
    <%= render 'divider', txt: t(tt+'.how') %>

    <!-- Start control type -->
    <div class="mb-10"><%= t(tt+'.control_type')%></div>
    <div class="mb" style="position: relative">
      <select id="control_type" name="process_step[control_type]" class="native-select" onchange="">
        <% @h[:process_step_control_types].each do |tp| %>
        <option value="<%= tp %>"><%= tp %></option>
        <% end %>
      </select>
      <div style="position: absolute; bottom: 5px; right: 5px; pointer: none; padding: 5px; background: white;">
         <svg style="height: 15px; width: 15px; fill-color: black;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
      </div>
    </div>
    <div class="mb-10"><%= t(tt+'.control_method')%></div>
    <textarea name="" value="" rows="4" placeholder="<%= t(tt+'.control_method_placeholder')%>" class=" native-textarea"></textarea>
    <!-- End control type -->
    <%= render 'divider', txt: t(tt+'.what_is_standard') %>

    <!-- Start standard -->
    <div class="mb-10"><%= t(tt+'.requirement')%></div>
    <input type="text" class="native-input  mb-10" placeholder="Process number">
    <div class="mb-10"><%= t(tt+'.upload_req')%></div>
    <input type="file" />
    <!-- End standard -->
    <%= render 'divider', txt: t(tt+'.how_to_judge') %>

    <!-- Start judge attachments -->
    <div class="native-flex native-justify-between native-items-center">
      <div style="text-align: center; width: 50%; padding-right: 5px">
        <div class="mb-10"><%= t(tt+'.acceptable_image')%></div>
        <div class="native-lg-thumbnail native-flex native-justify-center native-items-center" style="background: white;">
          <span class="native-font-lg">+</span>
        </div>
      </div>
      <div style="text-align: center; width: 50%; padding-left: 5px">
        <div class="mb-10"><%= t(tt+'.unacceptable_image')%></div>
        <div class="native-lg-thumbnail native-flex native-justify-center native-items-center" style="background: white;">
          <span class="native-font-lg">+</span>
        </div>
      </div>
    </div>
    <!-- End judge attachments -->

    <div class="wv-divider my">
      <div class="wv-divider-text"><%= t(tt+'.risks_controller')%></div>
      <div class="wv-divider-line"></div>
    </div>

    <!-- Start criticity radios -->
    <div class="mb-10"><%= t(tt+'.criticity')%></div>
    <input type="radio" id="critical" name="criticity" value="critical">
    <label for="critical">Critical</label><br>
    <input type="radio" id="major" name="criticity" value="major">
    <label for="major">Major</label><br>
    <input type="radio" id="minor" name="criticity" value="minor">
    <label for="minor">Minor</label>
    <!-- End criticity radios -->
    <%= render 'divider', txt: t(tt+'.freq_how_many') %>


    <div class="mb-10"><%= t(tt+'.supplier_control_freq')%></div>

    <div class="native-flex native-justify-between native-items-center mb">
      <div class="native-flex native-items-center" style="width: 50%;">
        <div class="mr"><%= t(tt+'.every')%></div>
        <input type="text" class="native-input" style="width: 50%" />
      </div>
      <div style="width: 50%">
        <div style="position: relative">
          <select id="supplier_frequency_index" name="supplier_frequency_index" class="native-select" onchange="">
            <option value="">Days</option>
            <option value="">Weeks</option>
          </select>
          <div style="position: absolute; bottom: 5px; right: 5px; pointer: none; padding: 5px; background: white;">
             <svg style="height: 15px; width: 15px; fill-color: black;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-10"><%= t(tt+'.who_is_responsible')%></div>
    <input type="text" class="native-input mb" placeholder="<%= t(tt+'.who_is_responsible_placeholder')%>">

    <div class="mb-10"><%= t(tt+'.decathlon_control_freq')%></div>
    <div class="native-flex native-justify-between native-items-center mb-10">
      <div class="native-flex native-items-center" style="width: 50%;">
        <div class="mr"><%= t(tt+'.every')%></div>
        <input type="text" class="native-input" style="width: 50%" />
      </div>
      <div style="width: 50%">
        <div style="position: relative">
          <select id="decathlon_frequency_index" name="decathlon_frequency_index" class="native-select" onchange="">
            <option value="">Days</option>
            <option value="">Weeks</option>
          </select>
          <div style="position: absolute; bottom: 5px; right: 5px; pointer: none; padding: 5px; background: white;">
             <svg style="height: 15px; width: 15px; fill-color: black;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
    </div>

    <input value="<%= t(tt+'.create_prod_control_item')%>" type="submit" class="btn-primary my" style="width: 100%; font-size: 1em">


  </div>
<% end %>
</div>
