  <div class="my native-font-sm">
    <div class="b">Findings of Supplier's records and methods?</div>
    <div class="native-share-content" style="width: inherit; line-height: 1.2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet neque, quam laboriosam, aut totam ducimus nulla quaerat accusantium, rerum dignissimos, sapiente quidem. Enim voluptates quisquam nesciunt, aut expedita eaque temporibus!</div>
    <div class="my">
      <div class="mb-10">Finding images</div>
      <div class="native-flex native-flex-wrap">
        <div class="mr mb-10 native-thumbnail" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path('ag_logo.png') %>); background-size: cover;" onclick="showImageModal()"></div>
        <div class="mr mb-10 native-thumbnail" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path('ag_logo.png') %>); background-size: cover;" onclick="showImageModal()"></div>
        <div class="mr mb-10 native-thumbnail" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path('ag_logo.png') %>); background-size: cover;" onclick="showImageModal()"></div>
        <div class="mr mb-10 native-thumbnail" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path('ag_logo.png') %>); background-size: cover;" onclick="showImageModal()"></div>
        <div class="mr mb-10 native-thumbnail" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path('ag_logo.png') %>); background-size: cover;" onclick="showImageModal()"></div>
      </div>
    </div>
    <div class="b">Findings of process and product?</div>
    <div class="native-share-content" style="width: inherit; line-height: 1.2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet neque, quam laboriosam, aut totam ducimus nulla quaerat accusantium, rerum dignissimos, sapiente quidem. Enim voluptates quisquam nesciunt, aut expedita eaque temporibus!</div>
    <div class="my">
      <div class="mb-10">Finding images</div>
      <div class="native-flex native-flex-wrap">
        <div class="mr mb-10 native-thumbnail" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path('ag_logo.png') %>); background-size: cover;" onclick="showImageModal()"></div>
        <div class="mr mb-10 native-thumbnail" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path('ag_logo.png') %>); background-size: cover;" onclick="showImageModal()"></div>
        <div class="mr mb-10 native-thumbnail" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path('ag_logo.png') %>); background-size: cover;" onclick="showImageModal()"></div>
        <div class="mr mb-10 native-thumbnail" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path('ag_logo.png') %>); background-size: cover;" onclick="showImageModal()"></div>
        <div class="mr mb-10 native-thumbnail" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path('ag_logo.png') %>); background-size: cover;" onclick="showImageModal()"></div>
      </div>
    </div>
    <div class="b">Immediate Actions/Protections</div>
    <div class="native-share-content" style="width: inherit; line-height: 1.2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet neque, quam laboriosam, aut totam ducimus nulla quaerat accusantium, rerum dignissimos, sapiente quidem. Enim voluptates quisquam nesciunt, aut expedita eaque temporibus!</div>
    <div class="b">Result</div>
    <div class="native-share-content" style="width: inherit; line-height: 1.2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet neque, quam laboriosam, aut totam ducimus nulla quaerat accusantium, rerum dignissimos, sapiente quidem. Enim voluptates quisquam nesciunt, aut expedita eaque temporibus!</div>
  </div>
