<%= form_with model: @plan_item, url: api_v1_data_update_path(name: "plan_items", id: @plan_item.id) do |f| %>
  <div class="my">
    <div class="mb-10 native-font-sm">
    <%= image_tag 'voice-typing.png', width: 30, class: 'native-dib', style: 'vertical-align: middle' %><span class="native-dib" style="vertical-align: middle"><%= t(tt+'.findings_of_suppliers')%></span>
    </div>
    <%= f.text_area :findings, class: "native-textarea mb-10" %>
    <div class="native-font-sm mb-10"><%= t(tt+'.finding_images')%></div>
    <div class="native-flex native-flex-wrap">
      <div class="native-thumbnail mr mb" onclick="showImage(this)" data-img="" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(); background-size: cover; background-position: center;">
        <button class="native-delete-thumbnail">X</button>
      </div>
      <div class="native-thumbnail mr mb" onclick="showImage(this)" data-img="" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(); background-size: cover; background-position: center;">
        <button class="native-delete-thumbnail">X</button>
      </div>
      <div class="native-thumbnail mr mb" onclick="showImage(this)" data-img="" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(); background-size: cover; background-position: center;">
        <button class="native-delete-thumbnail">X</button>
      </div>
      <div class="native-thumbnail native-flex native-justify-center native-items-center" style="background: white"><span class="native-font-lg">+</span></div>
    </div>
    <%= f.file_field :findings_images,  direct_upload: true, multiple: true, accept: XFile::COMMON, onchange:"autoClickForm(event.target.form);" %>
  </div>
  <div class="my">
    <div class="mb-10 native-font-sm">
    <%= image_tag 'voice-typing.png', width: 30, class: 'native-dib', style: 'vertical-align: middle' %><span class="native-dib" style="vertical-align: middle"><%= t(tt+'.findings_of_process')%></span>
    </div>
    <%= f.text_area :findings_process, class: "native-textarea mb-10" %>
    <div class="native-font-sm mb-10"><%= t(tt+'.process_product_images')%></div>
    <div class="native-flex native-flex-wrap">
      <div class="native-thumbnail mr mb" onclick="showImage(this)" data-img="" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(); background-size: cover; background-position: center;">
        <button class="native-delete-thumbnail">X</button>
      </div>
      <div class="native-thumbnail mr mb" onclick="showImage(this)" data-img="" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(); background-size: cover; background-position: center;">
        <button class="native-delete-thumbnail">X</button>
      </div>
      <div class="native-thumbnail mr mb" onclick="showImage(this)" data-img="" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(); background-size: cover; background-position: center;">
        <button class="native-delete-thumbnail">X</button>
      </div>
      <div class="native-thumbnail native-flex native-justify-center native-items-center" style="background: white"><span class="native-font-lg">+</span></div>
    </div>
    <%= f.file_field :findings_process_images,  direct_upload: true, multiple: true, accept: XFile::COMMON, onchange:"autoClickForm(event.target.form);" %>
  </div>
  <div class="my">
    <div class="mb-10 native-font-sm">
    <%= image_tag 'voice-typing.png', width: 30, class: 'native-dib', style: 'vertical-align: middle' %><span class="native-dib" style="vertical-align: middle"><%= t(tt+'.immediate_action_protections')%></span>
    </div>
    <%= f.text_area :immediate_action, class: "native-textarea mb-10" %>
    <div class="native-font-sm mb-10"><%= t(tt+'.result')%></div>
    <div class="mb">
      <div class="native-dib">
        <input type="radio" id="ok" name="plan_item[result]" value="OK" <%= 'checked' if @plan_item.result == 'OK' %>>
        <label for="ok">OK</label><br>
      </div>
      <div class="native-dib">
        <input type="radio" id="nok" name="plan_item[result]" value="NOK" <%= 'checked' if @plan_item.result == 'NOK' %>>
        <label for="nok">NOK</label><br>
      </div>
      <div class="native-dib">
        <input type="radio" id="n/a" name="plan_item[result]" value="N/A" <%= 'checked' if @plan_item.result == 'N/A' %>>
        <label for="n/a">N/A</label>
      </div>
    </div>
    <!-- block radios -->
    <div class="mt" id="block-radio" style="display: none;">
      <div class="native-font-sm mb-10"><%= t(tt+'.block_needed')%></div>
      <div class="native-dib">
        <input type="radio" id="n/a" name="plan_item[block]" value="yes" >
        <label for="n/a"><%= t(tt+'.yes')%></label>
      </div>
      <div class="native-dib">
        <input type="radio" id="n/a" name="plan_item[block]" value="no">
        <label for="n/a"><%= t(tt+'.no')%></label>
      </div>
    </div>
    <!-- end block radios -->
    <div class="my">
      <%= f.submit "Submit & Go to the next step", class: "btn-primary", style: "width: 100%; font-size: 1em;"  %>
    </div>
  </div>
<% end %>

<script>
  var form = document.querySelector('form')
  form.addEventListener('ajax:success', function(e){
    Turbolinks.visit('?plan_item_id=<%= @next.id %>')
  })
</script>
