  <div class="border-purple native-font-sm" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px">
    <div>Last Review</div>
    <div class="native-content" style="width: inherit"><%= c[:lastReview] %></div>
    <div class="native-flex native-items-center">
      <div style="width: 50%; padding-right: 5px;">
        <div>Decathlon Review</div>
        <div class="native-content"><%= c[:nextReview] || "Not Set" %></div>
      </div>
      <div style="width: 50%;padding-left: 5px">
        <div>Supplier Review</div>
        <div class="native-content"><%= c[:nextSupplierReview].blank? ? "Not Set" : c[:nextSupplierReview] %></div>
      </div>
    </div>
    <div>Details</div>
    <div class="native-share-content" style="width: inherit;"><%= c[:details] %></div>
  </div>





