<article class="border-purple" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px">
  <!-- <div class="assess-left border-purple">Edit</div> -->
  <div class="mt native-font-sm">
    <div class="native-flex native-justify-between native-items-center mb">
      <div><%= t(tt+'.step_no')%>. <span class="b"><%= @process_step.step_number %></span></div>
      <div class="pill white" style="background-color: dodgerblue"><%= @process_step.criticity %></div>
    </div>
    <div><%= t(tt+'.what_is_controlled')%></div>
    <div class="native-share-content" style="width: inherit; line-height: 1.2"><%= @process_step.control_item %></div>
    <div><%= t(tt+'.control_method')%></div>
    <div class="native-share-content" style="width: inherit; line-height: 1.2"><%= @process_step.control_method %></div>
    <div><%= t(tt+'.requirement')%></div>
    <div class="native-share-content" style="width: inherit; line-height: 1.2"><%= @process_step.requirement %></div>
    <!-- Images here -->
    <div><%= t(tt+'.type_of_control')%></div>
    <div class="native-share-content" style="width: inherit; line-height: 1.2"><%= @process_step.control_type %></div>
    <div class="native-flex native-justify-between native-items-center my">
      <div style="width: 50%;padding-right: 5px">
        <div class="mb-10" style="text-align: center; color: green"><%= t(tt+'.acceptable_image')%></div>
        <% if @process_step.acceptable_image_url %>
          <div onclick="showImage(this)" class="border-purple" style="height: 8em; background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= @process_step.acceptable_image_url || asset_path('ag_logo.png') %>); background-size: cover; background-position: center;" data-img="<%= @process_step.acceptable_image_url %>">
          </div>
        <% else %>
          <div class="native-font-sm" style="text-align: center"><%= t(tt+'.image_not_yet')%></div>
        <% end %>
      </div>

      <div style="width: 50%; padding-left: 5px">
        <div class="mb-10" style="text-align: center; color: red"><%= t(tt+'.unacceptable_image')%></div>
        <% if %>
          <div onclick="showImage(this)" class="border-purple" style="height: 8em; background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= @process_step.unacceptable_image_url || asset_path('ag_logo.png') %>); background-size: cover;background-position: center" data-img="<%= @process_step.unacceptable_image_url %>">
          </div>
        <% else %>
          <div class="native-font-sm" style="text-align: center"><%= t(tt+'.image_not_yet')%></div>
        <% end %>
      </div>
    </div>
    <!-- End Images here -->
    <!-- Start control frequency tables -->
    <div style="color: blue"><%= t(tt+'.control_freq')%></div>
    <div class="native-flex native-justify-between native-items-start my native-font-xs">
      <div style="border: 1px solid green; width: 50%; margin-right: 5px">
        <div class="white" style="background: green; padding: 8px;text-align: center;">Supplier</div>
        <div class="bg-lightgray" style="padding: 8px">
          <div class="b mb"><%= @process_step.supplier_control_freq %></div>
          <div><%= t(tt+'.checked_by')%>: <span class="b"><%= @process_step.supplier_controller %></span></div>
        </div>
      </div>
      <div style="border: 1px solid dodgerblue; width: 50%; margin-left: 5px">
        <div class="white" style="background: dodgerblue; padding: 8px;text-align: center;"><%= t(tt+'.decathlon')%></div>
        <div class="bg-lightgray" style="padding: 8px">
          <div class="b mb"><%= @process_step.decathlon_control_freq %></div>
        </div>
      </div>
    </div>
    <!-- End control frequency tables -->
  </div>
</article>

<div id="displayimage" style="display: none; position: fixed; top: -20px; bottom: 0; right: 0; left: 0;">
  <div style="height:-webkit-fill-available; background-color: black;" class="native-flex native-justify-center native-items-center">
    <div id="close-modal" style="position: fixed; top: 15px; right: 15px">
      <div class="native-justify-center native-items-center native-flex native-font-md b" style="border-radius: 50%;width: 1.5em; height: 1.5em; background-color: dodgerblue; color: white;">X</div>
    </div>
    <img id="controlled-image" src="" alt="">
  </div>
</div>


<script>
  function showImage(e){
    var m = document.getElementById('displayimage')
    var img = document.getElementById('controlled-image')
    var url = e.dataset.img
    var close = document.getElementById('close-modal')
    console.log(img)
    m.style.display = 'block';
    img.src = url

    close.addEventListener('click', function(){
      m.style.display = 'none'
    })

  }
</script>
