<%= link_to cp_product_list_path(supplier_id: c[:details][:id]), class: 'no-underline color-free' do %>
  <div class="border-purple" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px" onclick="toCpProductList()">
    <div class="native-flex native-justify-end mb">
      <div>
        <div class="native-dib native-font-sm light-gray">Supplier code</div>
        <div class="native-dib native-font-sm b"><%= c[:details][:code] %></div>
      </div>
    </div>
    <div class="native-font-sm ">
      <div>Supplier</div>
      <div class="native-content" style="width: inherit;"><%= c[:details][:name] %></div>
      <div>Supplier Address</div>
      <div class="native-content" style="width: inherit;"><%= c[:details][:address] %></div>
      <div>Supplier Contact</div>
      <div class="native-content" style="width: inherit;"><%= c[:details][:contact_name] %> - <%= c[:details][:contact_email] %></div>
    </div>
  </div>
<% end %>
