<% @sections.each do |section, questions| %>
  <div class="main-content-wrapper">
    <h2><%= section.title %></h2>
    <% questions.each do |question| %>
      <%= form_with model: question, method: :post, url: "/api/v1/survey_questions/#{question.id}" do |f| %>
      <!-- form.object.trained_at -->
      <div style="margin-bottom: 10px;">
        <p class="" style="<%= 'color: red;' if question.required? %>"><%= question.label %>
          <% if question.required? %>
            <span style="color: red;">* <small>required</small></span>
          <% end %>
        </p>

        <% if question.radio? %>
          <div>
            <%= f.radio_button :result, :OK, onchange: 'autoClickForm(event.target.form);' %>
            <%= f.label :result, 'OK', value: :OK, class: "native-font-sm" %>
          </div>
          <div>
            <%= f.radio_button :result, :NOK, onchange: 'autoClickForm(event.target.form);'%>
            <%= f.label :result, 'NOK', value: :NOK, class: "native-font-sm" %><br><br>
          </div>
        <% elsif question.input? %>
          <%= f.text_field :response, class: "native-input", onfinish: 'autoClickForm(event.target.form);' %><br><br>
        <% end %>

        <% if question.require_attachment? %>
          <label for="input_text" class="native-font-sm">Attachments</label>
          <%= f.label :attachments do %>
            <div class="native-thumbnail native-flex native-justify-center native-items-center" style="background: white;" data-id="<%= question.id || 0 %>" data-name="attachments">
                <%= f.file_field :attachments, multiple: true, accept: XFile::COMMON, style: "opacity: 0; width: 0px;", direct_upload: true, onchange:"autoClickForm(event.target.form);" %>
              <span class="native-font-lg" style="margin-left: -0.3em;">+</span>
            </div>
          <% end %>
          <% question.attachments.each_with_index do |x, i| %>
          <% album = question.attachments.map{|x| rails_blob_path(x)} %>
            <div style="position: relative; display: inline-block; width: 100px; height: 100px; margin: 1em 1em 1em 0;">
              <a class="bg-blue white b id-<%= question.id %>" style="border-bottom: 1px solid rgba(183, 221, 247, 1.00); line-height: 1.2; position: absolute; top: -9px; right: -9px; border-radius: 50%; width: 15px; height: 15px; padding: 3px; font-size: 0.6em; text-align: center;" data-index="<%= i %>" onclick="deleteImage(this, 'survey_questions', 'attachments', <%= question.id %>, this.dataset.index)" >✖︎</a>
              <img src="<%= rails_blob_path(x) %>" alt="" height="100px" width="100px" style="object-fit: cover;" onclick="launchLightbox(this)" data-id="<%= question.id %>-i<%= i %>" data-album="<%= album.join(':::') %>">
            </div>
          <% end %>
        <% end %>

        <% if question.with_remarks? %>
          <label>Remarks</label>
          <%= f.text_area :remarks, class: "native-textarea", onfinish: 'autoClickForm(event.target.form);'  %><br><br>
        <% end %>

        <%= f.submit :submit, style: 'display: none;' %>
      </div>

      <% end %>
    <% end %>
  </div>
  <hr>
<% end %>
<script>

function launchLightbox(e) {

    var album = e.getAttribute("data-album")
    var body = document.querySelector('body')
    var div = document.createElement('div')
    var id = e.getAttribute("data-id")
    div.id = id
    body.appendChild(div)
    console.log(id, 'here')
    console.log(e)
    // console.log(album, '---------------------')
    var res = album.split(":::").map(function(x){return {"src": x , "thumb": x, "subHtml": ''}})
    console.log(res)
    // console.log(res)
    var active = document.getElementById(id)

    lightGallery(active, {
        dynamic: true,
        dynamicEl: res,
        download: false
    })
}
</script>
