<% tt = 'api.v1.assessor_application.application' %>
<%= render 'list_js' %>
<%= render 'goback' %>
<section class="header-wave" style="background-image: url(<%= asset_path('native/blue_wave.svg') %>); width: 100%; background-size: cover; ">
  <div class="header">
    <div class="native-font-lg">Apply to become an Assessor</div>
  </div>
</section>

<div class="main-content-wrapper">
  <%= form_with model: @app, method: :post, url: "/api/v1/assessor_applications/#{@app.id}" do |form| %>
    <input type="hidden" name="assessor_application[user_id]" value="<%= current_user.id %>">
    <div class="mb native-font-sm"><%= t(tt+'.which_one')%></div>
    <div class="mb native-font-sm" style="position: relative">
      <select id="grids" name="assessor_application[grid]" class="native-select" onchange="updateValidator(this.value)" <%= 'disabled' if @app.id %>>
        <option value="" disabled selected><%= t(tt+'.select_grid')%></option>
        <% @referent_source.each do |k,v| %>
          <option value="<%= k %>" ><%= k %></option>
        <% end %>
      </select>
      <div style="position: absolute; bottom: 5px; right: 5px; pointer: none; padding: 5px;">
         <svg style="height: 15px; width: 15px; fill-color: black;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
      </div>
    </div>
    <div class="mb native-font-sm"><%= t(tt+'.reason')%></div>
    <textarea class="native-textarea mb" name="assessor_application[reason]" value="<%= form.object.reason %>" placeholder="Please explain why you would like to become an assessor..."></textarea>

    <!-- Need List -->
    <div class="mb native-font-sm"><%= t(tt+'.opm')%></div>
    <input type="hidden" id="opm-id" name="assessor_application[opm_id]" value="<%= (@app.opm || AssessorProfile.new).id %>" />
    <div id="opm-listt" class="my" style="width: 100%;">
      <input type="text" id="opm-input" class="search native-input" onkeyup="showList('opm')" style="background: white" placeholder="Search user by name..." value="<%= (@app.opm || AssessorProfile.new).name %>" />
      <!-- Autocomplete list is hidden, to show remove class -->
      <div id="opm-list" class="native-hidden" style="position: relative; height: 8em; width: inherit; overflow: scroll; z-index: 527">
        <div class="">
          <ul class="list bg-white">
            <% @opm_source.each do |s| %>
              <li onclick="hideList('opm',<%= s[:id] %>, '<%= s[:name] %>')" class="auto-list-item native-font-sm" ><span class="name"><%= s[:name] %></span></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <!-- Need List -->
    <div class="mb native-font-sm"><%= t(tt+'.team-leader')%></div>
    <input type="hidden" id="team_leader-id" name="assessor_application[team_leader_id]" value="<%= (@app.team_leader || AssessorProfile.new).id %>" />
    <div id="team_leader-listt" class="my" style="width: 100%;">
      <input type="text" id="team_leader-input" class="search native-input" onkeyup="showList('team_leader')" style="background: white" placeholder="Search user by name..." value="<%= (@app.team_leader || AssessorProfile.new).name %>" />
      <!-- Autocomplete list is hidden, to show remove class -->
      <div id="team_leader-list" class="native-hidden" style="position: relative; height: 8em; width: inherit; overflow: scroll; z-index: 527">
        <div class="">
          <ul class="list bg-white">
            <% @opm_source.each do |s| %>
              <li onclick="hideList('team_leader',<%= s[:id] %>, '<%= s[:name] %>')" class="auto-list-item native-font-sm" ><span class="name"><%= s[:name] %></span></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="mb native-font-sm"><%= t(tt+'.validator')%></div>
    <div class="mb native-font-sm" style="position: relative">
      <select id="validator" name="assessor_application[validator_id]" class="native-select">
      </select>
      <div style="position: absolute; bottom: 5px; right: 5px; pointer: none; padding: 5px;">
         <svg style="height: 15px; width: 15px; fill-color: black;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
      </div>
    </div>

    <button class="btn-primary my" style="width: 100%; font-size: 1em"><%= t(tt+'.submit')%></button>
  <% end %>
</div>

<script>
  var vals = <%= raw @referent_source.to_json %>
  function updateValidator(grid){
    var val = document.getElementById('validator');
    val.innerHTML = "";
    vals[grid].forEach(function(e){
      var newOpt = document.createElement('option');
      newOpt.innerText = e.name;
      newOpt.value = e.id;
      val.appendChild(newOpt);
    })
  }
  var options = {
    valueNames: [ 'name' ]
  };

  function hideList(typ, val, txt){
    var hidden = document.getElementById(`${typ}-id`);
    var autocomplete = document.getElementById(`${typ}-input`);
    var list = document.getElementById(`${typ}-list`);
    autocomplete.value = txt;
    list.classList.add("native-hidden");
    hidden.value = val;
  }
  function showList(typ){
    var autocomplete = document.getElementById(typ+'-input')
    autocomplete.addEventListener("input", function(e) {
      var list = document.getElementById(typ+'-list')
      if (autocomplete.value.length > 0){
        list.classList.remove("native-hidden")
      } else {
        list.classList.add("native-hidden")
      }
    });
  }
  var form = document.querySelector('form')
  form.addEventListener('ajax:success', function(){
    <% if params[:key] %>
    Turbolinks.visit("/native/assessor_application/application_status?user_id=<%= current_user.id%>")
    <% else %>
    window.history.back();
    <% end %>
  })

  new List('opm-listt', options);
  new List('team_leader-listt', options);
</script>
<% unless params[:key] %>
  <%= render 'native/shared/floating_application' %>
<% end %>

