<% tt = 'api.v1.assessor_application.application_selection' %>
<%= render 'goback' %>
<section class="header-wave" style="background-image: url(<%= asset_path('native/blue_wave.svg') %>); width: 100%; background-size: cover; ">
  <div class="header">
    <div class="native-font-lg">Assessment Selection and Submission</div>
  </div>
</section>

<div class="main-content-wrapper">
  <div class="native-font-sm mb">Please select an assessment you would like to submit:</div>

  <!-- {
      web_url: "",
      id: entry.id,
      created: {
        date: entry.created_at.strftime("%F"),
      },
      projectDate: {
        month: entry_ref.assess_date.strftime("%b"),
        day: entry_ref.assess_date.strftime("%d"),
      },
      extraDetails: {
        creator: entry.user_id == uid ? "You" : entry.user.profile.name,
        self: entry_ref.can_edit?(uid) || (entry.user_id == uid),
        type: entry.ref_type,
        ref_model: entry.ref_model,
        ref_id: entry_ref.id,
        supplier: entry.supplier_profile.name,
        result: entry_ref.completed ? entry_ref.result : entry_ref.status,
        resultColor: entry_ref.completed ? entry_ref.level_color[entry_ref.result] : entry_ref.status_color[entry_ref.status],
        completedDate: entry_ref.updated_at.strftime("%F"),
        borderColor: border_color,
        grid: grid
      }
    }  -->
  <% @cards.each do |h| %>
  <!-- Start Assessment Card -->
  <div id="assessment-card" class="border-blue" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px"  onclick="selectAssessment(this)">
    <div class="native-font-sm mb-10"><span class="b"><%= h[:extraDetails][:creator] %></span> created this on <%= h[:created][:date] %></div>
    <div class="native-flex native-items-start">
      <div style="width: 25%; background-color: #FCF3E5; border-radius: 4px; margin-right: 15px; text-align: center; padding-top: 10px;">
        <div class="native-font-xs" style="padding-bottom: 10px; border-bottom: 1px dashed #008EEF;"><%= h[:projectDate][:month] %></div>
        <div style="background-color: #FCF3E5; text-align: center; font-weight: bold; padding: 10px 20px; margin-bottom: 10px;">
          <div style="background-color: white; padding: 10px 10px; border-radius:2px;"><%= h[:projectDate][:day] %></div>
        </div>
      </div>
      <div class="native-font-sm" style="max-width: 70%;">
        <div class="b mb-10"><%= h[:extraDetails][:type] %></div>
        <div class="mb-10"><%= h[:extraDetails][:supplier] %></div>
        <div class="mb-10">Result: <span class="b"><%= h[:extraDetails][:result] %></span></div>
        <div class="mb-10">Completed on <span class="b"><%= h[:extraDetails][:completedDate] %></span></div>
      </div>
    </div>
  </div>
  <% end %>
  <!-- End Assessment Card -->
</div>

<div id="selection-modal" style="display: none; position: fixed; bottom: 0; right: 0; left: 0; top: 0; width: 100vw; height: -webkit-fill-available; background: rgba(0,0,0, 0.85);">
  <div class="main-content-wrapper" style="padding: 4em 0;">
    <div class="white b mb" style="text-align: center;"><%= t(tt+'.selected')%>:</div>

    <div id='target-card' class="my border-blue" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px">
    </div>

    <div class="white b mb" style="text-align: center;"><%= t(tt+'.you_sure')%></div>

    <button class="my btn-primary" style="width: 100%; font-size: 1em"><%= t(tt+'.submit')%></button>

    <div class="white underline native-font-sm" style="text-align: center;" onclick="hideModal();"><%= t(tt+'.back')%></div>
  </div>
</div>

<%= render 'native/shared/floating_application' %>

<script>
  function selectAssessment(that){
    var modal = document.getElementById('selection-modal');
    var target = document.getElementById('target-card');
    modal.style.display = 'block';
    target.innerHTML = that.innerHTML;

  }
  function hideModal(){
    let modal = document.getElementById('selection-modal')
    modal.style.display = 'none'
  }
</script>
