<% tt = 'api.v1.assessor_application.application_status' %>
<section class="header-wave" style="background-image: url(<%= asset_path('native/blue_wave.svg') %>); width: 100%; background-size: cover; ">
  <div class="header">
    <div class="native-font-lg">Assessor Application Status Report</div>
  </div>
</section>

<div class="main-content-wrapper">
  <!-- Start progress -->
  <div class="native-font-sm mb-10"><%= @applicant.name %> <%= t(tt+'.progress')%></div>
  <div class="native-flex native-items-center mb">
    <div class="progress-bar" style="margin-right: 8px; position: relative; width: 90%; height: 1.5em; background-color: #eee; border: 1px solid #ccc; ">
      <div style="width: <%= @app.percentage %>%; height: 1.5em; background-color: dodgerblue"></div>
    </div>
    <div class="native-font-sm"><%= @app.percentage %>%</div>
  </div>

  <div class="wv-divider my">
    <div class="wv-divider-text native-font-sm"><%= t(tt+'.steps')%></div>
    <div class="wv-divider-line"></div>
  </div>
  <!-- End progress -->

  <!-- Start submit application -->
  <% @steps.each_with_index do |step, i| %>
  <div style="border-bottom: 1px solid #ccc;">
    <div class="native-flex native-justify-between native-items-center mb-10" style="padding-top: 10px;">
      <div>
        <div class="b mb-10 native-font-sm"><%= step[:description] %></div>
        <div class="b mb-10 native-font-sm" style="color: <%= step[:status] == "Completed" ? 'green' : 'orange'%>"><span><%= step[:status] == "Completed" ? '✔' : ''%></span> <%= step[:status] %></div><!-- color green if 'Completed' else orange -->
        <% if step[:info].present? %>
        <div id="show-info-<%= i %>" class="underline mb-10 native-font-sm" data-hide="false" style="color: dodgerblue" onclick="showInfo('<%=i%>')"><%= t(tt+'.more')%></div>
        <% end %>
      </div>
      <% if step[:url] %>
      <%= link_to step[:url], class: 'no-underline' do %>
        <button class="btn-primary-blue native-font-sm" style="color: white">Go ➜</button>
      <% end %>
      <% end %>
    </div>
    <!-- Start detailed info *Needs to be fixed by Sergio*-->
    <% if step[:info].present? %>
      <div id="detailed-info-<%= i %>" style="display: none;">
      <% step[:info].each do |x| %>
      <div>
          <div class="native-font-sm mb" style="border-left: 1px solid dodgerblue; padding-left: 5px;"><%= x[:label] %></div>
          <div class="native-font-sm mb b" style="padding-left: 5px"><%= x[:value] %></div>
      </div>
      <% end %>
      </div>
    <% end %>
    <!-- End detailed info -->
  </div>
  <% end %>
  <!-- End submit application -->
</div>




<script>
  function showInfo(id=""){
    let info = document.getElementById('detailed-info-'+id)
    let link = document.getElementById('show-info-'+id)

    if(link.dataset.hide == 'true'){
      link.innerHTML = 'View info';
      info.style.display = 'none';
      link.dataset.hide = "false"
    } else {
      info.style.display = 'block';
      link.innerHTML = 'Hide info';
      link.dataset.hide = "true"
    }
  }
</script>


