<% tt = 'api.v1.assessor_application.qualification' %>
<%= render 'goback' %>
<section class="header-wave" style="background-image: url(<%= asset_path('native/blue_wave.svg') %>); width: 100%; background-size: cover; ">
  <div class="header">
    <div class="native-font-lg"><%= @header %></div>
  </div>
</section>

<div class="main-content-wrapper">
  <div class="pa native-font-sm mb" style="border: 1px solid dodgerblue; background: white; border-radius: 10px">
    <%= t(tt+'.attention')%> <span class="b"><%= @user.name %></span> <%= t(tt+'.waiting')%>
  </div>
  <%= form_with model: @app, method: :post, url: "/api/v1/assessor_applications/#{@app.id}" do |f| %>
  <div class="mb"><%= t(tt+'.qualified')%></div>
  <div class="native-dib mb">
    <%= f.radio_button "#{params[:role]}_confirmed".to_sym, true %>
    <label for="yes">Yes</label><br>
  </div>
  <div class="native-dib mb">
    <%= f.radio_button "#{params[:role]}_confirmed".to_sym, false %>
    <label for="no">No</label><br>
  </div>

  <div class="mb"><%= t(tt+'.reason')%></div>
  <%= f.text_area "#{params[:role]}_reason".to_sym, class: "native-textarea"  %>

  <%= f.submit t(tt+'.submit'), class: "btn-primary my", style: "width: 100%; font-size: 1em;" %>
  <% end %>
</div>
<%= render 'native/shared/floating_application' %>
<script>
  var form = document.querySelector('form')
  form.addEventListener('ajax:success', function(){
    window.history.back();
  })
</script>
