<% tt = 'api.v1.assessor_application.training_time' %>
<%= render 'goback' %>
<section class="header-wave" style="background-image: url(<%= asset_path('native/blue_wave.svg') %>); width: 100%; background-size: cover; ">
  <div class="header">
    <div class="native-font-lg">Assessor Training Record</div>
  </div>
</section>

<div class="main-content-wrapper">
  <div>When would you like to schedule training date?</div>
  <% form_with model: @app, method: :post, url: "/api/v1/members/assessor_application/#{@app.id}" do |form| %>
  <!-- form.object.trained_at -->
  <input type="date" class="native-date my" value="">
  <button class="btn-primary my" style="width: 100%; font-size: 1em">Submit date</button>
  <% end %>
</div>
<%= render 'native/shared/floating_application' %>
