<% tt = 'api.v1.assessor_application.validator' %>
<%= render 'goback' %>
<section class="header-wave" style="background-image: url(<%= asset_path('native/blue_wave.svg') %>); width: 100%; background-size: cover; ">
  <div class="header">
    <div class="native-font-lg">On Site Validation</div>
  </div>
</section>


<div class="main-content-wrapper">
  <div class="native-font-sm mb"><%= t(tt+'.onsite')%></div>
  <!-- Start assessment card -->
  <div class="border-blue" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px"  onclick="selectAssessment()">
    <div class="mb native-font-sm"><span class="b">William  Ma</span> 2019-10-12</div>

    <div class="native-flex native-items-start">
      <div style="width: 25%; background-color: #FCF3E5; border-radius: 4px; margin-right: 15px; text-align: center; padding-top: 10px;">
        <div class="native-font-xs" style="padding-bottom: 10px; border-bottom: 1px dashed #008EEF;">Jun</div>
        <div style="background-color: #FCF3E5; text-align: center; font-weight: bold; padding: 10px 20px; margin-bottom: 10px;">
          <div style="background-color: white; padding: 10px 10px; border-radius:2px;">10</div>
        </div>
      </div>
      <div class="native-font-sm" style="max-width: 70%;">
        <div class="b mb-10">Gemba</div>
        <div class="mb-10">Young Sporting Goods (Suzhou) Co.</div>
        <div class="mb-10">Result: <span class="b">E</span></div>
        <div class="mb-10">Completed on <span class="b">2020-03-08</span></div>
      </div>
    </div>
  </div>
  <!-- End assessment card -->

  <div class="native-font-sm mb"><%= t(tt+'.validated')%></div>
  <div class="mb native-font-sm" style="position: relative">
    <select id="options" name="options" class="native-select">
      <option value="" disabled selected><%= t(tt+'.select')%></option>
      <option value="">Validates</option>
      <option value="">Partially validated, but it needs improvement</option>
      <option value="">Does not validate</option>
    </select>
    <div style="position: absolute; bottom: 5px; right: 5px; pointer: none; padding: 5px;">
       <svg style="height: 15px; width: 15px; fill-color: black;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
    </div>
  </div>

  <div class="native-font-sm mb"><%= t(tt+'.validated')%></div>
  <textarea name="reason" id="" class="native-textarea" placeholder="<%= t(tt+'.reason_placeholder')%>"></textarea>

  <button class="btn-primary my" style="width: 100%; font-size: 1em"><%= t(tt+'.submit')%></button>
</div>
<%= render 'native/shared/floating_application' %>
