<%= render 'goback' %>

<div class="main-content-wrapper">
  <div class="native-font-lg mb">Schedule CAP Followup</div>

  <article class="native-notice pa">
    <div class="native-flex native-items-start">
      <%= image_tag 'info.svg', width: '45px', class: 'mr' %>
      <div class="native-font-sm" style="flex: 1; line-height: 1.2">
        User can schedule self or request a PL/PTM/OPM to assisst
      </div>
    </div>
  </article>

  <%= form_with model: CapFollowup.new, url: api_v1_cap_followups_path(cap_id: @cap.id) do |f| %>
  <div class="native-font-sm">Select a date</div>
  <input type="date" name="cap[followup_date]" class="native-input">

    <input type="hidden" name="cap_id" value="<%= @cap.id %>">

  <div class="native-font-sm">Invite an assessor(to attend Gemba with me)/set my name</div>

  <%= select_tag "invited_assessors", options_for_select(AssessorProfile.source_list.map{|x| [x[:name], x[:id].to_s]}, {selected: []}),{multiple: true, placeholder: "Search Assessor by Name"} %>

  <div class="native-font-sm">If the assessor is you, please leave the field above empty.</div>

  <button class="btn-primary my" style="width: 100%; font-size: 1em">Submit</button>
<% end %>
</div>

<script>
  var plSelect = new Choices('[name="invited_assessors[]"]',{
    removeItemButton: true,
    classNames: {
      inputCloned: 'no-shadow',
      searchPlaceholderValue: 'Type the Assessor or Decathlon Staff Member\'s Name',
      PlaceholderValue: 'Type the Assessor or Decathlon Staff Member\'s Name',
      placeholder: true

    }
  });
  var form = document.querySelector('form')
  form.addEventListener('ajax:success', function(){
    Turbolinks.visit("/native/done?text=<%= CGI.escape('Followup Completed!') %>")
  })
</script>
