<% tt = 'api.v1.custom_data.data.cap_followup' %>
<%= render 'goback' %>

<div class="main-content-wrapper">
  <div class="native-font-lg mb"><%= @h[:cap][:supplier][:name] %></div>
  <div class="native-font-sm b" style="text-align:center"><%= @h[:cap][:ref_name] %> (<%= @h[:cap][:ref_date] %>)</div>

  <div class="my native-flex native-items-center">
    <div class="progress-bar" style="margin-right: 8px; position: relative; width: 90%; height: 1.5em; background-color: #eee; border: 1px solid #ccc; ">
        <div style="width: <%= @h[:perc] %>%; height: 1.5em; background-color: forestgreen"></div>
    </div>
    <div class="native-font-sm"><%= @h[:perc] %>%</div>
  </div>

  <% @h[:points].each_with_index do |pt, i| %>
    <div id="accordian-basic">
      <div id="head" class="pa" style="background-color: lightgray" onclick="toggleAccordian(this.parentElement)">
        <div class="native-flex native-justify-between native-items-center">
          <div class="native-font-sm native-flex native-justify-between" style="width: 80%">
            <div><%= t(tt+'.section')%>: <span class="b"><%= pt[:section] %></span></div>
            <div><%= t(tt+'.level')%>: <span class="b"><%= pt[:level] %></span></div>
            <div><%= t(tt+'.result')%>:
              <% if pt[:resolved_at]  %>
              <span class="b" style="color: green;">✓</span>
              <% elsif pt[:resolved_at].nil? %>
              <span class="b" style="color: darkred;">✖︎</span>
              <% else %>
              <span class="b" style="color: yellow;">!</span>
              <% end %>
            </div>
          </div>
          <div id="direction">▼</div>
        </div>
      </div>
      <div class="pa accordian-body" style="background-color: darkgray; display: none;">
        <div class="native-flex native-justify-between native-items-center">
          <div class="native-font-sm" ><%= t(tt+'.resolutions')%>: <span class="b"><%= pt[:resolutions].count %></span></div>
            <% url = "/native/cap/form?model=quality_assessment&id=#{@qa.id}&index=#{i}" unless params[:followup] %>
            <% url = "/native/cap/followup?model=quality_assessment&id=#{@qa.id}&index=#{i}" if params[:followup] %>
            <%= link_to "Go →", url, class: "btn-primary-blue native-font-sm", style: "color: white;"%>
        </div>
      </div>
    </div>
  <% end %>
  <% if @h[:can_schedule] %>
  <%= link_to "/native/cap/followup_invite?qa_id=#{@qa.id}&model=quality_assessment" do %>
  <button class="btn-primary my" style="width: 100%;"><%= t(tt+'.schedule_followup')%></button>
  <% end %>
  <% end %>
</div>


<script>
function toggleAccordian(cont){
  var b = cont.querySelector('.accordian-body');
  var direction = cont.querySelector('#direction');
  b.style.display == 'none' ? b.style.display = "block" : b.style.display = "none"
  b.style.display == 'none' ? direction.innerHTML = "▼" : direction.innerHTML = "▲"
}
</script>
