<% tt = 'api.v1.custom_data.data.cap_followup' %>
<%= render 'goback' %>

<div class="main-content-wrapper">
  <div class="native-font-lg mb-10">CAP</div>
  <div class="native-font-md mb-5"><%= @supplier.name %></div>
  <div class="native-font-md mb-5"><%= @active_index + 1 %>/<%= @points.count %> CAP Points Completed</div>
  <div class="native-font-md mb"><%= @ref.grid.humanize %> (<%= @ref.assess_date.strftime("%F") %>)</div>

  <div class="wv-divider my native-font-sm">
    <div class="wv-divider-text"><%= t(tt+'.status')%></div>
    <div class="wv-divider-line"></div>
  </div>

  <!-- Start card -->
  <% cq =  @active_point[:ref]%>
  <div class="native-font-md mb">Section: <%= @active_point[:section] %></div>
  <div class="my border-purple native-font-sm" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px">
    <div><%= t(tt+'.cap_card.requirement')%></div>
    <div class="native-share-content"><%= @active_point[:requirement] %></div>
    <div><%= t(tt+'.cap_card.strong_points')%></div>
    <div class="native-share-content"><%= cq.strong_points %></div>
    <div><%= t(tt+'.cap_card.strong_points_images')%></div>
    <div class="native-share-content">
      <div class="native-flex native-flex-wrap">
        <% cq.strong_points_images.each do |img| %>
        <div class="native-thumbnail mr mb" style="background-image: url(<%= img %>); background-size: cover; background-position: center" onclick="openImage()"></div>
        <% end %>
        <!-- if no images -->
        <!-- <div class="native-flex native-justify-center my">No images uploaded</div> -->
      </div>
    </div>
    <div><%= t(tt+'.cap_card.points_to_improve')%></div>
    <div class="native-share-content"><%= cq.points_to_improve %></div>
    <div><%= t(tt+'.cap_card.points_to_improve_images')%></div>
    <div class="native-share-content">
      <div class="native-flex native-flex-wrap">
        <% cq.points_to_improve_images.each do |img| %>
          <div class="native-thumbnail mr mb" style="background-image: url(<%= img %>); background-size: cover; background-position: center" onclick="openImage()"></div>
        <% end %>

        <!-- if no images -->
        <!-- <div class="native-flex native-justify-center my">No images uploaded</div> -->
      </div>
    </div>
  </div>
  <!-- End Card -->

<% cap_index = @cap_index %>
<% cp = @qa.cap_points[cap_index] %>

  <div class="wv-divider my native-font-sm">
    <div class="wv-divider-text"><%= t(tt+'.root_cause')%></div>
    <div class="wv-divider-line"></div>
  </div>
  <%= form_with(model: cp, method: :post, url:api_v1_data_update_path(name: "cap_points", id: cp.id)) do |f| %>
  <div class="mb"><span class="native-dib" style="vertical-align: middle"><%= t(tt+'.root_cause_for_non_conformity')%></span></div>
  <%= f.text_area :root_cause_nc, class: "native-textarea",onfinish:"autoClickForm(event.target.form);", rows: 4, id: "root_cause_nc" %>

  <div class="mb"><span class="native-dib" style="vertical-align: middle"><%= t(tt+'.root_cause_for_non_detection')%></span></div>
  <%= f.text_area :root_cause_nd, class: "native-textarea",onfinish:"autoClickForm(event.target.form);", id: "root_cause_nd", rows: 4 %>
  <%= f.submit "Save Point", style: "display: none;" %>
  <% end %>
  <div class="wv-divider my native-font-sm">
    <div class="wv-divider-text"><%= t(tt+'.resolutions')%></div>
    <div class="wv-divider-line"></div>
  </div>

  <div class="native-flex native-justify-end mb-10">
  <button class="btn-primary-blue" style="color: white" onclick="newResForm()">New +</button>
  </div>


  <table class="border-purple" style="width: 100%;">
    <thead class="native-font-sm" style="background: #A241C8 !important; color: white;">
      <tr>
        <th class="py-10" style="padding-left: 8px; text-align: left; width: 60%; background: #A241C8 !important;"><%= t(tt+'.action')%></th>
        <th class="py-10" style="padding-left: 8px; text-align: left; width: 40%;"><%= t(tt+'.details')%></th>
      </tr>
    </thead>
    <tbody>

      <% @active_point[:resolutions].each do |res|%>
      <tr class="native-font-sm" style="background: white; border-top: 1px solid #A241C8;">
        <td style="padding:8px"><%= res[:action_type] %> DDL: <%= res[:deadline_date] %><br><br><%= res[:action] %></td>
        <td style="padding:8px; border-left: 1px solid #A241C8"><%= t(tt+'.responsible')%>:<br><%= res[:responsible] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

    <!-- Resolutions Table -->
  <% if params[:res_id] %>
    <% res = CapResolution.find(params[:res_id]) %>
    <% txt = "Edit" %>
    <% hide = false %>
    <% url = api_v1_data_update_path(name: "cap_resolutions", id: params[:res_id]) %>
  <% else %>
    <% res = CapResolution.new %>
    <% txt = "Add new" %>
    <% url = api_v1_data_create_path(name: "cap_resolutions") %>
    <% hide = true %>
    <% hide = false if params[:show_new] %>
  <% end %>



  <div id="new_res" class="my" style="<%= 'display: none;' if hide %>">

    <div class="native-font-md"><%= txt %> resolution</div>
    <div style="border-radius: 5px; border: 1px solid #C6C0C0; padding: 10px;">
      <%= form_with(model: res, method: :post, id: "newResolution", url: url) do |f| %>
        <%= f.hidden_field :cap_point_id, value: cp.id %>
        <div>
          <%= label_tag(:action_type, "Select Action Type") %>
        </div>
        <div style="margin-bottom: 15px">
          <%= f.select(:action_type, options_for_select(["Immediate Action", "Corrective Action", "Preventive Action"]),{}, {class: 'native-select'})  %>
        </div>
        <div>
          <%= label_tag(:action, "Action") %>
        </div>

        <div style="margin-bottom: 15px">
          <%= f.text_area :action, style: "width: 90%; height: 5rem;", id: "action" %>
        </div>

        <div style="margin-bottom: 15px">
          <%= label_tag(:responsible, "Who is responsible for this resolution?") %>
        </div>
        <div style="margin-bottom: 15px">
          <%= f.text_field :responsible %>
        </div>

        <div>
          <%= label_tag(:deadline_date, "Deadline Date") %>
        </div>
        <div style="margin-bottom: 15px">
          <%= f.date_select :deadline_date  %>
        </div>

        <%= f.submit "Submit", class: "btn-md w-50", style: "line-height: 1; box-shadow: none; display: inline-block; margin-top: 15px;" %>
      <% end %>
    </div>
  </div>

  <% unless @qa.cap_points[cap_index+1].nil? %>
    <% next_url = "?index=#{cap_index+1}&model=quality_assessment&id=#{params[:id]}" %>
    <% text = "Next CAP Point" %>
  <% end %>

  <div class="my text-center" >
    <% unless cap_index == 0 %>
    <% last_url = "?index=#{cap_index - 1}&model=quality_assessment&id=#{params[:id]}" %>
    <%= link_to last_url, class: 'no-underline text-center' do %>
      <div class="btn-primary" style='width: 100%' onclick="postCapPointData('caps', true, 'completed', '<%= cp.cap_id %>');">Last CAP Point</div>
    <% end %>
    <% end %>
    <% if text %>
    <%= link_to next_url, class: 'no-underline' do %>
      <div class="btn-primary" style='width: 100%' onclick="postCapPointData('caps', true, 'completed', '<%= cp.cap_id %>');"><%= text %></div>
    <% end %>
    <% end %>
  </div>
</div>

  <!-- Finish CAP -->

<!-- end -->


<script>
  function addNew(){
    var form = document.getElementById('new_res')
    form.style.display = "none" ? form.style.display = 'block' : form.style.display = 'none'
  }

  function newResForm(){
    document.getElementById('new_res').style.display = "block"
  }

  document.getElementById('newResolution').addEventListener('ajax:success', function(evt){
    location.reload();
  })
</script>
