<% tt = 'api.v1.custom_data.data.cap_followup' %>
<%= render 'goback' %>

<div class="main-content-wrapper">
  <div class="native-font-lg b mb">Follow up: <%= t(tt+'.date')%><br><span>2020-03-03</span></div>

  <div class="wv-divider my native-font-sm">
    <div class="wv-divider-text"><%= t(tt+'.status')%></div>
    <div class="wv-divider-line"></div>
  </div>

  <% cq =  @active_point[:ref]%>
  <div class="native-font-md mb">Section: <%= @active_point[:section] %></div>
  <div class="my border-purple native-font-sm" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px">
    <div><%= t(tt+'.cap_card.requirement')%></div>
    <div class="native-share-content"><%= @active_point[:requirement] %></div>
    <div><%= t(tt+'.cap_card.strong_points')%></div>
    <div class="native-share-content"><%= cq.strong_points %></div>
    <div><%= t(tt+'.cap_card.strong_points_images')%></div>
    <div class="native-share-content">
      <div class="native-flex native-flex-wrap">
        <% cq.strong_points_images.each do |img| %>
        <div class="native-thumbnail mr mb" style="background-image: url(<%= img %>); background-size: cover; background-position: center" onclick="openImage()"></div>
        <% end %>
        <!-- if no images -->
        <!-- <div class="native-flex native-justify-center my">No images uploaded</div> -->
      </div>
    </div>
    <div><%= t(tt+'.cap_card.points_to_improve')%></div>
    <div class="native-share-content"><%= cq.points_to_improve %></div>
    <div><%= t(tt+'.cap_card.points_to_improve_images')%></div>
    <div class="native-share-content">
      <div class="native-flex native-flex-wrap">
        <% cq.points_to_improve_images.each do |img| %>
          <div class="native-thumbnail mr mb" style="background-image: url(<%= img %>); background-size: cover; background-position: center" onclick="openImage()"></div>
        <% end %>

        <!-- if no images -->
        <!-- <div class="native-flex native-justify-center my">No images uploaded</div> -->
      </div>
    </div>
  </div>

  <div class="wv-divider my native-font-sm">
    <div class="wv-divider-text"><%= t(tt+'.root_cause')%></div>
    <div class="wv-divider-line"></div>
  </div>


  <div class="border-blue native-font-sm" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px">
    <div><%= t(tt+'.root_cause_for_non_conformity')%></div>
    <div class="native-share-content"><%= @active_point[:root_cause_nc] %></div>
    <div><%= t(tt+'.root_cause_for_non_detection')%></div>
    <div class="native-share-content"><%= @active_point[:root_cause_nd] %></div>
  </div>


  <div class="wv-divider my native-font-sm">
    <div class="wv-divider-text">Resolution</div>
    <div class="wv-divider-line"></div>
  </div>
  <% @active_point[:resolutions].each do |res| %>
  <div class="border-blue native-font-sm" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px">
    <div class="mb"><%= t(tt+'.action_type')%>: <span class="b"><%= res[:action_type] %></span></div>
    <div class="mb"><%= t(tt+'.action')%>: <span class="b"><%= res[:action] %></span></div>
    <div class="mb"><%= t(tt+'.deadline_date')%>: <span class="b"><%= res[:deadline_date] %></span></div>
    <div><%= t(tt+'.responsible')%>: <span class="b"><%= res[:responsible] %></span></div>
  </div>
  <% end %>

  <div class="b mb native-font-sm"><%= t(tt+'.followup')%></div>

  <%= form_with model: @cap_followup, url: api_v1_data_update_path(name: 'cap_followups', id: @cap_followup.id) do |f|  %>
    <div class="native-font-sm mb"><%= t(tt+'.result_label')%></div>


    <%= f.radio_button :result, "OK", class: "native-font-sm"  %>

    <label for="ok">OK</label><br>
    <%= f.radio_button :result, "NOK", class: "native-font-sm"  %>
    <label for="nok">NOK</label><br>

    <div class="native-font-sm mt mb"><%= t(tt+'.comments')%></div>
    <%= f.text_area :notes, class: "native-textarea", rows: 4 %>


    <%= f.submit "Submit", class: "btn-primary my", style: "width: 100%; font-size: 1em" %>
  <% end %>
</div>
