<%= render 'goback' %>

<div class="main-content-wrapper">
  <div style="height: 0.5em;"></div>
  <!-- start card -->
  <% @cps.each do |cp| %>
    <!-- Card Start -->
      <%= render 'cp_index_card', cp: cp %>
  <% end %>
  <!-- end card -->
</div>


<script>
  function deleteCp(id){
    fetch(`/api/v1/control_plans/${id}`, {method: "DELETE"}).then(function(res){
      res.json().then(function(data){
        window.location = window.location.href;
      })
    })
  }
</script>
