<% tt = 'api.v1.control_plan.findings' %>
<%= render 'goback' %>

<div class="main-content-wrapper">
  <!-- Start Header -->
  <div class="native-font-lg b mb"><%= t(tt+'.title')%></div>
  <%= link_to t(tt+'.report'), cp_report_path(cp_id: @cp.id), class: 'btn-primary db', style: "font-size: 1em; width: 100%; display: block; text-align: center;"%>
 <!-- End Header -->
 <section class="my">
  <!-- Start findings card -->
  <% @plan_items.each do |pi| %>
  <article class="border-purple native-font-sm" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px">
    <div class="native-flex native-justify-between native-items-center mb">
      <div>
        <div><%= t(tt+'.findings_card.step_no')%></div>
        <div class="b"><%= pi.process_step.step_number %></div>
      </div>
      <div>
        <div><%= t(tt+'.findings_card.completed')%></div>
        <div class="b"><%= pi.updated_at.strftime("%Y-%m-%d") %></div>
      </div>
      <div>
        <div><%= t(tt+'.findings_card.result')%></div>
        <div class="b"><%= pi.result %></div>
      </div>
    </div>
    <div><%= t(tt+'.findings_card.product')%></div>
    <div class="native-content" style="width: inherit;"><%= pi.control_plan.product_family.name %></div>
    <div><%= t(tt+'.findings_card.supplier')%></div>
    <div class="native-content" style="width: inherit;"><%= pi.control_plan.product_family.supplier_profile.name %></div>
    <div><%= t(tt+'.findings_card.findings')%></div>
    <div class="native-content" style="width: inherit;"><%= pi.findings || 'N/A' %></div>
    <div><%= t(tt+'.findings_card.immediate_actions')%></div>
    <div class="native-content" style="width: inherit;"><%= pi.findings_process || 'N/A' %></div>
  </article>
  <% end %>
  <!-- End findings card -->
 </section>
</div>
<%= render 'native/shared/floating' %>
