<% tt = 'api.v1.control_plan.history' %>
<%= render 'goback' %>

<div class="main-content-wrapper">
  <div class="native-font-lg b mb-10"><%= t(tt+'.title')%></div>
  <div class="native-font-sm b mb-10"><%= @product_family.name %></div>
  <div class="native-font-sm b mb-10"><%= @supplier.name %></div>

  <% days = [] %>
  <% @history_set.each do |h| %>
    <% unless days.include?(h[:date]) %>
    <div class="wv-divider my">
      <div class="wv-divider-text native-font-sm"><%= h[:date] %></div>
      <div class="wv-divider-line"></div>
    </div>
    <% days << h[:date] %>
    <% end %>

  <!-- start change history card -->
  <%= render 'history_card', h: h %>
  <!-- end change history card end -->
  <% end %>
</div>


<%= render '/native/shared/floating' %>
