<% tt = 'api.v1.control_plan.index' %>

<section class="header-wave" style="background-image: url(<%= asset_path('native/purple_wave.svg') %>); width: 100%; background-size: cover;">
  <div class="header">
    <div class="mr" style="background-image: url(<%= asset_path('cp_logo.jpg') %>); min-width: 91px; height: 57px; border-radius: 10px; background-size: contain;"></div>
    <div>"Master your process, you will master your product"</div>
  </div>
  <%= link_to cp_schedule_path, class: 'btn-primary header-button' do %>
    Schedule CP →
  <% end %>
</section>
<div class="main-content-wrapper">
  <div class="my">
    <div class="native-label"><%= t(tt+'.search_by')%></div>
    <%= link_to cp_search_path do %>
    <input type="text" class="native-input border-purple" disabled style="background: white" onclick="toSearchSupplierProducts()" placeholder="Let's search!" />
    <% end %>
  </div>
  <div class="my">
    <p class="b native-font-sm"><%= t(tt+'.future_cp')%></p>
    <% if @control_plans.count < 1 %>
      <p class="b my"style="text-align: center"><%= t(tt+'.nothing')%></p>
    <% end %>
    <% @control_plans.each do |cp| %>
    <!-- Card Start -->
      <%= render 'cp_index_card', cp: cp %>
    <% end %>
  <!-- Card End -->
  </div>
</div>

<script>
  function toScheduleReview(){

  }

  function toSearchSupplierProducts(){

  }

  function toCp(){

  }

  function deleteCp(id){
    fetch(`/api/v1/control_plans/${id}`, {method: "DELETE"}).then(function(res){
      res.json().then(function(data){
        window.location = window.location.href;
      })
    })
  }
</script>
