<% tt = 'api.v1.control_plan.kpi' %>
<%= render 'goback' %>

<div class="main-content-wrapper">
  <!-- Start Header -->
  <div class="native-font-lg b mb"><%= t(tt+'.title')%></div>
  <!-- End Header -->

  <div class="my native-font-sm">
  <!-- Start select form -->
    <%= form_with model: KpiTrack.new, url:"", method: :get, local: true do |f| %>
    <div class="mb-10"><%= t(tt+'.select_kpi')%></div>
    <div class="mb" style="position: relative">
      <%= f.hidden_field :product_id, value: params[:product_id], name: :product_id %>
      <%= f.select :kpi, options_for_select(KpiTrack::OPTIONS, params[:kpi]), {}, {onchange: "autoClickForm(event.target.form);", name: :kpi, class: "native-select"} %>

      <div style="position: absolute; bottom: 5px; right: 5px; pointer: none; padding: 5px;">
         <svg style="height: 15px; width: 15px; fill-color: black;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
      </div>
    </div>
    <div class="mb-10"><%= t(tt+".explainers.#{params[:kpi]}") %></div>
    <%= f.submit "submit", style: "display: none;" %>
    <% end %>
    <div class="mb-10"><%= t(tt+'.select_freq')%></div>
    <div class="mb" style="position: relative">
      <select id="frequencyIndex" name="frequencyIndex" class="native-select" onchange="">
        <option value="">Weekly</option>
        <option value="">Biweekly</option>
      </select>
      <div style="position: absolute; bottom: 5px; right: 5px; pointer: none; padding: 5px;">
         <svg style="height: 15px; width: 15px; fill-color: black;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
      </div>
    </div>
  <!-- End select form -->
    <div class="wv-divider my">
      <div class="wv-divider-text"><%= t(tt+'.kpi_rate')%></div>
      <div class="wv-divider-line"></div>
    </div>
  <!-- start kpi rate form -->
    <div class="mb-10"><%= t(tt+'.input_rate')%></div>
    <input type="text" class="native-input">
    <button class="btn-primary my" style="font-size: 1.1em; width: 100%" onclick=""><%= t(tt+'.submit_kpi')%></button>
  <!-- end kpi rate form -->
    <div class="wv-divider my">
      <div class="wv-divider-text"><%= t(tt+'.kpi_history')%></div>
      <div class="wv-divider-line"></div>
    </div>
  <!-- start table -->
    <table class="border-purple" style="width: 100%;">
      <thead style="background: #A241C8 !important; color: white;">
        <tr>
          <th class="py-10" style="padding-left: 8px; text-align: left; width: 80%; background: #A241C8 !important;"><%= t(tt+'.step')%></th>
          <th class="py-10" style="padding-left: 8px; text-align: left; width: 20%;"><%= t(tt+'.rate')%></th>
        </tr>
      </thead>
      <tbody>
        <% (@h[params[:kpi] || 'Frequency Respect Rate']||[]).each do |h| %>
        <tr style="border-top: 1px solid #A241C8;">
          <td style="padding:8px"><%= h[:col1] %></td>
          <td style="padding:8px; border-left: 1px solid #A241C8"><%= h[:col2] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <!-- end tablee -->
  </div>
</div>
