<script src="/vendor/list.js"></script>
<% tt = 'api.v1.control_plan.list' %>
<%= render 'goback' %>

<div class="main-content-wrapper">
  <div class="native-font-lg b mb-10"><%= t(tt+'.prod_cp_list')%></div>
  <div class="native-font-sm b mb-10"><%= @product_family.name %></div>
  <div class="native-font-sm b mb-10"><%= @supplier.name %></div>
  <%= link_to cp_new_step_path(product_family_id: @product_family.id) do %><button class="btn-primary native-font-sm" style="width: 100%;"><%= t(tt+'.add_process_btn')%>→</button><% end %>

  <div class="wv-divider my">
    <div class="wv-divider-text native-font-sm"><%= t(tt+'.or')%></div>
    <div class="wv-divider-line"></div>
  </div>

  <div id="hacker-list">

    <div class="native-font-sm mb-10" style="text-align: center"><%= t(tt+'.select_process_flow')%></div>
    <!-- Start select process flow -->
    <div class="mb native-font-sm" style="position: relative">
      <select id="frequencyIndex" name="frequencyIndex" class="native-select" onchange="filterCategory(this.value)">
        <option value="">All</option>
        <% @category.each do |cat| %>
        <option value="<%= cat %>"><%= cat %></option>
        <% end %>
      </select>
      <div style="position: absolute; bottom: 5px; right: 5px; pointer: none; padding: 5px;">
         <svg style="height: 15px; width: 15px; fill-color: black;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
      </div>
    </div>
    <!-- End select process flow -->
    <!-- Start steps action -->
    <div class="border-purple" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px">
      <div class="native-flex native-justify-between native-items-center">
        <div style="text-align: center">
          <div class="steps-result" onclick="reset()" style="color: grey; border-color: darkgray;"><%= @counts[:total] %></div>
          <div class="native-font-xs"><%= t(tt+'.steps_available')%></div>
        </div>
        <div style="text-align: center">
          <div class="steps-result" onclick="filterList('reviewed', 'reviewed')" style="color: dodgerblue"><%= @counts[:reviewed] %></div>
          <div class="native-font-xs"><%= t(tt+'.steps_reviewed')%></div>
        </div>
        <div style="text-align: center">
          <div class="steps-result" onclick="filterList('pending', 'reviewed')" style="color:darkred"><%= @counts[:pending] %></div>
          <div class="native-font-xs"><%= t(tt+'.steps_pending')%></div>
        </div>
      </div>
    </div>
    <!-- End steps action -->
    <div class="my native-flex native-justify-around">
      <button class="btn-primary native-font-sm sort"   data-sort="process"><%= t(tt+ '.sort_by_process') %></button>
      <button class="btn-primary native-font-sm sort" data-sort="criticity"><%= t(tt+ '.sort_by_criticity') %></button>
    </div>
    <!-- Start crictcal counts-->
    <div class="border-purple" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px">
      <div class="native-flex native-justify-between native-items-center">
        <div style="text-align: center" onclick="filterCriticity('critical')">
          <div class="steps-result" style="color: grey;"><%= @counts[:critical] %></div>
          <div class="native-font-xs"><%= t(tt+'.critical')%></div>
        </div>
        <div style="text-align: center" onclick="filterCriticity('major')">
          <div class="steps-result" style="color: dodgerblue"><%= @counts[:major] %></div>
          <div class="native-font-xs"><%= t(tt+'.major')%></div>
        </div>
        <div style="text-align: center" onclick="filterCriticity('minor')">
          <div class="steps-result" style="color:darkred"><%= @counts[:minor] %></div>
          <div class="native-font-xs"><%= t(tt+'.minor')%></div>
        </div>
      </div>
    </div>
    <!-- End crictcal counts-->
    <ul class="list">

    <% @steps.each do |step| %>


      <li data-reviewed="<%= step[:reviewed] ? 'reviewed' : 'pending' %>">
      <div class="border-purple" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px">
        <div class="border-purple assess-left" style="color: dodgerblue">Edit</div>
        <div class="border-purple assess-right" style="color: darkred">Delete</div>

        <div class="native-flex native-justify-between native-items-center mt mb-10">
          <div class="lightgrey native-font-xs category"><%= step[:category] %></div>
          <div class="pill white native-font-xs criticity" style="background-color: dodgerblue" ><%= step[:criticity] %></div>
        </div>


        <div class="lightgrey native-font-xs mb-10"><%= t(tt+'.process')%> <span class="b" style="color: black"><%= step[:productProcess] %></span></div>
        <div class="lightgrey native-font-xs mb-10"><%= t(tt+'.step_no')%> <span class="b number" style="color: black"><%= step[:step_number] %></span></div>

        <div class="native-font-xs"><%= t(tt+'.what_is_controlled')%></div>
        <div class="native-share-content native-font-xs"><%= step[:control_item] %></div>

        <div class="native-font-xs"><%= t(tt+'.requirement')%></div>
        <div class="native-share-content native-font-xs"><%= step[:requirement] %></div>

        <div class="native-font-xs"><%= t(tt+'.last_control_review')%></div>
        <div class="native-share-content native-font-xs">
          <div style="color: forestgreen"><%= step[:last_review] %></div>
          <div><span style="color: forestgreen"><%= step[:last_review_result] %></span> - Assessed by <%= step[:last_assessor] %></div>

        </div>

      </div>
      </li>
      <% end %>
    </ul>
  </div>

</div>

<%= render 'native/shared/floating' %>


<script>
var options = {
    valueNames: [ 'process', 'criticity', 'status', 'category', 'number', {data: ['reviewed']}]
};

var listObj = new List('hacker-list', options);

function filterList(item, col){
  if (listObj[col] == item){
    listObj[col] = ""
    listObj.search();
  } else {
    listObj[col] = item;
    listObj.search(item, [col]);
  }
}
function reset(){
  listObj.search();
}
function filterCriticity(crit){filterList(crit, 'criticity')}
function filterCategory(val){
  if (val == ""){
    listObj.search()
  } else {
    listObj.search(val, ['category'])
  }
}
</script>
