<% tt = 'api.v1.control_plan.new_step' %>
<%#= t(tt+'')%>
<%= render 'goback' %>

<div class="main-content-wrapper">
  <div class="native-font-lg b mb-10" style="text-transform: uppercase;"><%= @h[:supplier][:name] %></div>
  <div class="native-font-sm mb-5"><%= @h[:productFamily][:name] %></div>
  <div class="native-font-sm mb-5"><%= t(tt+'.new_product_cp_item')%></div>

  <bigassform class="native-font-sm">

  <%= render 'product_process_form' %>

  <%= render 'process_step_form' %>

  </bigassform>
</div>




<script>
  var pform = document.getElementById('new-form').querySelector('form')

  pform.addEventListener('ajax:success', function(){
    Turbolinks.visit(window.location.href);
  })

  var sform = document.getElementById('step-form').querySelector('form')
  sform.addEventListener('ajax:success', function(){
    <% if params[:key] %>
    window.location = "/native/done?text=<%= CGI.escape('Process Step has been saved.') %>";
    <% else %>
    window.history.back();
    <% end %>
  })


  var activeStepId = null

  function updateOptions(id, key){
    var select = document.getElementById(id)
    select.innerHTML = ''
    processes[key].forEach(function(e){
      var option = document.createElement('option');
      option.value = e.id;
      option.innerText = `${e.number} - ${e.name}`
      select.appendChild(option)
    })
    document.getElementById('new_category').value = key;
    select.onchange()
  }

  function updateSteps(id, key){
    key = parseInt(key)
    activeStepId = key
    console.log(key)
    var select = document.getElementById(id)
    select.innerHTML = ''
    if (steps[key]){
      steps[key].items.forEach(function(e){
        var option = document.createElement('option');
        option.value = `${e.step_number} - ${e.control_item}`;
        option.innerText = `${e.step_number} - ${e.control_item}`
        select.appendChild(option)
      })
      select.onchange();
      document.getElementById('stepForm').className = ""
    } else {
      document.getElementById('stepForm').className = "native-hidden"
    }
  }

  function addNewProcess(){
    var pf = document.getElementById('processflow')
    var n = document.getElementById('new-form')
    var cancel = document.getElementById('cancel-form-2')
    pf.style.display = 'none';
    n.style.display = 'block';
    cancel.addEventListener('click', function(){
      n.style.display = 'none';
      pf.style.display ='block'
    });
  }


  function showStepEditForm(){
    var as = document.getElementById('activestep')
    var edit = document.getElementById('step-edit-form')
    var cancel = document.getElementById('cancel-form-3')
    as.style.display = 'none'
    edit.style.display = 'block'
    cancel.addEventListener('click', function(){
      edit.style.display = 'none';
      as.style.display ='block'
    });
  }

  function syncStep(){
    var cur = document.getElementById('active_step_index').value
    var set = steps[activeStepId].items
    var chosen = set.find(function(e){
      console.log(cur)
      return cur.includes(e.control_item)
    })
    document.getElementById("step-num").value = chosen.step_number
    document.getElementById("control-id").value = chosen.control_item
  }

  function addNewStep(str='new'){
    if (str == 'edit'){ syncStep()}
    else {
      document.getElementById("step-num").value =""
      document.getElementById("control-id").value = ""
    }

    var as = document.getElementById('activestep')
    var n = document.getElementById('step-new-form')
    var cancel = document.getElementById('cancel-form-4')
    as.style.display = 'none'
    n.style.display = 'block'
    cancel.addEventListener('click', function(){
      n.style.display = 'none';
      as.style.display ='block'
    });


  }

  function formUpdate(str, id=null){
    var form = document.getElementById('step_form');
    var base = form.dataset.base;
    if (str == 'update'){
      form.action = `${base}/${id}`;
    } else if (str == 'create'){
      form.action = base;
      form.reset();
    }
  }
  var processes = <%=raw @h[:productProcess].to_json %>;
  //

  var steps = <%=raw @h[:processSteps].to_json %>;
  // {12:  {items: [{pid, step_number, control_item}]}}


</script>
