<% tt = 'api.v1.control_plan.new_product' %>
<%= render 'goback' %>

<div class="main-content-wrapper">
  <div class="native-font-lg b mb-5">Add Product</div>
  <div class="native-font-sm b"><%= @supplier.name %></div>
  <div class="my">
    <%= form_with model: @product_family, method: :post, url: "/api/v1/product_families/#{@product_family.id}" do |f| %>
      <%= f.hidden_field :supplier_profile_id %>
      <div class="native-label"><%= t(tt+'.name')%></div>
      <%= f.text_field :name, class: "native-input border-purple mb" %>
      <div class="native-label"><%= t(tt+'.current_step')%></div>
      <%= f.text_field :current_level, class: "native-input border-purple mb" %>
      <div class="native-label"><%= t(tt+'.target_step')%> <span class="b underline" style="color:dodgerblue" onclick="displayHelp()">?</span></div>
      <%= f.text_field :target_level, class: "native-input border-purple mb" %>
      <div style="margin: 10px 0;">
        <label for="input_text" class="native-font-sm mb"><%= t(tt+'.upload_process_flow')%></label>
        <%= f.label :process_flow_images do %>
        <div class="native-thumbnail native-flex native-justify-center native-items-center my" style="background: white;" data-id="<%= @product_family.id || 0 %>" data-name="process_flow_images">
            <%= f.file_field :process_flow_images, multiple: true, accept: XFile::COMMON, style: "opacity: 0; width: 0px;", direct_upload: true, onchange:"autoClickForm(event.target.form);" %>
          <span class="native-font-lg" style="margin-left: -0.3em;">+</span>
        </div>
        <% end %>
      </div>
      <% @product_family.process_flow_images.each_with_index do |x, i| %>
      <% album = @product_family.process_flow_images.map{|x| rails_blob_path(x)} %>
        <div style="position: relative; display: inline-block; width: 100px; height: 100px; margin: 1em 1em 1em 0;">
          <a class="bg-blue white b id-<%= @product_family.id %>" style="border-bottom: 1px solid rgba(183, 221, 247, 1.00); line-height: 1.2; position: absolute; top: -9px; right: -9px; border-radius: 50%; width: 15px; height: 15px; padding: 3px; font-size: 0.6em; text-align: center;" data-index="<%= i %>" onclick="deleteImage(this, 'product_families', 'process_flow_images', <%= @product_family.id %>, this.dataset.index)" >✖︎</a>
          <img src="<%= rails_blob_path(x) %>" alt="" height="100px" width="100px" style="object-fit: cover;" onclick="launchLightbox(this)" data-id="<%= @product_family.id %>-i<%= i %>" data-album="<%= album.join(':::') %>">
        </div>
      <% end %>
      <button class="btn-primary my" style="font-size: 1em; width: 100%;"><%= t(tt+'.save_product')%> →</button>
    <% end %>
  </div>
</div>

<div id="targethelp" style="display: none; position: absolute; top: -20px; right: 0; bottom: 0; left: 0; background-color: rgba(255,255,255, 0.2)">
  <div style="height: 100vh;">
    <div class="native-flex native-justify-center native-items-center" style="position: relative">
      <img src="https://assessgo.blob.core.chinacloudapi.cn/data/14511554816053_.pic_hd.jpg" alt="">
      <div style="position: fixed; top: 15px; right: 10px">
        <div id="close-help" class="native-flex native-justify-center native-items-center b" onclick="closeHelp()" style="border-radius: 50%; width: 2em; height: 2em; background-color: dodgerblue; color: white;">X</div>
      </div>
    </div>
  </div>
</div>


<script>



function displayHelp(){
  var help = document.getElementById('targethelp')
  var close = document.getElementById('close-help')
  help.style.display = 'block'
  close.addEventListener('click', event => {
    help.style.display = 'none'
  })
}

function launchLightbox(e) {

    var album = e.getAttribute("data-album")
    var body = document.querySelector('body')
    var div = document.createElement('div')
    var id = e.getAttribute("data-id")
    div.id = id
    body.appendChild(div)
    console.log(id, 'here')
    console.log(e)
    // console.log(album, '---------------------')
    var res = album.split(":::").map(function(x){return {"src": x , "thumb": x, "subHtml": ''}})
    console.log(res)
    // console.log(res)
    var active = document.getElementById(id)

    lightGallery(active, {
        dynamic: true,
        dynamicEl: res,
        download: false
    })
}
var form = document.querySelector('form')
  form.addEventListener('ajax:success', function(){
    <% if params[:key] %>
    window.location = "/native/done?text=<%= CGI.escape('Product has been successfully updated.') %>";
    <% else %>
    window.history.back();
    <% end %>
  })
</script>
