<% tt = 'api.v1.control_plan.product' %>
<%= render 'goback' %>

<div class="main-content-wrapper">
  <!-- start header -->
  <div class="native-font-lg b mb"><%= @supplier.name%></div>

  <!-- end header -->
  <!-- card start -->
  <%= render 'product_show_card', pf: @product_family %>
  <!-- card end -->
  <!-- active links -->
  <div class="native-flex native-items-center native-justify-between mb">
    <div class="native-font-sm b"><%= t(tt+'.change_history')%></div>
    <% if @h[:recentUpdates].length > 0 %>
    <button class="btn-primary-blue native-font-xs" style="color: white" onclick="goHistory(<%= @product_family.id %>)"><%= t(tt+'.view_change_btn')%></button>
    <% end %>
  </div>
  <div class="native-flex native-items-center native-justify-between mb">
    <div class="native-font-sm b"><%= t(tt+'.cp_history')%></div>
    <% if @h[:recentUpdates].length > 0 %>
    <button class="btn-primary-blue native-font-xs" style="color: white" onclick="goCPHistory(<%= @product_family.id %>)"><%= t(tt+'.view_cp_history_btn')%></button>
    <% end %>
  </div>
  <!-- active links -->
  <!-- start recent updates -->
  <% if @h[:recentUpdates].length > 0 %>
  <div class="bg-lightgray pa mb">
    <% @h[:recentUpdates].each_with_index do |item, index| %>
      <% if @h[:recentUpdates][index - 1][:date] != item[:date] %>
        <div class="b native-font-sm mb-10"><%= item[:date]%></div>
      <% end %>
        <div><span class="b"><%= item[:event] %>:</span>  <%= item[:abbr_name] %></div>
    <% end %>
  </div>
  <% else %>
  <div class="my"><%= t(tt+'.update_na')%></div>
  <% end %>
  <!-- end recent updates -->
  <!-- supplier flow images -->
  <div class="b mb native-font-sm"><%= t(tt+'.supplier_process_flow')%></div>
  <div class="native-flex native-flex-wrap">
    <% @h[:productFamily][:images].each_with_index do |img, index|%>
    <div class="native-thumbnail mr mb-10" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= img %>');">
      <!-- <button class="native-delete-thumbnail">X</button> -->
    </div>
    <% end %>

  </div>
  <!-- end supplier flow images -->
  <!-- production control plan -->
  <div class="native-flex native-items-center native-justify-between mb">
    <div class="b native-font-sm"><%= t(tt+'.prod_cp')%></div>
    <%= link_to cp_list_path(id: @product_family.id) do %>
    <button class="btn-primary-blue native-font-xs" style="color: white" onclick="goSteps()"><%= t(tt+'.view_edit_btn')%></button>
    <% end %>
  </div>

  <div class="border-purple" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px">
    <div class="native-flex native-items-center native-justify-between">
      <div>
        <div class="steps-result" style="color: gray"><%= @h[:pcpSteps][:available] %></div>
        <div class="native-font-sm">Steps Available</div>
      </div>
      <div>
        <div class="steps-result" style="color: dodgerblue"><%= @h[:pcpSteps][:reviewed] %></div>
        <div class="native-font-sm">Steps Reviewed</div>
      </div>
      <div>
        <div class="steps-result" style="color: darkred"><%= @h[:pcpSteps][:pending] %></div>
        <div class="native-font-sm">Steps Pending</div>
      </div>
    </div>
  </div>
  <!-- end production control plan -->
  <!-- start schedule review -->
  <div class="native-flex native-items-center native-justify-between mb">
    <div class="b native-font-sm"><%= t(tt+'.schedule_review')%></div>
    <button onclick="goSchedule()" class="btn-primary-blue native-font-xs" style="color: white"><%= t(tt+'.schedule_date_btn')%></button>
  </div>
  <% if @h[:scheduleReview].present?%>
    <%= render "schedule_cp_card", c: @h[:scheduleReview] %>
  <% else %>
    <div class="tc my"><%= t(tt+'.no_schedule')%></div>
  <% end %>
  <!-- end schedule review -->
  <!-- start kpi -->
  <!-- <div class="native-flex native-items-center native-justify-between mb">
    <div class="b native-font-sm"><%= t(tt+'.kpi_rate')%></div>
    <button class="btn-primary-blue native-font-xs" style="color: white" onclick="goKpi()"><%= t(tt+'.view_kpi_btn')%></button>
  </div> -->
  <%#= render 'kpi_card', c: @h[:kpiCard]  %>
  <!-- end kpi -->
</div>
<%= render 'native/shared/floating' %>
<script>
  function goHistory(id){
    Turbolinks.visit(`<%= cp_history_path(product_id: @product_family.id) %>`)
  }
  function goCPHistory(id){
    Turbolinks.visit(`<%= cp_cphistory_path(product_family_id: @product_family.id) %>`)
  }
  function goSchedule(id){
    Turbolinks.visit(`<%= cp_schedule_path(id: @product_family.id) %>`)
  }
</script>
