<% tt = 'api.v1.control_plan.product_list' %>
<%= render 'goback' %>

<div class="main-content-wrapper">
  <div class="native-font-lg b mb"><%= @supplier.name %></div>
  <div class="native-flex native-justify-end">
    <%= link_to cp_new_product_path(id: @supplier.id), class: 'btn-primary mb' do %>
    Add Product
    <% end %>
  </div>
  <% if @productFamilies.count < 1 %>
    <p style="text-align: center;" class="b my"><%= t(tt+'.no_product')%></p>
  <% end %>
  <section class="my">
    <% @productFamilies.each do |c| %>
    <!-- Start Card -->
    <%= render 'product_card', search: false, c: c %>
    <% end %>
    <!-- End Card -->
  </section>
</div>


<script>
  function toProductEdit(){

  }

  function deleteProduct(id){
    fetch(`/api/v1/product_families/${id}`, {method: "DELETE"}).then(function(res){
      res.json().then(function(data){
        window.location = window.location.href;
      })
    })
  }

</script>
