<% tt = 'api.v1.control_plan.review' %>
<%= render 'goback' %>
<div class="main-content-wrapper">
  <!-- Start Header -->
  <div class="native-font-lg b mb"><%= @supplier.name %></div>
  <div class="native-font-sm mb"><%= t(tt+'.product')%>: <span class="b"><%= @product_family.name %></span></div>
  <div class="native-font-sm"><%= t(tt+'.cp_monitor')%></div>
 <!-- End Header -->

  <section class="my">
    <!-- Start control plan detail -->
      <%= render 'step_detail_card', tt: tt %>
    <!-- End control plan detail -->

    <!-- Form if not review -->
      <%= render 'review_edit_form', tt: tt %>
    <!-- End form if not review -->

      <div class="native-hidden">
    <!-- If review -->
        <%= render 'review_edit_details', tt: tt %>
    <!-- End if review -->
      </div>
  </section>
</div>


<script>
  window.addEventListener("click", function(){
    var nok = document.getElementById('nok')
    var block = document.getElementById('block-radio')
    if (nok.checked) {
      console.log('checked')
      block.style.display = "block"
    } else {
      block.style.display = 'none'
    }
  });

  function toNextStep(){

  }

  function showImageModal(){

  }
</script>
