<% tt = 'api.v1.control_plan.report' %>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<%= render 'goback' %>


<div class="main-content-wrapper">
  <div class="native-flex native-justify-between native-items-start">
    <div class="mr">
      <div class="native-font-lg b mb"><%= @cp.supplier_profile.name %></div>
      <div class="native-font-sm">Monitored by: <%= @cp.assessor_profile.name %></div>
    </div>
    <div style="background-color: #FCF3E5; border-radius: 4px; text-align: center; padding-top: 10px;">
      <div class="native-font-sm" style="padding-bottom: 10px; border-bottom: 1px dashed #008EEF;"><%= @cp.assess_date.strftime('%b') %></div>
      <div style="background-color: #FCF3E5; text-align: center; font-weight: bold; padding: 10px 20px; margin-bottom: 10px;">
        <div style="background-color: white; padding: 10px 10px; border-radius:2px;"><%= @cp.assess_date.day %></div>
      </div>
    </div>
  </div>
  <%= link_to cp_findings_path(cp_id: params[:cp_id]) do %>
  <button class="btn-primary my native-font-sm" style="width: 100%"><%= t(tt+'.details')%></button><% end %>
  <!-- Start Radar -->
  <div class="border-blue" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px">
    <div class="b native-font-sm"><%= t(tt+'.non_conformity')%></div>
    <div class="native-flex native-justify-between native-items my">
      <div id="nc" class="native-font-sm underline" style="color: dodgerblue;" onclick="setRadar(r1);" data-type="Control Type"><%= t(tt+'.control_type')%></div>
      <div id="process" class="native-font-sm underline" style="color: dodgerblue;" onclick="setRadar(r2);" data-type="Process"><%= t(tt+'.process')%></div>
      <div id="category" class="native-font-sm underline" style="color: dodgerblue;" onclick="setRadar(r3);" data-type="Category"><%= t(tt+'.cat')%></div>
    </div>

    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  <!-- End Radar -->

  <div id="set-title" class="mb b native-font-sm" style="text-align: center"></div>
  <!-- start table -->
<!--   <table class="border-purple" style="width: 100%;">
    <thead style="background: #A241C8 !important; color: white;">
      <tr>
        <th class="py-10" style="padding-left: 8px; text-align: left; width: 80%; background: #A241C8 !important;"><%= t(tt+'.name')%></th>
        <th class="py-10" style="padding-left: 8px; text-align: left; width: 20%;"><%= t(tt+'.rate')%></th>
      </tr>
    </thead>
    <tbody>
      <% 4.times do %>
      <tr style="border-top: 1px solid #A241C8;">
        <td style="padding:8px">Lorem</td>
        <td style="padding:8px; border-left: 1px solid #A241C8">100%</td>
      </tr>
      <% end %>
    </tbody>
  </table> -->
<!-- end tablee -->


</div>


<script>
  <% cp = @cp || ControlPlan.where(completed: true).first %>
  <% radars = cp.radar_set %>
  var r1 = <%= raw radars[1].to_json %>;
  var r2 = <%= raw radars[0].to_json %>;
  var r3 = <%= raw radars[2].to_json %>;

  function setRadar(d){
    let text = ""
    var nc = document.getElementById('nc')
    var p = document.getElementById('process')
    var category = document.getElementById('category')
    var title = document.getElementById('set-title')
    title.innerHTML = text
    radarInit(d)
  }

  function radarInit(d){
    var ctx = document.getElementById('myChart').getContext('2d');
    var data = {
      labels: d.labels,
      datasets: [{data: d.data, backgroundColor: "#7cb5ec", label: d.title}]
    }

    var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: data
      });
  }
  radarInit(r1)
</script>
