<% tt = 'api.v1.control_plan.review' %>
<%= render 'goback' %>
<div class="main-content-wrapper">
  <!-- Start Header -->
  <div class="native-font-lg b mb"><%= @supplier.name %></div>
  <div class="native-font-sm mb"><%= t(tt+'.product')%> <span class="b"><%= @product_family.name %></span> <%= link_to "Edit", cp_new_product_path(id: @product_family.id, edit: true) %></div>
  <div class="native-font-sm mb"><%= t(tt+'.assess_date')%> <span class="b"><%= @control_plan.assess_date.strftime('%Y-%m-%d') %></span> <span class="underline" style="color: dodgerblue" onclick="rescheduleDate()"><%= t(tt+'.edit')%></span></div>
  <div class="native-font-sm mb"><%= t(tt+'.go_for_cp')%></div>
 <!-- End Header -->

  <!-- Start reschedule form -->
  <div id="reschedule-date" class="native-hidden">
    <div class="native-label">CP Monitor Date</div>
    <div class="mb" style="position: relative">
      <input type="date" class="native-date">
    </div>
    <button class="btn-primary" style="font-size: 1em; width: 100%;"><%= t(tt+'.update_date')%></button>
    <div class="my native-font-sm underline" style="text-align: center; color: dodgerblue" id="cancel">Nevermind let's go back</div>
  </div>
  <!-- End reschedule form -->

  <!-- Start bulk content -->
  <section id="bulk-content">
    <!-- Start Notice -->
    <% @processList.each do |cat, pl| %>
      <% pl.each do |pr| %>
        <article class="native-notice pa">
          <div class="native-flex native-items-start">
            <%= image_tag 'info.svg', width: '45px', class: 'mr' %>
            <div class="native-font-sm" style="flex: 1; line-height: 1.2">
              <div class="b mb-5"><%= pr[:category] %></div>
              <%= pr[:name] %>
            </div>
          </div>
        </article>
      <!-- End Notice -->

      <!-- Start process steps -->
        <% pr[:steps].each do |step| %>
          <%= link_to cp_review_detail_path(plan_item_id: step[:plan_item_id]), class: 'no-underline native-font-sm' do %>
          <article class="border-purple" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px">
            <div class="native-flex native-justify-between native-items-center mb">
              <div class="native-font-sm"><%= t(tt+'.review_item_card.step_no')%>. <%= step[:step_number] %></div>
              <div class="white pill native-font-xs" style="background-color: dodgerblue"><%= step[:criticity] %></div>
            </div>
            <div class="native-font-sm">
              <div>Control item</div>
              <div class="native-content" style="width: inherit;"><%= step[:control_item] %></div>
            </div>
            <div class="native-flex native-justify-between native-items-center native-font-sm">
              <div style="width: 50%">
                <div><%= t(tt+'.review_item_card.status')%></div>
                <% if step[:plan_item_completed] %>
                  <div class="native-content" style="color: darkgreen"><%= t(tt+'.review_item_card.complete')%></div>
                <% else %>
                  <div class="native-content" style="color: darkred"><%= t(tt+'.review_item_card.incomplete')%></div>
                <% end %>
              </div>
              <div style="width: 50%">
                <div>Result</div>
                <div class="native-content"><%= step[:plan_item_result] == "false" ? "N/A" : step[:plan_item_result] %></div>
              </div>
            </div>
          </article>
          <% end %>
        <% end %>
      <!-- End process steps -->
      <% end %>
    <% end %>
    <%= form_with model: @control_plan, url: api_v1_data_update_path(name: "control_plans", id: @control_plan.id), id: 'finish-it' do %>
      <input type="hidden" name="control_plan[completed]" value="true">
      <button class="btn-primary" style="font-size: 1em; width: 100%;">Submit Control Plan →</button>
    <% end %>
    <%= render 'native/shared/floating' %>
  </section>
  <!-- End bulk content -->
</div>



<script>
  function rescheduleDate(){
    let form = document.getElementById('reschedule-date')
    let content = document.getElementById('bulk-content')
    let cancel = document.getElementById('cancel')

    if(form.classList.include = 'native-hidden'){
      form.classList.remove("native-hidden")
      content.classList.add("native-hidden")
    }

    cancel.addEventListener("click", function(){
      form.classList.add('native-hidden');
      content.classList.remove('native-hidden');
    });
  }
  var form = document.getElementById('finish-it')
  form.addEventListener('ajax:success', function(res){
    window.history.back()
  })

</script>
