<% tt = 'api.v1.control_plan.index' %>
<%= render 'goback' %>
<div class="main-content-wrapper">
  <p class="native-font-lg b"><%= t(tt+'.search_for')%></p>
  <div class="my">
    <form action="/native/control_plan/search" method="GET">
      <input name="input" type="text" class="native-input border-purple" placeholder="<%= t(tt+'.search_placeholder')%>" onclick="toSearchSupplierProducts()" value="<%= params[:input] %>" />
      <input type="submit" value="Search" class="btn-primary my" style="width: 100%">
    </form>
  </div>
  <!-- Start Card -->
  <% @cards.each do |c| %>
    <% if c[:type] == 'supplier' %>
    <%= render 'supplier_card', c: c %>
    <% elsif c[:type] == "productFamily" %>
  <!-- End Card -->
    <%= render 'product_card', search: true, c: c %>
    <% end %>
  <% end %>
  <% if params[:input] && @cards.count < 1 %>
    <p class="b my" style="text-align: center">Nothing found!</p>
  <% end %>
  <!-- Preloader. id="preloader", to show remove class .native-hidden. -->
  <%= render 'native/shared/preloader' %>
  <!-- Preloader end -->
</div>


<script>
  function toCpProductList(){

  }

  function toSearchSupplierProducts(){

  }
</script>
