<% tt = 'api.v1.control_plan.schedule' %>
<%= render 'goback' %>
<script src="/vendor/list.js"></script>
<div class="main-content-wrapper">
  <div class="native-font-lg b mb-5"><%= t(tt+'.title')%></div>
  <div class="native-font-sm b"><%= t(tt+'.find_supplier')%></div>

  <!-- Input with autocomplete -->
  <div id="hacker-list" class="my" style="width: 100%;">
    <input type="text" id="autocomplete-input" class="search native-input border-purple" onkeyup="showList()" style="background: white" placeholder="Search supplier code or name..." value="<%= @supplier.name if params[:supplier_id] %>" />
    <!-- Autocomplete list is hidden, to show remove class -->
    <div id="ac-list" class="native-hidden" style="position: relative; height: 8em; width: inherit; overflow: scroll; z-index: 527">
      <div class="">
        <ul class="list bg-white">
          <% SupplierProfile.source_list.each do |s| %>
          <a class="no-underline" href="?supplier_id=<%= s[:id] %>">
            <li class="auto-list-item native-font-sm" ><span class="code"><%= s[:code] %></span> <span class="name"><%= s[:name] %></span></li>
          </a>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <!-- End input with autocomplete -->

  <% if @supplier.present? %>
  <section>
    <!-- Suppler information card -->
    <article id="" class="border-blue" style="background: white; position: relative; margin-bottom: 25px; border-radius: 10px; padding: 16px">
      <div class="native-flex native-justify-end mb">
        <div>
          <div class="native-dib native-font-sm light-gray">Supplier code</div>
          <div class="native-dib native-font-sm b"><%= @supplier.code %></div>
        </div>
      </div>
      <div class="native-font-sm">
        <div>Supplier name</div>
        <div class="native-content" style="width: inherit;"><%= @supplier.name %></div>
        <div>Address</div>
        <div class="native-content" style="width: inherit;"><%= @supplier.city %>, <%= @supplier.country %></div>
        <div>Contact name</div>
        <div class="native-content" style="width: inherit;"><%= @supplier.contact_name %></div>
        <div>Contact email</div>
        <div class="native-content" style="width: inherit;"><%= @supplier.contact_email %></div>
      </div>
    </article>
    <!-- End supplier information card -->

    <% if  @supplier.product_families.where(destroyed_at: nil).blank? %>
    <div class="my">
      <div class="native-font-sm b" style="color: dodgerblue; text-align: center;">There are no products for this supplier!</div>
      <div class="my">
        <%= link_to cp_new_product_path(id: @supplier.id) do %>
          <button class="btn-primary" style="font-size: 1em; width: 100%;">Add Product</button>
        <% end %>
      </div>
    </div>
    <!-- End if no products -->
    <% else %>
    <!-- If have products -->

    <%= form_with model: ControlPlan.new, url: api_v1_members_control_plan_schedule_path do |f| %>
    <div class="my">
      <!-- Start product selection -->
      <div class="my">
        <div class="native-label"><%= t(tt+'.choose_product')%></div>
        <div class="mb" style="position: relative">
          <select id="products" name="products" class="native-select" onchange="Turbolinks.visit('?product_id='+this.value)">
            <% @supplier.product_families.where(destroyed_at: nil).each do |k| %>
            <option value="<%= k.id %>" <%= 'selected' if @product_family.id == k.id %>><%= k.name %></option>
            <% end %>
          </select>
          <div style="position: absolute; bottom: 5px; right: 5px; pointer: none; padding: 5px;">
             <svg style="height: 15px; width: 15px; fill-color: black;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
        <input type="hidden" name="product_family_id" value="<%= @product_family.id || @supplier.product_families.where(destroyed_at: nil).first.id %>">
        <div class="native-label"><%= t(tt+'.cp_monitor_date')%></div>
        <div class="mb" style="position: relative">
          <input type="date" class="native-date" name="supplier_schedule_date" required="true">
        </div>
        <div class="native-label"><%= t(tt+'.select_review')%></div>
        <div class="mb" style="position: relative">
          <div class="native-font-sm mb-10" id="explainers"></div>
          <select id="review_type" name="cp_type" class="native-select" onchange="updateExplainers(this.value)" >
            <option selected style="color: gainsboro !important">Select one</option>
            <option value="New Monitor">New Monitor</option>
            <option value="CAP Review">Cap Review</option>
          </select>
          <div style="position: absolute; bottom: 5px; right: 5px; pointer: none; padding: 5px;">
             <svg style="height: 15px; width: 15px; fill-color: black;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
      <!-- End product selection -->

      <!-- Start divider -->

      <% if @h[:productProcesses].values.reject(&:blank?).present? %>
      <div class="my">
        <div class="wv-divider">
          <div class="wv-divider-text native-font-sm"><%= t(tt+'.select_steps')%></div>
          <div class="wv-divider-line"></div>
        </div>
      </div>
      <% else %>
        <div class="my" style="margin-top: 60px;">
          <div style="text-align: center;"> <%= t(tt+'.no_steps') %> </div>
        </div>

        <!-- <div class="my" style="margin-top: 30px; margin-bottom: 60px;">
          <a href="<%= cp_new_step_path(product_family_id: @product_family.id || @supplier.product_families.where(destroyed_at: nil).first.id ) %>" class="btn-primary" style="width: 100%; font-size: 1em; display: block;text-align: center;"><%= t(tt+'.add_btn') %></a>
        </div> -->
      <% end %>
      <!-- End divider -->

      <% @h[:process_categories].each do |key_name| %>
      <% next if @h[:productProcesses][key_name].blank? %>
      <section class="my">
        <article class="border-purple native-font-sm" style="background: white; margin-bottom: 25px; border-radius: 10px">
          <div class="b pa"><%= key_name %></div>
          <% @h[:productProcesses][key_name].each do |process| %>
            <% next if process[:steps].blank? %>

            <div class="py bg-lightgray">
              <div class="native-flex native-justify-between pa">
                <div class="b" style="width: 80%; padding-right: 10px; line-height: 1.2"><%= process[:name] %></div>
                <!-- <div>
                  <button class="btn-primary-blue native-font-sm" style="padding: 5px; color: white;">Check all</button>
                </div> -->
              </div>
            </div>
            <!-- Checkboxes -->
            <div class="pa">
              <% process[:steps].each_with_index do |step, i| %>
              <div class="native-flex native-items-start mb">
                <input class="native-checkbox mr" type="checkbox" id="item_<%= step[:id] %>" name="item_ids[]id" value="<%= step[:id] %>" onchange="validateSubmit()">
                <div for="item<%= step[:id] %>">
                  <div class="b mb-10"><%=step[:step_number]%> <%=step[:control_item]%>:</div>
                  <div style="line-height: 1.2"><%=step[:control_method]%></div>
                </div>
              </div>
              <% end %>
            </div>
          <% end %>
          <!-- End Checkboxes -->
        </article>
      </section>
      <% end %>
      <div class="my">
        <%= f.submit "Submit Date Review →", class: "btn-primary", style: "width: 100%; font-size: 1em; display: none;", id: "submit_btn" %>
      </div>

      <!-- End steps to monitor -->
    </div>
    <% end %>
    <!-- End if have products -->
    <% end %>
  </section>
  <% end %>
</div>



<script>
  var explainers = <%= raw t(tt+'.explainers').to_json %>;
  var options = {
    valueNames: [ 'name', 'code' ]
  };
  var hackerList = new List('hacker-list', options);

  function validateSubmit(){
    var counter = 0
    document.querySelectorAll('input[name="item_ids[]id"]').forEach(
      function(item){if (item.checked){counter += 1 }})
    var submit = document.getElementById('submit_btn')

    if (counter > 0){
      submit.style.display = "block"
    } else {
      submit.style.display = "none"
    }

  }

  function showList(){
    var autocomplete = document.getElementById('autocomplete-input')
    autocomplete.addEventListener("input", function(e) {
      var list = document.getElementById('ac-list')
      if (autocomplete.value.length > 0){
        list.classList.remove("native-hidden")
      } else {
        list.classList.add("native-hidden")
      }
    });
  }

  function updateExplainers(value){
    document.getElementById('explainers').innerText = explainers[value]
  }
var form = document.querySelector('form')
  form.addEventListener('ajax:success', function(){
    window.location = "/native/done?text=<%= CGI.escape('Control Plan is now scheduled.') %>";
  })
</script>
