<%#= render 'goback' %>
<div class="main-content-wrapper" style="height: 70vh; padding-top: 5em">
  <div class="native-flex native-justify-center native-items-center " style="flex-direction: column;">
    <%= render 'svg/done', class: 'my' %>
    <div class="native-font-lg my" style="text-align: center">
      Information submitted!
    </div>
    <div style="font-size: 1.2em;text-align: center">
      <%= params[:text] %>
    </div>
  </div>
</div>
