<div class="main-content-wrapper">
  <article class="native-notice pa">
    <div class="native-flex native-items-start">
      <%= image_tag 'info.svg', width: '45px', class: 'mr' %>
      <div class="native-font-sm" style="flex: 1; line-height: 1.2">
        Your supplier account was not found! Please submit your information to notify Decathlon team about your need to access Assess Go. Your PL will contact you shortly after with onboarding instructions.
      </div>
    </div>
  </article>
<form action="/native/request_access" method="get">
  <fieldset>
    <legend><b>Supplier Access Request Form</b></legend>
    <br>
    <% [:supplier_code, :supplier_name, :supplier_address, :supplier_country, :supplier_site,:pl_email, :contact_name, :contact_email ].each do |field| %>
      <div>
        <div class="native-label" >
          <label for="<%= field %>"><%= field.to_s.humanize.upcase %></label>
        </div>
        <input type="text" class="native-input mb" id="<%= field %>" name="<%= field %>" placeholder="Please enter your <%= field.to_s.titleize %>...">
      </div>
    <% end %>
    <input type="submit" value="Submit" class="btn-primary my" style="font-size: 1em; width: 100%;">
  </fieldset>
</form>
</div>
