<div class="main-content-wrapper">
  <div class="native-flex native-justify-center native-items-center">
    <%= render 'svg/success' %>
  </div>
  <div style="text-align: center; margin-top: 2em;">
    Your information has been sent and delivered to Decathlon.<br><br>
    Please wait till the PL contacts you for onboarding instructions.
  </div>
</div>
