<section class="header-wave" style="background-image: url(<%= asset_path('native/blue_wave.svg') %>); width: 100%; background-size: cover; ">
  <div class="header">
    <div class="native-font-lg"><%= @form.title %></div>
  </div>
</section>

<%= render 'survey_form' %>
