<% assess_types = params[:assess_types] || [] %>
<div class="w-50" style="margin-bottom: 0.5em;">
  <label style="font-size: 0.8em;" for="">Assess Types</label><br>

  <select name="assess_types[]" selected="assess_types" id="assess_types_stats_filter" multiple="multiple" placeholder="Select assess types">
    <option <%= assess_types.include?("all") ? 'selected' : '' %> value="all">All</option>
    <% @assess_types_filter.each do |a| %>
      <option <%= assess_types.include?(a) ? 'selected' : '' %> value="<%= a %>"><%= a %></option>
    <% end %>
  </select>
</div>
