<% assessors_filter = AssessorProfile.all.select{|x| x.name.present? && x.user.present? }.map{|x| {label: x.name, value: x.id} } %>

<% assessors = params[:assessors] || [] %>
<div class="w-50" style="margin-bottom: 0.5em;">
  <label style="font-size: 0.8em;" for="">Assessors</label><br>

  <select name="assessors[]" selected="assessors" id="assessors_stats_filter" multiple="multiple" placeholder="Select assessors">
    <option <%= assessors.include?("all") ? 'selected' : '' %> value="all">All</option>
    <% assessors_filter.each do |a| %>
      <option <%= assessors.include?(a[:label]) ? 'selected' : '' %> value="<%= a[:value] %>"><%= a[:label] %></option>
    <% end %>
  </select>
</div>
