<% completed = params[:completed] || 'true' %>
<div class="w-50" style="margin-bottom: 0.5em;">

  <label style="font-size: 0.8em;" for="completed">Assessment completed ?</label><br>
  <input type="radio" name="completed" value="true" <%= params[:completed] == 'true' ? 'checked' : '' %>> <span style="font-size: 0.8em;">Yes</span>
  <input type="radio" name="completed" value="false" <%= params[:completed] == 'false' ? 'checked' : '' %>> <span style="font-size: 0.8em;">No</span>
  <input type="radio" name="completed" value="all" <%= params[:completed] == 'all' ? 'checked' : '' %>> <span style="font-size: 0.8em;">All</span>
</div>
