<!-- DATE FILTER -->
<div style="display: inline-block;">
  <label style="font-size: 0.8em;" for="">From</label><br>
  <input type="date" style="max-width: 150px; width: 100%; padding: 2px; height: 1rem;" name="start_date" value="<%= params[:start_date] || 1.years.ago.strftime('%Y-%m-%d') %>">
</div>
<div style="display: inline-block; margin: 0 0.5em;">-</div>
<div style="display: inline-block">
  <label style="font-size: 0.8em;" for="">To</label>
  <input type="date" style="max-width: 150px; width: 100%; padding: 2px; height: 1rem;" name="end_date" value="<%= params[:end_date] || Time.now.strftime('%Y-%m-%d') %>">

</div>

<!-- GRID FILTER -->
<div style="display: inline-block; margin-right: 15px;">
  <label style="font-size: 0.8em;" for="">Grid</label><br>
  <select name="grid" style="height: 1.5rem; font-size: 16px;">
    <option value="all" <%= params[:grid] == 'all' ? 'selected' : '' %>>All Assessments</option>
    <!-- START OF LOOP -->
    <% @grids.each do |g| %>
      <option value="<%= g[:value] %>" <%= params[:grid] == g[:value] ? 'selected' : '' %>><%= g[:label] %></option>
    <% end %>
  </select>
</div>

<!-- ASSESS TYPE FILTER -->
<div style="display: inline-block">
  <label style="font-size: 0.8em;" for="">Assess Type</label><br>
  <select name="assess_type" style="height: 1.5rem; font-size: 16px;">
    <option value="all" <%= params[:assess_type] == 'all' ? 'selected' : '' %>>All Types</option>
    <!-- START OF LOOP -->
    <% @assess_types.each do |a_type| %>
      <option value="<%= a_type %>" <%= params[:assess_type] == a_type ? 'selected' : '' %>><%= a_type %></option>
    <% end %>
  </select>
</div>
<div style="width: 80%; border-bottom: 1px solid #ccc; margin: 1rem 0;"></div>
