<% countries = params[:countries] || [] %>
<div class="w-50" style="margin-bottom: 0.5em;">
  <label style="font-size: 0.8em;" for="">Countries</label><br>

  <select name="countries[]" selected="countries" id="countries_stats_filter" multiple="multiple" placeholder="Select countries">
    <option <%= countries.include?("all") ? 'selected' : '' %> value="all">All</option>
    <% SupplierProfile.all_countries.each do |country| %>
      <option <%= countries.include?(country[:value]) ? 'selected' : '' %> value="<%= country[:value] %>"><%= country[:label] %></option>
    <% end %>
  </select>
</div>
