<!-- DATE FILTER -->
<div style="display: inline-block;">
  <div><span style="font-size: 0.6em; color: #32A2ED;">* Dates can be typed out</span></div>
  <label style="font-size: 0.8em;" for="">From</label><br>
  <input type="date" style="max-width: 150px; width: 100%; padding: 2px; height: 1rem;" name="start_date" value="<%= params[:start_date] || 1.years.ago.strftime('%Y-%m-%d') %>">
</div>
<div style="display: inline-block; margin: 0 0.5em;">-</div>
<div style="display: inline-block">
  <label style="font-size: 0.8em;" for="">To</label>
  <input type="date" style="max-width: 150px; width: 100%; padding: 2px; height: 1rem;" name="end_date" value="<%= params[:end_date] || Time.now.strftime('%Y-%m-%d') %>">

</div>
<div style="width: 80%; border-bottom: 1px solid #ccc; margin: 1rem 0;"></div>
