<% grids = params[:grids] || [] %>
<div class="w-50" style="margin-bottom: 0.5em;">
  <label style="font-size: 0.8em;" for="">Grids</label><br>

  <select name="grids[]" selected="grids" id="grids_stats_filter" multiple="multiple" placeholder="Select grids">
    <option <%= grids.include?("all") ? 'selected' : '' %> value="all">All</option>
    <% @grids_filter.each do |g| %>
      <option <%= grids.include?(g[:value]) ? 'selected' : '' %> value="<%= g[:value] %>"><%= g[:label] %></option>
    <% end %>
  </select>
</div>
