
<% grids = params[:grids] || [] %>
<% assess_types = params[:assess_types] || [] %>
<% countries = params[:countries] || [] %>
<% results = params[:results] || [] %>

<div>
  <label style="font-size: 0.8em;" for="">Grids</label><br>

  <select name="grids[]" selected="grids" id="grids_stats_filter" multiple="multiple" placeholder="Select grids">
    <option value="all">Select grids</option>
    <% @grids_filter.each do |g| %>
      <option <%= grids.include?(g[:value]) ? 'selected' : '' %> value="<%= g[:value] %>"><%= g[:label] %></option>
    <% end %>
  </select>
</div>

<div>
  <label style="font-size: 0.8em;" for="">Assess Types</label><br>

  <select name="assess_types[]" selected="assess_types" id="assess_types_stats_filter" multiple="multiple" placeholder="Select assess types">
    <option value="all">Select assess types</option>
    <% @assess_types_filter.each do |a| %>
      <option <%= assess_types.include?(a) ? 'selected' : '' %> value="<%= a %>"><%= a %></option>
    <% end %>
  </select>
</div>

<div>
  <label style="font-size: 0.8em;" for="">Countries</label><br>

  <select name="countries[]" selected="countries" id="countries_stats_filter" multiple="multiple" placeholder="Select countries">
    <option value="all">Select countries</option>
    <% SupplierProfile.all_countries.each do |country| %>
      <option <%= countries.include?(country[:value]) ? 'selected' : '' %> value="<%= country[:value] %>"><%= country[:label] %></option>
    <% end %>
  </select>
</div>

<div>
  <label style="font-size: 0.8em;" for="">Assessment Results</label><br>

  <select name="results[]" selected="results" id="results_stats_filter" multiple="multiple" placeholder="Select assessment results">
    <option value="all">Select assess types</option>
    <% @results_filter.each do |a| %>
      <option <%= results.include?(a) ? 'selected' : '' %> value="<%= a %>"><%= a %></option>
    <% end %>
  </select>
</div>

