<!-- <div style="display: flex; justify-content: center;">
  <div class="bordered-card" style="margin: 1.5em; width: 100%">
    <%#=raw @time_series.div %>
  </div>
</div> -->
<div>
  <% @time_series.each do |graph| %>
    <div class="bordered-card" style="margin: 1.5em; width: 85%;">
      <%=raw graph.div %>
    </div>
  <% end %>
</div>

