<% plan_types = params[:plan_types] || [] %>
<div class="w-50" style="margin-bottom: 0.5em;">
  <label style="font-size: 0.8em;" for="">Plan Types</label><br>

  <select name="plan_types[]" selected="plan_types" id="plan_types_stats_filter" multiple="multiple" placeholder="Select plan types">
    <option value="all">Select plan types</option>
    <% @plan_types_filter.each do |a| %>
      <option <%= plan_types.include?(a) ? 'selected' : '' %> value="<%= a %>"><%= a %></option>
    <% end %>
  </select>
</div>
