<div style="display: inline-block font-size: 0.6em; height: 1.5rem; margin-top: 10px;">
  <label for="prep_completed">Prep finished (for Annual Assessment)? </label>
  <select name="prep_completed" style="height: 1.5rem; font-size: 16px;">
    <option value="all" <%= params[:prep_completed] == 'all' ? 'selected' : '' %>>All</option>
    <option value="true" <%= params[:prep_completed] == 'true' ? 'selected' : '' %>>Yes</option>
    <option value="false" <%= params[:prep_completed] == 'false' ? 'selected' : '' %>>No</option>
  </select>
</div>

<div style="width: 80%; border-bottom: 1px solid #ccc; margin: 1rem 0;"></div>

<div style="display: inline-block font-size: 0.6em; height: 1.5rem; margin-top: 10px;">
  <label for="cap_finished">CAP Review finished within 2 weeks? </label>
  <select name="cap_finished" style="height: 1.5rem; font-size: 16px;">
    <option value="all" <%= params[:cap_finished] == 'all' ? 'selected' : '' %>>All</option>
    <option value="true" <%= params[:cap_finished] == 'true' ? 'selected' : '' %>>Yes</option>
    <option value="false" <%= params[:cap_finished] == 'false' ? 'selected' : '' %>>No</option>
  </select>
</div>

<div style="width: 80%; border-bottom: 1px solid #ccc; margin: 1rem 0;"></div>

<div style="display: inline-block font-size: 0.6em; height: 1.5rem; margin-top: 10px;">
  <label for="completed2">Assessment Completed in 2 weeks? </label>
  <select name="completed2" style="height: 1.5rem; font-size: 16px;">
    <option value="all" <%= params[:completed2] == 'all' ? 'selected' : '' %>>All</option>
    <option value="true" <%= params[:completed2] == 'true' ? 'selected' : '' %>>Yes</option>
    <option value="false" <%= params[:completed2] == 'false' ? 'selected' : '' %>>No</option>
  </select>
</div>

<div style="width: 80%; border-bottom: 1px solid #ccc; margin: 1rem 0;"></div>
