<% processes = params[:processes] || [] %>
<div class="w-50" style="margin-bottom: 0.5em;">
  <label style="font-size: 0.8em;" for="">Industrial Processes</label><br>

  <select name="processes[]" selected="processes" id="processes_stats_filter" multiple="multiple" placeholder="Select processes">
    <option <%= processes.include?("all") ? 'selected' : '' %> value="all">All</option>
    <% @processes_filter.each do |process| %>
      <option <%= processes.include?(process) ? 'selected' : '' %> value="<%= process %>"><%= process %></option>
    <% end %>
  </select>
</div>
