<% results = params[:results] || [] %>
<div class="w-50" style="margin-bottom: 0.5em;">
  <label style="font-size: 0.8em;" for="">Assessment Results</label><br>

  <select name="results[]" selected="results" id="results_stats_filter" multiple="multiple" placeholder="Select assessment results">
    <option value="all">Select assess types</option>
    <% @results_filter.each do |a| %>
      <option <%= results.include?(a) ? 'selected' : '' %> value="<%= a %>"><%= a %></option>
    <% end %>
  </select>
</div>
