<% stats_outcome = params[:stats_outcome] || nil %>
<% select_stats_outcome = params[:select_stats_outcome] || nil %>
<div class="w-50" style="margin-bottom: 0.5em;">
  <label style="font-size: 0.8em;" for="">Select stats output</label><br>
  <select name="select_stats_outcome" id="stats_outcome" placeholder="Select stats outcome" onchange="autoClickForm(event.target.form);">
    <option value="all">Select outcome</option>
    <% @stats_outcome_choices.each do |a| %>
      <option <%= select_stats_outcome == a[:value] ? 'selected' : '' %> value="<%= a[:value] %>"><%= a[:label] %></option>
    <% end %>
  </select>
</div>
