<% status = params[:status] || 'all' %>
<% fgp = (params[:finished_goods_supplier].present? && params[:finished_goods_supplier] == "true") || false %>
<% component = (params[:component_supplier].present? && params[:component_supplier] == "true") || false %>
<% partner = (params[:partner].present? && params[:partner] == "true") || false %>

<div>
  <label style="font-size: 0.8em;" for="">Supplier Status</label>
  <select name="status" style="margin-left: 5px; height: 1.5rem; font-size: 16px;">
    <option value="all" <%= params[:status] == 'all' ? 'selected' : '' %>>All</option>
    <option value="Active Supplier" <%= status == 'Active Supplier' ? 'selected' : '' %>>Active Supplier</option>
    <option value="Opening Supplier" <%= status == 'Opening Supplier' ? 'selected' : '' %>>Opening Supplier</option>
  </select>


  <!-- <select name="status" selected="status" id="supplier_status_stats_filter" placeholder="Select status">
    <option value="all">Select supplier status</option>
    <%# @supplier_statuses_filter.each do |s| %>
      <option <%#= status == s ? 'selected' : '' %> value="<%#= s %>"><%#= s %></option>
    <#% end %>
  </select> -->

  <div style="font-size: 0.8em;">
    <input type="checkbox" name="finished_goods_supplier" value="true" <%= fgp ? 'checked' : '' %>>Finished Goods
    <input type="checkbox" name="component_supplier" value="true" <%= component ? 'checked' : '' %>>Component
    <input type="checkbox" name="partner" value="true" <%= partner ? 'checked' : '' %>>Partner
  </div>
</div>
<div style="width: 80%; border-bottom: 1px solid #ccc; margin: 1rem 0;"></div>
