<% special_naming = {followers: ["Following", "Followers"]} %>
<% default_naming = ["#{model.to_s.titleize} Given", "#{model.to_s.titleize} Taken" ] %>

<h4 style="margin-bottom: 0.5em"><%= model.to_s.titleize %> Rank <button class="btn btn-xs-blue" onclick="exportTableToExcel('main-table-<%= i %>')">⬇︎Download to Analyze Yourself</button></h4>
<div class="bordered-card" style="margin-bottom: 1em;">
  <div id="table-scroll" class="table-scroll">
    <table id="main-table-<%= i %>" class="main-table">
      <thead>
        <tr>
          <th col="scope">Users <span><%= render 'svg/direction' %></span></th>
          <th col="scope">
            <%= special_naming[model].present? ? special_naming[model][0] : default_naming[0] %> <span><%= render 'svg/direction' %></span>
          </th>
        </tr>
      </thead>
      <% g[:data].each do |k, v| %>
        <tr>
          <td><%= k %></td>
          <td><%= v %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div style="width: 100%; background: #32A2ED; height: 4rem; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
    <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
      <div>Total Users: <strong><%= g[:totals][0] %></strong></div>
      <div>Total <%= special_naming[model].present? ? special_naming[model][0] : default_naming[0] %>: <strong><%= g[:totals][1] %></strong></div>
    </div>
  </div>
</div>
<div class="bordered-card" style="margin-bottom: 1.5em">
  <%=raw g[:graph].div %>
</div>
