<% h = {control_plan: {plural: "Control Plans", action: "Monitored"},
  assessment: {plural: "Assessments", action: "Assessed"}} %>

<h4 style="margin-bottom: 0.5em;"><%= title %> <button class="btn btn-xs-blue" onclick="exportTableToExcel('main-table-<%= i %>')">⬇︎Download to Analyze Yourself</button></h4>

<div class="bordered-card" style="margin-bottom: 1em;">
  <div id="table-scroll" class="table-scroll">
    <table id="main-table-<%= i %>" class="main-table">
      <thead>
        <tr>
          <th scope="col" style="width: 50px"></th>
          <th scope="col" style="width: 250px;">Country <span><%= render 'svg/direction' %></span></th>
          <th scope="col">Assessments <span><%= render 'svg/direction' %></span></th>
          <th scope="col">Suppliers Assessed <span><%= render 'svg/direction' %></span></th>
          <th scope="col">Control Plans <span><%= render 'svg/direction' %></span></th>
        </tr>
      </thead>
      <tbody>
        <% g[:data].each_with_index do |x,i| %>
          <tr>
            <th><%= i+1 %></th>
            <td><%= country_name(x[0]) %></td>
            <td><%= x[1] %></td>
            <td><%= x[2] %></td>
            <td><%= x[3] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div style="width: 100%; background: #32A2ED; height: 4rem; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white; position:sticky;">
    <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
      <div>Total Countries: <strong><%= g[:totals][0] %></strong></div>
      <div>Total Assessments: <strong><%= g[:totals][1] %></strong></div>
      <div>Total Suppliers Assessed: <strong><%= g[:totals][2] %></strong></div>
      <div>Total Control Plans: <strong><%= g[:totals][3] %></strong></div>
    </div>
  </div>
</div>
<div class="bordered-card" style="margin-bottom: 1.5em">
  <%=raw g[:graph].div %>
</div>


