<div class='wrapper' style="margin-bottom: 0.5rem;">
  <div style="margin-bottom: 1rem; display: flex; justify-content: space-between;">
    <div><a href="/statistics">Statistics</a> › Assessment Stats  </div>
  </div>
</div>
<div class="wrapper">
  <!-- Start Assessments -->
  <div id="qa_supplier">
    <div class="expanded_filter_buttons">
      <button class="btn btn-xs-blue filter_button1" onclick="expandFilter();">⬇︎Click to filter</button>
      <a href="/statistics/assessment"><button class="btn btn-xs-blue filter_button2">Clear filter</button></a>
      <!-- FILTER PARAMS -->
      <% model = params[:model] || 'qa' %>
      <% grids = params[:grids] || [] %>
      <% assess_type = params[:assess_type] || 'all' %>
      <% assess_types = params[:assess_types] || [] %>
      <%# plan_type = params[:plan_type] || 'all' %>
      <% countries = params[:countries] || [] %>
      <% processes = params[:processes] || [] %>
      <%# status = params[:status] || 'all' %>
      <%# fgp = (params[:finished_goods_supplier].present? && params[:finished_goods_supplier] == "true") || false %>
      <%# component = (params[:component_supplier].present? && params[:component_supplier] == "true") || false %>
      <%# partner = (params[:partner].present? && params[:partner] == "true") || false %>
      <%# prep_completed = params[:prep_completed] || 'all' %>
      <%# cap_finished = params[:cap_finished] || 'all' %>
      <% filter_params = params.reject{|k,v| k == 'controller' || k == 'action'} %>
      <% if filter_params.present? %>
        <p style="font-size: 0.8em; margin-left: 5px;">SELECTED FILTERS: From => <strong><%= params[:start_date] || 1.years.ago.strftime('%Y-%m-%d') %></strong>, To => <strong><%= params[:end_date] || Time.now.strftime('%Y-%m-%d') %></strong>, Grids => <strong><%= grids %></strong>, Assess types: <strong><%= assess_types %></strong>, <!-- Prep completed (Annual) => <strong><%#= prep_completed %></strong>,  --><!-- CAP Review finished within 14 days => <strong> <%#= cap_finished %> --><!-- </strong> Supplier status: <strong><%#= status %></strong>,  --><!-- Finished goods: <strong><%#= fgp %></strong>,  --><!-- Component: <strong><%#= component %></strong>,  --><!-- Partner: <strong><%#= partner %></strong>,  -->Countries: <strong><%= countries %></strong>, Processes => <strong><%= processes %></strong> </p>
      <% end %>
    </div>
    <% unless params[:supplier].present? %>
      <div style="width: 100%; margin-bottom: 0.5em; display: none;" class="filter_collapsed">
        <!-- <span style="font-size: 0.6em; color: #32A2ED;">* Dates can be typed out</span> -->
        <form action="assessment" method="GET" style="width: 100%;">
          <%= render 'date_filter' %>
          <%= render 'grid_cp_filter' %>
          <%= render 'assess_type_filter' %>
          <%#= render 'supplier_filter' %>
          <%#= render 'prep_cap_filter' %>
          <%= render 'process_filter' %>
          <%= render 'country_filter' %>
          <div>
            <input type="submit" value="submit" class="btn btn-xs-blue" style="width: 80px; height: 2rem;" onclick="expandFilter(this)" data-model='qa'>
          </div>
          <div style="width: 80%; border-bottom: 1px solid #ccc; margin: 1rem 0;"></div>
        </form>
      </div>
    <% end %>
    <div class="bordered-card" style="margin-bottom: 1em;">
      <div id="table-scroll" class="table-scroll">
        <table class="main-table">
          <thead>
            <% @headers.each do |h| %>
              <th>
                <%= h %>
                <span><%= render 'svg/direction' %></span>
              </th>
            <% end %>
          </thead>
          <tbody>
            <% @assessments.each_with_index do |x, i| %>
              <div>
                <tr>
                  <th><%= i + 1 %></th>
                  <% x.each do |col| %>
                    <td><%= col %></td>
                  <% end %>
                </tr>
              </div>
            <% end %>
          </tbody>
        </table>
      </div>
      <div style="width: 100%; background: #32A2ED; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
        <div style="display: flex; justify-content: space-around; padding: 1rem 1.1rem;">
          <div>Total Assessments: <strong><%= @totals[:all] %></strong></div>
          <div>Completed: <strong><%= @totals[:done] %></strong></div>
          <div>Not completed: <strong><%= @totals[:not_done] %></strong></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%= render 'table_header_filter' %>
<script>
  document.addEventListener("DOMContentLoaded", statsFilterChoices());
  function expandFilter() {
    var x = document.querySelectorAll('.filter_collapsed');
    var button1 = document.querySelectorAll('.filter_button1')
      // var button2 = document.querySelector('.filter_button2')
  if (x[0].style.display === "none") {
    x.forEach(filt => { filt.style.display = "block"; })
    button1.forEach(btn => {btn.innerHTML = "⬆Close filter";})
    } else {
    x.forEach(filt => { filt.style.display = "none"; })
  button1.forEach(btn => {btn.innerHTML = "⬇︎Click to filter";})
      }
    }
</script>