<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/statistics">Statistics</a> › Commentor Stats  </div>
</div>


<div class="wrapper">
  <span style="font-size: 0.6em; color: #32A2ED;">* Dates can be typed out</span>
  <div style="width: 100%; margin-bottom: 0.5em;">
    <form action="comment" method="GET" style="width: 100%;">
      <label for="">From</label>
      <input type="date" style="max-width: 150px; width: 100%; padding: 2px; height: 1rem;" name="start_date" value="<%= params[:start_date] || 1.years.ago.strftime('%Y-%m-%d') %>">
      <label for="">To</label>
      <input type="date" style="max-width: 150px; width: 100%; padding: 2px; height: 1rem;" name="end_date" value="<%= params[:end_date] || Time.now.strftime('%Y-%m-%d') %>">
      <% ref_model = params[:ref_model] || 'all' %>
      <label for="">Goes/Chapter</label>
      <select name="ref_model" style="margin-left: 5px; height: 1.5rem; font-size: 16px;">
        <option value="all" <%= params[:ref_model] == 'all' ? 'selected' : '' %>>All</option>
        <option value="goes_activity" <%= ref_model == 'goes_activity' ? 'selected' : '' %>>Goes Activity</option>
        <option value="chapter_assessment" <%= ref_model == 'chapter_assessment' ? 'selected' : '' %>>Chapter Assessment</option>
      </select>
      <input type="submit" value="submit" class="btn btn-xs-blue" style="width: 80px; height: 2rem;">
    </form>
  </div>

  <%= render "table_graph_performance", i: 1, g: @graphs[0], model: :comments %>
  <%= render "table_graph_performance", i: 1, g: @graphs[1], model: :likes %>
  <%= render "table_graph_performance", i: 1, g: @graphs[2], model: :favorites %>
  <%= render "table_graph_performance", i: 1, g: @graphs[3], model: :followers %>
</div>
<%= render 'table_header_filter' %>
