<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/statistics">Statistics</a> › Country Stats  </div>
</div>
<button class="btn btn-xs-blue filter_button" onclick="expandFilter();">⬇︎Click to filter</button>
<a href="/statistics/country"><button class="btn btn-xs-blue filter_button2">Clear filter</button></a>
<!-- FILTER PARAMS -->
<% grid = params[:grid] || 'all' %>
<% prep_completed = params[:prep_completed] || 'all' %>
<% cap_finished = params[:cap_finished] || 'all' %>
<% countries = params[:countries] || [] %>
<% processes = params[:processes] || [] %>
<% grids = params[:grids] || [] %>
<% assess_types = params[:assess_types] || [] %>

<% filter_params = params.reject{|k,v| k == 'controller' || k == 'action'} %>

<% if filter_params.present? %>
  <p style="font-size: 0.8em; margin-left: 5px;">SELECTED FILTERS: From => <strong><%= params[:start_date] || 1.years.ago.strftime('%Y-%m-%d') %></strong>, To => <strong><%= params[:end_date] || Time.now.strftime('%Y-%m-%d') %></strong>, Grid => <strong><%= grid %></strong>, Prep completed (Annual) => <strong><%= prep_completed %></strong>, CAP Review finished within 14 days => <strong> <%= cap_finished %></strong>, Countries => <strong><%= countries %></strong>, Grids => <strong><%= grids %></strong>, Assess types => <strong><%= assess_types %></strong>, Processes => <strong><%= processes %></strong> </p>
<% end %>

<div class="wrapper">
  <!-- Start Assessments -->
  <!-- filter start -->
  <div class="filter_collapsed" style="width: 100%; margin-bottom: 0.5em; display: none;">
    <!-- <div><span style="font-size: 0.6em; color: #32A2ED;">* Dates can be typed out</span></div> -->
    <form action="country" method="GET" style="width: 100%;">
      <%= render 'date_filter' %>
      <%= render 'prep_cap_filter' %>
      <%#= render 'grid_filter' %>
      <%= render 'grid_cp_filter' %>
      <%= render 'assess_plan_type_filter' %>
      <%= render 'process_filter' %>
      <%= render 'country_filter' %>

      <input name="commit" type="submit" value="Submit" class="btn btn-xs-blue filter_button" style="width: 35%; box-shadow: none; outline: none;">

    </form>
    <div style="width: 100%; border-bottom: 1px solid #ccc; margin: 1rem 0;"></div>
  </div>
  <!-- filter end -->

  <% if grid != 'cp' %>
  <%= render "table_graph_country", title: "Completed Assessments by Country", model: :assessment, i: 1, g: @graphs[0] %>

  <%= render "table_graph_country", title: "Open Assessments by Country", model: :assessment, i: 3, g:@graphs[1] %>

  <% end %>

</div>
<%= render 'table_header_filter' %>
<script>
  document.addEventListener("DOMContentLoaded", statsFilterChoices());

  function expandFilter(){
    // countriesStatsFilterChoices();
    var x = document.querySelector('.filter_collapsed');
    var button = document.querySelector('.filter_button')
    if (x.style.display === "none") {
      x.style.display = "block";
      button.innerHTML = "⬆Close filter";
    } else {
      x.style.display = "none";
      button.innerHTML = "⬇︎Click to filter";
    }
  }

  // var countriesStatsFilterChoices = new Choices("#countries", {
  //   removeItemButton: true,
  //   classNames: {
  //     inputCloned: 'no-shadow',
  //     placeholder: true
  //   }
  // });
</script>
