<style type="text/css">
  small { font-size: 1rem; }
</style>
<div>
  <h3>Search Supplier to Download Excel Data</h3>
  <p style="margin: 0"><small><i>Please note: Excel will only add 'Assessments' or 'Control Plans' sheets if supplier has scheduled at least one.</i></small></p>
  <div id="search_supplier">
    <% if params[:code].present? %>
      <% supplier = SupplierProfile.find_by(code: params[:code]) %>
      Supplier searched: <%= supplier.code %> - <%= supplier.name %>
    <% end %>

    <!-- url: supplier_history_stats_path -->
    <%= form_with model: SupplierProfile.new, url: "/statistics/excel/supplier", method: :get, local: true do |f| %>
      <select name="code" id="suppliers" placeholder="Search Supplier..." required="true">
        <option value="">Search supplier</option>
        <% @suppliers.each do |supplier| %>
          <option value="<%= supplier.code %>"><%= supplier.code %> - <%= supplier.name %></option>
        <% end %>
      </select>
      <div style="display: flex;">
        <%= f.submit "Download", class: "btn btn-xs-blue", style: "width: 150px; height: 2rem; margin-left: 5px;" %>
      </div>
    <% end %>
  </div>

</div>
<hr>
<div>
  <h3>Global Assessment Data </h3>
  <%= form_with model: SupplierProfile.new, url: "/statistics/excel/global", method: :get, local: true do |f| %>
      <!-- <div style="margin-bottom: 30px;">
        <%# [:usage_stats, :country_stats, :process_stats, :result_stats, :assessor_stats].each do |x| %>
          <label for="<%#= x %>">
            <input type="checkbox" name="<%#= x %>" id="<%#= x %>" value="true">
            <%#= x.to_s.titleize %>
          </label>
        <%# end %>
      </div> -->

      <div style="display: flex;">
        <%= f.submit "Download", class: "btn btn-xs-blue", style: "width: 150px; height: 2rem; margin-left: 5px;" %>
      </div>
    <% end %>
</div>

<script>
  var choices = new Choices("#suppliers", {
    removeItemButton: true,
    classNames: {
      inputCloned: 'no-shadow',
      placeholder: true
    }
  });
</script>
