<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/statistics">Statistics</a> › Process Stats  </div>
</div>

<div class="wrapper">

  <div class="expanded_filter_buttons">
    <button class="btn btn-xs-blue filter_button1" onclick="expandFilter();">⬇︎Click to filter</button>
    <a href="/statistics/process"><button class="btn btn-xs-blue filter_button2">Clear filter</button></a>

    <!-- FILTER PARAMS -->
    <% model = params[:model] || 'qa' %>
    <%# grid = params[:grid] || 'all' %>
    <% grids = params[:grids] || [] %>
    <% assess_types = params[:assess_types] || [] %>
    <% countries = params[:countries] || [] %>
    <% processes = params[:processes] || [] %>

    <% prep_completed = params[:prep_completed] || 'all' %>
    <% cap_finished = params[:cap_finished] || 'all' %>

    <% filter_params = params.reject{|k,v| k == 'controller' || k == 'action'} %>

    <% if filter_params.present? %>
      <p style="font-size: 0.8em; margin-left: 5px;">SELECTED FILTERS: From => <strong><%= params[:start_date] || 1.years.ago.strftime('%Y-%m-%d') %></strong>, To => <strong><%= params[:end_date] || Time.now.strftime('%Y-%m-%d') %></strong>, Grids => <strong><%= grids %></strong>, Assess types => <strong><%= assess_types %></strong>, Countries => <strong><%= countries %></strong>, Processes => <strong><%= processes %></strong>, Prep completed (Annual) => <strong><%= prep_completed %></strong>, CAP Review finished within 14 days => <strong> <%= cap_finished %></strong> </p>
    <% end %>

  </div>

  <div style="width: 100%; margin-bottom: 0.5em; display: none;" class="filter_collapsed">
    <form action="process" method="GET" style="width: 100%;">

      <%= render 'date_filter' %>
      <%= render 'prep_cap_filter' %>
      <%#= render 'grid_filter' %>
      <%= render 'grid_cp_filter' %>
      <%#= render 'assess_type_filter' %>
      <%= render 'assess_plan_type_filter' %>
      <%= render 'process_filter' %>
      <%= render 'country_filter' %>

      <div>
        <input class="btn btn-xs-blue" type="submit" value="submit" style="width: 80px; height: 2rem;">
      </div>
    </form>
  </div>

  <h4 style="margin-bottom: 0.5em;">Completed Assessments and Control Plans <button class="btn btn-xs-blue" onclick="exportTableToExcel('main-table-1')">⬇︎Download to Analyze Yourself</button></h4>
  <div class="bordered-card" style="margin-bottom: 1em;">
    <div id="table-scroll" class="table-scroll">
      <table id="main-table-1" class="main-table" style="border-bottom-right-radius:40px">
        <thead>
          <tr>
            <th scope="col">Process Name <span><%= render 'svg/direction' %></span></th>
            <th scope="col">Assessed Suppliers <span><%= render 'svg/direction' %></span></th>
            <th scope="col">Assessments <span><%= render 'svg/direction' %></span></th>
            <!-- <th scope="col">Monitored Suppliers</th> -->
            <th scope="col">Control Plans <span><%= render 'svg/direction' %></span></th>
          </tr>
        </thead>
        <tbody>
          <% @complete_data.each_with_index do |x, i| %>
            <tr>
              <% x.each do |y| %>
              <td><%= y %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div style="width: 100%; background: #32A2ED; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
      <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
        <div>Total Processes: <strong><%= @complete_data.count %></strong></strong></div>
        <div><strong>Total Suppliers: <%= @complete_data.map{|x| x[1].to_i}.sum %></strong></div>
        <div><strong>Total Assessements: <%= @complete_data.map{|x| x[2].to_i}.sum %></strong></div>
        <div><strong>Total Control Plans: <%= @complete_data.map{|x| x[3].to_i}.sum %></strong></div>
      </div>
    </div>
  </div>
  <div class="bordered-card" style="margin-bottom: 1.5em;">
    <%=raw @complete.div %>
  </div>

  <h4 style="margin-bottom: 0.5em;">Open Assessments and Control Plans <button class="btn btn-xs-blue" onclick="exportTableToExcel('main-table-2')">⬇︎Download to Analyze Yourself</button></h4>
  <div class="bordered-card" style="margin-bottom: 1em;">
    <div id="table-scroll" class="table-scroll">
      <table id="main-table-2" class="main-table">
        <thead>
          <tr>
            <th scope="col">Process Name <span><%= render 'svg/direction' %></span></th>
            <th scope="col">Assessed Suppliers <span><%= render 'svg/direction' %></span></th>
            <th scope="col">Assessments <span><%= render 'svg/direction' %></span></th>
            <!-- <th scope="col">Monitored Suppliers</th> -->
            <th scope="col">Control Plans <span><%= render 'svg/direction' %></span></th>
          </tr>
        </thead>
        <tbody>
          <% @incomplete_data.each do |x| %>
            <tr>
              <% x.each do |y| %>
              <td><%= y %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div style="width: 100%; background: #32A2ED; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
      <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
        <div>Total Processes: <strong><%= @incomplete_data.count %></strong></div>
        <div><strong>Total Suppliers: <%= @incomplete_data.map{|x| x[1].to_i}.sum %></strong></div>
        <div><strong>Total Assessements: <%= @incomplete_data.map{|x| x[2].to_i}.sum %></strong></div>
        <div><strong>Total Control Plans: <%= @incomplete_data.map{|x| x[3].to_i}.sum %></strong></div>
      </div>
    </div>
  </div>
  <div class="bordered-card">
    <%=raw @incomplete.div %>
  </div>
</div>
<%= render 'table_header_filter' %>
<script>
  document.addEventListener("DOMContentLoaded", statsFilterChoices());

  function expandFilter(){
    var x = document.querySelector('.filter_collapsed');
    var button1 = document.querySelector('.filter_button1')
    if (x.style.display === "none") {
      x.style.display = "block";
      button1.innerHTML = "⬆Close filter";
    } else {
      x.style.display = "none";
      button1.innerHTML = "⬇︎Click to filter";
    }
  }
</script>
