<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/statistics">Statistics</a> › Multiple Stats  </div>
</div>

<div class="wrapper">
  <div class="expanded_filter_buttons">
    <button class="btn btn-xs-blue filter_button1" onclick="expandFilter();">⬇︎Click to filter</button>
    <a href="/statistics/multiple-stats"><button class="btn btn-xs-blue filter_button2">Clear filter</button></a>

    <!-- FILTER PARAMS -->
    <% start_date = params[:start_date] || 1.years.ago.strftime('%Y-%m-%d') %>
    <% end_date = params[:end_date] || Time.now.strftime('%Y-%m-%d') %>
    <% grid = params[:grid] || 'all' %>
    <% assess_type = params[:assess_type] || 'all' %>
    <% prep_completed = params[:prep_completed] || 'all' %>
    <% cap_finished = params[:cap_finished] || 'all' %>
    <% select_stats_outcome = params[:select_stats_outcome] || nil %>
    <% stats_outcome = params[:stats_outcome] || nil %>
    <% grids = params[:grids] || [] %>
    <% assess_types = params[:assess_types] || [] %>
    <% processes = params[:processes] || [] %>
    <% countries = params[:countries] || [] %>
    <% completed = params[:completed] || 'true' %>
    <% plan_types = params[:plan_types] || [] %>


    <% filter_params = params.reject{|k,v| k == 'controller' || k == 'action'} %>

  </div>

  <!-- FILTER START -->
  <div style="width: 100%; margin-bottom: 0.5em; <%= select_stats_outcome.present? ? '' : 'display: none;' %>" class="filter_collapsed">
    <form action="">
      <div style="margin-top: 25px;">
        <%= render 'stats_outcome_filter' %>
      </div>
      <input name='commit' type="submit" value="submit" class="btn btn-xs-blue" style="width: 35%; box-shadow: none; outline: none; display: none;">
    </form>

    <% if select_stats_outcome.present? %>
      <form action="multiple-stats" method="GET" style="width: 100%;">
        <input type="hidden" name='stats_outcome' value="<%= select_stats_outcome %>">
        <%= render 'date_filter' %>
        <%= render 'supplier_filter' if select_stats_outcome == 'supplier' %>
        <%= render 'grid_filter' if ['supplier', 'assessment'].include?(select_stats_outcome) %>
        <%= render 'assess_type_filter' if ['supplier', 'assessment'].include?(select_stats_outcome) %>
        <%= render 'plan_type_filter' if select_stats_outcome == 'control_plan'%>
        <%= render 'completed_filter' if ['control_plan', 'assessment'].include?select_stats_outcome %>
        <%= render 'assessor_filter' if select_stats_outcome == 'assessor' %>
        <%= render 'result_filter' if select_stats_outcome == 'assesment' %>
        <%= render 'process_filter' if select_stats_outcome != 'assessor' %>
        <%= render 'country_filter' if select_stats_outcome != 'assessor' %>
        <%= render 'country_filter_assessor' if select_stats_outcome == 'assessor' %>



        <input name="commit" type="submit" value="submit" class="btn btn-xs-blue" style="width: 35%; box-shadow: none; outline: none;">
      </form>

    <% end %>

  </div>
  <!-- FILTER END -->
  <% if stats_outcome.present? %>
    <div style="width: 95%">
      <%= render 'multi_stats_group_by' if @group_by.present? %>
      <%= render 'multi_stats_top_ten' if@top_ten.present? %>
      <%= render 'multi_stats_time_series' if@time_series.present? %>
    </div>
  <% end %>


</div>

<script>
  document.addEventListener("DOMContentLoaded", statsFilterChoices());

  function expandFilter(){
    var x = document.querySelector('.filter_collapsed');
    var button1 = document.querySelector('.filter_button1')
    // var button2 = document.querySelector('.filter_button2')
    if (x.style.display === "none") {
      x.style.display = "block";
      button1.innerHTML = "⬆Close filter";
      // button2.style.display = 'inline-block';
    } else {
      x.style.display = "none";
      button1.innerHTML = "⬇︎Click to filter";
      // button2.style.display = 'none'
    }
  }

  var countries = new Choices('#stats_outcome', {
    removeItemButton: false,
    classNames: {
      inputCloned: 'no-shadow',
      placeholder: true
    }
  });
</script>
