<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/statistics">Statistics</a> › Assessor Stats  </div>
</div>

<!-- QUALITY ASSESSMENT -->
<div class="wrapper" id="qa_rank" style="display: block;">
  <div class="expanded_filter_buttons">
    <button class="btn btn-xs-blue filter_button1" onclick="expandFilter();">⬇︎Click to filter</button>
    <a href="/statistics/rank"><button class="btn btn-xs-blue filter_button2">Clear filter</button></a>
    <div class="flex">
      <% @roles.each do |role| %>
        <%= link_to role, request.params.merge(role: role), style: "margin-right: 10px;", data: {turbolinks: false} %>
      <% end %>
    </div>

    <!-- FILTER PARAMS -->
    <%# grid = params[:grid] || 'all' %>
    <% prep_completed = params[:prep_completed] || 'all' %>
    <% cap_finished = params[:cap_finished] || 'all' %>
    <% countries = params[:countries] || [] %>
    <% grids = params[:grids] || [] %>
    <% assess_types = params[:assess_types] || [] %>

    <% filter_params = params.reject{|k,v| k == 'controller' || k == 'action'} %>

    <% if filter_params.present? %>
      <p style="font-size: 0.8em; margin-left: 5px;">SELECTED FILTERS: From => <strong><%= params[:start_date] || 1.years.ago.strftime('%Y-%m-%d') %></strong>, To => <strong><%= params[:end_date] || Time.now.strftime('%Y-%m-%d') %></strong>, Prep completed (Annual) => <strong><%= prep_completed %></strong>, CAP Review finished within 14 days => <strong> <%= cap_finished %></strong>, Grids => <strong><%= grids %></strong>, Assess types => <strong><%= assess_types %></strong>, Countries => <strong><%= countries %></strong> </p>
    <% end %>

  </div>

  <div style="width: 100%; margin-bottom: 0.5em; display: none;" class="filter_collapsed">
    <form action="rank" method="GET" style="width: 100%;">
      <% if params[:role] %>
        <input type="hidden" name="role" value="<%= params[:role] %>">
      <% end %>
      <%= render 'date_filter' %>
      <%= render 'prep_cap_filter' %>
      <%= render 'grid_cp_filter' %>
      <%= render 'assess_plan_type_filter' %>
      <%= render 'country_filter' %>

      <div>
        <input type="submit" value="submit" class="btn btn-xs-blue" style="width: 80px; height: 2rem; margin-top: 10px;">
      </div>
    </form>
    <div style="width: 80%; border-bottom: 1px solid #ccc; margin: 1rem 0;"></div>
  </div>

  <div>
    <h4 style="margin-bottom:0.5em;">Assessor Rank - Completed Assessments & Control Plans <br><button class="btn btn-xs-blue" onclick="exportTableToExcel('main-table-1')">⬇︎Download to Analyze Yourself</button></h4>

    <div class="bordered-card" style="margin-bottom: 1em;">
      <div class="table-scroll" id="table-scroll">
        <table id="main-table-1" class="main-table">
          <thead>
            <tr>
              <th col="scope">No. <span><%= render 'svg/direction' %></span></th>
              <th col="scope">Assessors <span><%= render 'svg/direction' %></span></th>
              <th col="scope">Assessments <span><%= render 'svg/direction' %></span></th>
              <th col="scope">Control Plans <span><%= render 'svg/direction' %></span></th>
            </tr>
          </thead>
          <% @complete_data.each_with_index do |(k, v, x),i| %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= k %></td>
              <td><%= v %></td>
              <td><%= x %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div style="width: 100%; background: #32A2ED; height: 4rem; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
        <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
          <div>Total Assessors: <strong><%= @complete_count %></strong></div>
          <div>Total Assessments: <strong><%= @complete_sum %></strong></div>
          <div>Total Control Plans: <strong><%= @complete_cpsum %></strong></div>
        </div>
      </div>
    </div>
    <div class="bordered-card" style="margin-bottom: 1.5em;">
      <%=raw @complete.div %>
    </div>


    <h4 style="margin-bottom: 0.5em">Assessor Rank - Open Assesments & Control Plans <br><button class="btn btn-xs-blue" onclick="exportTableToExcel('main-table-2')">⬇︎Download to Analyze Yourself</button></h4>
    <div class="bordered-card" style="margin-bottom: 1em;">
      <div class="table-scroll" id="table-scroll">
        <table id="main-table-2" class="main-table">
          <thead>
            <tr>
              <th style="max-width: 75px;">No. <span><%= render 'svg/direction' %></span></th>
              <th>Assessors <span><%= render 'svg/direction' %></span></th>
              <th>Assessments <span><%= render 'svg/direction' %></span></th>
              <th>Control Plans <span><%= render 'svg/direction' %></span></th>
            </tr>
          </thead>
          <% @incomplete_data.each_with_index do |(k, v,x),i| %>
            <tr>
              <td style="max-width: 75px;"><%= i+1 %></td>
              <td><%= k %></td>
              <td><%= v %></td>
              <td><%= x %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div style="width: 100%; background: #32A2ED; height: 4rem; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
        <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
          <div>Total Assessors: <strong><%= @incomplete_count %></strong></div>
          <div>Total Assessments: <strong><%= @incomplete_sum %></strong></div>
          <div>Total Control Plans: <strong><%= @incomplete_cpsum %></strong></div>
        </div>
      </div>
    </div>

    <div class="bordered-card" style="margin-bottom: 1.5em">
      <%=raw @incomplete.div %>
    </div>
  </div>
</div>
<%= render 'table_header_filter' %>
<script>
  document.addEventListener("DOMContentLoaded", statsFilterChoices());

  function expandFilter(){
    var x = document.querySelector('.filter_collapsed');
    var button1 = document.querySelector('.filter_button1')
    if (x.style.display === "none") {
      x.style.display = "block";
      button1.innerHTML = "⬆Close filter";
    } else {
      x.style.display = "none";
      button1.innerHTML = "⬇︎Click to filter";
    }
  }
</script>
