<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/statistics">Statistics</a> › Result Stats  </div>
</div>

<div class="wrapper">
  <div class="expanded_filter_buttons">
    <button class="btn btn-xs-blue filter_button1" onclick="expandFilter();">⬇︎Click to filter</button>
    <a href="/statistics/result"><button class="btn btn-xs-blue filter_button2">Clear filter</button></a>

    <!-- FILTER PARAMS -->
    <% start_date = params[:start_date] || 1.years.ago.strftime('%Y-%m-%d') %>
    <% end_date = params[:end_date] || Time.now.strftime('%Y-%m-%d') %>
    <% grid = params[:grid] || 'all' %>
    <% assess_type = params[:assess_type] || 'all' %>
    <% prep_completed = params[:prep_completed] || 'all' %>
    <% cap_finished = params[:cap_finished] || 'all' %>
    <% grids = params[:grids].present? ? params[:grids].reject{|x| x == 'all'} : [] %>
    <% assess_types = params[:assess_types] || [] %>
    <% countries = params[:countries] || [] %>
    <% processes = params[:processes] || [] %>

    <% filter_params = params.reject{|k,v| k == 'controller' || k == 'action'} %>

    <% if filter_params.present? %>
      <p style="font-size: 0.8em; margin-left: 5px;">SELECTED FILTERS: From => <strong><%= params[:start_date] || 1.years.ago.strftime('%Y-%m-%d') %></strong>, To => <strong><%= params[:end_date] || Time.now.strftime('%Y-%m-%d') %></strong>, Prep completed (Annual) => <strong><%= prep_completed %></strong>, CAP Review finished within 14 days => <strong> <%= cap_finished %></strong>, Grids => <strong><%= grids %></strong>, Assess types => <strong><%= assess_types %></strong>, Countries => <strong><%= countries %></strong>, Processes => <strong><%= processes %></strong> </p>
    <% end %>

  </div>

  <!-- FILTER START -->
  <div style="width: 100%; margin-bottom: 0.5em; display: none;" class="filter_collapsed">
    <form action="result" method="GET" style="width: 100%;">
      <%#= render 'common_filter' %>
      <%= render 'date_filter' %>
      <%= render 'prep_cap_filter' %>
      <%#= render 'grid_filter' %>
      <%= render 'grid_cp_filter' %>
      <%#= render 'assess_type_filter' %>
      <%= render 'assess_plan_type_filter' %>
      <%= render 'process_filter' %>
      <%= render 'country_filter' %>

      <input type="submit" value="submit" class="btn btn-xs-blue" style="width: 35%; box-shadow: none; outline: none;">
    </form>

  </div>
  <!-- FILTER END -->

  <!-- ASSESSMENT -->
  <% if grids.blank? || @qa_present.present? %>

    <h4 style="margin-bottom: 0.5em; margin-top: 1.5em;">Assessments Results (Only includes valid results) <button class="btn btn-xs-blue" onclick="exportTableToExcel('main-table-1')">⬇︎Download to Analyze Yourself</button></h4>
    <div style="display: flex; justify-content: space-between;">
      <div class="bordered-card" style="margin-bottom: 1em; width: 45%;">
        <div id="table-scroll" class="table-scroll">
          <table id="main-table-1" class="main-table">
            <thead>
              <tr>
                <th col="scope">Result <span><%= render 'svg/direction' %></span></th>
                <th col="scope">Assessments <span><%= render 'svg/direction' %></span></th>
              </tr>
            </thead>
            <% @data.each do |k, v| %>
              <tr>
                <td><%= k %></td>
                <td><%= v %></td>
              </tr>
            <% end %>
          </table>
        </div>
        <div style="width: 100%; background: #32A2ED; height: 4rem; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
          <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
            <div>Total Assessments: <strong><%= @total %></strong></div>
          </div>
        </div>
      </div>

      <div class="bordered-card" style="margin-bottom: 1.5em; width: 45%;">
        <%=raw @graph.div %>
      </div>
    </div>

    <div style="display: flex; justify-content: space-between;">
      <div class="bordered-card" style="margin-bottom: 1.5em; width: 45%;">
        <%=raw @target_graph.div %>
      </div>
      <div class="bordered-card" style="margin-bottom: 1.5em; width: 45%;">
        <%=raw @abc_graph.div %>
      </div>
    </div>

    <% if @grids.present? %>
    <div style="display: flex; justify-content: space-between;">
      <div class="bordered-card" style="margin-bottom: 1.5em; width: 45%;">
        <%=raw @d_graph.div %>
      </div>
      <div class="bordered-card" style="margin-bottom: 1.5em; width: 45%;">
        <%=raw @e_graph.div %>
      </div>
    </div>
    <% end %>
  <% end %>
  <!-- END OF ASSESSMENT -->

  <!-- CONTROL PLAN -->
  <% if grids.blank? || @cp_present.present? %>

    <h4 style="margin-bottom: 0.5em;">Control Plan Results <button class="btn btn-xs-blue" onclick="exportTableToExcel('main-table-2')">⬇︎Download to Analyze Yourself</button></h4>
    <div style="display: flex; justify-content: space-between;">
      <div class="bordered-card" style="margin-bottom: 1em; width: 45%;">
        <div id="table-scroll" class="table-scroll">
          <table id="main-table-2" class="main-table">
            <thead>
              <tr>
                <th col="scope">Nonconformity Rate  <span><%= render 'svg/direction' %></span></th>
                <th col="scope">Plans  <span><%= render 'svg/direction' %></span></th>
              </tr>
            </thead>
            <% @data_cp_ncr.each do |k, v| %>
              <tr>
                <td><%= k %></td>
                <td><%= v %></td>
              </tr>
            <% end %>
          </table>
        </div>
        <div style="width: 100%; background: #32A2ED; height: 4rem; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
          <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
            <div>Total Plans: <strong><%= @total_cp %></strong></div>
          </div>
        </div>
      </div>

      <div class="bordered-card" style="margin-bottom: 1.5em; width: 45%;">
        <%=raw @graph_cp_ncr.div %>
      </div>
    </div>

    <div style="display: flex; justify-content: space-between;">
      <div class="bordered-card" style="margin-bottom: 1.5em; width: 45%;">
        <%=raw @graph_cp_freq.div %>
      </div>
      <div class="bordered-card" style="margin-bottom: 1.5em; width: 45%;">
        <%=raw @graph_cp_cap.div %>
      </div>
    </div>

  <% end %>

  <!-- END OF CP -->



</div>
<%= render 'table_header_filter' %>
<script>
  document.addEventListener("DOMContentLoaded", statsFilterChoices());

  function expandFilter(){
    var x = document.querySelector('.filter_collapsed');
    var button1 = document.querySelector('.filter_button1')
    // var button2 = document.querySelector('.filter_button2')
    if (x.style.display === "none") {
      x.style.display = "block";
      button1.innerHTML = "⬆Close filter";
      // button2.style.display = 'inline-block';
    } else {
      x.style.display = "none";
      button1.innerHTML = "⬇︎Click to filter";
      // button2.style.display = 'none'
    }
  }
</script>
