<div class="wrapper">
  <div style="display: flex; justify-content: space-between;margin-right: 50px; ">
    <h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">Statistics</h2>
    <a href="statistics/multiple-stats">
      <h3 style="margin-bottom: 1em;">Advanced Statistics</h3>
    </a>
    <a href="statistics/excel-download">
      <h3 style="margin-bottom: 1em;">Full Excel Download</h3>
    </a>
  </div>
  <div class="menu-3up">
    <%= link_to country_stats_path, class: 'column no-underline', data:{turbolinks: false} do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
        <%= render 'svg/globe' %>
        <h1 class="br-pill" style="background: rgba(116, 198, 166, 1.00); color: white; margin-top: 1rem;">Country Stats</h1>
      </div>
    <% end %>
    <%= link_to process_stats_path, class: 'column no-underline', data:{turbolinks: false} do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
        <%= render 'svg/process' %>
        <h1 class="br-pill" style="background: rgba(92, 210, 193, 1.00); color: white; margin-top: 1rem;">Process Stats</h1>
      </div>
    <% end %>
    <%= link_to result_stats_path, class: 'column no-underline', data:{turbolinks: false} do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
        <%= render 'svg/results' %>
        <h1 class="br-pill" style="background: rgba(253, 122, 105, 1.00); color: white; margin-top: 1rem;">Result Stats</h1>
      </div>
    <% end %>
    <%= link_to rank_stats_path, class: 'column no-underline', data:{turbolinks: false} do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
        <%= render 'svg/staff' %>
        <h1 class="br-pill" style="background: #32A2ED; color: white; margin-top: 1rem;">Assessor Stats</h1>
      </div>
    <% end %>
    <%= link_to comment_stats_path, class: 'column no-underline', data:{turbolinks: false} do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
        <%= render 'svg/commentor' %>
        <h1 class="br-pill" style="background: rgba(56, 84, 102, 1.00); color: white; margin-top: 1rem;">Engagement Stats</h1>
      </div>
    <% end %>
    <%= link_to supplier_stats_path, class: 'column no-underline', data:{turbolinks: false} do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
        <%= render 'svg/factory' %>
        <h1 class="br-pill" style="background: #2C9F67; color: white; margin-top: 1rem;">Suppliers Stats</h1>
      </div>
    <% end %>
    <%= link_to assessment_stats_path, class: 'column no-underline', data:{turbolinks: false} do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
        <!-- need another svg -->
        <%= render 'svg/factory' %>
        <h1 class="br-pill" style="background: #2C9F67; color: white; margin-top: 1rem;">Assessment Stats</h1>
      </div>
    <% end %>
  </div>
</div>