<%#= @supplier_codes %>
<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/statistics">Statistics</a> › <a href="/statistics/supplier">Supplier Stats</a> › <a href="/statistics/supplier/search">Search Suppliers</a> › Suppliers' History </div>
</div>

<div class="wrapper">
  <% suppliers = @supplier_codes.map{|c| "#{SupplierProfile.find_by(code: c).code} - #{SupplierProfile.find_by(code: c).name}"} %>
  <div>Suppliers searched: <%= suppliers.join(", ") %></div>


  <div style="border-top: 1px solid rgba(0,0,0,0.6); padding-top: 10px;"></div>

  <div class="expanded_filter_buttons">
    <button class="btn btn-xs-blue filter_button1" onclick="expandFilter();">⬇︎Click to filter</button>
    <!-- <a href="/statistics/supplier"><button class="btn btn-xs-blue filter_button2">Clear filter</button></a> -->
  </div>
  <!-- Start Assessments -->
  <div style="width: 100%; margin-bottom: 0.5em; display:none;" class="filter_collapsed">
    <form action="history" method="GET" style="width: 100%;">
      <span style="font-size: 0.6em; color: #32A2ED;">* Dates can be typed out</span>
      <label for="">From</label>
      <input type="date" style="max-width: 150px; width: 100%; padding: 2px; height: 1rem;" name="start_date" value="<%= params[:start_date] || 1.years.ago.strftime('%Y-%m-%d') %>">
      <label for="">To</label>
      <input type="date" style="max-width: 150px; width: 100%; padding: 2px; height: 1rem;" name="end_date" value="<%= params[:end_date] || Time.now.strftime('%Y-%m-%d') %>">
      <%= render 'completed_filter' %>
      <%= render 'grid_cp_filter' %>
      <%= render 'assess_plan_type_filter' %>

      <!-- hidden params for selected supplier codes -->
      <select style="display: none;" name="suppliers[]" selected="suppliers" multiple="multiple">
        <% @supplier_codes.each do |c|  %>
          <option value="<%= c %>" selected></option>
        <% end %>
      </select>
      <!-- hidden params for selected supplier codes -->

      <input type="submit" value="submit" style="width: 80px; height: 2rem;">
    </form>
  </div>

  <div><h4>Assessments <button class="btn btn-xs-blue" onclick="exportTableToExcel('main-table-1')">⬇︎Download to Analyze Yourself</button></h4></div>

  <div class="bordered-card" style="margin-bottom: 1em;">
    <div id="table-scroll" class="table-scroll">
      <table id="main-table-1" class="main-table">
        <thead>
          <tr>
            <th scope="col" style="width: 50px"></th>
            <th scope="col">Supplier</th>
            <th scope="col">Grid</th>
            <th scope="col">Type</th>
            <th scope="col">Assess Date</th>
            <th scope="col">Status</th>
            <th scope="col">Result/Nonconformity Rate</th>
            <!-- <th scope="col">Report</th> -->
          </tr>
        </thead>
        <tbody>
          <% @assessments.each_with_index do |x,i| %>
            <tr>
              <th><%= i+1 %></th>
              <td><%= x.supplier_profile.code %> - <%= x.supplier_profile.name %></td>
              <td><%= QualityAssessment::SHORT_NAMES[x.grid] || "CP" %></td>
              <td><%= x.assess_type %></td>
              <td><%= x.assess_date.strftime('%Y-%m-%d') %></td>
              <td><%= x.completed ? 'Completed' : 'Open' %></td>
              <td><%= x.grid == 'control_plan' ? x.nonconformity_rate : x.result %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
      <div style="width: 100%; background: #32A2ED; height: 4rem; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
        <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
          <div>Total Assessments: <strong><%= @assessments.count %></strong></div>
        </div>
      </div>
    </div>
  </div>

  <div class="bordered-card" style="margin-bottom: 1.5em">
    <%=raw @qa_bar.div %>
  </div>

</div>



<!-- End Assessments -->




<!-- End CPs -->

<!-- </div> -->
<script>
  function sortTable(table, col, reverse) {
    var tb = table.tBodies[0], // use `<tbody>` to ignore `<thead>` and `<tfoot>` rows
        tr = Array.prototype.slice.call(tb.rows, 0), // put rows into array
        i;
    reverse = -((+reverse) || -1);
    tr = tr.sort(function (a, b) { // sort rows
        return reverse // `-1 *` if want opposite order
            * (a.cells[col].textContent.trim() // using `.textContent.trim()` for test
                  .localeCompare(b.cells[col].textContent.trim())
                 );
    });
    for(i = 0; i < tr.length; ++i) tb.appendChild(tr[i]); // append each row in order
  }

  function makeSortable(table) {
    var th = table.tHead, i;
    th && (th = th.rows[0]) && (th = th.cells);
    if (th) i = th.length;
    else return; // if no `<thead>` then do nothing
    while (--i >= 0) (function (i) {
        var dir = 1;
        th[i].addEventListener('click', function () {
          sortTable(table, i, (dir = 1 - dir))
        });
    }(i));
  }

  function makeAllSortable(parent) {
    parent = parent || document.body;
    var t = parent.getElementsByTagName('table'), i = t.length;
    while (--i >= 0) makeSortable(t[i]);
  }


  window.addEventListener("turbolinks:load", makeAllSortable());

  document.addEventListener("DOMContentLoaded", statsFilterChoices());

  function expandFilter(){
    var x = document.querySelectorAll('.filter_collapsed');
    var button1 = document.querySelectorAll('.filter_button1')
    // var button2 = document.querySelector('.filter_button2')
    if (x[0].style.display === "none") {
      x.forEach(filt => { filt.style.display = "block"; })
      button1.forEach(btn => {btn.innerHTML = "⬆Close filter";})
    } else {
      x.forEach(filt => { filt.style.display = "none"; })
      button1.forEach(btn => {btn.innerHTML = "⬇︎Click to filter";})
    }
  }
</script>

