<div class='wrapper' style="margin-bottom: 0.5rem;">
  <div style="margin-bottom: 1rem; display: flex; justify-content: space-between;">
    <div><a href="/statistics">Statistics</a> › Supplier data Download  </div>
  </div>
</div>

<div class="wrapper">
  <!-- Start Assessments -->
  <div id="qa_supplier">
    <div class="expanded_filter_buttons">
      <button class="btn btn-xs-blue filter_button1" onclick="expandFilter();">Click to filter ⬇</button>
      <a href="/statistics/supplier"><button class="btn btn-xs-blue filter_button2">Clear filter</button></a>

      <!-- FILTER PARAMS -->
      <% grids = params[:grids] || [] %>
      <% assess_types = params[:assess_types] || [] %>
      <% countries = params[:countries] || [] %>

      <% filter_params = params.reject{|k,v| k == 'controller' || k == 'action'} %>

      <% if filter_params.present? %>
        <p style="font-size: 0.8em; margin-left: 5px;">SELECTED FILTERS: Grids: <strong><%= grids %></strong> </p>
      <% end %>
    </div>

    <div style="width: 100%; margin-bottom: 0.5em; display: none;" class="filter_collapsed">
      <form action="supplier-full" method="GET" style="width: 100%;">
        <%= render 'grid_filter' %>
        <div>
          <input type="submit" value="submit" class="btn btn-xs-blue" style="width: 80px; height: 2rem;" onclick="expandFilter(this)" data-model='qa'>
        </div>
        <div style="width: 80%; border-bottom: 1px solid #ccc; margin: 1rem 0;"></div>
      </form>
    </div>

    <h4 style="margin-top: 0.5em;">Supplier Data <button class="btn btn-xs-blue" onclick="exportTableToExcel('main-table-1')">⬇ Download to Analyze Yourself</button></h4>
    <div class="bordered-card" style="margin-bottom: 1em;">
      <div id="table-scroll" class="table-scroll">
        <table id="main-table-1" class="main-table">
          <thead>
            <tr>
              <th scope="col" style="width: 50px;"></th>
              <% @headers.each_with_index do |header, i| %>
                <th scope="col"><%= header.humanize.upcase %> <span><%= render 'svg/direction' %></span></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @rows.each_with_index do |x,i| %>
            <tr>
              <th class="fixed-side"><%= i+1 %></th>
              <% x.each.with_index do |value, i| %>
                <td><%= "#{value}".gsub(/["\{\}]/, '') %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<script>


  // function sortTable(table, col, reverse) {
  //   var tb = table.tBodies[0], // use `<tbody>` to ignore `<thead>` and `<tfoot>` rows
  //       tr = Array.prototype.slice.call(tb.rows, 0), // put rows into array
  //       i;
  //   reverse = -((+reverse) || -1);
  //   tr = tr.sort(function (a, b) { // sort rows
  //       return reverse // `-1 *` if want opposite order
  //           * (a.cells[col].textContent.trim() // using `.textContent.trim()` for test
  //                 .localeCompare(b.cells[col].textContent.trim())
  //                );
  //   });
  //   for(i = 0; i < tr.length; ++i) tb.appendChild(tr[i]); // append each row in order
  // }

  // function makeSortable(table) {
  //   var th = table.tHead, i;
  //   th && (th = th.rows[0]) && (th = th.cells);
  //   if (th) i = th.length;
  //   else return; // if no `<thead>` then do nothing
  //   while (--i >= 0) (function (i) {
  //       var dir = 1;
  //       th[i].addEventListener('click', function () {
  //         sortTable(table, i, (dir = 1 - dir))
  //       });
  //   }(i));
  // }

  // function makeAllSortable(parent) {
  //   parent = parent || document.body;
  //   var t = parent.getElementsByTagName('table'), i = t.length;
  //   while (--i >= 0) makeSortable(t[i]);
  // }


  // window.addEventListener("turbolinks:load", makeAllSortable());

  document.addEventListener("DOMContentLoaded", statsFilterChoices());

  function expandFilter(){
    var x = document.querySelectorAll('.filter_collapsed');
    var button1 = document.querySelectorAll('.filter_button1')
    // var button2 = document.querySelector('.filter_button2')
    if (x[0].style.display === "none") {
      x.forEach(filt => { filt.style.display = "block"; })
      button1.forEach(btn => {btn.innerHTML = "⬆Close filter";})
    } else {
      x.forEach(filt => { filt.style.display = "none"; })
      button1.forEach(btn => {btn.innerHTML = "⬇︎Click to filter";})
    }
  }
</script>
