<div class='wrapper' style="margin-bottom: 0.5rem;">
  <div style="margin-bottom: 1rem; display: flex; justify-content: space-between;">
    <div><a href="/statistics">Statistics</a> › Supplier Stats  </div>
    <div><a style="margin-right: 15px;" href="/statistics/supplier-full">Supplier data Download</a> <a href="<%= supplier_stats_search_path %>">Search supplier 🔍</a></div>
  </div>

</div>

<div class="wrapper">
  <!-- Start Assessments -->
  <div id="qa_supplier">
    <div class="expanded_filter_buttons">
      <button class="btn btn-xs-blue filter_button1" onclick="expandFilter();">⬇︎Click to filter</button>
      <a href="/statistics/supplier"><button class="btn btn-xs-blue filter_button2">Clear filter</button></a>

      <!-- FILTER PARAMS -->
      <% model = params[:model] || 'qa' %>
      <%# grid = params[:grid] || 'all' %>
      <% grids = params[:grids] || [] %>
      <% assess_type = params[:assess_type] || 'all' %>
      <% assess_types = params[:assess_types] || [] %>
      <% plan_type = params[:plan_type] || 'all' %>

      <% countries = params[:countries] || [] %>
      <% processes = params[:processes] || [] %>
      <% status = params[:status] || 'all' %>

      <% fgp = (params[:finished_goods_supplier].present? && params[:finished_goods_supplier] == "true") || false %>
      <% component = (params[:component_supplier].present? && params[:component_supplier] == "true") || false %>
      <% partner = (params[:partner].present? && params[:partner] == "true") || false %>

      <% prep_completed = params[:prep_completed] || 'all' %>
      <% cap_finished = params[:cap_finished] || 'all' %>

      <% filter_params = params.reject{|k,v| k == 'controller' || k == 'action'} %>

      <% if filter_params.present? %>
        <p style="font-size: 0.8em; margin-left: 5px;">SELECTED FILTERS: From => <strong><%= params[:start_date] || 1.years.ago.strftime('%Y-%m-%d') %></strong>, To => <strong><%= params[:end_date] || Time.now.strftime('%Y-%m-%d') %></strong>, Grids => <strong><%= grids %></strong>, Assess types: <strong><%= assess_types %></strong>, Prep completed (Annual) => <strong><%= prep_completed %></strong>, CAP Review finished within 14 days => <strong> <%= cap_finished %></strong> Supplier status: <strong><%= status %></strong>, Finished goods: <strong><%= fgp %></strong>, Component: <strong><%= component %></strong>, Partner: <strong><%= partner %></strong>, Countries: <strong><%= countries %></strong>, Processes => <strong><%= processes %></strong> </p>
      <% end %>

    </div>

    <% unless params[:supplier].present? %>
      <div style="width: 100%; margin-bottom: 0.5em; display: none;" class="filter_collapsed">
        <!-- <span style="font-size: 0.6em; color: #32A2ED;">* Dates can be typed out</span> -->
        <form action="supplier" method="GET" style="width: 100%;">

          <%= render 'date_filter' %>
          <%= render 'grid_cp_filter' %>
          <%= render 'assess_plan_type_filter' %>
          <%= render 'supplier_filter' %>
          <%= render 'prep_cap_filter' %>
          <%= render 'process_filter' %>
          <%= render 'country_filter' %>


          <div>
            <input type="submit" value="submit" class="btn btn-xs-blue" style="width: 80px; height: 2rem;" onclick="expandFilter(this)" data-model='qa'>
          </div>
          <div style="width: 80%; border-bottom: 1px solid #ccc; margin: 1rem 0;"></div>

        </form>
      </div>
    <% end %>

    <% @data_sets.each_with_index do |res, i| %>
      <% if res[:res].blank? %>
        <h4 style="margin-top: 0.5em;"> <%= res[:title] %> by Supplier</h4>

        <div class="bordered-card" style="margin-bottom: 1em;">
          There are no suppliers fulfilling this criteria for <%= res[:title] %>
        </div>
      <% else %>

      <h4 style="margin-top: 0.5em;"> <%= res[:title] %> by Supplier <button class="btn btn-xs-blue" onclick="exportTableToExcel('main-table-<%= i+1 %>')">⬇︎Download to Analyze Yourself</button></h4>

      <div class="bordered-card" style="margin-bottom: 1em;">
        <div id="table-scroll" class="table-scroll">
          <table id="main-table-<%= i+1 %>" class="main-table">
            <thead>
              <tr>
                <th scope="col" style="width: 50px; cursor: pointer"></th>
                <th scope="col" style="cursor: pointer">Supplier <span><%= render 'svg/direction' %></span></th>
                <th scope="col" style="cursor: pointer">Code <span><%= render 'svg/direction' %></span></th>
                <th scope="col" style="cursor: pointer">Country <span><%= render 'svg/direction' %></span></th>
                <th scope="col" style="cursor: pointer">Last Assessed <span><%= render 'svg/direction' %></span></th>
                <th scope="col" style="cursor: pointer">Grid <span><%= render 'svg/direction' %></span></th>
                <th scope="col" style="cursor: pointer">
                  <%= res[:title].include?("Control Plan") ? "Plan" : "Assess" %>
                 Type <span><%= render 'svg/direction' %></span></th>
                <th scope="col" style="cursor: pointer">
                  <%= res[:title].include?("Control Plan") ? "NCR" : "Result" %>
                  <span><%= render 'svg/direction' %></span></th>
                <th scope="col" style="cursor: pointer">Process <span><%= render 'svg/direction' %></span></th>
                <th scope="col" style="cursor: pointer">Assessors <span><%= render 'svg/direction' %></span></th>
                <th scope="col" style="cursor: pointer">Supplier History <span><%= render 'svg/direction' %></span></th>
              </tr>
            </thead>
            <tbody>
              <% res[:res].each_with_index do |x,i| %>
                <% x.insert(4, "Control Plan") if res[:title].include?("Control Plan") %>
                <tr>
                  <th><%= i+1 %></th>
                  <td><%= x[0] %></td>
                  <td><%= x[1] %></td>
                  <td><%= country_name(x[2]) %></td>
                  <td><%= Time.parse(x[3]).strftime('%Y-%m-%d') %></td>
                  <td><%= x[4].humanize %></td>
                  <td><%= x[5] %></td>
                  <td><%= x[6] %></td>
                  <td><%= x[7] %></td>
                  <td><%= x[8] %></td>
                  <td><a data-turbolinks="false" href="<%= supplier_qa_stats_path(supplier_code: x[1]) %>"><button class="btn btn-xs-blue">History</button></a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div style="width: 100%; background: #32A2ED; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
          <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
            <div>Total Suppliers: <strong><%= res[:total_suppliers] %></strong></div>
            <div>Total Processes: <strong><%= res[:total_processess] %></strong></div>
            <div></div>
          </div>
        </div>
      </div>

      <% unless params[:supplier].present? %>
        <div class="bordered-card" style="margin-bottom: 1.5em">
        <%=raw res[:bar].div %>
        </div>
      <% end %>
      <% end %>
    <% end %>
  </div>

<!-- End Assessments -->



<!-- End CPs -->
</div>

<%= render 'table_header_filter' %>

<script>
  document.addEventListener("DOMContentLoaded", statsFilterChoices());

  function expandFilter(){
    var x = document.querySelectorAll('.filter_collapsed');
    var button1 = document.querySelectorAll('.filter_button1')
    // var button2 = document.querySelector('.filter_button2')
    if (x[0].style.display === "none") {
      x.forEach(filt => { filt.style.display = "block"; })
      button1.forEach(btn => {btn.innerHTML = "⬆Close filter";})
    } else {
      x.forEach(filt => { filt.style.display = "none"; })
      button1.forEach(btn => {btn.innerHTML = "⬇︎Click to filter";})
    }
  }
</script>
