<div>
  <div id="search_supplier">
    <% if params[:supplier].present? %>
      <% supplier = SupplierProfile.find_by(code: params[:supplier]) %>
      Supplier searched: <%= supplier.code %> - <%= supplier.name %>
    <% end %>

    <!-- url: supplier_history_stats_path -->
    <%= form_with model: SupplierProfile.new, url: "/statistics/supplier/search", method: :get, local: true do |f| %>
      <select name="suppliers[]" id="suppliers" placeholder="Search Supplier..." required="true" multiple=true>
        <option value="">Search supplier</option>
        <% @suppliers.each do |supplier| %>
          <option value="<%= supplier.code %>"><%= supplier.code %> - <%= supplier.name %></option>
        <% end %>
      </select>
      <div style="display: flex;">
        <%= f.submit "Go To Supplier", class: "btn btn-xs-blue", style: "width: 150px; height: 2rem; margin-left: 5px;" %>
        <a href="/statistics/supplier"><input type="reset" value="Reset" class="btn btn-xs-blue" style="width: 150px; height: 2rem; margin-left: 5px;"></a>
      </div>
    <% end %>
  </div>

</div>

<script>
  var choices = new Choices("#suppliers", {
    removeItemButton: true,
    classNames: {
      inputCloned: 'no-shadow',
      placeholder: true
    }
  });
</script>
