<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/statistics">Statistics</a> › <a href="/statistics/supplier">Supplier Stats</a> › <%= params[:supplier_code].split("+").join(" - ") %> </div>
</div>
<div class="wrapper">
  <!-- FILTERS -->
  <span style="font-size: 0.6em; color: #32A2ED;">* Dates can be typed out</span>
  <div style="width: 100%; margin-bottom: 0.5em;">
    <form action="<%= params[:supplier_code] %>" method="GET" style="width: 100%;">
      <label for="">From</label>
      <input type="date" style="max-width: 150px; width: 100%; padding: 2px; height: 1rem;" name="start_date" value="<%= params[:start_date] || 1.years.ago.strftime('%Y-%m-%d') %>">
      <label for="">To</label>
      <input type="date" style="max-width: 150px; width: 100%; padding: 2px; height: 1rem;" name="end_date" value="<%= params[:end_date] || Time.now.strftime('%Y-%m-%d') %>">
      <% grid = params[:grid] || 'all' %>
      <label for="">Grid</label>
      <select name="grid" style="margin-left: 5px; height: 1.5rem; font-size: 16px;">
        <option value="all" <%= params[:grid] == 'all' ? 'selected' : '' %>>All</option>
        <option value="quality_assessment" <%= grid == 'quality_assessment' ? 'selected' : '' %>>QA</option>
        <option value="sse_assessment" <%= grid == 'sse_assessment' ? 'selected' : '' %>>SSE</option>
        <option value="opex_assessment" <%= grid == 'opex_assessment' ? 'selected' : '' %>>OPEX</option>
        <option value="hrp_assessment" <%= grid == 'hrp_assessment' ? 'selected' : '' %>>HRP</option>
        <option value="scm_assessment" <%= grid == 'scm_assessment' ? 'selected' : '' %>>SCM</option>
        <option value="pur_assessment" <%= grid == 'pur_assessment' ? 'selected' : '' %>>PUR</option>
        <option value="env_assessment" <%= grid == 'env_assessment' ? 'selected' : '' %>>ENV</option>
      </select>
      <br>
      <% assess_type = params[:assess_type] || 'all' %>
      <label for="">Assessment Type</label>
      <select name="assess_type" style="margin-left: 5px; height: 1.5rem; font-size: 16px;">
        <option value="all" <%= params[:assess_type] == 'all' ? 'selected' : '' %>>All</option>
        <option value="Annual" <%= assess_type == 'Annual' ? 'selected' : '' %>>Annual</option>
        <option value="Gemba" <%= assess_type == 'Gemba' ? 'selected' : '' %>>Gemba</option>
        <option value="Self Assessment" <%= assess_type == 'Self Assessment' ? 'selected' : '' %>>Self Assessment</option>
        <option value="Self Assessment Training" <%= assess_type == 'Self Assessment Training' ? 'selected' : '' %>>Self Assessment Training</option>
        <option value="CAP Close" <%= assess_type == 'CAP Close' ? 'selected' : '' %>>CAP Close</option>
        <option value="CAP Review" <%= assess_type == 'CAP Review' ? 'selected' : '' %>>CAP Review</option>
      </select>
      <% plan_type = params[:plan_type] || 'all' %>
      <label for="">Control Plan Type</label>
      <select name="plan_type" style="margin-left: 5px; height: 1.5rem; font-size: 16px;">
        <option value="all" <%= params[:plan_type] == 'all' ? 'selected' : '' %>>All</option>
        <option value="New Monitor" <%= plan_type == 'New Monitor' ? 'selected' : '' %>>New Monitor</option>
        <option value="CAP Review" <%= plan_type == 'CAP Review' ? 'selected' : '' %>>CAP Review</option>
      </select>
      <% completed = params[:completed] || 'all' %>
      <label for="">Completed?</label>
      <select name="completed" style="margin-left: 5px; height: 1.5rem; font-size: 16px;">
        <option value="all" <%= params[:completed] == 'all' ? 'selected' : '' %>>All</option>
        <option value="completed" <%= completed == 'completed' ? 'selected' : '' %>>Completed</option>
        <option value="open" <%= completed == 'open' ? 'selected' : '' %>>Open</option>
      </select>
      <input type="submit" value="submit" style="width: 80px; height: 2rem;">
    </form>
  </div>
  <% @charts.each do |chart_set| %>
    <!-- SUPPLIER TOP -->
    <div>
      <h4><%= chart_set[:supplier].code %> - <%= chart_set[:supplier].name %></h4>
      <div>City: <%= chart_set[:supplier].city || 'Not set' %></div>
      <div style="margin-bottom: 0.5em;">Country: <%= country_name(chart_set[:supplier].country) || 'Not set' %></div>
    </div>
    <!-- Start Assessments -->
    <div style="border-top: 1px solid rgba(0,0,0,0.6); padding-top: 10px;">
      <h4>Assessments <button class="btn btn-xs-blue" onclick="exportTableToExcel('main-table-1')">⬇︎Download to Analyze Yourself</button></h4>
    </div>
    <div class="bordered-card" style="margin-bottom: 1em;">
      <div id="table-scroll" class="table-scroll">
        <table id="main-table-1" class="main-table">
          <thead>
            <tr>
              <th scope="col" style="width: 50px"></th>
              <th scope="col">Grid</th>
              <th scope="col">Type</th>
              <th scope="col">Assess Date</th>
              <th scope="col">Assessed By</th>
              <th scope="col">Status</th>
              <th scope="col">Result</th>
              <!-- <th scope="col">Assessors</th> -->
            </tr>
          </thead>
          <tbody>
            <% chart_set[:qas].each_with_index do |x,i| %>
              <tr>
                <th><%= i+1 %></th>
                <td><%= x.grid_short_name %></td>
                <td><%= x.assess_type %></td>
                <td><%= x.assess_date.strftime('%Y-%m-%d') %></td>
                <td><%= x.assessor_name %></td>
                <td><%= x.completed ? 'Completed' : 'Open' %></td>
                <td><%= x.result %></td>
                <%# users = (x.assessors.map{|x| x.id} + [x.created_by]).uniq %>
                <%# assessors = (users.map{|x| AssessorProfile.find_by(user_id: x) ? AssessorProfile.find_by(user_id: x).name : User.find(x).username }).join(", ") %>
                <!-- <td><%#= assessors %></td> -->
              </tr>
            <% end %>
          </tbody>
        </table>
        <div style="width: 100%; background: #32A2ED; height: 4rem; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
          <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
            <div>Total Assessments: <strong><%= chart_set[:qas].count %></strong></div>
          </div>
        </div>
      </div>
    </div>
    <div class="bordered-card" style="margin-bottom: 1.5em">
      <%=raw chart_set[:qa_bar].div %>
    </div>
    <div style="border-top: 1px solid rgba(0,0,0,0.6); padding-top: 10px;">
      <h4>Control Plans
        <% if chart_set[:cps].length > 0 %>
          <button class="btn btn-xs-blue" onclick="exportTableToExcel('main-table-2')">⬇︎Download to Analyze Yourself</button>
        <% end %>
      </h4>
    </div>
    <!-- Start Control Plan -->
    <% if chart_set[:cps].length.zero? %>
      <div class="bordered-card" style="margin-bottom: 1em;">
        There are no CP's for this supplier
      </div>
    <% else %>
      <div class="bordered-card" style="margin-bottom: 1em;">
        <div id="table-scroll" class="table-scroll">
          <table id="main-table-2" class="main-table">
            <thead>
              <tr>
                <th scope="col" style="width: 50px"></th>
                <th scope="col">Type</th>
                <th scope="col">Plan Date</th>
                <th scope="col">Assessed by</th>
                <th scope="col">Status</th>
                <th scope="col">Result</th>
                <th scope="col">Assessors</th>
                <!-- <th scope="col">Report</th> -->
              </tr>
            </thead>
            <tbody>
              <% chart_set[:cps].each_with_index do |x,i| %>
                <tr>
                  <th><%= i+1 %></th>
                  <td><%= x.plan_type %></td>
                  <td><%= x.assess_date.strftime('%Y-%m-%d') %></td>
                  <td><%= x.username %></td>
                  <td><%= x.completed ? 'Completed' : 'Open' %></td>
                  <td><%= x.nonconformity_rate %></td>
                  <td><%= x.assessor_profile.name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div style="width: 100%; background: #32A2ED; height: 4rem; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
            <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
              <div>Total Assessments: <strong><%= chart_set[:cps].count %></strong></div>
            </div>
          </div>
        </div>
      </div>
      <div class="bordered-card" style="margin-bottom: 1.5em">
        <%=raw chart_set[:cp_bar].div %>
      </div>
    <% end %>
    <!-- LINE CHART -->
    <!-- <div class="bordered-card" style="margin-bottom: 1.5em">
      <%#=raw chart_set[:line].div %>
    </div> -->
  <% end %>
</div>
<!-- End Assessments -->
<!-- End CPs -->
<!-- </div> -->
