<%= form_with url: "send_email", method: :post, class: "w-50" do |f| %>

<% users = params[:users] || [] %>

  <label style="font-size: 0.8em;" for="">Recipients</label><br>

      <!-- ASSESSORS -->
  <select name="users[]" selected="users" id="email_<%= form_type %>s" multiple="multiple" placeholder="Search <%= form_type.humanize %>">
    <% user_list.each do |u| %>
      <option <%= users.include?(u) ? 'selected' : '' %> value="<%= u.id %>"><%= u.profile.name %></option>
    <% end %>
  </select>

  <label style="font-size: 0.8em; margin-top: 24px;" for="">Email Template</label><br>

  <!-- ASSESSORS -->
  <select class="choices__inner" name="email_template" id="email_template" placeholder="Select email template">
    <option value="">Select email template</option>
    <% templates.each do |value, label| %>
      <option value="<%= value %>"><%= label %></option>
    <% end %>
  </select>

  <input style="margin-top: 3em;" name="commit" type="submit" value="Send mail" class="btn btn-xs" style="width: 35%; box-shadow: none; outline: none;">

<% end %>
