<div class='wrapper'  style="margin-bottom: 1rem;position: relative;">
  <div style="margin-bottom: 1rem;"><a href="/users">Users</a> › Email User </div>
</div>

<div style="margin: 10px 0 20px;">
  <label for="input_text" style=" margin-bottom: 0.8rem;">Select recipient type</label><br>

  <input type="radio" name="user_type" id="user_type_assessor" style="box-shadow: none; width: auto;" checked onclick="toggleRecipients('a')">
  <label for="user_type_assessor">Assessor</label>

  <input type="radio" name="user_type" id="user_type_decathlonian" style="box-shadow: none; width: auto;" onclick="toggleRecipients('d')">
  <label for="user_type_decathlonian">Decathlonian</label>

  <input type="radio" name="user_type" id="user_type_grid_leader" style="box-shadow: none; width: auto;" onclick="toggleRecipients('gl')">
  <label for="user_type_grid_leader">Grid Leader</label>

  <input type="radio" name="user_type" id="user_type_supplier" style="box-shadow: none; width: auto;" onclick="toggleRecipients('s')">
  <label for="user_type_supplier">Supplier</label>
</div>

<div id="assessor_form">
  <%= render "email_form", user_list: @assessors, templates: User::EMAIL_ASSESSOR_TEMPLATES, form_type: 'assessor' %>
</div>

<div id="decathlonian_form">
  <%= render "email_form", user_list: @assessors, templates: User::EMAIL_ASSESSOR_TEMPLATES, form_type: 'decathlonian' %>
</div>

<div id="grid_leaders_form">
  <%= render "email_form", user_list: @assessors, templates: User::EMAIL_ASSESSOR_TEMPLATES, form_type: 'grid_leader' %>
</div>

<div id="supplier_form">
  <%= render "email_form", user_list: @suppliers, templates: User::EMAIL_SUPPLIER_TEMPLATES, form_type: 'supplier' %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", statsFilterChoices())

  var ass = document.getElementById('assessor_form')
  var sup = document.getElementById('supplier_form')
  var dec = document.getElementById('decathlonian_form')
  var gl = document.getElementById('grid_leaders_form')

  document.addEventListener("turbolinks:load", () => { dec.style.display = 'none' })
  document.addEventListener("turbolinks:load", () => { gl.style.display = 'none' })
  document.addEventListener("turbolinks:load", () => { sup.style.display = 'none' })

  var toggleRecipients = (e) => {
    ass.style.display = e == 'a' ? 'block' : 'none'
    sup.style.display = e == 's' ? 'block' : 'none'
    dec.style.display = e == 'd' ? 'block' : 'none'
    gl.style.display = e == 'gl' ? 'block' : 'none'
  }
</script>


