<div class='wrapper' style="margin-bottom: 1rem">
  <div style="margin-bottom: 1rem;"><a href="/users">Users</a> › Locked accounts </div>
  <div style="display: flex; justify-content: space-between; align-items: center;">
  <h4>Accounts</h4>
  <a class="btn-md" href="/suppliers/new">Unlock an account</a>
  </div>
</div>

<div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table">
    <thead>
      <tr>
        <th scope="col" style="width: 250px;">Name <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Account type <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Date locked <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Unlock account <span><%= render 'svg/direction' %></span></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% profile = user.profile %>
        <tr>
          <th><%= profile.nil? ? user.username : profile.name %></th>
          <td><span class="br-pill" style="background: <%= user.assessor? ? 'RGBA(60, 166, 238, 1.00)' : '#2C9F67' %>; color: white;"><%= user.assessor? ? 'Assessor' : 'Supplier' %></span></td>
          <td style="font-size: 1.1rem"><%= user.locked_at.strftime("%Y-%m-%d") %></td>
          <td><a onclick="verifyUsername('<%= user.username %>', 'unlock')" class="btn-xs">Unlock Account</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div style="width: 100%; background: #797978; height: 4rem; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
  <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
    <div>Total locked accounts: <strong><%= @users.count %></strong></div>
    <div></div>
    <div></div>
  </div>
</div>
<%= javascript_include_tag "table_filter.js" %>
