<div class='wrapper'  style="margin-bottom: 1rem;position: relative;">
  <div style="margin-bottom: 1rem;"><%= link_to users_path, class: 'underline blue hover-gray' do %>Users<% end %> › <%= link_to staff_path, class: 'underline blue hover-gray' do %>Staff<% end %> › Permissions</div>
</div>

<% permissions = [['users', 'Can Manage Users'], ['my-reports', 'Can Edit Own Reports'], ['all-reports', 'Can View All Reports'],['guidelines', 'Can Edit Grids'], ["suppliers", 'Can Manage Suppliers']] %>

<% grids = QualityAssessment::ACTIVE_GRIDS %>

<% if params[:user_id] %>
  <%= form_with model: User.find(params[:user_id]), url: users_permissions_path, local: true do |f| %>
    <input type="hidden" name="user_id" value="<%= params[:user_id] %>">
    <p>Which features would you like to grant permission?</p>
    <% permissions.each do |x| %>
      <div>
        <%= f.check_box :access_levels, {multiple: true, id: x[0]}, x[0], nil%>
        <label for="<%= x[0] %>"><%= x[1] %></label>
      </div>
    <% end %>

    <%= f.fields_for :assessor_profile do |j| %>
      <%= j.hidden_field :user_id, value: params[:user_id] %>
      <input type="hidden" name="user_id" value="<%= params[:user_id] %>">
      <p style="margin-top: 10px;">Which grid would you like to set as Assessor?</p>
      <% grids.each do |g| %>
        <div>
          <%= j.check_box :assessor_for, {multiple: true, id: "assessor-for-#{g}"}, g, nil%>
          <label for="<%= g %>"><%= g %></label>
        </div>
      <% end %>
      <p style="margin-top: 10px;">Which grid would you like to set as Referent?</p>
      <% grids.each do |g| %>
        <div>
          <%= j.check_box :referent_for, {multiple: true, id: "assessor-for-#{g}"}, g, nil%>
          <label for="<%= g %>"><%= g %></label>
        </div>
      <% end %>
    <% end %>
    <%= f.submit "Submit", class: "btn-md no-shadow", style: "line-height: 1; margin: 1rem 0;" %>
  <% end %>
<% else %>
  <%= form_with model: User.new, url: users_permissions_path, local: true do |f| %>
    <div style="margin: 1rem 0;">
      <label for="attach">Attach the excel file of users</label>
      <br>
      <%= f.file_field :file, accept: XFile::XLSX %>
    </div>

    <p>Please check which users you would like to grant permission </p>

    <% permissions.each do |x| %>
    <div>
      <input type="checkbox" id="<%= x[0] %>" name="user[access_levels][]" value="<%= x[0] %>">
      <label for="<%= x[0] %>"><%= x[1] %></label>
    </div>
    <% end %>

    <%= f.submit "Submit", class: "btn-md no-shadow", style: "line-height: 1; margin: 1rem 0;" %>

  <% end %>
<% end %>
