<div class='wrapper'  style="margin-bottom: 1rem;position: relative;">
  <div style="margin-bottom: 1rem;"><a href="/users">Users</a> › All Users Permissions </div>
</div>

<div class="flex">
  <a class="link" style="margin-right: 15px;" href="?">All Users</a>
  <a class="link" style="margin-right: 15px;" href="?type=supplier">Suppliers</a>
  <a class="link" style="margin-right: 15px;" href="?type=assessor">Assessors</a>
  <a class="link" style="margin-right: 15px;" href="?type=grid_leader">Grid Leader</a>
</div>

<div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table">
    <thead>
      <tr>
        <th scope="col" style="width: 50px"></th>
        <th scope="col" style="width: 100px;">Name <span><%= render 'svg/direction' %></span></th>
        <th scope="col" style="width: 250px;">Access Level <span><%= render 'svg/direction' %></span></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |u, i| %>
        <tr>
          <th><%= i+1 %></th>
          <th style="max-width: 250px"><%= u.username %>  <%= raw "<br>(#{(u.name || '').truncate(25)})" if u.profile.present? %></th>
          <th>
            <% u.access_levels.each do |x| %>
            <span style="background-color: <%= access_levels_badge(x) %>; padding: 5px; border-radius: 5px; margin-right: 5px;"><%= x %></span>
            <% end %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div style="width: 100%; background: #32A2ED; height: 4rem; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
  <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
    <div>Total users: <strong><%= @users.count %></strong></div>
  </div>
</div>
<%= javascript_include_tag "table_filter.js" %>
