<div class='wrapper'  style="margin-bottom: 1rem;position: relative;">
  <div style="margin-bottom: 1rem;"><a href="/users">Users</a> › Staff </div>
  <div style="display: flex; justify-content: space-between; align-items: center;">
  <h4>Staff Accounts <a href="<%= users_permissions_path %>"><small>bulk edit permissions</small></a></h4>
  </div>
</div>

<% permissions = {'users' => 'Can Manage Users', 'my-reports' => 'Can Edit Own Reports', 'all-reports' => 'Can View All Reports','guidelines' => 'Can Edit Grids', "suppliers" => 'Can Manage Suppliers'} %>

<div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table">
    <thead>
      <tr>
        <th scope="col" style="width: 50px"></th>
        <th scope="col" style="width: 100px;">Profile <span><%= render 'svg/direction' %></span></th>
        <th scope="col" style="width: 250px;">Name <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Last login <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Access levels <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Actions <span><%= render 'svg/direction' %></span></th>
      </tr>
    </thead>
    <tbody>
      <% @staff.each_with_index do |s, i| %>
      <tr>
        <th><%= i+1 %></th>
        <th><%= s.handle %></th>
        <th><%= s.name %>
          <% if s.user.present? && s.user.locked_at.present? %>
            <span class="br-pill btn-xs" style="background: darkred; color: white; display: inline-block;padding: 0px 6px; border-radius: 10px">LOCKED</span>
          <% end %>

        </th>
        <td style="font-size: 1.1rem">
          <div>
          <% if s.user.blank? %>
          User Account <%= s.handle %> has no active user account
          <% elsif login = s.last_login %>
          <%= login.strftime("%Y-%m-%d") %>
          <% elsif login.nil? %>
          User Account <%= s.handle %> has not Used the WeChat MP
          <% end %>
          </div>
          <% if s.user && s.user.last_oa_invite %>
            <div class="bg-blue pa2 white" style="border-radius: 50%; width: 15px; height: 15px; padding: 3px; display: flex; justify-content: center; align-items: center; margin-right: 5px;">OA Invite Sent</div>
          <% end %>
        </td>
        <td style="font-size: 1.1rem">
          <% access_levels = s.user.access_levels %>
          <% if access_levels.present? %>
            <%= raw access_levels.map{|x| permissions[x]}.reject(&:nil?).join("<br>") %>
          <% end %>
        </td>
        <td>
          <a onclick="getQrcode('<%= s.id %>', '<%= s.name %>');" class="btn-xs">View on mini program</a>
          <% if s.user.present? && s.user.locked_at.nil?  %>
          <a onclick="verifyUsername('<%= s.user.username %>', 'lock')" class="btn-xs">Lock Account</a>
          <% elsif s.user.present? && s.user.locked_at.present? %>
          <a onclick="verifyUsername('<%= s.user.username %>', 'unlock')" class="btn-xs">Unlock Account</a>
          <% end %>
          <a href="<%= users_permissions_path(user_id: s.user_id) %>" class="btn-xs">Edit Permissions</a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div style="width: 100%; background: #32A2ED; height: 4rem; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
  <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
    <div>Total users: <strong><%= @staff.count %></strong></div>
    <div>Passive users (logged on before): <strong><%= @staff.select{|x| x.user.authentication_tokens.present?}.count %></strong></div>
    <div>Active users (assessed before): <strong><%= @staff.select{|x| @qa_uids.include?(x.user_id) || @cps_uids.include?(x.user_id)}.count %></strong></div>
  </div>
</div>

<%= javascript_include_tag "table_filter.js" %>
