<div class='wrapper'>
  <h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">Users</h2>
  <div class="menu-3up">
    <%= link_to '/users/staff', class: 'column no-underline' do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
        <%= render 'svg/staff' %>
        <h1 class="br-pill" style="background: #32A2ED; color: white; margin-top: 1rem;">Staff</h1>
      </div>
    <% end %>

    <%= link_to '/users/email_user', class: 'column no-underline' do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
        <%= render 'svg/email' %>
        <h1 class="br-pill" style="background: #32A2ED; color: white; margin-top: 1rem;">Email user</h1>
      </div>
    <% end %>
    <%#= link_to '/suppliers', class: 'column no-underline' do %>
      <!-- <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
        <%#= render 'svg/factory' %>
        <h1 class="br-pill" style="background: #2C9F67; color: white; margin-top: 1rem;">Suppliers</h1>
      </div> -->
    <%# end %>
    <%= link_to '/locked', class: 'column no-underline' do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
        <%= render 'svg/lock' %>
        <h1 class="br-pill" style="background: #797978; color: white; margin-top: 1rem;">Locked accounts</h1>
      </div>
    <% end %>
  </div>
  <% if current_user.admin %>
  <div class="menu-3up">
    <%= link_to '/users/permissions/all', class: 'column no-underline' do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
        <%= render 'svg/user_permission' %>
        <h1 class="br-pill" style="background: #32A2ED; color: white; margin-top: 1rem;">All Users Permission</h1>
      </div>
    <% end %>
  </div>
  <% end %>
</div>



<%# headers = ["Name", "Last Login"] %>
<%# body = %>
<%#= render 'table', headers: @headers, body: @body %>
