<div class="mobile-hamburger" style="position: absolute; top: 10px; left: 0.8em; z-index: 10">
  <button class="hamburger" onclick="showMenu()">
    ☰
  </button>
</div>


<div class="mobile-menu" id="open-mobile" onclick="closeMenu()">
  <div class="close-menu" onclick="closeMenu()">×</div>
  <div class="mobile-direction" style="text-align: left;">
    <div class="mobile-header">
      <div class="mobile-title">
        Menu
      </div>
    </div>
    <ul style="list-style: none; margin-left: 5px;">
<!--       <li style="margin-bottom: 1em;"><a class="mobile-link" href="/">About</a></li>
      <li style="margin-bottom: 1em;"><a class="mobile-link" href="/works">Works</a></li>
      <li style="margin-bottom: 1em;"><a class="mobile-link" href="/writings">Writings</a></li>
      <li style="margin-bottom: 1em;"><a class="mobile-link" href="/resources">Resources</a></li>
      <li style="margin-bottom: 1em;"><a class="mobile-link" href="/assets/documents/resume.pdf">Resume</a></li> -->


    <a href="/" class="no-underline" style="font-size: 1.1em" data-turbolinks="false"><li style="margin-bottom: 1em;" class="<%= 'underline b' if @active == 'home' %> white">Home</li></a>

    <% if current_user.can_manage?("users") %>
      <a href="/users" class="no-underline" style="font-size: 1.1em"><li style="margin-bottom: 1em;" class="<%= 'underline b' if @active == 'users' %> white">Users</li></a>
    <% end %>
    <% if current_user.admin %>
      <a href="/email-system" class="no-underline" style="font-size: 1.1em"><li style="margin-bottom: 1em;" class="<%= 'underline b' if @active == 'email' %> white">Email System</li></a>
    <% end %>
    <% if current_user.can_manage?("change_log") %>
      <a href="/new-change-log" class="no-underline" style="font-size: 1.1em"><li style="margin-bottom: 1em;" class="<%= 'underline b' if @active == 'change-log' %> white">New Change Log</li></a>
    <% end %>

    <% if current_user.can_manage?("suppliers") || current_user.can_manage?("users") %>
      <a href="/suppliers" class="no-underline" style="font-size: 1.1em"><li style="margin-bottom: 1em;" class="<%= 'underline b' if @active == 'suppliers' %> white">Suppliers</li></a>
    <% end %>


    <a href="/reports" class="no-underline" style="font-size: 1.1em"><li style="margin-bottom: 1em;" class="<%= 'underline b' if @active == 'reports' %> white">Reports</li></a>

    <a href="/goes" class="no-underline" style="font-size: 1.1em"><li style="margin-bottom: 1em;" class="<%= 'underline b' if @active == 'goes' %> white">Goes feed</li></a>

    <a href="/statistics" class="no-underline" style="font-size: 1.1em"><li style="margin-bottom: 1em;" class="<%= 'underline b' if @active == 'statistics' %> white">Statistics</li></a>

    <% if current_user.can_manage?("guidelines") %>
    <a href="/guidelines" class="no-underline" style="font-size: 1.1em"><li style="margin-bottom: 1em;" class="<%= 'underline b' if @active == 'guidelines' %> white">Update guidelines</li></a>
    <% end %>

    <a href="/bug-reports" class="no-underline" style="font-size: 1.1em"><li style="margin-bottom: 1em;" class="<%= 'underline b' if @active == 'bug_report' %> white">Bug Reports</li></a>


    <a href="/control-plan" class="no-underline" style="font-size: 1.1em"><li style="margin-bottom: 1em;" class="<%= 'underline b' if @active == 'control-plan' %> white">Update Your Control Plans</li></a>

    <a href="/upload-cp" class="no-underline" style="font-size: 1.1em"><li style="margin-bottom: 1em;" class="<%= 'underline b' if @active == 'upload-cp' %> white">Upload Your Control Plans</li></a>


    <li><%= link_to 'Help & Versions', help_path, class: @active == 'help' ? 'b white' : 'white no-underline', style: "font-size: 1.1em" %></li>
    <li><%= link_to "Signout", destroy_user_session_path, class: "no-underline",style:"color: white; font-size: 1.1em", method: :delete %></li>
    </ul>
  </div>
</div>





<script>
  function showMenu() {
    document.getElementById("open-mobile").style.right = "0";
    document.getElementById("open-mobile").style.left = "0";
  }
  function closeMenu() {
    document.getElementById("open-mobile").style.right = "100%";
    document.getElementById("open-mobile").style.left = "-100%";
  }
</script>
