<div class='wrapper'>
  <h4>Account settings</h4>
  <br>
  <h5>Change password</h5>
  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Old password</label>
    <br>
    <input class="w-50" id="input_text" type="text" placeholder="Type in your old password...">
  </div>
  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">New password</label>
    <br>
    <input class="w-50" id="input_text" type="text" placeholder="Type your new password...">
  </div>
  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Retype old password</label>
    <br>
    <input class="w-50" id="input_text" type="text" placeholder="Type your old password to confirm change...">
  </div>
  <div style="display: inline">
    <a href="/" class="btn-md" style="display: inline-block; margin-right: 15px;">Update password</a>
  </div>
</div>
