<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h4>Assigned admins on Assess Go web dashboard</h4>
    <a href="/admin/new" class="btn-md">Add new admin</a>
  </div>
</div>

<div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Created date</th>
        <th scope="col">Reset password</th>
        <th scope="col">Examine report</th>
      </tr>
    </thead>
    <tbody>
      <% 25.times do %>
      <tr>
        <th>Charlie Brown</th>
        <td style="font-size: 1.1rem">2019-02-05</td>
        <td><a href="/">E-mail reset directions</a></td>
        <td><a href="/">Lock user's account</a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div style="width: 100%; background: rgba(121, 121, 120, 1.00); height: 4rem; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
  <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
    <div>Total admins: <strong>5000</strong></div>
    <div></div>
    <div></div>
  </div>
</div>
