<div class='wrapper'>
  <div style="margin-bottom: 1rem;"><a href="/admin">Admin accounts</a> › Add new admin</div>
  <h4>Fill out information about this new supplier</h4>
  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">New admin's first name</label>
    <br>
    <input class="w-50" id="input_text" type="text" placeholder="Type the first name of the admin...">
  </div>
  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">New admin's last name</label>
    <br>
    <input class="w-50" id="input_text" type="text" placeholder="Type the last name of the admin...">
  </div>
  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">New admin's email address</label>
    <br>
    <input class="w-50" id="input_text" type="text" placeholder="Type an email that will be used for login...">
  </div>
  <div style="display: inline">
    <a href="/" class="btn-md" style="display: inline-block; margin-right: 15px;">Submit & send email out for confirmation</a>
  </div>
</div>
