<div class='wrapper' style="margin-bottom: 0.5rem">
  <h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">Control Plans</h2>
</div>


<div class="wrapper">
  <h3>Suppliers with Control Plan</h3>
</div>

<div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table">
    <thead>
      <tr>
        <th scope="col">Code  <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Supplier  <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Total Product Families  <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Product Families  <span><%= render 'svg/direction' %></span></th>
      </tr>
    </thead>
    <tbody>
      <% @suppliers.each do |supplier| %>
      <tr>
        <th><%= supplier.code %></th>
        <th><%= supplier.name %></th>
        <td style="font-size: 1.1rem"><%= supplier.product_families.where(destroyed_at: nil).count %></td>
        <td>
          <%= link_to product_families_path(supplier_code: supplier.code) do %>
            <button class="btn-xs">View Product Families</button>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div style="width: 100%; background: #A147C5; height: 4rem; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
  <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
    <div>Total Suppliers: <strong><%= @suppliers.count %></strong></div>
    <div></div>
    <div></div>
  </div>
</div>
<%= javascript_include_tag "table_filter.js" %>
