



<div class="wrapper">
  <div class="menu-3up">
    <div class="column" style="text-align: center;">
      <div class="bordered-card">
        <p>Users logged in today</p>
        <h1><%= @logins %></h1>
      </div>
    </div>
    <div class="column" style="text-align: center;">
      <div class="bordered-card">
        <p>Comments made this week</p>
        <h1><%= @comments_weekly_count %></h1>
      </div>
    </div>
    <div class="column" style="text-align: center;">
      <div class="bordered-card">
        <p>Reports completed</p>
        <h1><%= @reports_finished %></h1>
      </div>
    </div>
    <div class="column" style="width: 100%">
      <h4>7 day users signed-on</h4>
      <div class="bordered-card">
        <div class="details">
          <div id="chart"></div>
        </div>
      </div>
    </div>
    <div class="column" style="width: 100%">
      <h4>Todays Users</h4>
      <div class="bordered-card">
        <div class="details">
          <p>
            <%= @todays_logins.present? ? @todays_logins.join(" ・ ") : "Nobody has logged in yet today!"%>
          </p>
        </div>
      </div>
    </div>
    <h4 style="width: 100%">
      Rankings
    </h4>
    <div style="width: 100%">
      <form action="/" method="GET">

      <label for="">From</label>
      <input type="date" style="max-width: 150px; width: 100%; padding: 2px; height: 1rem;" name="from" value="<%= @from.strftime('%Y-%m-%d') %>">
      <label for="">To</label>
      <input type="date" style="max-width: 150px; width: 100%; padding: 2px; height: 1rem;" name="to" value="<%= @to.strftime('%Y-%m-%d') %>">
      <input type="submit" value="submit" style="width: 80px; height: 2rem;">
      </form>
    </div>
    <% from = @from %>
    <% to = @to %>
    <div class="column" style="text-align: center;">
      <div>Assessments Completed</div>
      <div class="bordered-card">
        <% AssessorProfile.most_assessments_completed(from, to).each_with_index do |(name,count), i| %>
        <div style="display: flex; justify-content: space-between; text-align: left; border-bottom: 1px dotted gray">
          <div style="display: flex; justify-content: center;">
            <div style="font-weight: 800; margin-right: 1em;"><%= image_tag(render_partial(i)) %></div><div style="display: inline-block"><%= name %></div>
          </div>
          <div style="display: inline-block"><%= count %></div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="column" style="text-align: center;">
      <div>Assessments Planned</div>
      <div class="bordered-card">
        <% AssessorProfile.most_assessments_planned(from, to).each_with_index do |(name,count), i| %>
        <div style="display: flex; justify-content: space-between; text-align: left; border-bottom: 1px dotted gray">
          <div style="display: flex; justify-content: center;">
            <div style="font-weight: 800; margin-right: 1em;"><%= image_tag(render_partial(i)) %></div><div style="display: inline-block"><%= name %></div>
          </div>
          <div style="display: inline-block"><%= count %></div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="column" style="text-align: center;">
      <div>Most Active</div>
      <div class="bordered-card">
        <% AssessorProfile.most_active(from, to).each_with_index do |(name,count), i| %>
        <div style="display: flex; justify-content: space-between; text-align: left; border-bottom: 1px dotted gray">
          <div style="display: flex; justify-content: center;">
            <div style="font-weight: 800; margin-right: 1em;"><%= image_tag(render_partial(i)) %></div><div style="display: inline-block"><%= name %></div>
          </div>
          <div style="display: inline-block"><%= count %></div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- <h4>Weekly use</h4>
  <div class="bordered-card" style="margin-bottom: 1.5rem;">
  </div> -->
  <div class="menu-2up">
    <div class="column-left">
      <h4>Goes Feed</h4>
      <div class="bordered-card">
        <% @goes_feeds.each do |feed| %>
        <div class="comment-group">
          <div class="avatar" style="background-image: url(<%= feed[:user][:avatar] %>);"></div>
          <div class="details">
            <p><%= feed[:user][:firstName] %> ・ <%= feed[:updateDetail][:year] %> - <%= feed[:updateDetail][:month] %> - <%=feed[:updateDetail][:day] %></p>
            <div class="goes-bubble">
              <strong><%= feed[:user][:firstName] %></strong> <%= feed[:updateDetail][:desc] %>
            </div>
          </div>
        </div>
        <% end %>
        <% if @more_activities %>
        <p style="text-align: center;">
          <!-- <a href="/?more_activities=true">Read more updates</a> -->
        </p>
        <% end %>
      </div>
    </div>
    <div class="column-right">
      <h4>Latest Comments</h4>
      <div class="bordered-card">
        <% @comments.each do |comment| %>
        <div class="comment-group">
          <div class="avatar" style="background-image: url(<%= comment[:avatar] %>);"></div>
          <div class="details">
            <p><%= comment[:name] %> ・ <%= comment[:date] %></p>
            <div class="comment-bubble"><%= comment[:content] %></div>
<!--             <a href="" class="btn-xs">View on mini program</a>
 -->          </div>
        </div>
        <% end %>
        <% if @more_comments %>
        <p style="text-align: center;">
          <!-- <a href="/?more_comments=true">Read more comments</a> -->
        </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  const data = {
    labels: <%= raw @days %>,
    datasets: [
      { name: "Last Week", values: <%= @last_week %> },
      { name: "This Week", values: <%= @this_week %> }
    ]
}

const chart = new frappe.Chart("#chart", {  // or a DOM element,
                                            // new Chart() in case of ES6 module with above usage
    title: "7 day usage activity",
    data: data,
    type: 'axis-mixed', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
    height: 250,
    colors: ['#7cd6fd', '#743ee2']
})



</script>
