<div class='wrapper'>
  <h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">Update on Goes</h2>
  <div style="margin-bottom: 1rem;"></div>
  <div style="display: flex; justify-content: center;">
    <p class="" style="text-align: center; background: white; border-radius: 5px; border: 2px solid #32A2ED; width: 25%; border-bottom: 5px solid #32A2ED">Most recent</p>
  </div>
  <div class="menu-3up middleline">
    <% @goes_feeds.each do |feed| %>
        <div class="column">
          <div class="bordered-card" style="margin-bottom: 1.1rem;">
            <div class="comment-group">
              <div class="avatar-mini" style="background-image: url(<%= feed[:user][:avatar] %>);"></div>
              <div class="details-mini">
                <div class="b"><%= feed[:user][:firstName] %> ・ <%= feed[:updateDetail][:year] %> - <%= feed[:updateDetail][:month] %> - <%=feed[:updateDetail][:day] %></div>
                <div class="goes-bubble">
                  <strong><%= feed[:updateDetail][:desc] %></strong>
                </div>
                <a onclick="getQrcode('<%= feed[:id] %>', 'Goes Activity');" class="btn-xs">View on mini program</a>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <% @supplier_feeds.each do |feed| %>
      <div class="column">
        <div class="bordered-card" style="margin-bottom: 1.1rem; border-color: #2C9F67">
          <div class="comment-group">
            <div class="details-mini">
              <div class="b"><%= feed[:user][:firstName] %> ・ <%= feed[:updateDetail][:year] %> - <%= feed[:updateDetail][:month] %> - <%=feed[:updateDetail][:day] %></div>
              <div class="goes-bubble">
                <%= feed[:updateDetail][:desc] %>
              </div>
              <a onclick="getQrcode('<%= feed[:id] %>', 'Goes Activity');" class="btn-xs">View on mini program</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  var URL = `${window.location.href}`;
  <%# if Rails.env == "production" %>
  <%# else %>
    // var URL = "http://localhost:3000/suppliers";
  <%# end %>

  function getQrcode(id, name) {
    AjaxRequest.get(
      {
        'url':URL+ `?id=${id}`,
        'onSuccess':function(req){
          img = req.responseText
          swal({
            title: name,
            text: "Scan to check",
            imageUrl: img
          });
        }
      }
    )
  }
</script>
