<div class='wrapper'>
  <h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">Help & Versions</h2>
  <div style="margin-bottom: 5rem">
    <div style="margin-bottom: 20px">
      <div class="b">FAQ on using Assess Go</div>
      <a href="https://docs.google.com/document/d/1UMpOeXcj1KSsYYRrRgauq7fIPGwFLhK6Xj2ItKQ4MKQ/edit?usp=sharing">Link to google pages</a>
    </div>
    <div class="native-flex" style="margin-bottom: 20px">
      <div style="margin-right: 10px">
        <p class="b">Learn about Assess</p>
        <div><video src="https://assessgo.blob.core.chinacloudapi.cn/media/Assess%20Go%20--%20Assess.mp4" controls width="400"></video></div>
      </div>
      <div style="margin-right: 10px">
        <p class="b">Learn about Goes</p>
        <div><video src="https://assessgo.blob.core.chinacloudapi.cn/media/Assess%20Go%20--%20Goes.mp4" controls width="400"></video></div>
      </div>
    </div>
    <div class="native-flex" style="margin-bottom: 20px">
      <div style="margin-right: 10px">
        <p class="b">Learn about For</p>
        <div><video src="https://assessgo.blob.core.chinacloudapi.cn/media/Assess%20Go%20--%20For.mp4" controls width="400"></video></div>
      </div>
      <div style="margin-right: 10px">
        <p class="b">Learn about Performance</p>
        <div><video src="https://assessgo.blob.core.chinacloudapi.cn/media/Assess%20Go%20--%20Performance.mp4" controls width="400"></video></div>
      </div>
    </div>
    <div class="native-flex" style="margin-bottom: 20px">
      <div style="margin-right: 10px">
        <p class="b">CAP</p>
        <div><video src="https://assessgo.blob.core.chinacloudapi.cn/media/Assess%20Go%20--%20CAP.mp4" controls width="400"></video></div>
      </div>
      <div>
        <p class="b">Sync Data for Assess Go iOS and Assess Go Android</p>
        <div><video src="https://assessgo.blob.core.chinacloudapi.cn/media/syncdata_assess_go.mp4" controls width="400"></video></div>
      </div>
    </div>
  </div>
  <div>
    <p class="b">Versions</p>

      <div>Assess Go 3.2.3 <span style="display: inline-block; margin-left: 10px; color: rgba(27, 156, 226, 1.00); font-size: 16px;" class="b">Current Version</span></div>
      <ul class="updates" style="padding-left: 1.5em;">
        <li>Updated Features
            <div><video src="https://assessgo.blob.core.chinacloudapi.cn/media/Assess Go -- Recent Updates.mp4" controls width="400"></video></div>
        </li>
        <li>CAP Review Journey
            <div><video src="https://assessgo.blob.core.chinacloudapi.cn/media/Assess Go -- CAP.mp4" controls width="400"></video></div>
        </li>
      </ul>

  </div>
</div>
