<div class="wrapper" style="height: 100vh; display: flex; justify-content: center; align-items: center">
  <div>
    <div style="background: rgba(50, 162, 237, 1.00); width: 322px; padding: 0.8rem; line-height: 0.8rem; text-align: center; margin-left: auto; margin-right: auto;border-top-left-radius: 8px; border-top-right-radius: 8px">
      <img src="<%= image_path("logo.svg") %>" alt="Decathlon Logo" style="margin-bottom: 0.8rem;">
      <div class="white">Log in to <span class="underline b">Assess Go Admin</span></div>
    </div>
    <div style="background: white; width: 320px; padding: 1.1rem 0.8rem;border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; border: 1px solid rgba(50, 162, 237, 1.00);">
      <div style="margin: 14px 0;">
        <label for="input_text" style=" margin-bottom: 2rem;">E-mail address</label>
        <br>
        <input id="input_text" style="width: 95%;" type="text" placeholder="Type the first name of the admin...">
      </div>
      <div style="margin: 14px 0 25px;">
        <label for="input_text" style=" margin-bottom: 2rem;">Password</label>
        <br>
        <input id="input_text" style="width: 95%;" type="text" placeholder="Type the first name of the admin...">
      </div>
      <div>
        <a href="/" class="btn-md" style="display: flex; justify-content: center; align-items: center;">Log in to Assess Go Admin</a>
      </div>
    </div>
  </div>
</div>
