<div class='wrapper'>
  <h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">New Change Log</h2>
    <%= form_with(model: ChangeLog.new, method: :post, url:api_v1_data_create_path(name: "change_logs")) do |f| %>
      <label for="question">AssessGo Version Number</label>
      <br>
      <input type="text" name="change_log[version]" style="margin-right: 15px; font-size: 24px;" />
      <br>
      <br>
      <label for="question">Updates Made (add up to 10)
      <br>
      <i style="margin: 0 0 15px 0">leave blank if not needed</i>
      </label>
      <br>
      <% 10.times do |i| %>
        <input type="text" name="change_log[change_list][]" placeholder="change #<%= i+1 %>" style="margin-right: 15px;  margin-bottom: 10px;font-size: 24px;" />
      <% end %>

      <%= f.submit "Submit Change Log", class: 'btn-md', style: 'box-shadow: none; line-height: 1; margin-top: 1rem;' %>
    <% end %>

</div>

<script>
  var form = document.querySelector('form')
  form.addEventListener('ajax:success', function(){
    window.location = `<%= request.protocol %><%= request.host %><%= request.port == 80 ? '' : ":#{request.port}" %>/`
  })
</script>
