
<div class='wrapper' style="margin-bottom: 0.5rem">
  <h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">Upload Historical Assessments</h2>
</div>

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; border-bottom: 1px solid #C6C0C0; padding-bottom: 1rem;">
  <div class="b">Upload Historical Assessments Excel Document</div>
</div>

<% if @done %>
  <div><%= render 'svg/done', class: 'my' %></div>
  <div>Done!</div>

<% else %>
  <div style="margin-top: 10px;"><span>Assess Go can only accept data sent through this template</span> <br><a href="/historical-assessments-empty.xlsx" download>Download Template</a></div>

  <br><br>
  <%= form_with(model: QualityAssessment.new, method: :post, url: upload_historical_assessments_path, local: true) do |f| %>
    <label for="question">Upload XLSX File <span style="font-size: 14px; color: crimson;">*Please only upload <strong>.xlsx</strong> filetype</span></label>
    <br>
    <div><%= f.file_field :excel_file, accept: XFile::XLSX %></div>

    <%= f.submit "Submit Historical Assessments", class: 'btn-md', style: 'box-shadow: none; line-height: 1; margin-top: 1rem;' %>
  <% end %>
</div>
<% end %>
