
<div class='wrapper' style="margin-bottom: 0.5rem">
  <h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">Upload CP</h2>
</div>

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; border-bottom: 1px solid #C6C0C0; padding-bottom: 1rem;">
  <div class="b">Upload Control Plan Excel Document</div>
</div>

<% if @results.blank? %>
<div>Please note, many CP's fail because of a small simple problem: The filename is not the right format. Please make sure you file name is in the following format:</div>
<strong style="color: crimson">CP2.3 supplier name supplier code product name PL name.xlsx</strong>
<div style="margin-top: 10px;"><span>Download this template for reference:</span> <a href="/CP2.3 Template.xlsx" download>Download Template</a></div>
<div style="margin-top: 10px;">If your file still fails, please see the instructional images below to see if it solves your problem.</div>

<% 4.times do |i| %>
  <a href="/how-to/CP<%= i+1 %>.png">Example <%= i+1 %></a>
<% end %>
<br><br>
<%= form_with(model: ControlPlan.new, method: :post, url: upload_cp_post_path, local: true) do |f| %>
  <label for="question">Upload XLSX File <span style="font-size: 14px; color: crimson;">*Please only upload <strong>.xlsx</strong> filetype</span></label>
  <br>
  <div><%= f.file_field :excel_file, accept: XFile::XLSX %></div>

  <%= f.submit "Submit Control Plan File", class: 'btn-md', style: 'box-shadow: none; line-height: 1; margin-top: 1rem;' %>
<% end %>
<% else %>
  <% if @results.is_a? Hash %>
    <%= @results[:msg]%>
  <% else %>
    <script>
      var DATA = new FormData();
      DATA.append("jsondata", JSON.stringify(<%=raw @results.to_json %>));
      DATA.append("code", <%= @code%>);

      function submit_form(){
        Rails.ajax({
          type: "PUT",
          url: "/upload-cp",
          data: DATA,
          success: function(response) {
            swal("Data Submission Complete!").then((result) => {
              if (result.value) {
                window.location = "/upload-cp"
              }
            })
          },
          error: function(response) {
            swal("Oh no! Something went wrong in submitting this information!")
          }
        })
      }
    </script>
  <p>Please Check the results below to confirm the accuracy of the excel upload.</p>
  <p>If everything looks ok: <button class="btn-md" style="margin-left: 10px;" onclick="submit_form();">Update Supplier Data</button></p>
  <hr>
  <% @results.each_with_index do |sheet, i| %>
    <% p sheet %>
    <p style="margin: 0;">Filename: <%= sheet["filename"] %></p>
    <p style="margin: 0;">Sheet No. <%= i+1 %></p>
    <p style="margin: 0;">Total Processes: <%= sheet["count"] %></p>
    <p style="margin: 0;">Total Steps: <%= sheet["product_family"]["processes"].map{|x|x[:steps]}.flatten.count %></p>
    <p style="margin: 0;">Product: <%= sheet["product_family"]["name"] %></p>
    <p style="font-weight: bold">Processes:</p>
    <% sheet["product_family"]["processes"].each do |process| %>
      <p style="background-color: #FFF8CE; border-radius: 5px; padding: 5px; max-width: 650px;"><b><%= process[:category] %> - <%= process[:name] %></b></p>

      <% process[:steps].each do |step| %>
        <div style="padding: 5px; border: 1px dotted gray; border-radius: 5px; margin-bottom: 10px; max-width: 600px;">
          <% step.select{|k,v| v.present? && ![:active].include?(k)}.each do |k,v| %>
            <p style="margin: 0;"><b><%= k.to_s.humanize %>:</b> <%= v %></p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% end %>
<% end %>
</div>
