
<div class="wrapper" style="height: 100%; padding-top: 5em">

  <div style="margin-top: 3rem;">
    <div style="background: rgba(50, 162, 237, 1.00); width: 322px; padding: 0.8rem; line-height: 0.8rem; text-align: center; margin-left: auto; margin-right: auto;border-top-left-radius: 8px; border-top-right-radius: 8px">
      <img src="<%= image_path("logo.svg") %>" alt="Decathlon Logo" style="margin-bottom: 0.8rem;">
      <div class="white">Log in to <span class="underline b">Assess Go</span></div>
    </div>
    <div style="background: white; width: 320px; padding: 1.1rem 0.8rem;border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; border: 1px solid rgba(50, 162, 237, 1.00);margin-right: auto;margin-left: auto;">
      <p style="color: red;" style="text-align: center;"><%= alert || notice || "" %></p>
      <% if !params[:external] %>
        <%= link_to "Decathlon Login", DecathAuthentication.web_oauth_path,  class: 'btn-md', style: "display: flex; justify-content: center; align-items: center; width: 70%; margin: 0 auto; box-shadow: none;"  %>
        <div style="text-align: center; margin-top: 30px;">
          <div>Or Visit the Wechat MiniProgram</div>
          <img src="/assessgo_qr.jpg" style="width: 150px;" alt="">
        </div>
        <div style="text-align: center">
          <%= link_to "Non-Decathlon Users Login", new_user_session_path(external: true) %>
        </div>
      <% else %>

        <%= form_for(User.new, as: :user, url: session_path(:user), html: {onsubmit: "loading()"}) do |f| %>

          <div style="margin: 14px 0;">
            <%= f.label :username, style:"margin-bottom: 2rem;" %><br>
            <%= f.text_field :username, autofocus: true, autocomplete: "username", style: "width: 95%;", required: true %>

          </div>
          <div style="margin: 14px 0 25px;">
            <%= f.label :password, style:"margin-bottom: 2rem;" %><br>
            <%= f.password_field :password, autocomplete: "current-password", style: "width: 95%;", required: true %>
          </div>
          <div>
            <%= f.submit "Log in to Assess Go", class: 'btn-md', style: "display: flex; justify-content: center; align-items: center; width: 100%; box-shadow: none;" %>

            <!-- <a href="/" class="btn-md" style="display: flex; justify-content: center; align-items: center;">Log in to Assess Go</a> -->
          </div>
        <% end %>
      <% end %>
      <%#= render "devise/shared/links" %>
    </div>
  </div>

</div>


<script>
  function loading(){
    Swal.fire({
      title: 'Verifying Credentials with Decathlon System',
      html: '<strong></strong>',
      timer: 12000,
      onBeforeOpen: () => {
        Swal.showLoading()
        timerInterval = setInterval(() => {
          var message
          if (Swal.getTimerLeft() > 10000){
            message = "Establishing secure connection..."
          } else {
            message = "Verifying login credentials..."
          }
          Swal.getContent().querySelector('strong')
            .textContent = message
        }, 500)
      },
      onClose: () => {
        clearInterval(timerInterval)
      }
    }).then((result) => {
      if (
        // Read more about handling dismissals
        result.dismiss === Swal.DismissReason.timer
      ) {
        console.log('I was closed by the timer')
      }
    })
  }
</script>
