<svg width="25px" height="29px" viewBox="0 0 41 45" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Bugtracker_form" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-486.000000, -270.000000)" fill="#ffffff" fill-rule="nonzero" id="Group">
            <g transform="translate(483.000000, 98.000000)">
                <g id="SVG-Layer" transform="translate(3.000000, 172.000000)">
                    <path d="M34.85,27 L38.95,27 C40.0820612,26.9998098 41,25.9925062 41,24.75 C41,23.5074938 40.0820612,22.5001902 38.95,22.5 L34.85,22.5 L34.85,20.25 C34.8318676,19.2134555 34.6870753,18.1842699 34.4195,17.19 C38.363292,15.5304687 40.9758072,11.3856987 41,6.74999999 C41,5.5073593 40.0821837,4.5 38.95,4.5 C37.8178162,4.5 36.9,5.5073593 36.9,6.74999999 C36.8962975,9.72922515 35.1134858,12.3534574 32.513,13.2075 C31.5019658,11.7854395 30.1942071,10.6510539 28.7,9.90000003 C28.7212206,9.60045208 28.7212206,9.29954796 28.7,9 C28.7,4.02943726 25.028735,0 20.5,0 C15.971265,0 12.3,4.02943726 12.3,9 C12.2787794,9.29954796 12.2787794,9.60045208 12.3,9.90000003 C10.7760652,10.6387077 9.43914753,11.7739722 8.40500003,13.2075 C5.83698095,12.3211168 4.09266079,9.70463651 4.10000003,6.74999999 C4.10000003,5.5073593 3.18218376,4.5 2.05000001,4.5 C0.917816269,4.5 0,5.5073593 0,6.74999999 C0.0241928435,11.3856987 2.63670804,15.5304687 6.58049999,17.19 C6.31292473,18.1842699 6.16813244,19.2134555 6.15,20.25 L6.15,22.5 L2.05000001,22.5 C0.917938843,22.5001902 0,23.5074938 0,24.75 C0,25.9925062 0.917938843,26.9998098 2.05000001,27 L6.15,27 L6.15,29.25 C6.15177036,30.2928763 6.2479089,31.3329813 6.43700003,32.355 C2.56344562,34.0587749 0.0176782978,38.1698905 0,42.75 C0,43.9926407 0.917816269,45 2.05000001,45 C3.18218376,45 4.10000003,43.9926407 4.10000003,42.75 C4.11132173,40.0685003 5.56774932,37.6486442 7.81049999,36.585 C10.2950591,41.7492081 15.1791322,44.980597 20.5,44.980597 C25.8208678,44.980597 30.7049409,41.7492081 33.1895,36.585 C35.4322507,37.6486442 36.8886783,40.0685003 36.9,42.75 C36.9,43.9926407 37.8178162,45 38.95,45 C40.0821837,45 41,43.9926407 41,42.75 C40.9823217,38.1698905 38.4365544,34.0587749 34.563,32.355 C34.7520911,31.3329813 34.8482296,30.2928763 34.85,29.25 L34.85,27 Z M18.45,40.275 C13.6769209,39.2056457 10.2490057,34.5967719 10.2499998,29.25 L10.2499998,20.25 C10.2499998,16.5220779 13.0034488,13.5 16.4,13.5 L18.45,13.5 L18.45,40.275 Z M16.4,9.00000003 C16.4,6.51471865 18.2356325,4.50000003 20.5,4.50000003 C22.7643675,4.50000003 24.6,6.51471865 24.6,9.00000003 L16.4,9.00000003 Z M30.7500002,29.25 C30.7509943,34.5967719 27.3230791,39.2056457 22.55,40.275 L22.55,13.5 L24.6,13.5 C27.9965512,13.5 30.7500002,16.5220779 30.7500002,20.25 L30.7500002,29.25 Z" id="Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
