<svg width="77px" viewBox="0 0 68 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="3596" fill="#2C9F67" fill-rule="nonzero">
            <path d="M25.474,70 C23.298,70 21.24,68.982 19.917,67.236 L2.049,43.639 C-0.275,40.57 0.33,36.2 3.399,33.875 C6.473,31.549 10.84,32.158 13.165,35.225 L24.917,50.743 L54.474,3.285 C56.509,0.02 60.806,-0.979 64.078,1.053 C67.346,3.087 68.344,7.387 66.308,10.655 L31.392,66.715 C30.179,68.664 28.085,69.89 25.792,69.994 C25.685,69.998 25.58,70 25.474,70 Z" id="Shape"></path>
        </g>
    </g>
</svg>
