<svg width="80px" viewBox="0 0 512 508" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="1582528" fill="#2C9F67" fill-rule="nonzero">
            <path d="M505.772,100.942 L259.772,0.762 C257.354,-0.222 254.647,-0.222 252.229,0.762 L166.282,35.763 C161.167,37.846 158.709,43.681 160.792,48.796 C162.874,53.911 168.711,56.369 173.825,54.286 L256,20.821 L492,116.928 L492,136.936 L455.19,136.936 L56.81,136.936 L20,136.936 L20,116.928 L99.718,84.465 C104.833,82.382 107.291,76.547 105.208,71.432 C103.126,66.318 97.289,63.86 92.175,65.942 L6.229,100.942 C2.462,102.476 0,106.137 0,110.204 L0,146.936 C0,152.458 4.477,156.936 10,156.936 L46.81,156.936 L46.81,369 C46.81,374.523 51.287,379 56.81,379 L129.507,379 L382.492,379 L455.19,379 C460.713,379 465.19,374.523 465.19,369 L465.19,156.936 L502,156.936 C507.523,156.936 512,152.458 512,146.936 L512,110.204 C512,106.137 509.538,102.476 505.772,100.942 Z M139.507,267.506 L372.492,267.506 L372.492,303.253 L139.507,303.253 L139.507,267.506 Z M372.492,247.506 L139.507,247.506 L139.507,211.759 L372.492,211.759 L372.492,247.506 Z M139.507,359 L139.507,323.253 L372.492,323.253 L372.492,359 L139.507,359 Z M445.19,359 L392.492,359 L392.492,313.253 L392.492,257.506 L392.492,201.759 C392.492,196.237 388.015,191.759 382.492,191.759 L129.507,191.759 C123.984,191.759 119.507,196.237 119.507,201.759 L119.507,257.506 L119.507,313.253 L119.507,359 L66.81,359 L66.81,156.936 L445.19,156.936 L445.19,359 Z" id="Shape"></path>
            <path d="M164.316,403.919 L56.81,403.919 C51.287,403.919 46.81,408.397 46.81,413.919 L46.81,497.976 C46.81,503.498 51.287,507.976 56.81,507.976 L164.317,507.976 C169.84,507.976 174.317,503.498 174.317,497.976 L174.317,413.919 C174.316,408.397 169.839,403.919 164.316,403.919 Z M154.316,487.976 L66.81,487.976 L66.81,423.919 L100.563,423.919 L100.563,445.92 C100.563,451.442 105.04,455.92 110.563,455.92 C116.086,455.92 120.563,451.442 120.563,445.92 L120.563,423.919 L154.317,423.919 L154.317,487.976 L154.316,487.976 Z" id="Shape"></path>
            <path d="M309.754,403.919 L202.246,403.919 C196.723,403.919 192.246,408.397 192.246,413.919 L192.246,497.976 C192.246,503.498 196.723,507.976 202.246,507.976 L309.754,507.976 C315.277,507.976 319.754,503.498 319.754,497.976 L319.754,413.919 C319.754,408.397 315.277,403.919 309.754,403.919 Z M299.754,487.976 L212.246,487.976 L212.246,423.919 L246,423.919 L246,445.92 C246,451.442 250.477,455.92 256,455.92 C261.523,455.92 266,451.442 266,445.92 L266,423.919 L299.754,423.919 L299.754,487.976 Z" id="Shape"></path>
            <path d="M455.19,403.919 L347.684,403.919 C342.161,403.919 337.684,408.397 337.684,413.919 L337.684,497.976 C337.684,503.498 342.161,507.976 347.684,507.976 L455.19,507.976 C460.713,507.976 465.19,503.498 465.19,497.976 L465.19,413.919 C465.19,408.397 460.713,403.919 455.19,403.919 Z M445.19,487.976 L357.683,487.976 L357.683,423.919 L391.436,423.919 L391.436,445.92 C391.436,451.442 395.913,455.92 401.436,455.92 C406.959,455.92 411.436,451.442 411.436,445.92 L411.436,423.919 L445.19,423.919 L445.19,487.976 Z" id="Shape"></path>
            <path d="M133,70.114 C138.508,70.114 143,65.622 143,60.114 C143,54.606 138.508,50.114 133,50.114 C127.492,50.114 123,54.606 123,60.114 C123,65.622 127.492,70.114 133,70.114 Z" id="Shape"></path>
        </g>
    </g>
</svg>
