<svg width="67px" viewBox="0 0 143 171" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="149462" fill="#797978" fill-rule="nonzero">
            <path d="M123.5,63.6911667 L123.5,45.9166667 C123.5,20.5991667 100.1715,0 71.5,0 C42.8285,0 19.5,20.5991667 19.5,45.9166667 L19.5,63.6911667 C8.44675,65.5468333 0,74.9328333 0,86.2283333 L0,148.111333 C0,160.7305 10.53975,171 23.49425,171 L119.50575,171 C132.46025,171 143,160.7305 143,148.108167 L143,86.2251667 C143,74.9328333 134.55325,65.5468333 123.5,63.6911667 Z M26,45.9166667 C26,24.0888333 46.41,6.33333333 71.5,6.33333333 C96.59,6.33333333 117,24.0888333 117,45.9166667 L117,63.3333333 L26,63.3333333 L26,45.9166667 Z M136.5,148.108167 C136.5,157.237667 128.8755,164.666667 119.50575,164.666667 L23.49425,164.666667 C14.1245,164.666667 6.5,157.237667 6.5,148.108167 L6.5,86.2251667 C6.5,77.0956667 14.1245,69.6666667 23.49425,69.6666667 L119.50575,69.6666667 C128.8755,69.6666667 136.5,77.0956667 136.5,86.2251667 L136.5,148.108167 Z" id="Shape"></path>
            <path d="M71,89 C63.8305,89 58,94.6382857 58,101.571429 L58,120.428571 C58,127.361714 63.8305,133 71,133 C78.1695,133 84,127.361714 84,120.428571 L84,101.571429 C84,94.6382857 78.1695,89 71,89 Z M77.5,120.428571 C77.5,123.895143 74.58475,126.714286 71,126.714286 C67.41525,126.714286 64.5,123.895143 64.5,120.428571 L64.5,101.571429 C64.5,98.1048571 67.41525,95.2857143 71,95.2857143 C74.58475,95.2857143 77.5,98.1048571 77.5,101.571429 L77.5,120.428571 Z" id="Shape"></path>
        </g>
    </g>
</svg>
