<svg class="wavy-mobile" width="100%" style="margin-bottom: -90px; z-index: -1; position: relative;" height="100%" viewBox="0 0 1081 411" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <polygon id="path-1" points="0 0 1080 0 1080 431 0 431"></polygon>
        <linearGradient x1="45.3989373%" y1="96.831%" x2="45.9703617%" y2="33.521%" id="linearGradient-3">
            <stop stop-color="#F7FAFC" offset="0%"></stop>
            <stop stop-color="#0198F1" offset="100%"></stop>
        </linearGradient>
        <polygon id="path-4" points="0 0 1080 0 1080 431 0 431"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="SVG-Layer" transform="translate(0.500000, -2.000000)">
            <g id="Group">
                <g id="Clipped">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="a"></g>
                    <path d="M2,2 L1082,2 L1081,413 C967.766,334.556 855.1,309.223 743,337 C630,365 390,432 310,336 C230,240 -13,361 -36,244 C-51.333,166 -38.667,85.333 2,2 Z" id="Shape" fill="url(#linearGradient-3)" fill-rule="nonzero" mask="url(#mask-2)"></path>
                </g>
                <g id="Clipped">
                    <mask id="mask-5" fill="white">
                        <use xlink:href="#path-4"></use>
                    </mask>
                    <g id="a"></g>
                    <g id="Group" mask="url(#mask-5)">
                        <g transform="translate(690.000000, 15.000000)">
                            <polygon id="Shape" fill="#0198F1" fill-rule="nonzero" points="0 0 0 92.748 372 93 372 0"></polygon>
                            <g id="Group" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(22.000000, 22.000000)">
                                <path d="M126.303,0.223 L105.495,31.227 C103.33,34.508 99.534,36.491 95.56,36.491 C89.09,36.491 83.733,31.141 83.733,24.686 C83.733,18.136 89.089,12.796 95.605,12.796 C96.251,12.713 97.118,12.622 97.722,12.622 C102.214,12.622 106.79,14.518 109.9,17.708 L116.114,8.231 C111.28,3.238 104.112,0.042 96.942,0.042 C83.558,0.042 71.297,11.156 71.297,24.595 C71.297,37.955 82.264,48.893 95.653,48.893 C102.127,48.893 108.602,46.137 113.093,41.568 L127.428,41.568 L127.513,48.893 L139.953,48.893 L139.953,0.223 L126.303,0.223 Z M120.61,30.884 L127.428,21.33 L127.513,30.884 L120.611,30.884 L120.61,30.884 Z M163.786,48.892 L151.35,48.892 L151.35,11.587 L141.68,11.587 L141.68,0.303 L173.452,0.222 L173.452,11.587 L163.786,11.587 L163.786,48.892 Z M214.906,0.223 L202.471,0.226 L202.384,18.396 L187.702,18.396 L187.609,0.222 L175.183,0.222 L175.183,48.892 L187.701,48.892 L187.701,29.679 L202.471,29.679 L202.471,48.892 L214.906,48.892 L214.906,0.222 L214.906,0.223 Z M314.557,0.223 L314.557,22.872 L297.461,0.222 L286.144,0.302 L286.059,18.052 C283.209,7.714 273.449,0.222 262.569,0.222 C249.187,0.222 238.219,11.156 238.219,24.595 C238.219,28.911 239.513,33.293 241.582,37.09 L229.262,37.09 L229.262,0.223 L216.591,0.223 L216.591,48.893 L245.56,48.893 L245.56,42.083 C250.136,46.307 256.353,48.893 262.57,48.893 C273.45,48.893 283.038,41.568 286.059,31.227 L286.144,48.893 L298.67,48.893 L298.67,25.208 L315.674,48.893 L326.983,48.893 L326.999,0.223 L314.557,0.223 Z M262.57,37.005 C255.749,37.005 250.137,31.492 250.137,24.595 C250.137,17.793 255.749,12.196 262.57,12.196 C269.482,12.196 275.094,17.793 275.094,24.596 C275.094,31.492 269.482,37.005 262.57,37.005 Z M56.258,37.09 L56.258,30.28 L69.604,30.28 L69.58,18.397 L56.258,18.397 L56.258,12.197 L70.968,12.197 L70.943,0.224 L42.62,0.304 L42.62,17.018 C39.684,7.888 31.218,1.166 21.548,0.304 L0.046,0.224 L0.046,48.892 L21.636,48.892 C31.218,48.035 39.684,41.316 42.62,32.269 L42.62,48.89 L70.969,48.89 L70.944,37.09 L56.259,37.09 L56.258,37.09 Z M28.888,32.006 C28.114,35.284 25.003,37.604 21.636,37.691 L13.692,37.691 L13.692,11.586 L21.636,11.586 C25.003,11.586 28.114,14.01 28.888,17.364 C29.668,19.605 30.099,22.189 30.099,24.596 C30.099,27.101 29.669,29.68 28.889,32.006 L28.888,32.006 Z" id="Shape" fill="#FFFFFF" fill-rule="nonzero"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
