<?xml version="1.0" encoding="UTF-8"?>
<svg width="52px" height="58px" viewBox="0 0 52 58" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Email-System" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Email-Send-Out" transform="translate(-487.000000, -140.000000)">
            <g id="send-out-emails" transform="translate(397.000000, 112.000000)" fill="#FFFFFF" stroke="#0091FF">
                <rect id="Rectangle" x="0.5" y="0.5" width="230" height="171" rx="12"></rect>
            </g>
            <g id="Group" transform="translate(487.000000, 140.000000)" fill="#0091FF" fill-rule="nonzero">
                <path d="M36.9311209,24.921875 C36.9311209,23.6705703 35.9164157,22.65625 34.6646363,22.65625 L11.3198443,22.65625 C10.0680648,22.65625 9.05335965,23.6705703 9.05335965,24.921875 C9.05335965,26.1731797 10.0680648,27.1875 11.3198443,27.1875 L34.6646363,27.1875 C35.9164157,27.1875 36.9311209,26.1731797 36.9311209,24.921875 Z M11.3198443,31.71875 C10.0680648,31.71875 9.05335965,32.7330703 9.05335965,33.984375 C9.05335965,35.2356797 10.0680648,36.25 11.3198443,36.25 L25.4979524,36.25 C26.7497319,36.25 27.764437,35.2356797 27.764437,33.984375 C27.764437,32.7330703 26.7497319,31.71875 25.4979524,31.71875 L11.3198443,31.71875 Z M16.6460832,53.46875 L9.06593863,53.46875 C6.56645936,53.46875 4.53296932,51.4360312 4.53296932,48.9375 L4.53296932,9.06250001 C4.53296932,6.56396876 6.56645936,4.53125 9.06593863,4.53125 L36.9311209,4.53125 C39.4306002,4.53125 41.4640902,6.56396876 41.4640902,9.06250001 L41.4640902,22.9960938 C41.4640902,24.2473984 42.4787954,25.2617188 43.7305749,25.2617188 C44.9823544,25.2617188 45.9970595,24.2473984 45.9970595,22.9960938 L45.9970595,9.06250001 C45.9970595,4.06543752 41.9300795,0 36.9311209,0 L9.06593863,0 C4.06698008,0 0,4.06543752 0,9.06250001 L0,48.9375 C0,53.9345625 4.06698008,58 9.06593863,58 L16.6460832,58 C17.8978627,58 18.9125679,56.9856797 18.9125679,55.734375 C18.912568,54.4830704 17.8978627,53.4687501 16.6460832,53.46875 Z M50.0115705,32.8030781 C47.3604634,30.1529765 43.0468898,30.1528632 40.3974826,32.8012656 L27.9541418,45.2123594 C27.6899196,45.4759401 27.4948958,45.8006619 27.3863874,46.1576914 L24.6764651,55.0757578 C24.4362231,55.8663574 24.6455947,56.7250013 25.2228274,57.3164192 C25.8000601,57.9078371 26.6536074,58.1382327 27.450189,57.9176446 L36.5982876,55.3845625 C36.9747879,55.2803464 37.3179339,55.0805856 37.5944077,54.8046758 L50.0116838,42.4154453 C52.6627909,39.7653438 52.6627909,35.4534063 50.0115705,32.8030781 L50.0115705,32.8030781 Z M34.8138843,51.1768438 L30.2115605,52.4512578 L31.5584191,48.0186758 L39.9544981,39.6443594 L43.1604407,42.849086 L34.8138843,51.1768438 L34.8138843,51.1768438 Z M46.8080078,39.2100391 L46.3688763,39.6480977 L43.1635005,36.4439375 L43.6011586,36.0073516 C44.484861,35.1239844 45.9227189,35.1239844 46.8064212,36.0073516 C47.6901236,36.8907187 47.6901236,38.3280313 46.8080078,39.2100391 Z M34.6646363,13.59375 L11.3198443,13.59375 C10.0680648,13.59375 9.05335965,14.6080703 9.05335965,15.859375 C9.05335965,17.1106796 10.0680648,18.125 11.3198443,18.125 L34.6646363,18.125 C35.9164157,18.125 36.9311209,17.1106797 36.9311209,15.859375 C36.9311209,14.6080703 35.9164157,13.59375 34.6646363,13.59375 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>
