<svg height="52px" viewBox="0 0 101 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Email-System" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Email-System-Index" transform="translate(-465.000000, -190.000000)">
            <g id="send-out-emails" transform="translate(400.000000, 156.000000)">
                <rect id="Rectangle" stroke="#0091FF" fill="#FFFFFF" x="0.5" y="0.5" width="230" height="171" rx="12"></rect>
                <g id="SVG-Layer" transform="translate(65.000000, 34.000000)" fill-rule="nonzero">
                    <path d="M65.3700599,49.4691617 L40.5439996,49.4691617 C36.0412338,49.4691617 32.3700599,45.770466 32.3700599,41.2339443 L32.3700599,10.7043791 C32.3700599,6.16785735 36.0412338,2.46916168 40.5439996,2.46916168 L90.1961201,2.46916168 C94.6988859,2.46916168 98.3700599,6.16785735 98.3700599,10.7043791 L98.3700599,41.2339443 C98.3700599,45.770466 94.6988859,49.4691617 90.1961201,49.4691617 L62.063975,49.4691617" id="Path"></path>
                    <path d="M40.4196819,51.4691617 L90.3205745,51.4691617 C95.8651182,51.4691617 100.37006,46.9262354 100.37006,41.3143854 L100.37006,10.623938 C100.37006,5.03264414 95.8651182,0.469161679 90.3205745,0.469161679 L40.4196819,0.469161679 C34.8751383,0.469161679 30.370128,5.01208792 30.370128,10.623938 L30.370128,41.3349416 C30.3498122,46.9262354 34.8751383,51.4691617 40.4196819,51.4691617 Z M34.0597642,10.623938 C34.0597642,7.08826693 36.9135735,4.21039506 40.4196819,4.21039506 L90.3205745,4.21039506 C93.8266829,4.21039506 96.6804922,7.08826693 96.6804922,10.623938 L96.6804922,41.3349416 C96.6804922,44.8706127 93.8266829,47.7484845 90.3205745,47.7484845 L40.4196819,47.7484845 C36.9135735,47.7484845 34.0597642,44.8706127 34.0597642,41.3349416 L34.0597642,10.623938 Z" id="Shape" fill="#0091FF"></path>
                    <path d="M40.1885594,40.8386482 C40.5548,41.2454311 41.0634676,41.4691617 41.5721353,41.4691617 C41.999416,41.4691617 42.4470435,41.3267877 42.7929375,41.0013614 L58.7244066,26.9673518 L63.8924694,30.9741633 C64.2180167,31.2385722 64.6249507,31.360607 65.0318848,31.360607 C65.4388189,31.360607 65.8254063,31.2385722 66.1713002,30.9741633 L71.5021366,26.845317 L87.2708321,40.9810222 C87.6167261,41.3064486 88.0643536,41.4488225 88.4916344,41.4488225 C89.0003019,41.4488225 89.5089696,41.2454311 89.8752103,40.8386482 C90.5466515,40.0860998 90.4856114,38.9064295 89.7327834,38.2352377 L74.4727554,24.5469937 L89.6513966,12.7706292 C90.4652647,12.1401157 90.6076917,10.9807845 89.9769437,10.187558 C89.3461959,9.37399222 88.1864338,9.23161815 87.3929124,9.86213165 L65.0318848,27.2114216 L59.7824352,23.1232536 L42.7115507,9.88247079 C41.8976825,9.25195728 40.7582671,9.39433135 40.1275193,10.2078971 C39.4967714,11.0214629 39.6391984,12.1604549 40.4530666,12.7909683 L55.7741345,24.6893677 L40.3716797,38.2555769 C39.5781582,38.9267686 39.5171181,40.0860998 40.1885594,40.8386482 L40.1885594,40.8386482 Z M24.2977837,27.4351521 C25.3151189,27.4351521 26.1493337,26.6012472 26.1493337,25.5842901 C26.1493337,24.567333 25.3151189,23.733428 24.2977837,23.733428 L9.64815686,23.733428 C8.63082163,23.733428 7.7966068,24.5673329 7.7966068,25.5842901 C7.7966068,26.6012473 8.63082163,27.4351521 9.64815686,27.4351521 L24.2977837,27.4351521 Z M2.22160991,17.6927022 L24.2977837,17.6927022 C25.3151189,17.6927022 26.1493337,16.8587973 26.1493337,15.84184 C26.1493337,14.8248828 25.3151189,13.9909779 24.2977837,13.9909779 L2.22160991,13.9909779 C1.20427469,13.9909779 0.370059852,14.8248828 0.370059852,15.84184 C0.390406551,16.8587973 1.20427469,17.6927022 2.22160991,17.6927022 Z M26.1493337,35.3267401 C26.1493337,34.3097828 25.3151189,33.475878 24.2977837,33.475878 L14.653446,33.475878 C13.6361108,33.475878 12.8018959,34.3097829 12.8018959,35.3267401 C12.8018959,36.3436972 13.6361108,37.1776022 14.653446,37.1776022 L24.2977837,37.1776022 C25.3151189,37.1776022 26.1493337,36.3436973 26.1493337,35.3267401 Z" id="Shape" fill="#0091FF"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
