<svg height="52px" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Email-System" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Email-System-Index" transform="translate(-861.000000, -185.000000)">
            <g id="email-statistics" transform="translate(775.000000, 156.000000)">
                <rect id="Rectangle" stroke="#0091FF" fill="#FFFFFF" x="0.5" y="0.5" width="230" height="171" rx="12"></rect>
                <g id="Group" transform="translate(86.000000, 29.000000)" fill="#0091FF" fill-rule="nonzero">
                    <path d="M4.99168055,55.0083195 L4.99168055,0 L0,0 L0,60 L60,60 L60,55.0083195 L4.99168055,55.0083195 Z M24.1597338,29.0515807 L41.6805325,35.9400998 L59.0016639,8.83527457 L54.7587354,6.13976707 L39.6838603,29.8003328 L22.2129784,22.9118136 L6.3394343,47.1214642 L10.4825291,49.8169717 L24.1597338,29.0515807 Z" id="Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
