<div id="table-scroll" class="table-scroll" style="margin-bottom: 2rem;">
  <table id="main-table" class="main-table">
    <thead>
      <tr>
        <th scope="col">Date Filed</th>
        <% if bug_reports&.first&.closed? %>
          <th scope="col">Date Resolved</th>
        <% end %>
        <th scope="col">Submission</th>
        <th scope="col">Supplier Code</th>
        <th scope="col">Crash Level</th>
        <th scope="col">Reported by</th>
        <th scope="col">Status</th>
        <th scope="col">Priority</th>
        <th scope="col">Assignee</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% bug_reports.each do |report| %>
        <tr>
          <th><%= report.created_at.strftime("%Y-%m-%d") %></th>
          <% if bug_reports&.first&.closed? %>
            <td><%= report&.resolved_at&.strftime("%Y-%m-%d") %></td>
          <% end %>
          <td style="font-size: 1.1rem"><%= report.request_params.present? ? "auto-report" : "user filed" %></td>
          <td style="font-size: 1.1rem"><%= report.supplier_code %></td>
          <td style="font-size: 1.1rem"><%= report.crash_level.titleize %> - <%= report.controller_action.split("#").last.gsub("quality_", "") if report.controller_action.present? %>
            <div class="bugdot"><%= report.bug_counts if report.bug_counts > 1 %></div>
          </td>
          <td style="font-size: 1.1rem"><%= report.username %> - <%= report.user_type %></td>
          <td>
            <div class="<%= bug_report_status_badge(report.status) %>"><%= report.status %></div>
          </td>
          <td>
            <div class="priority <%= bug_report_priority_badge(report.priority) %>"><%= report.priority.humanize %></div>
          </td>
          <td style="font-size: 1.1rem">
            <%= report.assignee.humanize %>
          </td>
          <td>
            <%= link_to bug_report_path(id: report.id) do %>
              <div class='btn-xs'>View Bug</div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>