<div class="wrapper">
  <div style="margin-bottom: 1rem;"><a href="/bug-reports">Bug Reports</a> › <strong><%= @bug_report.crash_level.titleize %></strong> reported by <strong><%= @bug_report.username %></strong>

  <div class="bordered-card" style="width: 90%; position: relative; padding: 1.5rem 1.2rem; margin-top: 3rem;">
    <div class="br-pill b" style="border: 2px solid #32A2ED; position: absolute; top: -23px; left: 20px; display: inline-block; background: white; padding: 0.2rem 2rem">Bug Details</div>
    <ul style="margin-bottom: 0;">
      <li>Reported Date: <span class="b" style="margin-left: 15px"><%= @bug_report.created_at.strftime("%Y-%m-%d") %></span></li>
      <% if @bug_report.closed? %>
        <li>Resolved Date: <span class="b" style="margin-left: 15px"><%= @bug_report&.resolved_at&.strftime("%Y-%m-%d") %></span></li>
      <% end %>
      <li>Reported By: <span class="b" style="margin-left: 15px"><%= @bug_report.username %> - <%= @bug_report.email %> - <%= @bug_report.user_type %></span></li>
      <!-- probably would be better if we grabbed first name and last name -->
      <li>Version: <span class="b" style="margin-left: 15px"><%= @bug_report.app.capitalize %></li>
      <li>Supplier Code: <span class="b" style="margin-left: 15px"><%= @bug_report.supplier_code %> - <%= @bug_report.supplier.name %></span></li>
      <li>Crash Level <a class="link blue" href="<%= image_path("bugreport_cheatsheet.jpg") %>">(?)</a>: <span class="b" style="margin-left: 15px"><%= @bug_report.crash_level.titleize %> - <%= @bug_report.supplier.name %></span></li>
      <li>Status: <span class="<%= bug_report_status_badge(@bug_report.status) %>" style="margin-left: 15px"><%= @bug_report.status.capitalize %></span></li>
      <li style="margin-top: 5px;">Priority: <span class="priority <%= bug_report_priority_badge(@bug_report.priority) %>" style="margin-left: 15px;"><%= @bug_report.priority.humanize %></span></li>
      <li>Assignee: <span class="b" style="margin-left: 15px"><%= @bug_report.assignee.humanize %></span></li>

      <% if current_user.technical? %>
      <br>
        <small>Update status</small>
        <% @update_status = BugReport.find_by(id: params[:id]) %>
        <%= form_with model: BugReport.find(@update_status.id), method: :post, url: update_bug_status_path(id: params[:id]) do |f| %>
          <%= f.select :status, options_for_select(BugReport::STATUS_COLLECTION, selected: @bug_report.status), { placeholder: "Please select a feature...", include_blank: "Select..." }  %><br>
          <br>
          <small>Set priority</small><br>
          <%= f.select :priority, options_for_select(BugReport::PRIORITY_COLLECTION, selected: @bug_report.priority), { placeholder: "Please select priority level", include_blank: "Select..." }  %><br>
          <small>Choose assignee</small><br>
          <%= f.select :assignee, options_for_select(BugReport::ASSIGNEE_COLLECTION, selected: @bug_report.assignee), { placeholder: "Please select an assignee", include_blank: "Select..." }  %><br>
          <br>
          <br>
          <%= f.text_area :analysis, rows: 10 %>
          <%= f.submit class: 'btn-xs', date: { disable_with: "Updating..." } %>
        <% end %>
      <% else %>
         <li>Analysis: <span class="b" style="margin-left: 15px"><%= @bug_report.analysis %></span></li>
      <% end %>
    </ul>
  </div>
  <div class="bordered-card" style="width: 90%; position: relative; padding: 1.5rem 1.2rem; margin-top: 3rem;">
    <div class="br-pill b" style="border: 2px solid #32A2ED; position: absolute; top: -23px; left: 20px; display: inline-block; background: white; padding: 0.2rem 2rem">Bug Description</div>
    <div style="margin-bottom: 1em">
      <div class="b">Which best describes the bug/description</div>
      <div><%= @bug_report.user_description %></div>
    </div>
  </div>
  <div class="bordered-card" style="width: 90%; position: relative; padding: 1.5rem 1.2rem; margin-top: 3rem;">
    <div class="br-pill b" style="border: 2px solid #32A2ED; position: absolute; top: -23px; left: 20px; display: inline-block; background: white; padding: 0.2rem 2rem">Attachments</div>
    <div style="margin-bottom: 1em">
      <div class="b">Attached images/videos of the bug</div>
      <% album = @bug_report.support_images.map{|x| rails_blob_path(x)} %>
      <% @bug_report.support_images.each_with_index do |x, i| %>
        <div style="position: relative; width: 100px; height: 100px;margin: 1em 1em 1em 0;">
            <a class="bg-blue white b id-<%= @bug_report.id %>" style="border-bottom: 1px solid rgba(183, 221, 247, 1.00); line-height: 1.2; position: absolute; top: -9px; right: -9px; border-radius: 50%; width: 15px; height: 15px; padding: 3px; font-size: 0.6em; text-align: center;" data-id="<%= @bug_report.id %>" data-index="<%= i %>" onclick="deleteImage(this, 'bug_reports', 'support_images',this.dataset.id , this.dataset.index)" >✖︎</a>
            <% if x.blob.content_type.include?('image') %>
              <img src="<%= rails_blob_path(x) %>" alt="" height="100px" width="100px" style="object-fit: cover;" onclick="launchLightbox(this)" data-id="<%= @bug_report.id %>-i<%= i %>" data-album="<%= album.join(':::') %>">
            <% else %>
              <div style="border: 2px solid dodgerblue; text-align: center; width: 100px; height: 100px; display: flex; justify-content: center; align-items: center;">
                <a href="<%= rails_blob_path(x) %>" style="font-size: 14px" target="_blank">Watch video</a>
              </div>
            <% end %>
        </div>
      <% end %>
      <div style="margin-bottom: 1em">
        <div class="b">Attached problem files</div>
        <% @bug_report.support_files.each do |x| %>
          <div><%= link_to x.filename, rails_blob_path(x, disposition: "attachment") %></div>
        <% end %>
      </div>
    </div>
  </div>

      <% if current_user.authorized_developer? || params[:technical] == 'true' %>
        <div class="bordered-card" style="width: 90%; position: relative; padding: 1.5rem 1.2rem; margin-top: 3rem;">
          <div class="br-pill b" style="border: 2px solid #32A2ED; position: absolute; top: -23px; left: 20px; display: inline-block; background: white; padding: 0.2rem 2rem">Technical Details</div>
          <div style="margin-bottom: 1em">
            <div class="b">user_params</div>
            <div style="background: black">
              <code style="font-size: 14px"><%= @bug_report.user_params %></code>
            </div>
          </div>
          <div style="margin-bottom: 1em">
            <div class="b">request_params</div>
            <div style="background: black">
              <code style="font-size: 14px"><%= @bug_report.request_params %></code>
            </div>
          </div>
          <div style="margin-bottom: 1em">
            <div class="b">bug_type - message</div>
            <div style="background: black">
              <code style="font-size: 14px"><%= @bug_report.bug_type %> - <%= @bug_report.message %></code>
            </div>
          </div>
          <div style="margin-bottom: 1em">
            <div class="b">controller_action</div>
            <div style="background: black">
              <code style="font-size: 14px"><%= @bug_report.controller_action %></code>
            </div>
          </div>
          <div style="margin-bottom: 1em">
            <div class="b">request_path</div>
            <div style="background: black">
              <code style="font-size: 14px"><%= @bug_report.request_path %></code>
            </div>
          </div>
          <div style="margin-bottom: 1em">
            <div class="b">backtrace</div>
            <div style="background: black">
              <code style="font-size: 14px">
                <% @bug_report.backtrace.each do |line| %>
                  <span style="word-break: break-all"><%= line %></span><br>
                <% end %>
              </code>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <script>
      function launchLightbox(e) {

          var album = e.getAttribute("data-album")
          var body = document.querySelector('body')
          var div = document.createElement('div')
          var id = e.getAttribute("data-id")
          div.id = id
          body.appendChild(div)
          console.log(id, 'here')
          console.log(e)
          // console.log(album, '---------------------')
          var res = album.split(":::").map(function(x){return {"src": x , "thumb": x, "subHtml": ''}})
          console.log(res)
          // console.log(res)
          var active = document.getElementById(id)

          lightGallery(active, {
              dynamic: true,
              dynamicEl: res,
              download: false
          })
      }
    </script>
