<style>
  .bugdot{
    background-color: rgba(27, 156, 226, 1.00);border-radius:50%;width: 16px;display: inline-block;text-align: center;height: 16px;line-height: 1;font-size: small;color: white;
  }
  .bugdot:empty{
    display: none;
  }
</style>
<h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">Bug Reports</h2>
<div style="text-align: right">
  <%= link_to "Generate bug report excel", generate_excel_bug_report_path, style: "margin-right: 12px;", download: true%>
  <%= link_to "Fill in bug report", web_bug_tracker_form_path %> <br>
</div>

<div>Open Bugs</div>
<%= render "bug_table", bug_reports: @bug_reports.reject(&:closed?).reject(&:rejected?) %>
<br>
<div>Closed Bugs</div>
<%= render "bug_table", bug_reports: @bug_reports.select(&:closed?).reverse %>
<br>
<div>Rejected Bugs</div>
<%= render "bug_table", bug_reports: @bug_reports.select(&:rejected?).reverse %>
