<nav class="bugtracker-nav text-center">
  <div class="native-flex native-justify-center native-items-center">
    <div class="mr"><%= render 'svg/bug' %></div>
    <div><strong>Assess Go Bug Reporter</strong></div>
  </div>
</nav>
<div class="my main-content-wrapper">
  <div class="b mb text-center">We apologise for the inconvenience</div>
  <div class="mb text-center">It seems like Assess Go caught an error</div>
  <br>
  <div class="pl py-10" style="border-left-width: 5px; border-left-style: solid; border-color: #cecece">
    <div class="mb">Please fill out the form below to submit information about bugs for Assess Go. The technical support team will review your submitted response. Thank you</div>
    <div class="b">NOTE: Assess Go is not directly connected to SDB. If you need to add a supplier to Assess Go, please email <span style="color: red; text-decoration: underline;"><%= AssessGoApi::IT %></span> and CC: <span style="color: red; text-decoration: underline;"><%= AssessGoApi::PO %></span></div>
  </div>
  <br><br>

  <%= form_with model: @bug_report, method: :post, url: "/api/v1/bug_reports/#{@bug_report.id}" do |f| %>
    <div class="pa mb" style="background-color: white; border-radius: 5px; box-shadow: 0 5px 15px 0px rgba(0,0,0,0.1)">
      <div class="mb"><span style="color:darkred; font-size: 12px">✸ Required</span></div>
      <div class="my form-group">
        <div class="native-label">Email address <span style="color:darkred; font-size: 12px">✸</span></div>
        <%= f.hidden_field :user_id, value: current_user.id if current_user.present? %>
        <%= f.text_field :email, class: "native-input", required: true %>
      </div>
    </div>
    <div class="pa mb" style="background-color: white; border-radius: 5px; box-shadow: 0 5px 15px 0px rgba(0,0,0,0.1)">
      <div class="mb form-group">
        <div class="native-label">Date discovered <span style="color:darkred; font-size: 12px">✸</span></div>
        <%= f.date_field :created_at, value: Date.today.to_s, class: "native-date", disabled: true %>
      </div>
    </div>
    <div class="pa mb" style="background-color: white; border-radius: 5px; box-shadow: 0 5px 15px 0px rgba(0,0,0,0.1)">
      <div class="mb form-group">
        <div class="native-label">Bug reported by <span style="color:darkred; font-size: 12px">✸</span></div>
        <%= f.text_field :username, value: current_user.username  if current_user.present?%>
      </div>
    </div>
    <div class="pa mb" style="background-color: white; border-radius: 5px; box-shadow: 0 5px 15px 0px rgba(0,0,0,0.1)">
      <div class="mb form-group">
        <div class="native-label">Which best describes the bug/description <span style="color:darkred; font-size: 12px">✸</span></div>

        <%= f.radio_button :crash_level, :server_error %>
        <%= f.label :crash_level, "App Crashed or Unavailable, Log in issue", value: :server_error, class: "native-font-sm" %><br><br>
        <%= f.radio_button :crash_level, :cannot_assess %>
        <%= f.label :crash_level, "Unable to start or complete an assessment or CP", value: :cannot_assess, class: "native-font-sm" %><br><br>
        <%= f.radio_button :crash_level, :improve_assessment %>
        <%= f.label :crash_level, "This will improve my ability to complete an assessment or CP", value: :improve_assessment, class: "native-font-sm" %><br><br>
        <%= f.radio_button :crash_level, :save_time %>
        <%= f.label :crash_level, "This will help me save time", value: :save_time, class: "native-font-sm" %><br><br>
        <%= f.radio_button :crash_level, :usability_request %>
        <%= f.label :crash_level, "This will make Assess Go easier to use", value: :usability_request, class: "native-font-sm" %><br><br>
        <%= f.radio_button :crash_level, :new_feature %>
        <%= f.label :crash_level, "This will be a great new feature/module for Assess Go", value: :new_feature, class: "native-font-sm" %><br><br>
      </div>
    </div>
    <div class="pa mb" style="background-color: white; border-radius: 5px; box-shadow: 0 5px 15px 0px rgba(0,0,0,0.1)">
      <div class="mb form-group">
        <div class="native-label">Which version of Assess Go? <span style="color:darkred; font-size: 12px">✸</span></div>
        <%= f.radio_button :app, :web %>
        <%= f.label :app, "Web", value: :web, class: "native-font-sm" %><br><br>
        <%= f.radio_button :app, :wechat %>
        <%= f.label :app, "Wechat Mini App", value: :wechat, class: "native-font-sm" %><br><br>
        <%= f.radio_button :app, :android %>
        <%= f.label :app, "Android APP", value: :android, class: "native-font-sm" %><br><br>
        <%= f.radio_button :app, :ios %>
        <%= f.label :app, "iOS APP", value: :ios, class: "webview-font-sm" %><br><br>
        <%= f.radio_button :app, :multi_platform %>
        <%= f.label :app, "Multiple Platforms", value: :multi_platform, class: "webview-font-sm" %><br><br>
      </div>
    </div>
    <div class="pa mb" style="background-color: white; border-radius: 5px; box-shadow: 0 5px 15px 0px rgba(0,0,0,0.1)">
      <div class="mb form-group">
        <div class="native-label">Which feature of Assess Go? <span style="color:darkred; font-size: 12px">✸</span></div>
        <div class="mb" style="position: relative">
          <%= f.select :feature, options_for_select(BugReport.features.keys), {placeholder: "Please select a feature..."},{ class: "native-select", id: "feature"} %>
          <div style="position: absolute; bottom: 5px; right: 5px; pointer: none; padding: 5px; background: white;">
             <svg style="height: 15px; width: 15px; fill-color: black;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
    </div>

  <div class="pa mb" style="background-color: white; border-radius: 5px; box-shadow: 0 5px 15px 0px rgba(0,0,0,0.1)">
    <div class="mb form-group">
      <div class="native-label">Which supplier is concerned when you face the problem? (Please provide supplier code) <span style="color:darkred; font-size: 12px">✸</span></div>
      <%= f.text_field :supplier_code, class: "native-input" %>
    </div>
  </div>
  <div class="pa mb" style="background-color: white; border-radius: 5px; box-shadow: 0 5px 15px 0px rgba(0,0,0,0.1)">
    <div class="mb form-group">
      <div class="native-label">Please describe your bug or suggestion for improvement <span style="color:darkred; font-size: 12px">✸</span></div>
      <%= f.text_area :user_description, class: "native-textarea" %>
    </div>
  </div>
  <div class="pa mb" style="background-color: white; border-radius: 5px; box-shadow: 0 5px 15px 0px rgba(0,0,0,0.1)">
    <div class="native-label">Please attach images/videos of the bug <span style="color:darkred; font-size: 12px">✸</span></div>
    <div class="native-flex native-justify-between native-items-center" style="width: 100%;">
      <%= f.file_field :support_images, multiple: true, accept: XFile::COMMON,  id: "support-images-input", style: "width: 30%", onchange:"previewImage(this);", direct_upload: true %>
      <div class="native-font-sm"><div class="native-font-sm border-blue" style="cursor: pointer; padding: 5px; background-color: dodgerblue; color: white; border-radius: 5px" onclick="resetSelection(this)">Reset selection</div></div>
    </div>
    <div id="thumbnail-grid" class="preview-grid">
    </div>
  </div>




  <div class="pa mb" style="background-color: white; border-radius: 5px; box-shadow: 0 5px 15px 0px rgba(0,0,0,0.1)">
    <div class="native-label">Please attach problem file(optional, e.g. CP excel, etc.)</div>
      <%= f.file_field :support_files, multiple: true, accept: XFile::COMMON, style: "width: 30%" %>
  </div>

  <div class="native-flex native-items-center" style="flex-direction: column;">
    <%= f.submit "Submit Report", class: "btn-primary mb-10", style: "width: 100%;",data:{disable_with: "Sending, please wait..."} %>
  </div>
  <% end %>
</div>


<style>
  .preview-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.5rem;
  }
  .thumbnail {
    border: 1px solid #ccc;
    object-fit: cover;
    width: 130px;
    height: 130px;
  }
</style>

<script type="text/javascript">
  var form = document.querySelector('form')
  form.addEventListener('ajax:success', function(){
    if (window.location.href.includes("native")) {
      Turbolinks.visit("/native/bug-tracker/submitted")
    } else {
      Turbolinks.visit("/bug-reports")
    }
  })



  function previewImage (e) {
    var fileList = e.files
    console.log(fileList)
    var previewGrid = document.querySelector(".preview-grid")
    for (var i = 0; i < fileList.length; i++) {

      if (fileList[i].type.includes("image")) {
        console.log(fileList[i].type)
        var imageSrc = URL.createObjectURL(fileList[i])
        var thumbnail =   '<div class="preview-thumbnail">' +
                            '<img src="' + imageSrc + '" class="thumbnail"  />' +
                          '</div>';
        previewGrid.innerHTML += thumbnail;
      } else {
        var play = "https://img.icons8.com/fluent/452/play.png";
        var play_thumbnail =   '<div class="preview-thumbnail">' +
                            '<img src="' + play + '" class="thumbnail"  />' +
                          '</div>';
        previewGrid.innerHTML += play_thumbnail;
      }



    };
  }

  function resetSelection (e) {
    var input = document.getElementById("support-images-input");
    var thumbnails = document.querySelectorAll('.preview-thumbnail')
    input.value = ""
    thumbnails.forEach(function (ele) {
      ele.remove();
    })

  }
</script>

