<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/control-plan">Control Plans</a> › <%= @supplier.name %> › <%= link_to product_families_path do %>Product Families<% end %> › Process Steps for <%= @pf.name %></div>
</div>

<div class="wrapper">
  <h3>Process Steps for <%= @pf.name %></h3>
</div>

<div id="table-scroll" class="table-scroll" style="margin-bottom: 2rem;">
  <table id="main-table" class="main-table">
    <thead>
      <tr>
        <th scope="col">Step Number</th>
        <th scope="col">What to Control</th>
        <th scope="col">Product Process Category</th>
        <th scope="col">Process</th>
        <th scope="col">Step</th>
      </tr>
    </thead>
    <tbody>
      <% @steps.each_with_index do |s, i| %>
      <tr>
        <th><%= s.step_number %></th>
        <td><%= s.control_item %></td>
        <td><%= s.product_process.category %></td>
        <td><%= s.product_process.name %></td>
        <td>
          <%= link_to update_process_step_path(ps_id: s.id), class: 'no-underline' do %><button class="btn-xs">Edit Process</button><% end %>

          <%= link_to "/api/v1/process_steps/#{s.id}", method: :delete, data: {turbolinks: false, confirm: "Are you sure you want to delete this step?"}, remote: true, class: 'no-underline' do %><button class="btn-xs">Delete Process</button><% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  var remote_links = document.querySelectorAll('a[data-remote=true]');

  remote_links.forEach(function(inputElm){
    inputElm.addEventListener('ajax:complete', function(event){
      Turbolinks.visit(window.location.path)
    });
  })
</script>
