<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/control-plan">Control Plans</a> › <%= @supplier.name %> › Product Families </div>
</div>

<div class="b"><%= @supplier.name %></div>
<p style="margin-bottom: 2rem;">Last updated: <span><%= @supplier.updated_at.strftime("%Y-%m-%d") %></span></p>

<div class="wrapper">
  <h3>Product Families</h3>
</div>

<div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table" style="min-width:fit-content;">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Steps Count</th>
        <th scope="col">Last Update</th>
        <th scope="col">Product Info</th>

      </tr>
    </thead>
    <tbody>
      <% @product_families.each do |product| %>
      <tr>
        <th><%= product.name %></th>
        <th><%= product.process_steps.count %></th>
        <td style="font-size: 1.1rem"><%= product.updated_at.strftime("%Y-%m-%d") %></td>
        <td>
          <%= link_to update_product_family_path(pf_id: product.id), class: 'no-underline' do %>
            <button class="btn-xs">Edit Product Family</button>
          <% end %>
          <%= link_to process_steps_path(pf_id: product.id) do %>
            <button class="btn-xs">Process Steps</button>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div style="width: 100%; background: #32A2ED; height: 4rem; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
  <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
    <div>Total Products: <strong><%= @product_families.count %></strong></div>
    <div></div>
    <div></div>
  </div>
</div>
