<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/control-plan">Control Plans</a> › <%= @supplier.name %> › <%= link_to product_families_path do %>Product Families<% end %> › <%= link_to process_steps_path(@supplier.code) do %>Process Steps for <%= @pf.name %> <% end %> › Editing Step <%= @step.step_number %></div>
</div>

<%= form_with model: @step, method: :post, url: "/api/v1/process_steps/#{@step.id}" do |f| %>
  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Step number</label>
    <br>
    <%= f.text_field :step_number, class: "w-50" %>
  </div>

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">What to control?</label>
    <br>
    <%= f.text_field :control_item, class: "w-50" %>
  </div>

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Control method</label>
    <br>
    <%= f.text_area :control_method, class: "w-50" %>
  </div>

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Requirement</label>
    <br>
    <%= f.text_area :requirement, class: "w-50" %>
  </div>

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Sampling</label>
    <br>
    <%= f.text_area :sampling, class: "w-50" %>
  </div>

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Acceptance Rules</label>
    <br>
    <%= f.text_area :acceptance_rules, class: "w-50" %>
  </div>

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Reaction Mode</label>
    <br>
    <%= f.text_area :reaction_mode, class: "w-50" %>
  </div>

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Criticity</label>
    <br>
    <%= f.select :criticity, ['Critical', 'Major', 'Minor'] %>
  </div>

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Control Type</label>
    <br>
    <%= f.select :control_type, ProcessStep::CONTROL_TYPES %>
  </div>

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Who is responsible?</label>
    <br>
    <%= f.text_field :supplier_controller, class: "w-50" %>
  </div>

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Supplier Control Frequency</label>
    <br>
    <% days = @step.supplier_control_freq.split('.').first %>
    <% freq = @step.supplier_control_freq.split('.').last %>
    <input type="number" id="supplier_days" name="name" value="<%= days %>" class="w-50" onchange="freqOnchange('supplier')">
    <select name="frequency" id="supplier_freq" data-freq='<%= freq %>' style="display: inline-block" onchange="freqOnchange('supplier')">
      <option name="days" value="days">Days</option>
      <option name="weeks" value="weeks">Weeks</option>
      <option name="months" value="months">Months</option>
    </select>
    <%= f.hidden_field :supplier_control_freq, id: "supplier_freq_hidden" %>
  </div>

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Decathlon Control Frequency</label>
    <br>
    <% days_2 = @step.decathlon_control_freq.split('.').first %>
    <% freq_2 = @step.decathlon_control_freq.split('.').last %>
    <input type="number" id="decathlon_days" name="name" value="<%= days_2 %>" class="w-50" onchange="freqOnchange('decathlon')">
    <select name="frequency" id="decathlon_freq" data-freq='<%= freq_2 %>' style="display: inline-block" onchange="freqOnchange('decathlon')">
      <option name="days" value="days">Days</option>
      <option name="weeks" value="weeks">Weeks</option>
      <option name="months" value="months">Months</option>
    </select>
    <%= f.hidden_field :decathlon_control_freq, id: "decathlon_freq_hidden" %>
  </div>

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem; color: green; font-weight: 800">Acceptable Image</label>
    <br>
    <%= f.file_field :acceptable_image, accept: XFile::COMMON, style: "width: 30%", direct_upload: true, onchange:"autoClickForm(event.target.form);" %>
  </div>
    <div style="position: relative; display: inline-block; width: 100px; height: 100px; margin: 1em 1em 1em 0;">
    <% if @step.acceptable_image.attachment.present? %>
      <% image = rails_blob_path(@step.acceptable_image) %>
      <a class="bg-blue white b id" style="border-bottom: 1px solid rgba(183, 221, 247, 1.00); line-height: 1.2; position: absolute; top: -9px; right: -9px; border-radius: 50%; width: 15px; height: 15px; padding: 3px; font-size: 0.6em; text-align: center;" onclick="deleteImage(this, 'process_steps', 'acceptable_image', <%= @step.id %>)" >✖︎</a>
      <img src="<%= image %>" alt="" height="100px" width="100px" style="object-fit: cover;" onclick="launchLightbox(this)" data-id="<%= @step.id %>" data-image="<%= image %>">
    <% else %>
      N/A
    <% end %>
    </div>



  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem; color: red; font-weight: 800">Unacceptable Image</label>
    <br>
    <%= f.file_field :unacceptable_image, accept: XFile::COMMON, style: "width: 30%", direct_upload: true, onchange:"autoClickForm(event.target.form);" %>
  </div>
    <div style="position: relative; display: inline-block; width: 100px; height: 100px; margin: 1em 1em 1em 0;">
      <% if @step.unacceptable_image.attachment.present? %>
      <% image_2 = rails_blob_path(@step.unacceptable_image) %>
      <a class="bg-blue white b" style="border-bottom: 1px solid rgba(183, 221, 247, 1.00); line-height: 1.2; position: absolute; top: -9px; right: -9px; border-radius: 50%; width: 15px; height: 15px; padding: 3px; font-size: 0.6em; text-align: center;" onclick="deleteImage(this, 'process_steps', 'unacceptable_image', <%= @step.id %>)" >✖︎</a>
      <img src="<%= image_2 %>" alt="" height="100px" width="100px" style="object-fit: cover;" onclick="launchLightbox(this)" data-id="<%= @step.id %>" data-image="<%= image_2 %>">
      <% else %>
      N/A
      <% end %>
    </div>


  <div style="margin: 10px 0;">
    <%= f.submit "Update Process Step", class: "btn-md w-50", style: "display: inline-block; margin-right: 15px;" %>
  </div>

<% end %>



<script>
  var freqSelect = document.getElementById('supplier_freq')
  var freq = freqSelect.getAttribute('data-freq')
  var decathlonSelect = document.getElementById('decathlon_freq')
  var decathlon = decathlonSelect.getAttribute('data-freq')
  document.getElementById("supplier_freq").options.namedItem(freq).selected=true;
  document.getElementById("decathlon_freq").options.namedItem(decathlon).selected=true;

  function freqOnchange(type) {
    console.log(type)
    var first = document.getElementById(`${type}_days`).value
    var second = document.getElementById(`${type}_freq`).value
    var x = document.getElementById(`${type}_freq_hidden`).value = `${first}.${second}`
    console.log(second)
  }

  function launchLightbox(e) {

      var image = e.getAttribute("data-image")
      var body = document.querySelector('body')
      var div = document.createElement('div')
      var id = e.getAttribute("data-id")
      div.id = id
      body.appendChild(div)
      console.log(id, 'here')
      console.log(e)
      // console.log(image, '---------------------')
      var res = image.split(":::").map(function(x){return {"src": x , "thumb": x, "subHtml": ''}})
      console.log(res)
      // console.log(res)
      var active = document.getElementById(id)

      lightGallery(active, {
          dynamic: true,
          dynamicEl: res,
          download: false
      })
  }


  var form = document.querySelector('form')
  form.addEventListener('ajax:success', function(){
    window.location = `<%= request.protocol %><%= request.host %><%= request.port == 80 ? '' : ":#{request.port}" %>/control-plan/<%= @supplier.code %>/product-families/<%= @pf.id %>/process-steps`
  })



</script>
