<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/control-plan">Control Plans</a> › <%= @supplier.name %> › <%= link_to product_families_path do %>Product Families<% end %> › Editing <%= @pf.name %>  </div>
</div>


<%= form_with model: @pf, method: :post, url: "/api/v1/product_families/#{@pf.id}" do |f| %>
  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Title</label>
    <br>
    <%= f.text_field :name, class: "w-50" %>
  </div>
  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Current Level</label>
    <br>
    <%= f.text_field :current_level, class: "w-50" %>
  </div>
  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Target Level</label>
    <br>
    <%= f.text_field :target_level, class: "w-50" %>
  </div>

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Upload Process flow Image</label>
    <br>
    <%= f.file_field :process_flow_images, multiple: true, accept: XFile::COMMON, style: "width: 30%", direct_upload: true, onchange:"autoClickForm(event.target.form);" %>
  </div>
  <% @pf.process_flow_images.each_with_index do |x, i| %>
  <% album = @pf.process_flow_images.map{|x| rails_blob_path(x)} %>
    <div style="position: relative; display: inline-block; width: 100px; height: 100px; margin: 1em 1em 1em 0;">
      <a class="bg-blue white b id-<%= @pf.id %>" style="border-bottom: 1px solid rgba(183, 221, 247, 1.00); line-height: 1.2; position: absolute; top: -9px; right: -9px; border-radius: 50%; width: 15px; height: 15px; padding: 3px; font-size: 0.6em; text-align: center;" data-index="<%= i %>" onclick="deleteImage(this, 'product_families', 'process_flow_images', <%= @pf.id %>, this.dataset.index )" >✖︎</a>
      <img src="<%= rails_blob_path(x) %>" alt="" height="100px" width="100px" style="object-fit: cover;" onclick="launchLightbox(this)" data-id="<%= @pf.id %>-i<%= i %>" data-album="<%= album.join(':::') %>">
    </div>
  <% end %>
  <div style="margin: 10px 0;">
    <%= f.submit "Update Product Information", class: "btn-md w-50", style: "display: inline-block; margin-right: 15px;" %>
  </div>
<% end %>



<script>

  function launchLightbox(e) {

      var album = e.getAttribute("data-album")
      var body = document.querySelector('body')
      var div = document.createElement('div')
      var id = e.getAttribute("data-id")
      div.id = id
      body.appendChild(div)
      console.log(id, 'here')
      console.log(e)
      // console.log(album, '---------------------')
      var res = album.split(":::").map(function(x){return {"src": x , "thumb": x, "subHtml": ''}})
      console.log(res)
      // console.log(res)
      var active = document.getElementById(id)

      lightGallery(active, {
          dynamic: true,
          dynamicEl: res,
          download: false
      })
  }


  var form = document.querySelector('form')
  form.addEventListener('ajax:success', function(){
    window.location = `<%= request.protocol %><%= request.host %><%= request.port == 80 ? '' : ":#{request.port}" %>/control-plan/<%= @supplier.code %>/product-families`
  })

</script>
