<style>
  h2 {
    padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;
  }
</style>

<%= form_with model: @mail_bag, method: action, url: url do |f| %>

  <h2>Template Details</h2>
  <div class="form-group">
    <%= f.label :name, "Name of template" %><br>
    <%= f.text_field :name, placeholder: "Please type name of the template..." %>
  </div>

  <h2>When To Send?</h2>
  <div class="form-group">
    <label for="">Here is where you can select a trigger</label><br>
    <%= f.select :trigger, options_for_select(MailBag::TRIGGERS, f.object.trigger), {},onchange: "updateAudience(this.value)" %>
  </div>

  <h2>Who To Send?</h2>
  <div class="form-group" id='audience_container' style="max-width: 500px;">
    <label for="">Who is the Audience For this Email?</label><br>
    <%= f.select :audience, f.object.audience_options, {}, {multiple: true, disabled: @mail_bag.trigger.blank?} %>
  </div>

  <div class="form-group" style="max-width: 500px;">
    <label for="">Who should we CC for this email?</label><br>
    <%= f.select :cc, AssessorProfile.source_list.map{|x| [x[:name], x[:id]]}, {}, {multiple: true} %>
  </div>

  <div class="form-group" style="max-width: 500px;">
    <label for="">Who should we BCC for this email?</label><br>
    <%= f.select :bcc, AssessorProfile.source_list.map{|x| [x[:name], x[:id]]}, {}, {multiple: true} %>
  </div>

  <h2>What To Send?</h2>

  <div class="form-group">
    <%= f.label :subject, "Subject line" %><br>
    <%= f.text_field :subject, placeholder: "Please type subject line of email..." %>
  </div>

  <div class="form-group field">
    <%= f.label :body, "Body text" %><br>
    <%= f.rich_text_area :body, placeholder: "Please type contents of email body...", rows: 8 %>
  </div>

  <div class="form-group">
    <label for="">Attachments</label><br>
    <input type="file" multiple>
  </div>


  <div class="form-group">
    <%= f.submit "Save template", class: "btn btn-xs-blue filter_button", style: "width: 50%; margin-right: 10px;", data: { disable_with: "Saving..."} %>
  </div>

<% end %>

<script>
  function initChoices(id){
    new Choices(`#${id}`, {
      removeItemButton: true,
      classNames: {
        inputCloned: 'no-shadow',
        placeholder: true
      }
    });
  }

  function removeChoices(container){
    var choices = container.querySelector('.choices')
    if (choices){
      choices.remove();
    } else {
      container.querySelector('select').remove()
    }
  }

  var AUDIENCE = <%= raw MailBag::AUDIENCES.to_json %>;
  var LABELS = <%= raw MailBag::AUDIENCE_LABELS.to_json %>;
  function updateAudience(val) {
    var container = document.getElementById('audience_container');
    removeChoices(container)
    var select = document.createElement('select');
    select.disabled = false;
    select.multiple = true;
    select.id = "mail_bag_audience"
    select.name = "mail_bag[audience][]";
    container.appendChild(select);

    var aud = Object.keys(AUDIENCE).find(function(e){
      return val.includes(e)
    })
    console.log(aud)
    AUDIENCE[aud].forEach(function(e){
      console.log(e)
      var opt = document.createElement("option")
      opt.value = e
      opt.innerText = LABELS[e]
      select.appendChild(opt)
    })
    initChoices("mail_bag_audience")
  }

  initChoices("mail_bag_cc")
  initChoices("mail_bag_bcc")
  <% if @mail_bag.trigger? %>
  initChoices("mail_bag_audience")
  <% end %>

</script>
