<h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">Emails System</h2>

<div class="menu-3up" style="margin-bottom: 1.1rem;">
  <%= link_to email_send_out_path, class: "column no-underline" do %>
  <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
    <%= render 'svg/send_out_email' %>
    <h1>Send out email</h1>
  </div>
  <% end %>
  <%= link_to statistics_path, class: "column no-underline" do %>
  <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
    <%= render 'svg/statistics_email' %>
    <h1>Email statistics</h1>
  </div>
  <% end %>
  <%= link_to manage_templates_path, class: "column no-underline" do %>
  <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
    <%= render 'svg/template_email' %>
    <h1>Manage templates</h1>
  </div>
  <% end %>
</div>

<h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">All emails delivered in last 30 days</h2>

<div id="table-scroll" class="table-scroll" style="margin-bottom: 2rem;">
  <table id="main-table" class="main-table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Date</th>
        <th scope="col">Subject</th>
        <th scope="col">Email type</th>
        <th scope="col">Read</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @letters.each do |letter| %>
      <tr>
        <th></th>
        <td style="font-size: 1.1rem"><%= letter.delivered_at.strftime("%Y-%m-%d") if letter.delivered_at %></td>
        <td style="font-size: 1.1rem"><%= letter.subject %></td>
        <td style="font-size: 1.1rem"><%= letter.mail_bag.name if letter.mail_bag.present? %></td>
        <td><div class="unread-status">Unread</div></td>
        <td>
          <%= link_to view_email_path do %>
            <div class='btn-xs'>View Email</div>
          <% end %>
        </td>
      </tr>
      <% end %>
      <!-- <tr>
        <th></th>
        <td style="font-size: 1.1rem">2020/06/11</td>
        <td style="font-size: 1.1rem">srivas09</td>
        <td style="font-size: 1.1rem">Invitation</td>
        <td><div class="read-status">Read</div></td>
        <td><a href="" class="btn-xs">View Email</a></td>
      </tr> -->

    </tbody>
  </table>
</div>
