<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/email-system">Email System</a> › Send out email</div>
</div>

<div class="menu-3up" style="margin-bottom: 1.1rem;">
  <%= link_to letter_send_out_new_path, class: 'column no-underline' do %>
  <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
    <%= render 'svg/prepare_email' %>
    <h1>Prepare an email</h1>
  </div>
  <% end %>
</div>

<h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">Emails that have been sent out</h2>

<div id="table-scroll" class="table-scroll" style="margin-bottom: 2rem;">
  <table id="main-table" class="main-table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Date</th>
        <th scope="col">Sent to</th>
        <th scope="col">Subject</th>
        <th scope="col">Read</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @letters.each do |letter| %>
      <tr>
        <th></th>
        <td style="font-size: 1.1rem"><%= letter.created_at.strftime("%Y/%m/%d") %></td>
        <td style="font-size: 1.1rem"><%= letter.to.humanize if letter.to %></td>
        <td style="font-size: 1.1rem"><%= letter.subject.truncate(30) if letter.subject %></td>
        <td><div class="<%= letter.opened_at.present? ? "read-status" : "unread-status" %>"><%= letter.opened_at.present? ? "Opened" : "Not opened" %></div></td>
        <td><%= link_to email_send_out_show_path(id: letter.id), class: "btn-xs" do %>View Email <% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

