<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/email-system">Email System</a> › <a href="/email-system/send-out">Send out email</a>
</div>

<div class="bg-white form-group" style="padding: 1em; background-color: white; box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.05); border-radius: 5px">
  <strong><%= @letter.created_at.strftime("%Y/""%m/""%d")%></strong>
  <div style="margin-top: 1em; color: #0198F1; font-weight: 800">To:</div>
  <div>
    <li style="display: inline-block; margin-bottom: 5px; margin-right: 5px; font-size: 16px; background-color: #0198F1; color: white; border-radius: 5px; padding: 5px;"><%= @letter.to.humanize %></li>
  </div>
  <div style="margin-top: 1em; color: #0198F1; font-weight: 800">CC:</div>
  <div style="margin-top: 1em; color: #0198F1; font-weight: 800">Subject:</div>
  <div><%= @letter.subject %></div>
  <div style="margin-top: 1em; color: #0198F1; font-weight: 800">Body:</div>
  <div>
    <%= @letter.body %>
  </div>
</div>
