<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/email-system">Email System</a> › <a href="/email-system/send-out">Send out email</a> › Prepare an email</div>
</div>


<h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">Step 1 – Select a template</h2>

<%= form_with model: @letter, method: :post, url: letter_send_out_create_path do |f| %>
  <div class="form-group">
    <label for="">Select a template</label><br>
    <%= f.select :mail_bag_id,options_for_select(@mail_bags.map{|x| [x.name, x.id]}), {prompt: "Please select a template..."}, {style: "width: 50%", onchange: "selectTemplate(this)",  id: "template-select"} %>
  </div>

  <div class="form-group">
    <label>Subject</label><br>
    <% f.object.subject = @template_subject if @template_subject %>
    <%= f.text_field :subject, placeholder: "Please type out a subject line...", id: "subject-input"  %>
  </div>

  <div class="form-group">
    <label for="mail-body">Body</label><br>
    <% f.object.body = @template_body if @template_body %>
    <%= f.rich_text_area :body, id: "body-input" %>
  </div>

  <h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">Step 2 – Select who will receive this email</h2>
  <div style="margin-bottom: 20px">
    <div style="margin-right: 15px; font-size: 16px; border: none; display: inline-block; cursor: pointer; text-decoration: underline; color: #0198F1" onclick="showCheckboxes(this)">Email group</div> <div style="display: inline-block">or</div>
    <div style="margin-left: 15px; font-size: 16px; border: none; display: inline-block; cursor: pointer; text-decoration: underline; color: #0198F1" onclick="showChoices(this)">Email individuals</div>
  </div>

  <section id="checkboxes" style="display: block">
    <input type="checkbox" id="decathlon" name="letter[to]" value="decathlon">
    <label for="decathlon"> All of <strong>Decathlon</strong> Users</label><br>
    <input type="checkbox" id="suppliers" name="letter[to]" value="suppliers">
    <label for="suppliers"> All of <strong>Suppliers</strong> Users</label><br>
    <input type="checkbox" id="assessors" name="letter[to]" value="assessors">
    <label for="grid_leaders"> Assessors</label><br>
    <input type="checkbox" id="grid_leaders" name="letter[to]" value="grid_leaders">
    <label for="grid_leaders"> Grid Leaders</label><br>
    <input type="checkbox" id="all" name="letter[to]" value="all">
    <label for="all"> All Users(<strong>Decathlon + Suppliers</strong>)</label><br>
    <br>
  </section>
  <section id="choices" style="display: none">
    <label for="all">Type individual emails</label><br>
    <div style="width: 70%">

      <select name="letter[to]" selected="users" id="users_stats_filter" multiple="multiple" placeholder="Select users">
        <option <%= @users.include?("all") ? 'selected' : '' %> value="all">All</option>
        <% @users.each do |u| %>
          <option <%= @users.include?(u[:id]) ? 'selected' : '' %> value="<%= u[:id] %>"><%= u[:username] %></option>
        <% end %>
      </select>
    </div>
    <br>
  </section>

  <%= f.submit "Send out email", class: "btn btn-xs-blue filter_button", style: "width: 50%; margin-right: 10px;", data: {disable_with: "Sending..."} %>
<% end %>



<script>
  function showCheckboxes (e) {

    var checkboxes = document.getElementById("checkboxes");
    var choices = document.getElementById("choices");
    choices.style.display = "none";
    checkboxes.style.display = "block";
  }

  function showChoices (e) {
    console.log(e)
    var checkboxes = document.getElementById("checkboxes");
    var choices = document.getElementById("choices");
    checkboxes.style.display = "none";
    choices.style.display = "block";
  }

  var MAILBAGS = <%= raw MailBag.all.map{|x| [x.id, x.standard_hash]}.to_h.to_json %>
  function selectTemplate(e) {
    var templateId = e.value;
    Turbolinks.visit(`/email-system/send-out/new?template=${e.value}`)
  }



  document.addEventListener("DOMContentLoaded", statsFilterChoices());
</script>
