<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/email-system">Email System</a> › <a href="/email-system/manage-templates">Manage Templates</a> › Edit template</div>
</div>

<%= render 'mail_bag_form', url: api_v1_data_update_path(name: "mail_bags", id: @mail_bag.id), action: :patch %>
