<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/email-system">Email System</a> › Manage Templates</div>
</div>

<div class="menu-3up" style="margin-bottom: 1.1rem;">
  <%= link_to mail_bag_new_path, class: 'column no-underline' do %>
  <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
    <%= render 'svg/template_email' %>
    <h1>Create a new template</h1>
  </div>
  <% end %>
</div>

<h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">Templates ready to be used</h2>
<div id="table-scroll" class="table-scroll" style="margin-bottom: 2rem;">

  <table id="main-table" class="main-table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Date created</th>
        <th scope="col">Name</th>
        <th scope="col">Trigger</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @mail_bags.each do |mail| %>
        <tr>
          <th></th>
          <td style="font-size: 1.1rem"><%= mail.created_at.strftime('%Y-%m-%d') %></td>
          <td style="font-size: 1.1rem"><%= mail.name %></td>
          <td style="font-size: 1.1rem"><%= mail.trigger_name %></td>
          <td>
            <%= link_to mail_bag_edit_path(id: mail.id), class: "btn-xs" do %>
              Edit Template
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
