<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/email-system">Email System</a> › <a href="/email-system/statistics">Statistics</a>
</div>

<div class="bg-white form-group" style="padding: 1em; background-color: white; box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.05); border-radius: 5px">
  <div style="display: flex; justify-content: space-around; align-items: flex-start">
    <div>
      <p style="text-decoration: underline">Users that read (100)</p>
      <ul>
        <li>User 1</li>
      </ul>
    </div>
    <div>
      <p style="text-decoration: underline">Users that did not read (50)</p>
      <ul>
        <li>User 2</li>
      </ul>
    </div>
  </div>
</div>
