<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/email-system">Email System</a> › Statistics</div>
</div>

<h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">Emails delivered in the last 7 days. Read vs Unread</h2>

<div class="bordered-card" style="margin-bottom: 1em">
  <div class="details">
    <div id="chart"></div>
  </div>
</div>


<h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">Users who have not read their emails</h2>

<div id="table-scroll" class="table-scroll" style="margin-bottom: 2rem;">
  <table id="main-table" class="main-table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Date</th>
        <th scope="col">Sent to</th>
        <th scope="col">Email type</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @letters.each do |letter| %>
        <tr>
          <th></th>
          <td style="font-size: 1.1rem"><%= letter.created_at.strftime("%Y/%m/%d") %></td>
          <td style="font-size: 1.1rem"><%= letter.to.humanize if letter.to.present? %></td>
          <td style="font-size: 1.1rem"><%= letter.subject.truncate(30) %></td>
          <td>
            <%= link_to statistics_spy_path(id: letter.id), class: "btn-xs" do %>
              View Statistics
            <% end %>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>


























<script>


document.addEventListener('turbolinks:load', function () {

  const data = {
      labels: <%= raw @days %>,
      datasets: [
        { name: "Read", values: <%= @last_week %> },
        { name: "Unread", values: <%= @this_week %> }
      ]
  }

  const chart = new frappe.Chart("#chart", {  // or a DOM element,
                                              // new Chart() in case of ES6 module with above usage
      title: "7 day usage activity",
      data: data,
      type: 'axis-mixed', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
      height: 250,
      colors: ['#0198F1', '#FFA500']
  })



})



</script>
