<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/email-system">Email System</a> › View email</div>
</div>


<div class="bg-white form-group" style="padding: 1em; background-color: white; box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.05); border-radius: 5px">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <div><strong>2020/09/30 <span class="unread-status">Unread</span></strong></div>
    <div>Email type: Invitation</div>
  </div>
  <!-- To -->
  <div style="margin-top: 1em; color: #0198F1; font-weight: 800">To:</div>
  <div>
    <li style="display: inline-block; margin-right: 5px; font-size: 16px; background-color: #0198F1; color: white; border-radius: 5px; padding: 5px;">karen@decathlon.com</li>
    <li style="display: inline-block; margin-right: 5px; font-size: 16px; background-color: #0198F1; color: white; border-radius: 5px; padding: 5px;">karen@decathlon.com</li>
    <li style="display: inline-block; margin-right: 5px; font-size: 16px; background-color: #0198F1; color: white; border-radius: 5px; padding: 5px;">karen@decathlon.com</li>
    <li style="display: inline-block; margin-right: 5px; font-size: 16px; background-color: #0198F1; color: white; border-radius: 5px; padding: 5px;">karen@decathlon.com</li>
    <li style="display: inline-block; margin-right: 5px; font-size: 16px; background-color: #0198F1; color: white; border-radius: 5px; padding: 5px;">All of Decathlon</li>
    <li style="display: inline-block; margin-right: 5px; font-size: 16px; background-color: #0198F1; color: white; border-radius: 5px; padding: 5px;">All of Suppliers</li>
    <li style="display: inline-block; margin-right: 5px; font-size: 16px; background-color: #0198F1; color: white; border-radius: 5px; padding: 5px;">All Users</li>
  </div>
  <!-- Subject -->
  <div style="margin-top: 1em; color: #0198F1; font-weight: 800">Subject:</div>
  <div>Thanks for using Assess Go</div>
  <!-- Body -->
  <div style="margin-top: 1em; color: #0198F1; font-weight: 800">Body:</div>
  <div>
    <p>Dear First Name,</p>
    <p>This is a reminder that you...</p>
    <p>Bests,<br>Assess Go Team</p>
  </div>

</div>
