<div class='wrapper'>
  <div style="margin-bottom: 1rem;"><a href="/">Users</a> › <a href="/suppliers">Suppliers</a> › <%= @is_new ? 'Adding new' : 'Editing' %> supplier</div>
  <h4><%= @is_new ? 'Fill out information about this new supplier' : 'Update supplier\'s information' %></h4>
  <%= form_with model: @supplier, method: :post, url: (@is_new ? '/api/v1/supplier_profiles' : ("/api/v1/supplier_profiles/" + @supplier.id.to_s)), class: "", onsubmit: "swal('Supplier Created!','','success')" do |f| %>
  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Supplier name</label>
    <br>
    <%= f.text_field :name, class: "w-50", placeholder: "Type the name of the supplier... " %>
  </div>

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Supplier code</label>
    <br>
    <%= f.text_field :code, class: "w-50", placeholder: "Type the supplier code..." %>
  </div>
  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Address</label>
    <br>
    <%= f.text_field :address, class: "w-50", placeholder: "Type the supplier address" %>
  </div>


  <!-- NEED TO ADD DROP DOWN MENU -->
  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Country</label>
    <br>
    <div class="w-50">
      <%= f.select :country, options_for_select(User.all_countries.map{|x| [x[:label], x[:value]]}, {selected: @supplier.country}), {},{multiple: false, placeholder: "Select country"} %>
    </div>
  </div>
  <!-- !!!!! -->

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">City</label>
    <br>
    <%= f.text_field :city, class: "w-50", placeholder: "Type the supplier city" %>
  </div>

  <div style="margin: 10px 0 20px;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Industrial Process</label>
    <br>
    <%= f.text_field :industrial_process, class: 'w-50', placeholder: "Supplier's industrial process" %>
  </div>


  <div style="margin: 10px 0 20px; <%= @supplier.id.present? ? '' : 'display: none;' %>" >
    <label for="input_text" style=" margin-bottom: 0.8rem;">Sites</label><text style=" margin-bottom: 0.8rem; font-size: 16px;">* Add sites if any</text><br>
    <!-- custom js Choices eventListener script below -->
    <div class="w-50">
      <input placeholder="Type to add a new site.." data-id="<%= @supplier.id %>" id="sites" type="text" value="<%= @supplier.sites.join(',')  %>">
    </div>

  </div>

  <div style="margin: 10px 0 20px;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Primary Contact name</label>
    <br>
    <%= f.text_field :contact_name, class: 'w-50', placeholder: "Supplier's contact name" %>
  </div>

  <div style="margin: 10px 0 20px;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Primary Contact email</label>
    <label style=" margin-bottom: 0.8rem; font-size: 16px;">* Will be used for login</label>
    <br>
    <%= f.email_field :contact_email, class: 'w-50', disabled: @supplier.contact_email.present?, placeholder: "Supplier's contact email - please write only ONE email" %>
  </div>

  <div style="margin: 10px 0 20px;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">AssessGo PL</label><label style=" margin-bottom: 0.8rem; font-size: 16px;">* This person will receive CC'd supplier emails</label>
    <br>
    <div class="w-50">
      <%= f.select :pl_set, options_for_select(@assessors.map{|x| [x.name, x.id.to_s]}, {selected: @supplier.pl_set}), {},{multiple: true, placeholder: "Search Assessor by Name"} %>
    </div>
  </div>

  <div style="margin: 10px 0 20px; <%= @supplier.id.present? ? '' : 'display: none;' %>">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Additional Users</label><br>
    <!-- custom js Choices eventListener script below -->
    <div class="w-50">
      <input placeholder="Type email to add a new user.." data-id="<%= @supplier.id %>" id="secondary_users" type="text" value="<%= @supplier.secondary_users.join(',')  %>">
    </div>
  </div>

  <div style="margin: 10px 0 20px; <%= @supplier.id.present? ? '' : 'display: none;' %>">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Internal Assessors</label><br>
    <small>* Note: Internal Assessor must exist as Additional User (above)</small>
    <!-- custom js Choices eventListener script below -->
    <div class="w-50">
      <input placeholder="Type email to add a new user.." data-id="<%= @supplier.id %>" id="internal_assessors" type="text" value="<%= @supplier.internal_assessors.join(',')  %>">
    </div>
  </div>

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Grids concerned:</label>
    <br>
    <div class="w-50">
      <%= f.select :grids_available, options_for_select(@grids, {selected: @supplier.grids_available}), {},{multiple: true, placeholder: "Select the grids concerned with.."} %>
    </div>
  </div>

  <div style="margin: 10px 0 20px;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Active supplier ?</label><br>
    <%= f.radio_button :active, true, style: "box-shadow: none; width: auto;" %>Yes
    <%= f.radio_button :active, false, style: "box-shadow: none; width: auto;" %>NO
  </div>

  <div style="margin: 10px 0 20px;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Select one to update the Status</label><br>
    <%= f.radio_button :status, 'Opening Supplier', style: "box-shadow: none; width: auto;" %>Opening Supplier
    <%= f.radio_button :status, 'Active Supplier', style: "box-shadow: none; width: auto;" %>Active Supplier
  </div>

  <div style="margin: 10px 0 20px;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Finished Goods Supplier ?</label><br>
    <%= f.radio_button :finished_goods_supplier, true, style: "box-shadow: none; width: auto;" %>Yes
    <%= f.radio_button :finished_goods_supplier, false, style: "box-shadow: none; width: auto;" %>NO
  </div>

  <div style="margin: 10px 0 20px;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Component Supplier ?</label><br>
    <%= f.radio_button :component_supplier, true, style: "box-shadow: none; width: auto;" %>Yes
    <%= f.radio_button :component_supplier, false, style: "box-shadow: none; width: auto;" %>NO
  </div>

  <div style="margin: 10px 0 20px;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Partner ?</label><br>
    <%= f.radio_button :partner, true, style: "box-shadow: none; width: auto;" %>Yes
    <%= f.radio_button :partner, false, style: "box-shadow: none; width: auto;" %>NO
  </div>

  <% if current_user.technical? %>
    <div style="margin: 10px 0 20px;">
      <label for="input_text" style=" margin-bottom: 0.8rem;">Assessor Provider ?</label><br>
      <%= f.check_box :assessor_provider, style: "box-shadow: none; width: auto;" %>Yes
    </div>
  <% end %>

  <div style="margin: 10px 0 20px; border: 3px red solid; border-radius: 5px; padding: 3px;">
    <label for="input_text" style=" margin-bottom: 0.8rem;"><span>Would you like to close this supplier?</span> <br> <small style="font-size: small;margin-top: -5px;line-height: 0.8;vertical-align: top;">Note: This will remove supplier for supplier source and lock all supplier's users.</small></label><br>
    <%= f.check_box :closed, style: "box-shadow: none; width: auto;" %>Yes
  </div>

  <%= f.submit (@is_new ? 'Submit new supplier' : 'Update supplier'), class: "btn-md w-50" %>
  <!-- <a href="/" class="btn-md">Submit new supplier</a> -->
  <% end %>
</div>

<script>
  var baseOptions = { removeItemButton: false, classNames: { inputCloned: 'no-shadow',placeholder: true }}

  var removable = { removeItem: true, removeItemButton: true, delimiter: ',', items: [],
    classNames: { inputCloned: 'no-shadow', placeholder: true }}

  // initialize choices
  var countries = new Choices('[name="supplier_profile[country]"]', baseOptions);
  var choices = new Choices('[name="supplier_profile[pl_set][]"]', baseOptions);
  var gridsAvailable = new Choices('[name="supplier_profile[grids_available][]"]', baseOptions);
  var secondaryUsers = new Choices('#secondary_users', removable);
  var internalAssessors = new Choices('#internal_assessors', removable);
  var sites = new Choices('#sites', removable);

  // setup event listeners
  secondaryUsers.passedElement.element.addEventListener('addItem', function(event) {
    updateItems(this, 'secondary_users');
  }, false);

  secondaryUsers.passedElement.element.addEventListener('removeItem', function(event) {
    updateItems(this, 'secondary_users');
  }, false);


  internalAssessors.passedElement.element.addEventListener('addItem', function(event) {
    updateItems(this, 'internal_assessors');
  }, false);

  internalAssessors.passedElement.element.addEventListener('removeItem', function(event) {
    updateItems(this, 'internal_assessors');
  }, false);


  sites.passedElement.element.addEventListener('addItem', function(event) {
    updateItems(this, 'sites');
  }, false);

  sites.passedElement.element.addEventListener('removeItem', function(event) {
    updateItems(this, 'sites');
  }, false);

  function updateItems(element, column) {
    var id = element.dataset.id
    var value = element['value'].split(',')

    var body = column == 'secondary_users' ? {supplier_profile: {secondary_users: value}} : {supplier_profile: {sites: value}}

    var path = `/api/v1/supplier_profiles/${id}`

    fetch(path, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': Rails.csrfToken()
      },
      body: JSON.stringify(body)
    }).then(response => {
    })
  };

  var form = document.querySelector('form')
  form.addEventListener('ajax:success', function(){
    window.location = `<%= request.protocol %><%= request.host %><%= request.port == 80 ? '' : ":#{request.port}" %>/suppliers`
  })
</script>
