<div class='wrapper'  style="margin-bottom: 1rem">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">Supplier Accounts</h2>
    <div style="display: flex;">
      <a onclick="testLogin()" class="btn-md" style="margin-right: 5px;">Test login</a>
      <a class="btn-md" href="/suppliers/new">Add new supplier</a>
    </div>
  </div>
</div>
<!-- Here's the filter -->
<div style="margin-bottom: 10px;">
  <form action="suppliers" method="GET" style="width: 100%;">
    <div>
      <% status = params[:status] || 'all' %>
      <select name="status" style="margin-left: 5px; height: 1.5rem; font-size: 16px;" onchange="toggleDateInput()">
        <option value="all" <%= params[:status] == 'all' ? 'selected' : '' %>>All Suppliers</option>
        <option value="active" <%= status == 'active' ? 'selected' : '' %>>Active Suppliers</option>
        <option value="inactive" <%= status == 'inactive' ? 'selected' : '' %>>Inactive Suppliers</option>
        <option value="assessment" <%= status == 'assessment' ? 'selected' : '' %>>With Assessment After Date</option>
      </select>



      <div id="date-picker" style="display: none;">
        <label for="grid">Grid</label><br>
        <select name="grid" style="margin-left: 5px; height: 1.5rem; font-size: 16px;">
          <% QualityAssessment::ACTIVE_GRIDS.each do |x| %>
          <option value="<%= QualityAssessment.lookup_grid(x) %>" <%= params[:grid] == x ? 'selected' : '' %>><%= x %></option>
          <% end %>
        </select>
        <br>
        <label for="date">Select date</label>
        <input style="display: block;" type="date" name="date">
      </div>
      <input type="submit" value="Filter" style="width: 80px; height: 2rem;">
    </div>
  </form>
</div>

<div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table">
    <thead>
      <tr>
        <th scope="col" style="width: 30px;"></th>
        <th scope="col" style="width: 50px;">Code <span><%= render 'svg/direction' %></span></th>
        <th scope="col" style="width: 150px;">Name <span><%= render 'svg/direction' %></span></th>
        <th scope="col" style="width: 150px;">Email <span><%= render 'svg/direction' %></span></th>
        <th scope="col" style="width: 100px;">Last login <span><%= render 'svg/direction' %></span></th>
        <th scope="col" style="width: 150px;">Actions <span><%= render 'svg/direction' %></span></th>
      </tr>
    </thead>
    <tbody>
      <% @suppliers.each_with_index do |supplier, i| %>
        <% conflict = "" %>
        <% conflict = "background: red;" if supplier.user_id.present? && supplier.contact_email.present? && (supplier.contact_email.downcase != supplier.user.username.downcase) %>
        <tr>
          <th style="font-size: 1.0rem; max-width: 30px;"><%= i+1 %></th>
          <th style="font-size: 1.0rem; max-width: 50px;"><%= supplier.code %></th>
          <th style="font-size: 1.0rem; max-width: 150px;"><%= supplier.name %></th>
          <th style="font-size: 1.0rem; max-width: 150px; <%= conflict %>"><%= "Login Account: #{supplier.user.email}" if supplier.user_id.present? %> <%= "#{supplier.contact_email} (Account Not Created)" if supplier.contact_email.present? && supplier.user_id.blank?%>
            <% if supplier.user_id.present? && supplier.contact_email.present? && (supplier.contact_email.downcase != supplier.user.username.downcase) %>
              <br>
              <%= "(Conflict! Contact email is #{supplier.contact_email})" %>
            <% end %>
          </th>
          <td style="font-size: 1.1rem; max-width: 50px;">
            <% if supplier.user_id.present? && supplier.last_login.present? %>
              <%= supplier.last_login.strftime("%Y-%m-%d") %>
            <% elsif supplier.user_id.present? && !supplier.invite_sent_at.nil? %>
              Invite sent at
              <br/>
              <%= supplier.invite_sent_at.strftime('%Y-%m-%d') %>
            <% end %>
            <br>
            <div style="display: flex;">
              <% supplier.email_list.each do |i| %>
                <div class="bg-blue pa2 white" style="border-radius: 50%; width: 15px; height: 15px; padding: 3px; display: flex; justify-content: center; align-items: center; margin-right: 5px;"><%= i %></div>
              <% end %>
              <% if supplier.user && supplier.user.last_oa_invite %>
                <div class="bg-blue pa2 white" style="border-radius: 50%; width: 15px; height: 15px; padding: 3px; display: flex; justify-content: center; align-items: center; margin-right: 5px;">OA Invite Sent</div>
              <% end %>
            </div>
          </td>
          <td style="max-width: 100px;"><a onclick="getQrcode('<%= supplier.id %>', '<%= supplier.name %>')" class="btn-xs">View on mini program</a>
            <a href="/suppliers/<%= supplier.id %>/edit" class="btn-xs">Edit</a>
            <% if supplier.user_id.present? %>
              <a onclick="verifyUsername('<%= supplier.user.username %>', 'reset')" class="btn-xs">Reset Password</a>
              <a onclick="verifyUsername('<%= supplier.user.username %>', 'lock')" class="btn-xs">Lock Account</a>
            <% end %>
            <% if supplier.user_id.present? && @can_invite && !supplier.last_login.present? %>
              <a onclick="verifyUsername('<%= supplier.user.username %>', 'invite')" class="btn-xs">Send Invite</a>
            <% end %>
          </td>
        </tr>
        <% supplier.users.each do |s_user| %>
          <tr>
            <th style="font-size: 1.0rem; max-width: 30px;">###</th>
            <th style="font-size: 1.0rem; max-width: 50px;"><%= supplier.code %></th>
            <th style="font-size: 1.0rem; max-width: 150px;"><%= supplier.name %></th>
            <th style="font-size: 1.0rem; max-width: 150px;"><%= "Login Account: #{s_user.email}" %></th>
            <td style="font-size: 1.1rem; max-width: 50px;"><%= s_user.last_login.strftime("%Y-%m-%d") if s_user.last_login.present? %></td>
            <td style="max-width: 100px;">
              <a onclick="verifyUsername('<%= s_user.username %>', 'reset')" class="btn-xs">Reset Password</a>
              <a onclick="verifyUsername('<%= s_user.username %>', 'lock')" class="btn-xs">Lock Account</a>
            </td>
          </tr>
        <% end %>
      <% end %>
</tbody>
</table>
</div>
<div style="width: 100%; background: #2C9F67; height: 4rem; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
  <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
    <div>Total suppliers: <strong><%= @suppliers.count %></strong></div>
    <% if status == 'all' %>
      <div>Active suppliers: <strong><%= @suppliers.select{|x| x.last_login.present?}.count %></strong></div>
    <% end %>
    <div></div>
  </div>
</div>
<%= javascript_include_tag "table_filter.js" %>
<script>
  window.onload = toggleDateInput()
  function toggleDateInput(){

    const select = document.querySelector('select[name="status"]')

    let value = select.value
    // console.log(value)
    const datePicker = document.querySelector('#date-picker')
    console.log(datePicker)
    datePicker.style.display = value === 'assessment' ? 'block' : 'none'

  }
</script>
