<a href="/native/control_plan/index">
<div style="position: fixed; bottom: 10px; right: 10px">
  <div class="native-flex native-justify-center native-items-center" style="border-radius: 50%; width: 4em; height: 4em; background-color: dodgerblue; filter: drop-shadow(0px 10px 10px rgba(19, 129, 193, 0.3))">
    <%= image_tag 'home.svg', width: "28px" %>
  </div>
</div>
</a>
