<nav class="native-tabbar-position">
  <div class="native-tabbar">
    <div>
      <div><%= image_tag asset_path(@active_tab == 'assess' ? "native/home_sel.png" : "native/home.png"), width: 25 %></div>
      <div style="color: <%= @active_tab == 'assess' ? "white" : ""; %>">Assess</div>
    </div>
    <div>
      <div><%= image_tag asset_path(@active_tab == 'goes' ? "native/goes_sel.png" : "native/goes.png"), width: 36 %></div>
      <div style="color: <%= @active_tab == 'goes' ? "white" : ""; %>">Goes</div>
    </div>
    <div>
      <div><%= image_tag asset_path(@active_tab == 'for' ? "native/search_sel.png" : "native/search.png"), width: 25 %></div>
      <div style="color: <%= @active_tab == 'for' ? "white" : ""; %>">For</div>
    </div>
    <div>
      <div><%= image_tag asset_path(@active_tab == 'performance' ? "native/user_sel.png" : "native/user.png"), width: 25 %></div>
      <div style="color: <%= @active_tab == 'performance' ? "white" : ""; %>">Performance</div>
    </div>
  </div>
</nav>
