<%= form_with(model: cq, url: api_v1_data_update_path(name: "chapter_questions", id: cq.id), method: :post, html: {name: "form#{i}"})  do |f| %>
        <% last_result = @last_attempt[point[:guideline_tag]] %>
        <% if is_cap && last_result.present? %>
          <% if last_result[:result] == 'OK' %>
            <% icon = '✓ ' %>
            <% color = '#35DA69' %>
          <% elsif last_result[:result] == 'NOK' %>
            <% icon = '𐄂 ' %>
            <% color = '#C3302A' %>
          <% else %>
            <% icon = '' %>
            <% color = '' %>
          <% end %>
          <div>Last result:  <span style="color: <%= color %>;"><%= icon %><%= last_result[:result] %></span> <a onclick="expandDiv();">See more details</a></div>
          <div id="last_attempt_detail" style="display: none;">
            <!-- <div><%#= last_result %></div> -->
            <div style="background: rgba(198, 192, 192, 0.1); padding: 1rem; margin: 1rem 0;">
              <div>Date assessed: <%= @qa.cap.ref.assess_date.strftime('%Y-%m-%d') %></div>
              <!-- <div>Result: <span style="color: <%#= color %>"><%#= icon %><%#= last_result[:result] %></span></div> -->
              <div>Strong Points: <%= last_result[:strong_points] %></div>
              <div>Supporting images:</div>
              <% last_result[:strong_points_images].each_with_index do |x, i| %>
                <div style="position: relative; display: inline-block; width: 100px; height: 100px; margin: 1em 1em 1em 0;">

                  <img src="<%= x %>" alt="" height="100px" width="100px" style="object-fit: cover;" onclick="launchLightbox(this)" data-id="<%= last_result[:id] %>-i<%= i %>" data-album="<%= last_result[:strong_points_images].join(':::') %>">
                </div>
              <% end %>
              <div>Points to Improve: <%= last_result[:points_to_improve] %></div>
              <div>Supporting images:</div>
              <% last_result[:points_to_improve_images].each_with_index do |x, i| %>
                <div style="position: relative; display: inline-block; width: 100px; height: 100px; margin: 1em 1em 1em 0;">

                  <img src="<%= x %>" alt="" height="100px" width="100px" style="object-fit: cover;" onclick="launchLightbox(this)" data-id="<%= last_result[:id] %>-i<%= i %>" data-album="<%= last_result[:points_to_improve_images].join(':::') %>">
                </div>
              <% end %>
              <div><a onclick="expandDiv();">Close details</a></div>
            </div>
          </div>
        <% end %>
        <% if last_result.present? %>
          <% pti = "#{last_result[:points_to_improve]}"  %>
          <div class="b">Current Result: <% if is_cap %><a onclick="copyPrevChapterResult(<%= cq.id %>,<%= last_result.to_json %>);">Copy last result</a> <% end %></div>
          <div><%= pti %></div>
        <% end %>

        <% set = point[:response_choices] %>
        <% set = [] if hide_result %>

        <% set.each do |choice| %>
          <div style="display: flex; align-items: center;">
            <%= f.radio_button :result, choice, style: "margin-right: 15px; font-size: 24px;",onchange:"autoClickForm(event.target.form);#{'toggleActionTaken(event.target.form, this)' if @qa.grid == 'hrp_assessment'}", disabled: @cap.present? %>
            <!-- <input type="radio" name="answer" value="1" style="margin-right: 15px; font-size: 24px;"></input> -->
            <label><%= choice %></label>
          </div>
        <% end %>
          <!-- Immediate Action -->
          <div action_taken style="margin: 1rem 0; <%= 'display:none;' unless (cq.result == "NOK") && (@qa.grid == "hrp_assessment") %>">
            <div class="b">Has immediate action been taken?</div>
            <%= f.radio_button :action_taken, true, style: "margin-right: 15px; font-size: 24px;",onchange:"autoClickForm(event.target.form);", disabled: @cap.present? %>
            <label>Yes</label>
            <%= f.radio_button :action_taken, false, style: "margin-right: 15px; font-size: 24px;",onchange:"autoClickForm(event.target.form);", disabled: @cap.present? %>
            <label>No</label>
          </div>

          <!-- Strong Point Textarea -->
          <div style="margin: 1rem 0;">
            <div class="b">Strong Points</div>
            <%= f.text_area :strong_points, style: "height: 5rem;",onfinish:"autoClickForm(event.target.form);", id: "chapter_questions_strong_points_#{i}", disabled: @cap.present? %>
          </div>
          <div style="<%= 'display:none;' if @cap.present? %>">
            <div>
            Upload Strong Point Images:
            </div>
            <div>
            <%= f.file_field :strong_points_images, multiple: true, accept: XFile::COMMON, style: "width: 30%", direct_upload: true, onchange:"autoClickForm(event.target.form);", disabled: @cap.present? %>
            </div>
          </div>
          <% cq.strong_points_images.each_with_index do |x, i| %>
            <% album = cq.strong_points_images.map{|x| rails_blob_path(x)} %>
            <% if x.content_type.include?("image") %>
            <div style="position: relative; display: inline-block; width: 100px; height: 100px;margin: 1em 1em 1em 0; vertical-align: middle">
              <a class="bg-blue white b id-<%= cq.id %>" style="border-bottom: 1px solid rgba(183, 221, 247, 1.00); line-height: 1.2; position: absolute; top: -9px; right: -9px; border-radius: 50%; width: 15px; height: 15px; padding: 3px; font-size: 0.6em; text-align: center;" data-id="<%= cq.id %>" data-index="<%= i %>" onclick="deleteImage(this, 'chapter_questions', 'strong_points_images',this.dataset.id , this.dataset.index)" >✖︎</a>
              <img src="<%= rails_blob_path(x) %>" alt="" height="100px" width="100px" style="object-fit: cover;" onclick="launchLightbox(this)" data-id="<%= cq.id %>-i<%= i %>" data-album="<%= album.join(':::') %>">
              <!-- <div style="display: flex; justify-content: center;"> <<<< here is where we will bookmark images on web
                <% if x.bookmark %>
                  <a href="#" data-id="<%= cq.id %>" onclick="bookMark('chapter_questions', 'strong_points_images', this.dataset.id, <%= i %>, false)">
                    <div id="bookmarked-<%= cq.id %>" >
                      <%= render 'svg/bookmarked' %>
                    </div>
                  </a>
                <% else %>
                  <a href="#" data-id="<%= cq.id %>" onclick="bookMark('chapter_questions', 'strong_points_images', this.dataset.id, <%= i %>, true)">
                    <div id="bookmarked-<%= cq.id %>" >
                      <%= render 'svg/not_bookmarked' %>
                    </div>
                  </a>
                <% end %>
              </div> -->
            </div>
            <% else %>
            <div style="position: relative; display: inline-block; width: 100px; height: 100px;margin: 1em 1em 1em 0; vertical-align: middle">
              <a class="bg-blue white b id-<%= cq.id %>" style="border-bottom: 1px solid rgba(183, 221, 247, 1.00); line-height: 1.2; position: absolute; top: -9px; right: -9px; border-radius: 50%; width: 15px; height: 15px; padding: 3px; font-size: 0.6em; text-align: center;" data-id="<%= cq.id %>" data-index="<%= i %>" onclick="deleteImage(this, 'chapter_questions', 'strong_points_images',this.dataset.id , this.dataset.index)" >✖︎</a>
              <a href="<%= rails_blob_path(x) %>" download style="border: 1px solid #ccc; height: 100px; width: 100px; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: white; "><%= render 'svg/file' %><span style="font-size: 12px">Download File</span></a>
            </div>
            <% end %>
          <% end %>

          <!-- Weak Point Textarea -->
          <div style="margin: 1rem 0;">
            <div class="b">Points To Improve</div>
            <%= f.text_area :points_to_improve, style: "height: 5rem;",onfinish:"autoClickForm(event.target.form);", id: "chapter_questions_points_to_improve_#{i}", disabled: @cap.present? %>
          </div>
          <div style="<%= 'display:none;' if @cap.present? %>">
            <div>
            Upload Points To Improve Images:
            </div>
            <div>
            <%= f.file_field :points_to_improve_images, multiple: true, accept: XFile::COMMON, style: "width: 30%", direct_upload: true, onchange:"autoClickForm(event.target.form);", disabled: @cap.present? %>
            </div>
          </div>
          <% cq.points_to_improve_images.each_with_index do |x, i| %>
          <% album = cq.points_to_improve_images.map{|x| rails_blob_path(x)} %>
            <% if x.content_type.include?("image") %>
            <div style="position: relative; display: inline-block; width: 100px; height: 100px; margin: 1em 1em 1em 0; vertical-align: middle">
              <a class="bg-blue white b id-<%= cq.id %>" style="border-bottom: 1px solid rgba(183, 221, 247, 1.00); line-height: 1.2; position: absolute; top: -9px; right: -9px; border-radius: 50%; width: 15px; height: 15px; padding: 3px; font-size: 0.6em; text-align: center;" data-id="<%= cq.id %>" data-index="<%= i %>" onclick="deleteImage(this, 'chapter_questions', 'points_to_improve_images', this.dataset.id , this.dataset.index)" >✖︎</a>
              <img src="<%= rails_blob_path(x) %>" alt="" height="100px" width="100px" style="object-fit: cover;" onclick="launchLightbox(this)" data-id="<%= cq.id %>-i<%= i %>" data-album="<%= album.join(':::') %>">
            </div>
            <% else %>
            <div style="position: relative; display: inline-block; width: 100px; height: 100px;margin: 1em 1em 1em 0; vertical-align: middle">
              <a class="bg-blue white b id-<%= cq.id %>" style="border-bottom: 1px solid rgba(183, 221, 247, 1.00); line-height: 1.2; position: absolute; top: -9px; right: -9px; border-radius: 50%; width: 15px; height: 15px; padding: 3px; font-size: 0.6em; text-align: center;" data-id="<%= cq.id %>" data-index="<%= i %>" onclick="deleteImage(this, 'chapter_questions', 'points_to_improve_images',this.dataset.id , this.dataset.index)" >✖︎</a>
              <a href="<%= rails_blob_path(x) %>" download style="border: 1px solid #ccc; height: 100px; width: 100px; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: white; "><%= render 'svg/file' %><span style="font-size: 12px">Download File</span></a>
            </div>
            <% end %>
          <% end %>
          <div style="margin: 2rem 0;">
            <%= (f.submit "Save Point", class: "btn-md") if @cap.nil?%>
          </div>
      <% end %>
