<script>
  var download
  function noResult(){
    var txt = "There are no points/sections that you have given a result which is OK or NOK or not Assessed. The report is not able to be generated. Go back and edit your report for the concerned points/sections"

    Swal.fire({title: "Cannot Generate Report!", text: txt})
  }

  function getFooter(path, other, with_footer, full){
    if (path.includes('cp-reports')){
      return false
    } else if (other == null){
      return "<span>Please remember to upload <b>Annual</b> and <b>CAP Close</b> reports to SDB, Thanks.</span>"
    } else if (with_footer){
      return `<div style="text-align:center;"><a href="#!" data-turbolinks="false" onclick="generateReport('${path}', '${other}', ${with_footer.toString()}, '${full}')">I want the ${other}</a><br><div style="text-align:center;">Please remember to upload <b>Annual</b> and <b>CAP Close</b> reports to SDB, Thanks.</div></div>`
    } else {
      return false
    }
  }

  function generateReport(path, report_type, with_footer, full){
    // Added new paramater & argument for pdf or excel
    console.log(path, report_type)
    var action = report_type == 'PDF' ? 'download' : 'download-excel'
    var other = report_type == 'PDF' ? 'XLSX' : 'PDF'
    var footer = getFooter(path, other, with_footer, full);


    return fetch(`${path}/${action}?full=${full}`).then(res=>{
      res.json().then(data=>{
        var url = data.url || ""
        if (url.includes('blobs')) {
          Swal.fire({
            title: 'Download Current Report',
            text: `This report has been generated on ${data.report_date}. This Assessment was last updated on ${data.updated_at}`,
            showCancelButton: true,
            confirmButtonText: `${report_type} Download`,
            cancelButtonText: `Re-Generate ${report_type}`,
            showLoaderOnConfirm: true,
            footer: footer
          }).then(val=>{
            if (val.value) {
              window.location = data.url
            } else if (val.dismiss == 'cancel'){
              fetchAndWait(path, action, with_footer, full)
            } else {}
          })
        } else {
          waitForPdf(path, action, with_footer)
        }
      })
      // console.log(res)
    }).catch(error => {
      Swal.showValidationMessage(`Request failed: ${error}`)
    })
  }

  function fetchAndWait(path, action, with_footer, full){
    return fetch(`${path}/${action}?again=true&full=${full}`).then(res=>{
      waitForPdf(path, action, with_footer)
    })
  }

  function subscribePdfChannel(slug){
    if (!App.pdf_notification || App.pdf_notification.consumer.connection.disconnected) {
      App.pdf_notification = App.cable.subscriptions.create({ channel: 'PdfChannel', id: slug}, {
        received: function(data) {
          console.log(data)
          download = data.url
          App.pdf_notification.unsubscribe();
          App.pdf_notification.consumer.disconnect();
          Swal.hideLoading()
        }
      })
    } else {
      Swal.hideLoading()
    }
  }

  function waitForPdf(path, action, with_footer){
    var slug = path.split("/")[path.split("/").length - 1]
    console.log(slug)
    var footer = getFooter(path, null, with_footer)

    Swal.fire({
      title: 'Generating Report',
      text: "This will just take a moment...",
      showCancelButton: false,
      confirmButtonText: 'Download',
      showLoaderOnConfirm: true,
      allowOutsideClick: false,
      footer: footer,
      onBeforeOpen: function() {Swal.showLoading();subscribePdfChannel(slug);}
    }).then(val=>{
      if (val.value){ window.location = download }
    })
  }

</script>
