
<% same = qa[:id] == cq.related_assessment_id %>
  <div class="bordered-card mb" style="border: 2px solid #199AEE">
    <div class="mb1"><span class="b"><%= qa[:short_name] %> (<%= qa[:assess_type] %>)</span></div>
    <div class="mb1"><span class="light-black" style="margin-right: 5px">Assess Date</span> <span class="b"><%= qa[:assess_date] %></span></div>
    <div class="mb2"><span class="light-black" style="margin-right: 5px">Result</span> <span class="b" style="span-shadow: black 2rpx 2rpx 1rpx; color: red;"><%= qa[:result] || 'Not Completed' %></span></div>
    <a href="?related_assessment_id=<%= same ? 0 : qa[:id] %>&cq_id=<%= cq.id %>"><%= same ? 'Unlink' : 'Link' %> Assessment</a>
  </div>
