<% qa = report[:object] %>
<% path = update_report_path(slug: qa.slug) if qa.is_a? QualityAssessment %>
<% path = update_cp_report_path(slug: qa.slug) if qa.is_a? ControlPlan %>
<% no_result = qa.is_a?(QualityAssessment) && ([qa.cotation, qa.result].include?(nil)) %>


<tr>
  <th style="<%= 'background-color: yellow;' if no_result %>"><%= report[:code] %></th>
  <td style="<%= 'background-color: yellow;' if no_result %>"><%= report[:supplier] %><br>
    <span style="margin-left: 10px; font-size: 1rem;">By <%= report[:name] %></span>
    <% if no_result %>
    <br><span style="margin-left: 10px; font-size: 1rem; color: red;">Not A Valid Assessment. Assessor chose ALL points as N/A.</span>
    <% end %>
  </td>
  <td style="font-size: 1.1rem; <%= 'background-color: yellow;' if no_result %>"><%= report[:date] %></td>
  <td style="<%= 'background-color: yellow;' if no_result %>"><span class="br-pill" style="color:white;background-color: <%= report[:color] %>; font-size: 1rem;"><%= report[:label] %></span></td>
  <td style="<%= 'background-color: yellow;' if no_result %>">
    <a onclick="getQrcode('<%= report[:id] %>', '<%= report[:type] %>');" class="btn-xs">View on mini program</a>
    <% if !qa.completed %>
    <% elsif no_result %>
    <button onclick="noResult()" class="btn-xs">Generate Report</button>
    <% else %>
    <button onclick="generateReport('<%= path.split('?').first %>', 'PDF', true, true)" class="btn-xs">Generate Report</button>
      <% if qa.cap_close? %>
        <button onclick="generateReport('<%= path.split('?').first %>', 'PDF', true, false )" class="btn-xs">Generate Partial Report</button>
      <% end %>
    <% end %>
  </td>
</tr>
