<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/reports">Reports</a> › Completed </div>
  <div style="display: flex; align-items: center; justify-content: space-between">
  <div>Reports that are <span class="br-pill" style=" background: #2C9F67; color: white; display: inline-block">Completed</span></div>
  <div><input id='myInput' onkeyup='searchTable()' type='text' placeholder="Search for an item..." style="width: 95%;" ></div>
  </div>
</div>


<div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table">
    <thead>
      <tr id="tableHeader">
        <th scope="col">Code <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Name <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Last Update <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Assess Date <span><%= render 'svg/direction' %></span></th>
        <th scope="col" style="width: 150px;">Report type <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Examine report <span><%= render 'svg/direction' %></span></th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <%= render "report_row", report: report %>
      <% end %>
    </tbody>
  </table>
</div>
<div style="width: 100%; background: #2C9F67; height: 4rem; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
  <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
    <div>Total reports completed: <strong><%= @reports.count %></strong></div>
    <div></div>
    <div></div>
  </div>
</div>

<script>
  var URL = `${window.location.href}`;

  function getQrcode(id, name) {
    AjaxRequest.get(
      {
        'url':URL+ `?id=${id}&type=${name}`,
        'onSuccess':function(req){
          img = req.responseText
          swal({
            title: name,
            text: "Scan to check",
            imageUrl: img
          });
        }
      }
    )
  }


  function searchTable() {
      var input, filter, found, table, tr, td, i, j;
      input = document.getElementById("myInput");
      header = document.getElementById('tableHeader');
      filter = input.value.toUpperCase();
      table = document.getElementById("main-table");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
          td = tr[i].children;
          for (j = 0; j < td.length; j++) {
              if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                  found = true;
              }
          }
          if (found) {
              header.style.display = "";
              tr[i].style.display = "";
              found = false;
          }
          else {
              header.style.display = "";
              tr[i].style.display = "none";
          }
      }
  }

</script>
<%= javascript_include_tag "table_filter.js" %>
<%= render 'generate_report_js' %>
