
<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/reports">Reports</a>  <a href="/reports/my-reports">My Reports</a>  › <a href="<%= update_report_path(slug: @qa.slug) %>"><%= @qa.supplier_profile.name %></a> › Finish Assessment</div>
</div>

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; border-bottom: 1px solid #C6C0C0; padding-bottom: 1rem;">
  <div class="b">Finish Assessment</div>
</div>

<%= form_with(model: @qa, url: api_v1_data_update_path(name: "quality_assessments", id: @qa.id), method: :post, html: {name: "qa_form"}) do |f| %>
  <!-- Strong Point Textarea -->
  <div style="margin: 1rem 0;">
    <div class="b">Strong Points</div>
    <%= f.text_area :strong_points, style: "height: 5rem;",onfinish:"autoClickForm(event.target.form);", id: "chapter_questions_strong_points" %>
  </div>

  <div style="margin: 1rem 0;">
    <div class="b">Points To Improve</div>
    <%= f.text_area :points_to_improve, style: "height: 5rem;",onfinish:"autoClickForm(event.target.form);", id: "points_to_improve" %>
  </div>

  <div style="margin: 1rem 0;">
    <div class="b">Overall Comments</div>
    <%= f.text_area :overall_comments, style: "height: 5rem;",onfinish:"autoClickForm(event.target.form);", id: "overall_comments" %>
  </div>

 <label for="question">I verify that this assessment is completed.</label>
<br>

<div style="display: flex; align-items: center; margin: 1rem 0;">
  <%= f.check_box :completed, style: "margin-right: 15px;", onchange:"autoClickForm(event.target.form);swal('Assessment Complete!','','success').then(function(){window.history.go(-1); return false;})" %>
  <label>Yes</label>
</div>

<div style="margin: 2rem 0;">
  <%= f.submit "Save Assessment Details", class: "btn-md no-shadow", style: "line-height: 1;" %>
</div>
<% end %>
