<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/reports">Reports</a> › In progress </div>
  <div style="display: flex; align-items: center;">
  <h4>Reports that are</h4><span class="br-pill" style="margin-left: 8px; background: #FECC45; color: white">In progress</span>
  </div>
</div>

<div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table">
    <thead>
      <tr>
        <th scope="col">Code <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Name <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Last updated <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Report type <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Examine report <span><%= render 'svg/direction' %></span></th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <%= render "report_row", report: report %>
      <% end %>
    </tbody>
  </table>
</div>
<div style="width: 100%; background: #FECC45; height: 4rem; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
  <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
    <div>Total reports in progress: <strong><%= @reports.count %></strong></div>
    <div></div>
    <div></div>
  </div>
</div>

<script>
  var URL = `${window.location.href}`;
  <%# if Rails.env == "production" %>
  <%# else %>
    // var URL = "http://localhost:3000/suppliers";
  <%# end %>

  function getQrcode(id, name) {
    AjaxRequest.get(
      {
        'url':URL+ `?id=${id}&type=${name}`,
        'onSuccess':function(req){
          img = req.responseText
          swal({
            title: name,
            text: "Scan to check",
            imageUrl: img
          });
        }
      }
    )
  }

</script>
<%= javascript_include_tag "table_filter.js" %>
<%= render 'generate_report_js' %>
