<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/reports">Reports</a> › My Reports  </div>
</div>

<div class="wrapper">
  <h3>Reports in Progress</h3>
</div>

<div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table">
    <thead>
      <tr>
        <th scope="col">Code <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Supplier <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Assessment Type <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Updated at <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Continue Report <span><%= render 'svg/direction' %></span></th>
      </tr>
    </thead>
    <tbody>
      <% @reports.reject{|x| x.completed}.each do |qa| %>
        <% path = update_report_path(slug: qa.slug) if qa.is_a? QualityAssessment %>
        <% path = update_cp_report_path(slug: qa.slug) if qa.is_a? ControlPlan %>
      <tr>
        <th><%= qa.supplier_profile.code %></th>
        <th><%= qa.supplier_profile.name %>
            <br><span style="font-size: 0.8em;">Assessed by <%= qa.assessor_name %></span>
        </th>
        <td><span class="br-pill" style="color:white;background-color:<%= qa.color %>"><%= qa.short_name %> – <%= qa.assess_type %></td>
        <td style="font-size: 1.1rem"><%= qa.updated_at.strftime("%Y-%m-%d") %></td>
        <td>
          <% if current_user.can_edit?(qa) %>
            <%= link_to path do %>
              <button class="btn-xs">Continue reporting</button>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div style="width: 100%; background: #32A2ED; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
  <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
    <div>Reports in Progress: <strong><%= @reports.reject{|x| x.completed}.count %></strong></div>
    <div></div>
    <div></div>
  </div>
</div>

<div class="wrapper" style="margin-top: 3em">
  <h3>Completed Reports</h3>
</div>


<div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table">
    <thead>
      <tr>
        <th scope="col">Code <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Supplier <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Assessment Type <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Updated at <span><%= render 'svg/direction' %></span></th>
        <th scope="col">Actions <span><%= render 'svg/direction' %></span></th>
      </tr>
    </thead>
    <tbody>
      <% @reports.select{|x| x.completed}.each do |qa| %>
      <tr>
        <th><%= qa.supplier_profile.code %></th>
        <th><%= qa.supplier_profile.name %>
          <br><span style="font-size: 0.8em;">Assessed by <%= qa.assessor_name %></span>
        </th>
        <td><span class="br-pill" style="color:white;background-color:<%= qa.color %>"><%= qa.short_name %> – <%= qa.assess_type %></td>
        <td style="font-size: 1.1rem"><%= qa.updated_at.strftime("%Y-%m-%d") %></td>
        <td>
          <% path = update_report_path(slug: qa.slug) if qa.is_a? QualityAssessment %>
          <% path = update_cp_report_path(slug: qa.slug) if qa.is_a? ControlPlan %>

          <% if current_user.can_edit?(qa) %>
          <%= link_to path do %><button class="btn-xs">Edit report</button><% end %>
          <% end %>

          <% if qa.is_a?(QualityAssessment) && ([qa.cotation, qa.result].include?(nil)) %>
            <button onclick="noResult()" class="btn-xs">Generate Report</button>
          <% else %>
            <button onclick="generateReport('<%= path.split('?').first %>', 'PDF', true, true)" class="btn-xs">Generate Report</button>
            <% if qa.cap_close? %>
              <button onclick="generateReport('<%= path.split('?').first %>', 'PDF', true, false )" class="btn-xs">Generate Partial Report</button>
            <% end %>
          <% end %>

          <% if qa.is_a?(QualityAssessment) && !qa.assess_type.include?("CAP") %>
            <%= link_to upload_cap_review_path(slug: qa.slug) do %>
            <button class="btn-xs">Upload CAP Review</button>
            <% end %>
          <% end %>
          <%# if qa.report_date.present? %>
          <!-- <button class="btn-xs white bg-blue">↧ <%#= qa.report_date.strftime("%Y-%m-%d") %> Report</button> -->
          <%# end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <div style="width: 100%; background: #32A2ED; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
    <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
      <div>Completed Reports: <strong><%= @reports.select{|x| x.completed}.count %></strong></div>
      <div></div>
      <div></div>
    </div>
  </div>
<%= javascript_include_tag "table_filter.js" %>
<%= render 'generate_report_js' %>
