<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/reports">Reports</a> › <a href="/reports/my-reports">My Reports</a>  › <a href="<%= update_report_path(slug: @qa.slug) %>"><%= @qa.supplier_profile.name %></a> › Overall Comments</div>
</div>

<div class="b"><%= @qa.supplier_profile.name %></div>
<p style="margin-bottom: 2rem;">Last updated: <span><%= @qa.updated_at.strftime("%Y-%m-%d") %></span></p>

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; border-bottom: 1px solid #C6C0C0; padding-bottom: 1rem;">
  <div class="b">Overall Comments</div>
</div>

<div>
  <div><strong>Overall comments</strong></div>
  <div>
    <textarea name="" id="" cols="30" rows="5"><%= @qa.overall_comments %></textarea>
  </div>
  <div><strong>Strong points:</strong></div>
  <div>
    <textarea name="" id="" cols="30" rows="5"><%= @qa.strong_points %></textarea>
  </div>
  <div><strong>Points to improve:</strong></div>
  <div>
    <textarea name="" id="" cols="30" rows="5"><%= @qa.points_to_improve %></textarea>
  </div>
</div>



