<div class='wrapper'>
  <h2 style="padding-left: 5px; border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em;">Reports</h2>
  <div class="menu-3up">
    <%= link_to '/reports/my-reports', class: 'column no-underline' do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
        <%= render 'svg/reports' %>
        <h1 class="br-pill" style="background: #32A2ED; color: white; margin-top: 1rem;">My reports</h1>
      </div>
    <% end %>

    <% if current_user.decathlon? %>
    <%= link_to '/reports/inprogress', class: 'column no-underline' do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
        <%= render 'svg/inprogress' %>
        <h1 class="br-pill" style="background: #FECC45; color: white; margin-top: 1rem;">In progress</h1>
      </div>
    <% end %>
    <%= link_to '/reports/completed', class: 'column no-underline' do %>
      <div class="bordered-card hover-card" style="text-align: center; margin-bottom: 1.1rem;">
        <%= render 'svg/completed' %>
        <h1 class="br-pill" style="background: #2C9F67; color: white; margin-top: 1rem;">Completed</h1>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
