<style>
  .hidden{
    display: none;
  }
</style>
<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/reports">Reports</a> › <a href="/reports/my-reports">My CP Reports</a>  › <%= link_to update_cp_report_path(@cp.slug) do%><%= @cp.supplier_profile.name %><%end%> › Plan Item › Step No. <%= @ps.step_number %></div>
</div>

<h3>Control Plan Monitor</h3>

<div class="bordered-card" style="width: 90%; position: relative; padding: 1.5rem 1.2rem; margin-top: 3rem; border-color: #A147C5;">
  <div class="br-pill b" style="border: 2px solid #A147C5; position: absolute; top: -23px; left: 20px; display: inline-block; background: white; padding: 0.2rem 2rem">Step No. <%= @ps.step_number %>
  </div>
  <div class="wrapper" style="margin-bottom: 10px;">
    <div>Product <span class="b" style="display: inline-block"><%= @cp.product_family.name %></span></div>
  </div>
  <div class="wrapper" style="margin-bottom: 10px;">
    <div>Criticity <span class="b" style="display: inline-block"><%= @ps.criticity %></span></div>
  </div>
  <div class="wrapper" style="margin-bottom: 10px;">
    What is controlled? <div class="b" style="padding: 5px; border-radius: 10px; background-color: #F7F7F7"><%= @ps.control_item %></div>
  </div>
  <div class="wrapper" style="margin-bottom: 10px;">
    Control Method <div class="b" style="padding: 5px; border-radius: 10px; background-color: #F7F7F7"><%= @ps.control_method %></div>
  </div>
  <div class="wrapper" style="margin-bottom: 10px;">
    Requirement <div class="b" style="padding: 5px; border-radius: 10px; background-color: #F7F7F7"><%= @ps.requirement %></div>
  </div>
  <div class="wrapper" style="margin-bottom: 10px;">
    Type of Control <div class="b" style="padding: 5px; border-radius: 10px; background-color: #F7F7F7"><%= @ps.control_type %></div>
  </div>
  <div class="wrapper" style="margin-bottom: 10px;">
    <div style="color: green;" class="b">Acceptable Image</div>

    <div style="position: relative; display: inline-block; width: 100px; height: 100px; margin: 1em 1em 1em 0;">
    <% if @ps.acceptable_image.attachment.present? %>
      <% image = rails_blob_path(@ps.acceptable_image) %>
      <img src="<%= image %>" alt="" height="100px" width="100px" style="object-fit: cover;" onclick="launchLightbox(this)" data-id="<%= @ps.id %>" data-image="<%= image %>">
    <% else %>
      N/A
    <% end %>
    </div>
  </div>
  <div class="wrapper" style="margin-bottom: 10px;">
    <div style="color: red;" class="b">Unacceptable Image</div>
    <div style="position: relative; display: inline-block; width: 100px; height: 100px; margin: 1em 1em 1em 0;">
    <% if @ps.unacceptable_image.attachment.present? %>
      <% image_2 = rails_blob_path(@ps.unacceptable_image) %>
      <img src="<%= image_2 %>" alt="" height="100px" width="100px" style="object-fit: cover;" onclick="launchLightbox(this)" data-id="<%= @ps.id %>" data-image="<%= image_2 %>">
    <% else %>
      N/A
    <% end %>
    </div>
  </div>
  <div class="wrapper" style="margin-bottom: 10px;">
    <div>Control Frequency</div>
    <div style="display: flex;">
      <div style="margin-right: 15px;">
        <div style="border: 1px solid green; background: green; color: white; padding: 8px 15px">Supplier</div>
        <div style="border: 1px solid green; padding: 8px 15px;">
          <div class="b"><%= @ps.supplier_control_freq %></div>
          <div>
            Checked By:
            <span style="display: inline-block;" class="b"><%= @ps.supplier_controller %></span></div>
        </div>
      </div>
      <div>
        <div style="border: 1px solid #39A3EA; background: #39A3EA; color: white; padding: 8px 15px">Decathlon</div>
        <div class="b" style="border: 1px solid #39A3EA; padding: 8px 15px;">
          <%= @ps.supplier_control_freq %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_with model: @pi, method: :post, url: "/api/v1/plan_items/#{@pi.id}" do |f| %>
  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Findings of Supplier's records and methods?</label>
    <br>
    <%= f.text_field :findings, class: "w-50" %>
  </div>
  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Upload Findings Images</label>
    <br>
    <%= f.file_field :findings_images, multiple: true, accept: XFile::COMMON, style: "width: 30%", direct_upload: true, onchange:"autoClickForm(event.target.form);" %>
  </div>
  <% @pi.findings_images.each_with_index do |x, i| %>
  <% album = @pi.findings_images.map{|x| rails_blob_path(x)} %>
    <div style="position: relative; display: inline-block; width: 100px; height: 100px; margin: 1em 1em 1em 0;">
      <a class="bg-blue white b id-<%= @pi.id %>" style="border-bottom: 1px solid rgba(183, 221, 247, 1.00); line-height: 1.2; position: absolute; top: -9px; right: -9px; border-radius: 50%; width: 15px; height: 15px; padding: 3px; font-size: 0.6em; text-align: center;" data-index="<%= i %>" onclick="deleteImage(this, 'plan_items', 'findings_images', <%= @pi.id %>, this.dataset.index)" >✖︎</a>
      <img src="<%= rails_blob_path(x) %>" alt="" height="100px" width="100px" style="object-fit: cover;" onclick="launchLightbox(this)" data-id="<%= @pi.id %>-i<%= i %>" data-album="<%= album.join(':::') %>">
    </div>
  <% end %>

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Findings of process and product?</label>
    <br>
    <%= f.text_field :findings_process, class: "w-50" %>
  </div>
  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Upload Process and Product Images</label>
    <br>
    <%= f.file_field :findings_process_images, multiple: true, accept: XFile::COMMON, style: "width: 30%", direct_upload: true, onchange:"autoClickForm(event.target.form);" %>
  </div>
  <% @pi.findings_process_images.each_with_index do |x, i| %>
  <% album = @pi.findings_process_images.map{|x| rails_blob_path(x)} %>
    <div style="position: relative; display: inline-block; width: 100px; height: 100px; margin: 1em 1em 1em 0;">
      <a class="bg-blue white b id-<%= @pi.id %>" style="border-bottom: 1px solid rgba(183, 221, 247, 1.00); line-height: 1.2; position: absolute; top: -9px; right: -9px; border-radius: 50%; width: 15px; height: 15px; padding: 3px; font-size: 0.6em; text-align: center;" data-index="<%= i %>" onclick="deleteImage(this, 'plan_items', 'findings_process_images', <%= @pi.id %>,this.dataset.index)" >✖︎</a>
      <img src="<%= rails_blob_path(x) %>" alt="" height="100px" width="100px" style="object-fit: cover;" onclick="launchLightbox(this)" data-id="<%= @pi.id %>-i<%= i %>" data-album="<%= album.join(':::') %>">
    </div>
  <% end %>

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Traceability</label>
    <br>
    <%= f.text_field :traceability, class: "w-50" %>
  </div>

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Immediate Actions/Protections</label>
    <br>
    <%= f.text_field :actions, class: "w-50" %>
  </div>

  <div style="margin: 10px 0;">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Result</label>
    <br>
    <% checked = @pi.result %>
    <div><input type="radio" onclick="resultOnchange(this)" id="result-radio" data-checked="<%= checked %>" name="plan_item[result]" value="OK" <%= 'checked' if checked == "OK" %>><label for="OK">OK</label></div>
    <div><input type="radio" onclick="resultOnchange(this)" id="result-radio" data-checked="<%= checked %>" name="plan_item[result]" value="NOK" <%= 'checked' if checked == "NOK" %>><label for="NOK">NOK</label></div>
    <div><input type="radio" onclick="resultOnchange(this)" id="result-radio" data-checked="<%= checked %>" name="plan_item[result]" value="N/A" <%= 'checked' if checked == "N/A" %>><label for="N/A">N/A</label></div>
    <%= f.hidden_field :results, id: "supplier_freq_hidden" %>
  </div>
  <div class="<%= 'hidden' if @pi.result != 'NOK'%>" style="margin: 10px 0;" id="block">
    <label for="input_text" style=" margin-bottom: 0.8rem;">Block Needed?</label>
    <br>
    <div><input type="radio" id="block-radio-yes" data-checked="<%= checked %>" name="plan_item[block]" value="1" <%= 'checked' if @pi.block %>><label for="Yes">Yes</label></div>
    <div><input type="radio" id="block-radio-no" data-checked="<%= checked %>" name="plan_item[block]" value="0" <%= 'checked' unless @pi.block %>><label for="no">No</label></div>
  </div>


  <div style="margin: 10px 0; display: flex;">
    <%= f.submit "Save Plan Item", class: "btn-md", style: "display: inline-block; margin-right: 15px; width: 30%;" %>
  </div>

  <div>
  <% if @prev_pi.present? %>
    <%=link_to update_plan_item_path(slug: @cp.slug, pi_id: @prev_pi.id), class: "no-underline" do %>
      <div class="btn-mp-blue" style="margin-top: 20px; margin-right: 10px;">← Prev. Item</div>
    <% end %>
  <% end %>
  <% if @next_pi.present? %>
    <%=link_to update_plan_item_path(slug: @cp.slug, pi_id: @next_pi.id), class: "no-underline" do %>
      <div class="btn-mp-blue" style="margin-top: 20px;">Next Item →</div>
    <% end %>
  <% end %>
</div>
<% end %>





<script>
  function resultOnchange(e){
    var div = document.getElementById('block')

    if (e.value == "NOK"){
      div.classList.remove('hidden')
    } else {
      div.classList.add('hidden')
    }
  }

  function launchLightbox(e) {

      var image = e.getAttribute("data-image")
      var body = document.querySelector('body')
      var div = document.createElement('div')
      var id = e.getAttribute("data-id")
      div.id = id
      body.appendChild(div)
      console.log(id, 'here')
      console.log(e)
      // console.log(image, '---------------------')
      var res = image.split(":::").map(function(x){return {"src": x , "thumb": x, "subHtml": ''}})
      console.log(res)
      // console.log(res)
      var active = document.getElementById(id)

      lightGallery(active, {
          dynamic: true,
          dynamicEl: res,
          download: false
      })
  }



</script>
