<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/reports">Reports</a> › <a href="/reports/my-reports">My Reports</a>  › <a href="<%= update_report_path(slug: @qa.slug) %>"><%= @qa.supplier_profile.name %></a> › Chapter Assessment</div>
</div>

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; border-bottom: 1px solid #C6C0C0; padding-bottom: 1rem;">
  <div class="b">Chapter Assessments</div>
</div>

<div>
  <div>Assessment Progress:</div>
  <div style="display: flex; align-items: center; margin-right: 10px;">
    <progress value="<%= @perc %>" max="100" style="width: 75%;"></progress>
    <div style="margin-left: 20px;"><%= @perc %> %</div>
  </div>

  <div>
  <% if (@qa.assess_type == 'CAP Close') && (params[:ref_chapters].present?) %>
    <a class="btn-xs no-underline" href="<%= update_ca_path(slug: params[:slug]) %>">Show Only CAP Points</a>
  <% elsif (@qa.assess_type == 'CAP Close') %>
    <a class="btn-xs no-underline" href="<%= update_ca_path(slug: params[:slug], ref_chapters: "true") %>">Show All Chapters (including last assessment)</a>
  <% end %>
  </div>
</div>

<% @chapters = @ref_chapters if (@qa.assess_type == 'CAP Close') && (params[:ref_chapters].present?) %>
<% @chapters.each do |ch| %>
<% next if ch[:children].blank? %>
  <p class="b" style="margin-bottom: 1rem;"> <%= ch[:section_name] %>: <%= ch[:title] %></p>
  <% ch[:children].each do |sec| %>
    <article style="margin: 1rem 0;">
      <div><%= sec[:section_name] %> <%= sec[:title] %></div>
      <div class="w-50" style="background: #CDC9BD; padding: 1rem; border-radius: 5px;">
        <div style="display: flex;">
          <% sec[:children].each do |level| %>
            <%=link_to update_chapter_path(slug: @qa.slug, chapter: level[:guideline_tag]), class: 'no-underline' do %>
              <div class="b bg-tan" style="border: 1.8px solid <%= level[:borderColor] || 'black' %>; padding: 20px; border-radius: 5px; margin-right: 10px; font-size: 2rem;  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color: <%= PageComponent::EXTRA_CLASSES[level[:section_name]]; %>; position: relative;"><span style="<%= level[:result].nil? ? '' : 'opacity: 0.5;' %>"><%= level[:section_name] %></span>

                <% if level[:result] == 'OK' %>
                  <div style="position: absolute; top:0; left:0; right: 0; bottom: 0; text-align: center; color: green; line-height: 5.5rem; <%= 'opacity: 0.8;' if level[:disable_editing] %>">✓</div>
                <% elsif level[:result] == "NOK" %>
                  <div style="position: absolute; top:0; left:0; right: 0; bottom: 0; text-align: center; color: red; line-height: 5.5rem; <%= 'opacity: 0.8;' if level[:disable_editing] %>">✖</div>
                <% elsif level[:result].in?(["NOK (EP)", "NOK without risk"]) %>
                  <div style="position: absolute; top:0; left:0; right: 0; bottom: 0; text-align: center; color: yellow; line-height: 5.5rem; <%= 'opacity: 0.8;' if level[:disable_editing] %>">✖</div>
                <% elsif level[:result] == "Not Applicable"%>
                  <div style="position: absolute; top:0; left:0; right: 0; bottom: 0; text-align: center; color: black; line-height: 5.5rem; <%= 'opacity: 0.8;' if level[:disable_editing] %>">⊘</div>
                <% elsif level[:result] == "Not Assessed"%>
                  <div style="position: absolute; top:0; left:0; right: 0; bottom: 0; text-align: center; color: yellow; line-height: 5.5rem; <%= 'opacity: 0.8;' if level[:disable_editing] %>">⊘</div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </article>
  <% end %>
<% end %>
