<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/reports">Reports</a> › <a href="/reports/my-reports">My Reports</a>  › <a href="<%= update_report_path(slug: @qa.slug) %>"><%= @qa.supplier_profile.name %></a> › Assessment Preperation</div>
</div>

<div class="b"><%= @qa.supplier_profile.name %></div>
<p style="margin-bottom: 2rem;">Last updated: <span><%= @qa.updated_at.strftime("%Y-%m-%d") %></span></p>

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; border-bottom: 1px solid #C6C0C0; padding-bottom: 1rem;">
  <div class="b">Assessment Preparation</div>
</div>

  <% @prep_questions[:form][:form_questions].each_with_index do |pq, i| %>
    <div style="padding: 0 0 1rem 0; border-bottom: 1px solid #C6C0C0;">
      <% prep = PrepQuestion.find(pq[:pq_id]) %>
      <%= form_with(model: PrepQuestion.new(id: pq[:pq_id]), method: :post, url:api_v1_data_update_path(name: "prep_questions", id: pq[:pq_id]), html: {name: "pqs#{i}"}) do |f| %>
        <label for="question"><%= i+1 %>. <%= pq[:label] %> </label>
        <br>
        <% if pq[:component] == 'radio' %>
          <% pq[:options].each do |opt| %>
            <div style="display: flex; align-items: center; margin: 1rem 0;">
              <input type="radio" name="prep_question[response]" value="<%= opt[:value] %>" style="margin-right: 15px; font-size: 24px;" <%= 'checked' if opt[:value] == pq[:response] %> onchange="autoClickForm(event.target.form);"/>
              <label><%= opt[:text] %></label>
            </div>
          <% end %>
        <% elsif pq[:component] == 'input' %>
          <input type="text" name="prep_question[response]" id="<%= pq[:pq_id] %>" value="<%= pq[:response] %>" style="margin-right: 15px; font-size: 24px;" onfinish="autoClickForm(event.target.form);"/>

        <% elsif pq[:component] == 'picker' %>
          <select name="prep_question[response]" id="<%= pq[:pq_id] %>">
            <% pq[:options].each do |opt| %>
              <option value="<%= opt[:value] %>" <%= 'selected' if opt[:value] == pq[:response] %>><%= opt[:value] %></option>
            <% end %>
          </select>
        <% end %>
        <div>
          <div>
          Upload Attachments:
          </div>
          <div>
          <%= f.file_field :attachments, multiple: true, accept: XFile::COMMON, direct_upload: true, style: "width: 30%", onchange: "autoClickForm(event.target.form);"%>
          </div>
        </div>
        <% prep.attachments.each_with_index do |x, i| %>
          <p style="margin: 0; padding: 0;">* <%= link_to x.filename,
    rails_blob_path(x, disposition: "attachment") %>  (<a class="b" onclick="deleteImage(this, 'prep_questions', 'attachments', <%= prep.id %>, <%= i %>)" >✖︎</a>)</p>
        <% end %>
        <%= f.submit "Update Question #{i+1}", class: 'btn-md', style: 'box-shadow: none; line-height: 1; margin-top: 1rem;' %>
      <% end %>
    </div>
  <% end %>

