<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/reports">Reports</a>  <a href="/reports/my-reports">My Reports</a>  › <a href="<%= update_report_path(slug: @qa.slug) %>"><%= @qa.supplier_profile.name %></a> › Go For Assessment</div>
</div>
<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; border-bottom: 1px solid #C6C0C0; padding-bottom: 1rem;">
  <div class="b">Go For Assessment</div>
</div>
<%= form_with(model: @go, url: api_v1_data_update_path(name: "assessment_day_forms", id: @go.id), method: :post, html: {name: "go_form"}) do |f| %>
  <div style="margin: 1rem 0;">
    <label for="question">Production Leader / Team Leader / OPM</label>
    <br>
    <%= f.select :pl_set, options_for_select(@assessors.map{|x| [x.name, x.id.to_s]}, {selected: @go.pl_set}), {},{multiple: true, placeholder: "Search Assessor by Name", onchange:"autoClickForm(event.target.form);"} %>
  </div>
  <label for="question">Did this person attend the assessment?</label>
  <br>
  <div style="display: flex; align-items: center; margin: 1rem 0;">
    <%= f.radio_button :pl_present, 'Yes', style: "box-shadow: none; width: auto;", onchange:"autoClickForm(event.target.form);" %> <label>Yes</label>
    <br>
    <%= f.radio_button :pl_present, 'No', style: "box-shadow: none; width: auto;", onchange:"autoClickForm(event.target.form);" %> <label>No</label>
    <br>
    <%= f.radio_button :pl_present, 'N/A', style: "box-shadow: none; width: auto;", onchange:"autoClickForm(event.target.form);" %> <label>N/A</label>
  </div>
  <div>Observers:</div>
  <div style="margin: 1rem 0;">
    <label for="question">Type Name of Observer</label>
    <br>
    <%= f.select :observers, options_for_select(@assessors.map{|x| [x.name, x.id.to_s]} + @suppliers.map{|x| [x.username, "s#{x.id}"]}, {selected: @go.observers}), {},{multiple: true, placeholder: "Search Assessor by Name", onchange:"autoClickForm(event.target.form);"} %>
  </div>
  <div style="margin: 1rem 0;">
    <label for="question">Main People Met</label>
    <br>
    <%= f.text_field :people_encountered, onfinish:"autoClickForm(event.target.form);"%>
  </div>
  <div style="margin: 1rem 0;">
    <label for="question">Process Step Assessed</label>
    <br>
    <%= f.text_field :steps_assessed, onfinish:"autoClickForm(event.target.form);"%>
  </div>
  <div style="margin: 1rem 0;">
    <label for="question">Assessment Target</label>
    <br>
    <%= f.select :supplier_target, options_for_select(("A".."D").to_a.reverse, {selected: @go.supplier_target}), {},{ placeholder: "Select Target", onchange:"autoClickForm(event.target.form);", style: "min-width: 100px; height: 40px; padding: 5px; border-radius: 4px;border-width: 2px; border-style: inset; border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));"} %>
  </div>
  <div style="margin: 2rem 0;">
    <%= f.submit "Save Assessment Details", class: "btn-md no-shadow", style: "line-height: 1;" %>
  </div>
<% end %>
<script>
  var plSelect = new Choices('[name="assessment_day_form[pl_set][]"]',{
    removeItemButton: true,
    classNames: {
      inputCloned: 'no-shadow',
      searchPlaceholderValue: 'Type the Assessor or Decathlon Staff Member\'s Name',
      PlaceholderValue: 'Type the Assessor or Decathlon Staff Member\'s Name',
      placeholder: true
  
    }
  });
  
  var assessorsSelect = new Choices('[name="assessment_day_form[observers][]"]',{
    removeItemButton: true,
    classNames: {
      inputCloned: 'no-shadow',
      searchPlaceholderValue: 'Type the Assessor or Decathlon Staff Member\'s Name',
      PlaceholderValue: 'Type the Assessor or Decathlon Staff Member\'s Name',
      placeholder: true
  
    }
  });
  
  var assessorSelect = new Choices('[name="assessment_day_form[pl_id]"]', {
    searchPlaceholderValue: 'Type the Assessor or Decathlon Staff Member\'s Name',
    classNames: {
      item: 'choices__item f3',
      containerInner: 'choices-selection',
    }
  })
</script>