<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/reports">Reports</a> › <a href="/reports/my-reports">My Reports</a>  › <%= @qa.supplier_profile.name %></div>
</div>
<div class="b"><%= @qa.supplier_profile.name %></div>
<p style="margin-bottom: 2rem;">Last updated: <span><%= @qa.updated_at.strftime("%Y-%m-%d") %></span></p>
<% if @qa.prep_questions.where(respondant: "assessor").present? %>
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; border-bottom: 1px solid #C6C0C0; padding-bottom: 1rem;">
    <div class="b">Assessment Preperation</div>
    <%= link_to update_ap_path(slug: @qa.slug) do%>
      <button class="btn-md">Continue Reporting</button>
    <% end %>
  </div>
<% end %>
<% if @qa.prep_questions.where(respondant: "supplier").present? %>
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; border-bottom: 1px solid #C6C0C0; padding-bottom: 1rem;">
    <div class="b">Supplier Preperation</div>
    <%= link_to update_ap_path(slug: @qa.slug, respondant: "supplier") do%>
      <button class="btn-md">Continue Reporting</button>
    <% end %>
  </div>
<% end %>
<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; border-bottom: 1px solid #C6C0C0; padding-bottom: 1rem;">
  <div class="b">Go For Assessment</div>
  <%= link_to update_go_path(slug: @qa.slug) do%>
    <button class="btn-md">Continue Reporting</button>
  <% end %>
</div>
<% if @qa.assess_type != 'CAP Review' %>
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; border-bottom: 1px solid #C6C0C0; padding-bottom: 1rem;">
    <div class="b"><%= @qa.short_name %> Chapter Assessments</div>
    <%= link_to update_ca_path(slug: @qa.slug) do%>
      <button class="btn-md">Continue Reporting</button>
    <% end %>
  </div>
<% end %>
<% if @qa.assess_type == 'CAP Review' %>
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; border-bottom: 1px solid #C6C0C0; padding-bottom: 1rem;">
    <div class="b">CAP Review</div>
    <%= link_to update_cap_path(slug: @qa.slug) do%>
      <button class="btn-md">Continue Reporting</button>
    <% end %>
  </div>
<% end %>
<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; border-bottom: 1px solid #C6C0C0; padding-bottom: 1rem;">
  <div class="b">Finish Assessment</div>
  <%= link_to finish_qa_path(slug: @qa.slug) do%>
    <button class="btn-md">Finish Assessment</button>
  <% end %>
</div>
<% if @related   %>
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; border-bottom: 1px solid #C6C0C0; padding-bottom: 1rem;">
    <div class="b">Related Assessments</div>
    <div style="display: flex; flex-direction: column; align-items: flex-end;">
      <% @related.each do |qa| %>
        <%= link_to update_report_path(slug: qa.slug) do%>
          <button class="btn-md"><%= "#{qa.assess_type}\n#{qa.assess_date.strftime("%Y-%m-%d")}" %></button>
        <% end %>
      <% end %>
      <%# path = update_report_path(slug: qa.slug) if qa.is_a? QualityAssessment %>
      <%# path = update_cp_report_path(slug: qa.slug) if qa.is_a? ControlPlan %>
    </div>
  </div>
<% end %>
<!-- <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; border-bottom: 1px solid #C6C0C0; padding-bottom: 1rem;">
  <div class="b">Overall Comments</div>
  <%#= link_to overall_comments_path(slug: @qa.slug) do%>
  <button class="btn-md">Overall Comments</button>
  <%# end %>
</div> -->
