<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/reports">Reports</a> › <a href="/reports/my-reports">My CP Reports</a>  › <%= @cp.supplier_profile.name %></div>
</div>

<div class="b"><%= @cp.supplier_profile.name %></div>
<div>Product Family<span style="margin-left: 10px;" class="b"><%= @cp.product_family.name %></span></div>
<p style="margin-bottom: 2rem;">Assess Date <span class="b"><%= @cp.assess_date.strftime("%Y-%m-%d") %></span></p>

<p class="b">Plan Items List</p>
<div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table">
    <thead>
      <tr>
        <th scope="col">Step</th>
        <th scope="col">Criticity</th>
        <th scope="col">Control Item</th>
        <th scope="col">Status</th>
        <th scope="col">Result</th>
        <th scope="col">More Info</th>
      </tr>
    </thead>
    <tbody>
      <% @plan_items.each do |pi| %>
      <% s = pi.process_step %>
      <tr>
        <th><%= s.step_number %></th>
        <th><%= s.criticity %></th>
        <td><%= s.control_item %></td>
        <td><%= pi.completed == false ? 'Incompleted' : 'Completed' %></td>
        <td><%= pi.result == 'false' ? '' : pi.result %></td>
        <td><%= link_to update_plan_item_path(pi_id: pi.id) do %><button class="btn-xs">View Plan Item</button><% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div style="width: 100%; background: #A147C5; height: 4rem; border-bottom-right-radius:40px; border-bottom-left-radius:40px; color: white;">
  <div style="display: flex; justify-content: space-between; padding: 1rem 1.1rem;">
    <div>Plan Items Total: <strong><%= @plan_items.count %></strong></div>
    <div></div>
    <div></div>
  </div>
</div>

<% unless @cp.completed %>
<%= form_with(model: @cp, url: api_v1_data_update_path(name: "control_plans", id: @cp.id), method: :post) do |f| %>
  <% f.hidden_field :completed, value: true %>
  <div style="margin: 2rem 0;">
  <%= f.submit "Control Plan Completed", class: "btn-md no-shadow", style: "line-height: 1;" %>
</div>
<% end %>
<% end %>
