
<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;">
    <a href="/reports">Reports</a> ›
    <a href="/reports/my-reports">My Reports</a>  ›
    <a href="<%= update_report_path(slug: @qa.slug) %>"><%= @qa.supplier_profile.name %></a> ›
    <a href="<%= update_ca_path(slug: @qa.slug) %>"><%= @qa.short_name %> Chapter Assesments</a> › <%= @form.title %>
  </div>
</div>

<%= render 'native/survey_form' %>
