<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/reports">Reports</a> › <a href="/reports/my-reports">My Reports</a>  › <a href="<%= update_report_path(slug: @qa.slug) %>"><%= @qa.supplier_profile.name %></a> › Cap Review</div>
</div>

<!-- <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
  <div class="b" style="border-left: 2px solid rgba(27, 156, 226, 1.00); margin-bottom: 1em; padding-left: 5px;">CAP Review</div>
</div> -->

<div class="b"><%= @qa.supplier_profile.name %></div>
<p style="margin-bottom: 2rem;">Last updated: <span><%= @qa.updated_at.strftime("%Y-%m-%d") %></span></p>
<% cap_index = @cap_index %>
<% cp = @qa.cap_points[cap_index] %>


<% if cp.nil? %>
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
    You have not selected any CAP Points to review for this CAP Review.
  </div>
<% else %>
<!-- @qa.cap_points.each_with_index do |cp, i| -->
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">

    <!-- CAP POINTS CARD -->
    <div class="bordered-card" style="border-color: #A241C8; width: 100%;">
      <h3>Chapter: <%= cp.section.split('.').first %> Section: <%= cp.section.split('.').last %> - Point: <%= cp.level %></h3>
      <div style="font-weight: 800">Requirement</div>
      <div style="background-color: rgba(0,0,0,0.05); padding: 10px; border-radius: 5px; margin-bottom: 15px;">
        <%= cp.requirement %>
      </div>
      <div style="font-weight: 800">Strong Points</div>
      <div style="background-color: rgba(0,0,0,0.05); padding: 10px; border-radius: 5px; margin-bottom: 15px;">
        <%= cp.ref.strong_points || "N/A" %>
      </div>
      <div style="font-weight: 800">Strong Points Images</div>
      <div style="background-color: rgba(0,0,0,0.05); padding: 10px; border-radius: 5px; margin-bottom: 15px;">
        <% spi = cp.ref.strong_points_images %>
        <% if spi.length > 0 %>
          <% album = cp.ref.strong_points_images.map{|x| rails_blob_path(x)} %>
          <div style="display: flex; flex-wrap: 1">
            <% spi.each_with_index do |img, i| %>
              <img src="<%= rails_blob_path(img) %>" onclick="launchLightbox(this)" alt="" style="width: 100px; height: 100px; object-fit: cover" data-id="<%= cp.id %>-i<%= i %>" data-album="<%= album.join(':::')%>">
            <% end %>
          </div>
        <% else %>
          No images uploaded
        <% end %>
      </div>
      <div style="font-weight: 800">Points to Improve</div>
      <div style="background-color: rgba(0,0,0,0.05); padding: 10px; border-radius: 5px; margin-bottom: 15px">
        <%= cp.ref.points_to_improve || "N/A" %>
      </div>
      <div style="font-weight: 800">Points to Improve Images</div>
      <div style="background-color: rgba(0,0,0,0.05); padding: 10px; border-radius: 5px; margin-bottom: 15px">
        <% pti = cp.ref.points_to_improve_images %>
        <% if pti.length > 0 %>
          <% album = cp.ref.points_to_improve_images.map{|x| rails_blob_path(x)} %>
          <div style="display: flex; flex-wrap: 1">
            <% pti.each_with_index do |img, i| %>
              <img src="<%= rails_blob_path(img) %>" onclick="launchLightbox(this)" alt="" style="width: 100px; height: 100px; object-fit: cover" data-id="<%= cp.id %>-i<%= i %>" data-album="<%= album.join(':::')%>">
            <% end %>
          </div>
        <% else %>
          No images uploaded
        <% end %>
      </div>
    </div>
  </div>

  <%= form_with(model: cp, method: :post, url:api_v1_data_update_path(name: "cap_points", id: cp.id)) do |f| %>
    <!-- Root Cause -->
    <div style="width: 100%; align-items: center; margin-bottom: 1rem;">

        <div class="b">Root Cause for Non Conformity</div>
        <%= f.text_area :root_cause_nc, style: "width: 100%; height: 5rem;",onfinish:"autoClickForm(event.target.form);",  onfinish:"autoClickForm(event.target.form);", id: "root_cause_nc" %>
        <div class="b">Root Cause for Non Detection</div>
        <%= f.text_area :root_cause_nd, style: "width: 100%; height: 5rem;",onfinish:"autoClickForm(event.target.form);",  onfinish:"autoClickForm(event.target.form);", id: "root_cause_nd" %>
    </div>
    <%= f.submit "Save Point", style: "display: none;" %>
  <% end %>
  <% res = cp.cap_resolutions %>
  <% if res.length > 0 %>
    <div class="bordered-card" style="margin-bottom: 1em; border-color: #A241C8;">
      <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 0.8em">
        <h3>Resolutions</h3>
        <% if params[:res_id] %>
        <a href="?cap_index=<%= params[:cap_index] || 0 %>&show_new=true" class="btn-md" style='box-shadow: none; line-height: 1;' onclick="newResForm();">+ New Resolution</a>
        <% else %>
        <button class="btn-md" style='box-shadow: none; line-height: 1;' onclick="newResForm();">+ New Resolution</button>
        <% end %>
      </div>
      <div class="table-scroll" id="table-scroll">
        <table id="main-table" class="main-table">
          <thead>
            <tr>
              <th col="scope" style="text-align: center; background-color: #a241c8 !important;">Action</th>
              <th col="scope" style="text-align: center; background-color: #a241c8 !important;">Details</th>
              <td></td>
            </tr>
          </thead>
          <% res.each do |r| %>
          <tr>
            <td>
              <li>Action Type: <%= r.action_type %></li>
              <li>Deadline: <span class="b"><%= r.deadline_date %></span></li>
              <li>Action: <%= r.action %></li>
            </td>
            <td>
              <li>Responsible: <%= r.responsible %></li>
            </td>
            <td><a href="?cap_index=<%= params[:cap_index] || 0 %>&res_id=<%= r.id %>">✏️</a></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% else %>
    <div class="bordered-card" style="margin-bottom: 1em; border-color: #A241C8;">
      <!-- <div style="text-align: center; font-weight: 800">No resolutions have been submitted for this CAP Point.</div> -->
      <div style="text-align: center;">
        <button class="btn-md" style='box-shadow: none; line-height: 1; margin-top: 1rem;' onclick="newResForm();">+ New Resolution</button>
      </div>
    </div>
  <% end %>

  <!-- Resolutions Table -->
  <% if params[:res_id] %>
    <% res = CapResolution.find(params[:res_id]) %>
    <% txt = "Edit" %>
    <% url = api_v1_data_update_path(name: "cap_resolutions", id: params[:res_id]) %>
  <% else %>
    <% res = CapResolution.new %>
    <% txt = "Add new" %>
    <% url = api_v1_data_create_path(name: "cap_resolutions") %>
    <% hide = true %>
    <% hide = false if params[:show_new] %>
  <% end %>

  <div id="new_res" style="width: 100%; margin-bottom: 1rem; border-bottom: 1px solid #C6C0C0; padding-bottom: 1rem; <%= 'display: none;' if hide %>">

    <h4><%= txt %> resolution</h4>
    <div style="border-radius: 5px; border: 1px solid #C6C0C0; padding: 10px;">
      <%= form_with(model: res, method: :post, id: "newResolution", url: url) do |f| %>
        <%= f.hidden_field :cap_point_id, value: cp.id %>
        <div>
          <%= label_tag(:action_type, "Select Action Type") %>
        </div>
        <div style="margin-bottom: 15px">
          <%= f.select(:action_type, options_for_select(["Immediate Action", "Corrective Action", "Preventive Action"]))  %>
        </div>
        <div>
          <%= label_tag(:action, "Action") %>
        </div>

        <div style="margin-bottom: 15px">
          <%= f.text_area :action, style: "width: 90%; height: 5rem;", id: "action" %>
        </div>

        <div style="margin-bottom: 15px">
          <%= label_tag(:responsible, "Who is responsible for this resolution?") %>
        </div>
        <div style="margin-bottom: 15px">
          <%= f.text_field :responsible %>
        </div>

        <div>
          <%= label_tag(:deadline_date, "Deadline Date") %>
        </div>
        <div style="margin-bottom: 15px">
          <%= f.date_select :deadline_date  %>
        </div>

        <%= f.submit "Submit", class: "btn-md w-50", style: "line-height: 1; box-shadow: none; display: inline-block; margin-top: 15px;" %>
      <% end %>
    </div>
  </div>



  <!-- Finish CAP -->
  <% if @qa.cap_points[cap_index+1].nil? %>
    <% next_url = "/reports/my-reports/#{@qa.slug}" %>
    <% text = "Finish CAP Review" %>
  <% else %>
    <% next_url = "/reports/my-reports/#{@qa.slug}/cap?cap_index=#{cap_index+1}" %>
    <% text = "Next CAP Point" %>
  <% end %>

  <div style="width: 50%;">
    <% unless cap_index == 0 %>
    <% last_url = "/reports/my-reports/#{@qa.slug}/cap?cap_index=#{cap_index - 1}" %>
    <%= link_to last_url do %>
      <div class="btn-md" style='box-shadow: none; line-height: 1; margin-top: 1rem; width: 100%; text-align: center;' onclick="postCapPointData('caps', true, 'completed', '<%= cp.cap_id %>');">Last CAP Point</div>
    <% end %>
    <% end %>
    <%= link_to next_url do %>
      <div class="btn-md" style='box-shadow: none; line-height: 1; margin-top: 1rem; width: 100%; text-align: center;' onclick="postCapPointData('caps', true, 'completed', '<%= cp.cap_id %>');"><%= text %></div>
    <% end %>
  </div>
<% end %>
<!-- end -->





<script>

  function launchLightbox(e) {

      var album = e.getAttribute("data-album")
      var body = document.querySelector('body')
      var div = document.createElement('div')
      var id = e.getAttribute("data-id")
      div.id = id
      body.appendChild(div)
      console.log(id, 'here')
      console.log(e)
      // console.log(album, '---------------------')
      var res = album.split(":::").map(function(x){return {"src": x , "thumb": x, "subHtml": ''}})
      console.log(res)
      // console.log(res)
      var active = document.getElementById(id)

      lightGallery(active, {
          dynamic: true,
          dynamicEl: res,
          download: false
      })
  }

  function newResForm(){
    document.getElementById('new_res').style.display = "block"
  }

  document.getElementById('newResolution').addEventListener('ajax:success', function(evt){
    location.reload();
  })
</script>

