
<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;">
    <a href="/reports">Reports</a> ›
    <a href="/reports/my-reports">My Reports</a>  ›
    <a href="<%= update_report_path(slug: @qa.slug) %>"><%= @qa.supplier_profile.name %></a> ›
    <a href="<%= update_ca_path(slug: @qa.slug) %>"><%= @qa.short_name %> Chapter Assesments</a> ›
    <% if @qa.dpr? %>
      <%= @gl.sec_name %> <%= @gl.sec_title %>
    <% else %>
      <%= @section.section_name %> <%= @section.title %>
    <% end %>
  </div>
</div>

<div style="margin-bottom: 1rem; border-bottom: 1px solid #C6C0C0; padding-bottom: 1rem;">
  <% if @qa.dpr? %>
  <div class="b"><%= @gl.sec_name %> <%= @gl.sec_title %></div>
  <% else %>
  <div class="b"><%= @section.section_name %> <%= @section.title %></div>
  <div>"<%= @section.content %>"</div>
  <% end %>
</div>

<!-- Letter -->
<div style="display: flex; justify-content: center;">
  <p style="text-align: center; background: white; border-radius: 5px; border: 2px solid #32A2ED; width: 25%; border-bottom: 5px solid #32A2ED">
    <%= @gl_h[:section_name] %>
  </p>
</div>

<% is_cap = @qa.cap? %>

<% @gl_h[:children].each_with_index do |point, i| %>
  <% cq = @cqs.select{|cq| cq.chapter_tag == point[:guideline_tag]}.first %>
  <% next if cq.nil? %>
  <article style="border-bottom: 1px solid rgba(64, 103, 167, 1.00); padding-bottom: 1rem;">
    <!-- Chapter Section Info -->
    <div style="background: rgba(198, 192, 192, 0.5); padding: 1rem; margin: 1rem 0;">
      <% if @qa.dpr? %>
        <% point[:grid_images].each_with_index do |img_src, i| %>
          <div style="position: relative; display: inline-block; width: 200px; height: 200px;margin: 1em 1em 1em 0; vertical-align: middle; background: black; cursor: pointer">
            <img class="hover-fade" src="<%= img_src %>" alt="" height="200px" width="200px" style="object-fit: cover;" onclick="launchLightbox(this)" data-album="<%= point[:grid_images].join(':::') %>">
          </div>
        <% end %>
      <% else %>
      <div class="b"><%= point[:title] %></div>
      <p><%= raw point[:content].split("\n").join('<br>') %></p>
      <p><%= point[:note_header] %></p>
      <ul>
        <% (point[:note_bullets]||[]).each do |bullet| %>
          <li><%= bullet %></li>
        <% end %>
      </ul>
      <% end %>
    </div>

    <% if point[:show_survey] %>
      <div class="b">Current Result: <%= cq.result %></div>
      <div><a class="link" href="<%= update_dormitory_path(slug: @qa.slug) %>">Please complete related question set</a></div>
    <% elsif cq.show_related_assessments? %>
      <% cq.related_assessments_cards.each do |ass| %>
        <%= render 'related_assessment_card', qa: ass, cq: cq %>
      <% end %>
      <%= render 'chapter_question_form', point: point, i: i, cq: cq, is_cap: is_cap, hide_result: cq.related_assessment_id.present? %>
    <% else %>
      <%= render 'chapter_question_form', point: point, i: i, cq: cq, is_cap: is_cap, hide_result: false %>
    <% end %>
  </article>
<% end %>


<div>
  <% if @prev_ca.present? %>
    <%=link_to update_chapter_path(slug: @qa.slug, chapter: @prev_ca.chapter_tag), class: "no-underline" do %>
      <div class="btn-mp-blue" style="margin-top: 20px; margin-right: 10px;">← Prev. Level</div>
    <% end %>
  <% end %>
  <% if @next_ca.present? %>
    <%=link_to update_chapter_path(slug: @qa.slug, chapter: @next_ca.chapter_tag), class: "no-underline" do %>
      <div class="btn-mp-blue" style="margin-top: 20px;">Next Level →</div>
    <% end %>
  <% end %>
</div>

<% if @next_ca.nil? %>
  <%=link_to update_ca_path(slug: @qa.slug), class: "no-underline" do %>
    <div style="display: flex; justify-content: flex-start;">
      <div class="btn-mp-red" style="margin-top: 20px;">Finish This Section</div>
    </div>
  <% end %>
<% end %>



<style>
  .direct-upload {
  display: inline-block;
  position: relative;
  padding: 2px 4px;
  margin: 0 3px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 11px;
  line-height: 13px;
}

.direct-upload--pending {
  opacity: 0.6;
}

.direct-upload__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  background: #0076ff;
  transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}

.direct-upload--complete .direct-upload__progress {
  opacity: 0.4;
}

.direct-upload--error {
  border-color: red;
}

input[type=file][data-direct-upload-url][disabled] {
  display: none;
}
</style>

<script>


  function launchLightbox(e) {

      var album = e.getAttribute("data-album")
      var body = document.querySelector('body')
      var div = document.createElement('div')
      var id = e.getAttribute("data-id")
      div.id = id
      body.appendChild(div)
      console.log(id, 'here')
      console.log(e)
      // console.log(album, '---------------------')
      var res = album.split(":::").map(function(x){return {"src": x , "thumb": x, "subHtml": ''}})
      console.log(res)
      // console.log(res)
      var active = document.getElementById(id)

      lightGallery(active, {
          dynamic: true,
          dynamicEl: res,
          download: false
      })
  }


  function expandDiv(){
    var divs = document.querySelectorAll('#last_attempt_detail');

    divs.forEach(x => {
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    })
  }

  function toggleActionTaken(form, cb){
    var action = form.querySelector('[action_taken]')
    if (cb.value == 'NOK'){
      action.style.display = 'block'
    } else {
      action.style.display = 'none'
    }
  }

</script>
