<div class='wrapper' style="margin-bottom: 0.5rem">
  <div style="margin-bottom: 1rem;"><a href="/reports">Reports</a> › <a href="/reports/my-reports">My Reports</a>  › <a href="<%= update_report_path(slug: @qa.slug) %>"><%= @qa.supplier_profile.name %></a> › Upload CAP Review</div>
</div>

<div class="b"><%= @qa.supplier_profile.name %></div>
<p style="margin-bottom: 2rem;">Last updated: <span><%= @qa.updated_at.strftime("%Y-%m-%d") %></span></p>

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; border-bottom: 1px solid #C6C0C0; padding-bottom: 1rem;">
  <div class="b">CAP Review Excel</div>
</div>

<% if @qa.excel_cap_review.attached? %>
  <%= link_to @qa.excel_cap_review.service_url, class: "link underline" do %>
    Download Current CAP Review Excel
  <% end %>
<% elsif @qa.excel_cap_review_empty.attached? %>
  <%= link_to @qa.excel_cap_review_empty.service_url, class: "link underline" do %>
    Start CAP Review Excel
  <% end %>
<% else %>
  <%= link_to "#", class: "link underline", onclick: "event.preventDefault();fetchCAPReviewEmpty('#{@qa.slug}')", data: {turbolinks: false} do %>
    Start CAP Review Excel
  <% end %>
<% end %>

<div>
  <%= form_with model: @qa, method: :post, url: "/api/v1/quality_assessments/#{@qa.id}", class: "", onsubmit: "swal('Uploaded!','','success')" do |f| %>

    <div style="margin: 10px 0;">
      <label for="input_text" style=" margin-bottom: 0.8rem;">Upload File</label>
      <br>
      <%= f.file_field :excel_cap_review, class: "w-50", placeholder: "Upload CAP Review Excel", direct_upload: true, accept: XFile::XLSX %>
    </div>

    <%= f.submit 'Upload CAP Review', class: "btn-md w-50" %>
  <% end %>
</div>


<script>
var PATH = "<%= download_cap_review_path(slug: params[:slug]) %>"
function fetchCAPReviewEmpty(slug){
  Swal.fire({
    title: 'Creating CAP Review Form...',
    html: '<strong></strong>',
    onBeforeOpen: () => {
      Swal.showLoading()
    },
  })
  fetch(PATH).then(function(res){
    res.json().then(function(data){
      if (App.pdf_notification){
        App.pdf_notification.unsubscribe();
        App.pdf_notification.consumer.disconnect();
      }

      if (data.available){
        var download = data.url
        window.location = download
      } else if (!App.pdf_notification || App.pdf_notification.consumer.connection.disconnected) {
        App.pdf_notification = App.cable.subscriptions.create({ channel: 'PdfChannel', id: slug}, {
          received: function(data) {
            var download = data.url
            App.pdf_notification.unsubscribe();
            App.pdf_notification.consumer.disconnect();
            Swal.close()
            window.location = download
          }
        })
      } else {
        Swal.close()
      }
    })
  })
}


var GEN = "<%= generate_cap_review_path(slug: params[:slug]) %>"
var form = document.querySelector('form');

form.addEventListener('ajax:success', function(e){
  fetch(GEN).then(function(res){
    VanillaToasts.create({
      title: 'Assess Go',
      text: 'CAP Review Generated!',
      type: 'success', // success, info, warning, error   / optional parameter
      icon: '/ag_spinner.png', // optional parameter
      timeout: 1800 // hide after 5000ms, // optional paremter
      // callback: function() { ... } // executed when toast is clicked / optional parameter
    });
  })
})
</script>

