<img src="<%= image_path("logo.svg") %>" alt="Decathlon Logo">

<h2 class="white">Assess Go</h2>
<div class="nav-links white">
  <ul>
    <li class="<%= 'underline b' if @active == 'home' %>"><a href="/" class="no-underline white" data-turbolinks="false">Home</a></li>

    <% if current_user.can_manage?("users") %>
    <li class="<%= 'underline b' if @active == 'users' %>"><a href="/users" class="no-underline white">Users</a></li>
    <% end %>

    <% if current_user.admin %>
      <li class="<%= 'underline b' if @active == 'email' %>">
        <%= link_to 'Email System', email_system_path, class: 'no-underline white' %>
      </li>
    <% end %>

    <% if current_user.can_manage?("change_log") %>
      <li class="<%= 'underline b' if @active == 'change-log' %>"><a href="/new-change-log" class="no-underline white">New Change Log</a></li>
    <% end %>

    <% if current_user.can_manage?("suppliers") || current_user.can_manage?("users") %>
      <li class="<%= 'underline b' if @active == 'suppliers' %>"><a href="/suppliers" class="no-underline white">Suppliers</a></li>
    <% end %>


    <li class="<%= 'underline b' if @active == 'reports' %>"><a href="/reports" class="no-underline white">Reports</a></li>

    <% if current_user.decathlon? %>
    <li class="<%= 'underline b' if @active == 'goes' %>"><a href="/goes" class="no-underline white">Goes feed</a></li>

    <li class="<%= 'underline b' if @active == 'statistics' %>"><a href="/statistics" class="no-underline white">Statistics</a></li>

    <li class="<%= 'underline b' if @active == 'bookmarks' %>"><a href="/bookmarks" class="no-underline white">Bookmarks</a></li>
    <% end %>

    <% if current_user.can_manage?("guidelines") %>
    <li class="<%= 'underline b' if @active == 'guidelines' %>"><a href="/guidelines" class="no-underline white">Update guidelines</a></li>
    <% end %>

     <li class="<%= 'underline b' if @active == 'bug_report' %>"><a href="/bug-reports" class="no-underline white">Bug Reports</a></li>

    <% if current_user.decathlon? %>
    <li class="<%= 'underline b' if @active == 'control-plan' %>"><a href="/control-plan" class="no-underline white">Update Your Control Plans</a></li>

    <li class="<%= 'underline b' if @active == 'upload-cp' %>"><a href="/upload-cp" class="no-underline white">Upload your Control Plan</a></li>
    <li class="<%= 'underline b' if @active == 'upload-assessment' %>"><a href="/upload-historical-assessments" class="no-underline white">Upload Historical Assessments</a></li>
    <% end %>
  </ul>
</div>
<div class="account-links white">
  <ul>
    <li><%= link_to 'Help & Versions', help_path, class: @active == 'help' ? 'b white' : 'white no-underline' %></li>
    <li><%= link_to "Signout", destroy_user_session_path, style:'color: white;', method: :delete %></li>
  </ul>
</div>
