
<!DOCTYPE html>
<html>
  <head>
    <title>Assess Go – Decathlon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="turbolinks-cache-control" content="no-cache">
    <style>
      .bg-blue{
        background: #0198F1 !important;
      }
    </style>
    <!-- Include base CSS (optional) -->
    <!-- Include Choices CSS -->
    <script>
      var scrollListenerActive = false
      var scrollPosition
      <% if user_signed_in? %>
        notificationSub('UserChannel', <%= current_user.id %>);
      <% end %>

      document.addEventListener("turbolinks:load", function() {
        console.log("initializing forms")
        if (document.getElementById('vanillatoasts-container') == null){
          var container = document.createElement('div');
          container.id = 'vanillatoasts-container';
          document.body.appendChild(container);
        }
        initForms()
      })
    </script>
    <link rel="stylesheet" href="/vendor/choices.min.css">
    <!-- Include Choices JavaScript -->
    <script src="/vendor/choices.min.js"></script>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>
    <main>
    <% if user_signed_in? %>
      <div class="clearfix">
        <aside class="left-column">
          <%= render 'layouts/sidebar' %>
        </aside>
        <main class="right-column">
          <%= render 'svg/logo' %>
          <%= render 'shared/mobile_nav' %>

          <%= yield %>
        </main>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
    </main>

      <%#= link_to 'login_test', DecathAuthentication.oauth_path %>
    <script>
      var inputs = document.querySelectorAll('[onfinish]');

      inputs.forEach(function(inputElm){
        inputElm.addEventListener('input', function(event){
          var duration = 1000;
          clearTimeout(inputElm._timer);
          inputElm._timer = setTimeout(()=>{
            eval(inputElm.attributes.onfinish.value)
          }, duration);
        });
      })
      // initForms()

    </script>
  </body>


</html>
