
<!DOCTYPE html>
<html>
  <head>
    <title>Assess Go</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="turbolinks-cache-control" content="no-cache">
    <!-- Include base CSS (optional) -->
    <!-- Include Choices CSS -->
    <script>
      var scrollListenerActive = false
      var scrollPosition
      <% if user_signed_in? %> notificationSub('UserChannel', <%= current_user.id %>); <% end %>
      <% unless @no_toast %>
        document.addEventListener("turbolinks:load", function() {
          console.log("initializing forms")
          if (document.getElementById('vanillatoasts-container') == null){
            var container = document.createElement('div');
            container.id = 'vanillatoasts-container';
            document.body.appendChild(container);
          }
          initForms()
        })
      <% end %>
    </script>
    <link rel="stylesheet" href="/vendor/choices.min.css">
    <!-- Include Choices JavaScript -->
    <script src="/vendor/choices.min.js"></script>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body class="native-body">
    <%= yield %>
  </body>

  <script>
      var inputs = document.querySelectorAll('[onfinish]');

      inputs.forEach(function(inputElm){
        inputElm.addEventListener('input', function(event){
          var duration = 1000;
          clearTimeout(inputElm._timer);
          inputElm._timer = setTimeout(()=>{
            eval(inputElm.attributes.onfinish.value)
          }, duration);
        });
      })
      // initForms()

    </script>
</html>
